[2019-12-07 07:19] kelson42 commented on #326
@wgt98 I can not reproduce start problem neither on my Windows10 nor on my Linux. A screencast would be helpful probably. What is your version of Kiwix Desktop?

[2019-12-08 02:33] wgt98 commented on #325
“clicking on the article should unselect the selected words in the page” why? It is hiding the search window that should clear the highlights. Considering Kiwix's search window is a pane which occupy a lot of space instead of a small floating window like in Chrome, the highlights can be keeped while hiding the search window, but there need to be another way to clear the search like provide a clear

[2019-12-08 05:47] kelson42 commented on #325
@wgt98 We won't rethink that feature. It should work like in Firefox and Chrome. If I have missed a way to cancel the "fin in page", please let me know which one.

[2019-12-08 09:19] kelson42 opened #327 "Mutate "Find in Page" to a bottom bar"
Current implementation of "Find in Page" displays it formular as a sidebar.
![image](https://user-images.githubusercontent.com/1029718/70387292-d0b35a00-19a3-11ea-913a-9aacd1867284.png)

This takes a lot of space for "nothing" because most of the sidebar is empty. We don't have a UI mockup for that I think. Therefore I would recommend to implement it like in Firefox or Chrome, as a bottom bar.

![

[2019-12-08 09:21] kelson42 commented on #325
I agree with that, I have open a dedicated ticket. See #327

[2019-12-08 10:20] kelson42 opened #328 "Remove "Reload" context menu"
I don't see any value to it. Just make things more complex. I want to have it removed.

![image](https://user-images.githubusercontent.com/1029718/70388015-a9ad5600-19ac-11ea-8041-df881d16d7dc.png)

[2019-12-09 07:18] wgt98 commented on #326
I'v updated the problem, it should be ctrl+click.

[2019-12-09 07:22] kelson42 commented on #326
@wgt98 Yes, double click as well. All these action, if external link should not create a new empty tab. It should work like for a normal link.

[2019-12-09 07:23] wgt98 commented on #325
Why that is not a problem? In Chrome, you find something, it is highlighted. Then you ESC to cancel the search, highlights are removed. But in Kiwix, when you ctrl+F to hide the search pane, highlights are still there, the only way to clear highlight is to search a non-empty keyword that doesn't exist. BTW there seems to be no refresh function for now?

[2019-12-09 07:58] kelson42 commented on #325
* CTRL-F should not hide the search page (like in FF and Chrome)
* ESC should hide and deselect

[2019-12-10 09:22] wgt98 opened #329 "Closing a page auto scrolls the page on the right to top"
Suppose tab1 with page1 and tab2 with page2. Tab2 is on the right of Tab1, when closing page1, page 2 is auto scrolled to the top. Page 2 should have keep its scroll state.

[2019-12-10 09:27] wgt98 opened #330 "Clicking search bar textbox auto clear the textbox"
When clicking the search bar textbox, the text (commonly the title of the page) in the textbox is cleared. Now when clicking the page again, the previous title in the textbox won't be restored which is sort of inconsistent.

Potential improvement: clicking search bar auto select all text in search bar instead of clearing it. Or, when clicking the page after clicking the auto-clearing search bar, r

[2019-12-10 12:16] wgt98 opened #331 "Closing the last tab unload the opened zim file"
It should be kept open while closing the last tab.

[2019-12-10 13:49] kelson42 commented on #331
@wgt98 What do you mean with "unload"? If no tab is open, nothing is open.

[2019-12-12 00:59] wgt98 commented on #331
By unload I mean the zim file is unloaded since the search won't work anymore unless I open the file again.

[2019-12-12 12:37] anshuldutt21 commented on #282
Hi I would like to work on this issue.

[2019-12-12 12:39] kelson42 commented on #282
@anshuldutt21 You are welcome. Please open a PR when you are ready.

[2019-12-12 14:36] kelson42 commented on #331
@wgt98 This makes sense to me. Considering that Kiwix can have many ZIM files in its local library... with which ZIM file should the search run if there is no open tab?! This is more or less a duplicate of #315.

[2019-12-12 14:36] #331 closed

[2019-12-12 14:41] kelson42 commented on #330
@wgt98 I'm not sure how it should behave. If the searchbox is left empyt, it might make sense to restore the title. But otherwise it might be a bad idea to remove a what has been typed there by losing the focus.

[2019-12-13 03:18] wgt98 commented on #300
Now my kiwix-desktop_windows_x64_2.0-rc3 somehow can remember moved previous opened file again...

[2019-12-13 08:16] anshuldutt21 commented on #282
Hi actually I am facing a problem with the setup. After giving the command meson . build there was an error libzim not found. so I cloned the libzim repository, https://github.com/openzim/libzim. It worked but the next command (ninja -C build) fails saying that xapian.h file is missing. Can anyone please help me with this problem.

[2019-12-13 08:19] kelson42 commented on #282
@anshuldutt21 Have you read the README.md file?

[2019-12-13 09:01] anshuldutt21 commented on #282
Yes I am following the instructions of kiwix-lib where I met with this problem.

[2019-12-13 09:59] kelson42 commented on #282
@anshuldutt21 https://github.com/openzim/libzim/blob/master/README.md

    LZMA (package lzma-dev on Ubuntu)
    ICU (package libicu-dev on Ubuntu)
    Xapian - optional (package libxapian-dev on Ubuntu)
    Google Test - optional (package googletest on Ubuntu)

[2019-12-13 10:40] kelson42 commented on #329
@wgt98 Good catch. I confirm.

[2019-12-14 04:04] wgt98 commented on #329
@kelson42 I found that Kiwix-serve+Chrome has very good experience. Even the on the fly search slow prolem disappears. What about focusing Kiwix-desktop as a Kiwix-serve GUI, start the server on start (best to be in process) and adding some UI for server settings like port/local_or_public?

[2019-12-14 04:33] wgt98 opened #332 "A Kiwix-serve GUI mode"
I found that Kiwix-serve+Chrome have very good experience at least on Windows. Now Kiwix-desktop can start Kiwix-serve with a click, but it is a external server process and there is no UI to config the server ports etc. For Chrome users its best if there is a mode (started with a start parameter) in which Kiwix-desktop works mainly as a GUI for Kiwix-serve, like:
(0) Start the server in process on

[2019-12-14 06:29] kelson42 commented on #329
@wgt98 this is off topic here.

[2019-12-14 06:33] kelson42 commented on #332
@wgt98 You can configure the port in the settings. I don't want this approach because at the end it creates more problems than it solves.

[2019-12-14 06:33] #332 closed

[2019-12-15 04:13] wgt98 commented on #286
Could there be a monthly update? Data availability is the same important as the tools for the goal of zim. Wikipedia has been blocked here for years - another reason for unreachable of Wikidpedia.

[2019-12-15 05:39] niemand-deu commented on #268
My aria2c installation on Gentoo neither supports BitTorrent nor rpc. It crashes after five attempts failing to create a downloader with a segmentation fault.
I planned on using Kiwix with custom zim files, but it seems like it can't run fully offline yet due to the reliance on createDownloader running successfully.

[2019-12-15 06:54] kelson42 commented on #268
@niemand-deu Please open another ticket. This ticket is for Windows and you use Linux.

[2019-12-15 08:29] anshuldutt21 commented on #282
Hi @kelson42 I am not able to find the xml file corresponding to the stye.css file in css folder. Can you please tell me where is it?

[2019-12-15 09:01] kelson42 commented on #282
@anshuldutt21 I'm not familiar wit the details how the app is built.

[2019-12-16 11:24] niemand-deu opened #334 "Failure to create a downloader crashes Kiwix"
If _createDownloader_ is unsuccessful (e.g. aria2 isn't installed or lacks support for the BitTorrent protocol), it doesn't fail gracefully and causes a segmentation fault. This can be replicated by running kiwix-desktop with and without aria2c on the same system.
Reworking the function might fix https://github.com/kiwix/kiwix-desktop/issues/268.

[2019-12-16 11:30] kelson42 commented on #334
@niemand-deu Aria2c is a dependence of Kiwix Desktop. Like you have discovered, Kiwix does not work properly if aria2c is not available. This is a feature and not a bug. The question is more: why do you think this is a problem?

[2019-12-16 11:50] niemand-deu commented on #334
Completely omitting aria2 was just an example for easy replication. As mentioned previously, aria2c might be installed, but not always fully support the expected feature set:
[code]
Additionally there used to be an error window (https://github.com/kiwix/kiwix-desktop/issues/268#issue-499929716), which is completely missing now. If someone had enough foresight to launch kiwix-desktop over the termi

[2019-12-16 12:20] kelson42 commented on #272
@jetownfeve21 This seems to not work fine. On my linux, I have just removed the `arai2c` binary and then:
* It crash
* It does not print of course the aria2c command started

I get instead:
[code]

[2019-12-16 12:21] kelson42 commented on #334
@niemand-deu Which exact version of Kiwix do you use? Have you compiled it yourself or do you use a compiled version we distribute ourself? I can not reproduce this problem with officials packages of the software. But you are right that the handling of this error still does not work properly. I have #272.

[2019-12-16 16:07] kelson42 commented on #302
@jetownfeve21 You have a point, but this is not how the bookmark bar works with Firefox (it keeps open). Yes it will have to close it or use a keyboard shortcust.

[2019-12-16 16:17] kelson42 commented on #208
These are my tests. Just starting and closing manually the windows.

[code]

and

[code]

The flatpak version is for me really slower. It takes almost 2 seconds beetween `Library directory : "/home/kelson/.var/app/org.kiwix.desktop/data/kiwix"` and `[2:15:1216/171226.895401:ERROR:address_tracker_linux.cc(177)] Could not bind NETLINK socket:`.

... but it knows more local files I have loaded separa

[2019-12-16 16:18] kelson42 commented on #303
@jetownfeve21 Then please use an easier shortcut. Would `Ctrl+D` work?

[2019-12-16 20:21] niemand-deu commented on #334
aria2 1.34.0-r2 with kiwix-desktop, kiwix-lib and libzim directly compiled from git.
Gentoo can compile aria2c with support for dht-entry-point if the user adds `bittorrent` to the use flags, but it isn't part of the default settings and easily missed.
On other distributions the feature would depend on the build environment having libgmp and libnettle installed.

[2019-12-17 14:06] kelson42 commented on #334
@niemand-deu I understand better now. Thank you for the explanation. But what you describe here is a Gentoo packaging issue. We don't maintain this package. This is not something for us. The packages we provide include proper version of aria2c. There is nothing more we can do here IMO.

[2019-12-17 14:18] jetownfeve21 commented on #208
@kelson42 the flatpak version uses another directory for the library as you can see in the debug :  flatpak : `Library directory : "/home/kelson/.var/app/org.kiwix.desktop/data/kiwix"`
appimage : `Library directory : "/home/kelson/.local/share/kiwix"`
so it's two different libraries

At the start of Kiwix-desktop, the program reads the library.xml file to create a instance of `kiwix::Book` class f

[2019-12-17 14:22] jetownfeve21 commented on #282
hi @anshuldutt21 !
Are you using the `kiwix-build` https://github.com/kiwix/kiwix-build command ?

[2019-12-17 14:29] kelson42 commented on #208
@jetownfeve21 Maybe 10. Reading the XML file can not take so long in itself.

[2019-12-17 15:12] jetownfeve21 commented on #208
@kelson42 with about twenty files it starts normally on my computer

[2019-12-17 15:13] jetownfeve21 commented on #303
@kelson42 yes it works, should I implement it ?

[2019-12-17 15:15] kelson42 commented on #303
@jetownfeve21 yes please

[2019-12-17 15:32] #303 closed

[2019-12-17 18:52] kelson42 commented on #208
@jetownfeve21 What does "normaly" mean? How long does it take? Can you make the same experiment I made?

[2019-12-17 20:52] jetownfeve21 commented on #208
I mean it doesn't feel slow

[code]

[2019-12-18 06:17] anshuldutt21 commented on #282
Yes I used kiwix-build after which I used kiwix-desktop command to configure kiwix-desktop in laptop. I just cant find the xml  file for style.css file.

[2019-12-18 07:34] kelson42 commented on #208
@jetownfeve21 I don't really understand why your `time` command does not print the same as mine... but I guess the real number of seconds is `3,668`?! Your test runs pretty exactly on the same amount of time like mine.

[2019-12-18 10:14] jetownfeve21 commented on #208
@kelson42 In fact the app starts more slowly the more files there are

With ~20 zims :
![kiwix-start](https://user-images.githubusercontent.com/47149116/71077270-652d7180-2187-11ea-985f-3d249f0af7f4.gif)

Without any zims :
![kiwix-without-zim](https://user-images.githubusercontent.com/47149116/71077303-76767e00-2187-11ea-9c69-e4bab0ef5079.gif)

[2019-12-19 00:32] jetownfeve21 commented on #282
@anshuldutt21 There is a xml file which is the `mainwindow.ui` which is in `SOURCE/kiwix-desktop/ui/mainwindow.ui` but you will not be able to fix this issue this way.
Look at [this](https://forum.qt.io/topic/16924/set-backgroud-color-and-mouse-hover-highlighting-for-tabs-solved) for the background.

[2019-12-19 14:56] jetownfeve21 commented on #304
For this shortcut we use the standard keyboard shortcut defined by Qt :
[code]
Here is the doc https://doc.qt.io/qt-5/qkeysequence.html
Indeed depending on the OS the shortcut is not the same

[2019-12-19 15:57] kelson42 commented on #304
@jetownfeve21 If Qt is buggy, please make a bug report at Qt level.

[2019-12-19 16:01] jetownfeve21 commented on #304
It's not a bug, for a lot of actions the shortcut is different depending on the OS

[2019-12-19 16:18] kelson42 commented on #304
@jetownfeve21 My ticket does not complain that they are different, please read it again.

[2019-12-20 17:24] jetownfeve21 commented on #300
I found the problem but I'd rather talk to @mgautierfr  about it before correcting it.

[2019-12-23 11:26] iamprayush commented on #328
Hi, I'm new here and I'd like to help out. Can I get some guidance as to where to start?

[2019-12-25 22:21] jetownfeve21 commented on #328
@iamprayush Can you compile and run kiwix-desktop on your computer ?

[2019-12-26 05:59] iamprayush commented on #328
@jetownfeve21 yes, I've done the setup. I just need some direction towards the starting point in the codebase. Where should I be looking to make the changes?

[2019-12-26 09:48] soloturn commented on #334
it would be nice if it would not crash imo and somehow tell the user what is wrong.

[2019-12-26 09:51] soloturn commented on #37
created https://aur.archlinux.org/packages/kiwix-desktop-git to also build out of the git repository, 2019-12-26 this builds. the arch linux 2.0-rc1 package build fails.

[2019-12-26 10:09] soloturn opened #337 "wayland file menu positioning error"
when running kiwix-desktop on wayland, gnome or weston, opening the menu, and there the "file" menu displays the error:

[code]

in gnome when beeing on the right parent of the screen this leads to positioning errors so the file menu is somewhere on the screen, not attached to the main menu any more.

i saw a similar error with qt applications avidemux and k3b, so i am unsure if this is a qt bug o

[2019-12-26 10:22] soloturn commented on #337
i saw this is a QT error:
https://bugreports.qt.io/browse/QTBUG-68636

[2019-12-26 12:25] popey commented on #204
Hi. I stumbled on this issue today. I'm a Snapcraft Developer Advocate so I'd like to help get a kiwix-desktop snap published in the store. In between recovering from a Christmas eating coma and seeing relatives, I took a first stab at making a kiwix-desktop snap. Unfortunately I'm failing at building a newer libzim than exists in 18.04.

Here's the yaml: https://github.com/popey/kiwix-desktop-sna

[2019-12-26 12:44] kelson42 commented on #204
@popey I would really like to push an official snap package and we will hwlp you but I would really like you to open a new ticket for that please.

[2019-12-26 12:59] Ordissimo commented on #204
Le 2019-12-26 13:25, Alan Pope a écrit :

Hi
Using the lafricain79 depot
It uses zimlib - 6.0.2
https://launchpad.net/~lafricain79/+archive/ubuntu/lafricainenvrac/+packages

[2019-12-26 13:07] popey opened #338 "Create an official snap of kiwix-desktop"
As requested, moved from #204

Hi. I stumbled on this issue today. I'm a Snapcraft Developer Advocate so I'd like to help get a kiwix-desktop snap published in the store. In between recovering from a Christmas eating coma and seeing relatives, I took a first stab at making a kiwix-desktop snap. Unfortunately I'm failing at building a newer libzim than exists in 18.04.

Here's the yaml: https://git

[2019-12-26 14:32] kelson42 commented on #337
I will have a look in details later.

[2019-12-26 14:33] kelson42 commented on #337
@soloturn What is your exact OS?

[2019-12-26 14:44] kelson42 commented on #338
@popey A libzim compilation problem should be in the libzim repo.

[2019-12-26 16:23] Ordissimo commented on #204
Apply this correctif :
[code]

[2019-12-26 16:25] Ordissimo commented on #204
This may also be necessary :
[code]

[2019-12-27 12:03] popey commented on #338
I worked around the libzim issue by building a newer googletest as part of the build. The snap builds now, but the application doesn't run correctly. I have updated the [repo](https://github.com/popey/kiwix-desktop-snap). Looks like a confinement issue, at least. Will take a little look again later on.

[2019-12-27 13:24] kelson42 commented on #338
@popey One time it will work we should talk about integreation in our CI with kiwix-build and automatic publishing at release tike... like we do with Flathub.

[2019-12-28 00:30] jetownfeve21 commented on #328
@iamprayush look at this PR
https://github.com/kiwix/kiwix-desktop/pull/306

[2019-12-28 05:50] soloturn commented on #337
arch linux. ah, you mean this sentence from johan helsing:
" 2. Make sure widgets have sensible transientParents, and Qt Wayland will happily use that."

[code]

[2019-12-28 05:58] soloturn commented on #225
i created https://aur.archlinux.org/packages/kiwix-desktop-git which uses newest code from git, just in case kiwix-desktop gets outdated.

[2019-12-28 06:15] soloturn commented on #338
the error looks like aria2c is old or not there, and kiwix crashes, can this be? there is #334 to more nicely fails.

[2019-12-28 06:37] soloturn commented on #304
@kelson42 i think this currently works correctly. i set the gnome keyboard shortcut in gnome settings to f11 then f11 would fullscreen it. this works for all QT applications.

if this is not set at all in gnome settings, the default, gnome applications have no full screen. some kde applications react to ctrl-shift-f, qt applications do nothing or react to ctrl-f11. inconsistent, bref.

i did not s

[2019-12-28 06:39] soloturn opened #339 "fullscreen does not work on wayland"
when using wayland on gnome fullscreen hides the window away. same on weston. for gnome start with:
[code]

[2019-12-28 06:45] soloturn commented on #305
for current master, on X this is also weird. click on the three dots, the menu appears. then one can move the kiwix window around, and the menu stays where it is. on wayland this is more subtle. when clicking quickly sometimes it opens out of position, but in normally it is correct.

there is a relation to this one https://bugreports.qt.io/browse/QTBUG-68636 ? and the comment "Make sure widgets ha

[2019-12-29 20:55] kelson42 commented on #339
Which version of Kiwix? Which OS? What are the steps to reproduce the problem?

[2019-12-31 08:18] soloturn commented on #339
current kiwix-desktop from master, arch linux, https://aur.archlinux.org/packages/kiwix-desktop-git

[2020-01-04 18:10] yashendra2797 commented on #268
Happening with me on rc4. Double clicking kiwix-desktop.exe does nothing. I can find the exe in Task Manager though.

[2020-01-05 12:22] pierrejn-git commented on #268
Hello I had the same problem with the rc3 installer but now the rc4
unzip kiwix-desktop.exe is working first time!

Le 04/01/2020 à 19:10, Yashendra Shukla a écrit :

[2020-01-05 14:07] kelson42 commented on #268
Small feedback about this problem. We have no reproduction case at all and we don't know what goes wrong for the impacted users neither how to fix it (of course). We keep this ticket open in an attempt that at some point we better understand it.

[2020-01-07 15:55] mgautierfr commented on #298
I confirm the issue.
http://library.kiwix.org:80/catalog/search?count=0 should return all books. However, only 3 are returned.

This is a kiwix-lib issue, I'm moving it.

[2020-01-08 11:53] wgt98 commented on #332
@kelson42 Have use Chrome+Kiwix-desktop started Kiwix-serve, the experience is so perfect that why not focus on Kiwix-serve?

[2020-01-08 13:47] yashendra2797 commented on #268
Damn. Any way I can help?

[2020-01-08 16:38] kelson42 commented on #176
@mgautierfr What should we do with that ticket? It has been fixed in most case. Any quick way to fix it for appimage as well?

[2020-01-08 16:41] kelson42 commented on #268
@yashendra2797 Have you installed `vcredist.exe` properly? What is the output if you launch Kiwix from the terminal `cmd.exe`?

[2020-01-08 16:51] kelson42 commented on #255
Bug has been fixed in `5.13.2` and `5.14.1`.

[2020-01-09 09:04] mgautierfr commented on #255
Yes, I've seen this. However, it seems that QWebEngine is missing the last Flatpak KDE platform (https://bugs.kde.org/show_bug.cgi?id=414175).
It seems that for now the solution is to compile QWebEngine in the application flatpak but I would like to avoid this if possible.

[2020-01-09 09:09] kelson42 commented on #255
@mgautierfr Yes, we have to wait here that newest version of Qt is packaged and therefore usable in appimage, Windows, flatpak.

[2020-01-09 10:06] #283 closed

[2020-01-10 07:30] kelson42 commented on #307
@mgautierfr What exactly lead you to think that we should do open a new tab?

[2020-01-10 08:00] kelson42 commented on #328
@iamprayush Any news?

[2020-01-10 12:11] iamprayush commented on #328
@kelson42 Apologies for taking so long but I can't seem to find where this Reload button is implemented. A little guidance would be helpful.

[2020-01-10 13:16] jetownfeve21 commented on #328
@iamprayush it is implemented by Qt itself, you can't find it in our code

[2020-01-11 08:12] larrytal opened #348 "Error while installing"
I followed all the installation steps.
I did kiwix-build, I installed packages, Compilation was successful but when I tried to run kiwix-desktop, it gave me this error:

`kiwix-desktop: error while loading shared libraries: libkiwix.so.8: cannot open shared object file: No such file or directory`

I added the recommended paths to the env variables and refreshed the `ld` database but the error won'

[2020-01-11 08:34] kelson42 commented on #348
@larrytal Please give all the commands and corresponding output.

[2020-01-11 08:34] kelson42 commented on #348
/move kiwix-build

[2020-01-11 08:34] #348 closed

[2020-01-12 18:38] larrytal commented on #328
Can I help with this? @kelson42 @iamprayush @jetownfeve21

[2020-01-14 06:09] JonathanCool commented on #268
I can reproduce the problem on my laptop.  Using Win10 home latest version ( with all updates from microsoft as of now ).  I noticed that my version of "VC Redistribuables" is much more recent then the ones from the kiwix package ( so it won't install the older version included ) My version is 14.20.27508.  I tried only rc3, rc4 and Beta5 which all failed, but after reading the comments here, I'll

[2020-01-14 06:41] kelson42 commented on #268
@JonathanCool Was just answering you per email to comment on this ticket :) Happy to see you have been even quicker. We are really interested to fix that bug, your help might be decisive.
@mgautierfr It seems we have a reproduction case of this mystery bug and by a developer wanting to help to identify & fix the root cause. It would be really much appreciated if you could give here any guidance ne

[2020-01-14 13:38] #282 closed

[2020-01-14 13:44] #329 closed

[2020-01-14 14:02] #287 closed

[2020-01-14 15:08] #302 closed

[2020-01-14 15:17] kelson42 opened #352 "Long dash versus short dash"
Why the local server window title has a long dash before "Kiwix" whereas the main window title has a short dash?

[2020-01-14 17:22] kelson42 commented on #269
This has been fixed in the Kiwix library.

[2020-01-14 17:22] #269 closed

[2020-01-14 18:29] iamprayush commented on #328
@larrytal I haven't been able to figure out how to make the change. You can go ahead and take over if you like.

[2020-01-14 18:31] kelson42 commented on #328
@larrytal Yes, you can. Might not be the easiest start...

[2020-01-20 21:51] benjaoming opened #353 "Website instructions are wrong"
Seems that the .appimage file should be marked as executable and run.

![image](https://user-images.githubusercontent.com/374612/72758188-657bbb00-3bd2-11ea-815f-fd95557cd3fc.png)

[2020-01-20 21:56] kelson42 commented on #353
/move web

[2020-01-20 21:56] #353 closed

[2020-01-21 10:53] mgautierfr commented on #268
@JonathanCool, I've sent you a message on slack. I've you received it ?

[2020-01-21 14:36] JonathanCool commented on #268
sorry, I was expecting an email notification if I got a message there so I didn't go check my messages. I got it now.

[2020-01-22 15:26] kelson42 commented on #307
@Popolechien Your feedback would be welcome here.

[2020-01-22 15:41] Popolechien commented on #307
I have no strong opinion either way, but if there's multizim search enabled I would find it cool to be able to read or hear about one topic, search and find more info without losing my inital reading (example use case: listening to a TED talk and suddenly wanting to check a corresponding Wikipedia article on neurology).

[2020-01-22 15:43] kelson42 commented on #307
@Popolechien You don't have to loose your old stuff. You just do like in a browser, you open a new tab and to your search.

[2020-01-22 15:45] kelson42 opened #356 "Opening a new tab should put the focus on the search bar"
Creating a new tab with "+" or keyboard shortcut should put the focus on the search bar, so the user can directly type its search pattern without having to focus manually.

[2020-01-22 15:45] Popolechien commented on #307
@Kelson - same difference, yes. I don't know what the conventional design wisdom about this is. Maybe Abbey or Robin would know?

[2020-01-22 15:50] kelson42 commented on #307
@schoenbaechler ?

[2020-01-22 15:51] #307 closed

[2020-01-22 15:52] kelson42 commented on #307
I have merged the PR as I'm confident this is the right thing to do. Please reopen the ticket if we have new facts.

[2020-01-22 16:23] arghac14 commented on #356
@kelson42 Can I work on this?

[2020-01-22 16:27] kelson42 commented on #356
@arghac14 yes

[2020-01-22 18:13] kelson42 opened #357 "Limit between content and tab bar is unclean"
Currently it is like this:
![image](https://user-images.githubusercontent.com/1029718/72921106-ebbb0d00-3d4a-11ea-875a-cf5aaf3f34d8.png)

and it should be like this:
![image](https://user-images.githubusercontent.com/1029718/72921249-3ccb0100-3d4b-11ea-91b9-aa7608855ce3.png)

[2020-01-24 13:09] #284 closed

[2020-01-24 13:23] kelson42 opened #358 "Replace tab's title ellpsis by a fade-out"
We currently use an ellipsis (`...`) if the title of the tab is to big to fit to the tab. But we should have a fade out instead. Like in the mockup, see:
![image](https://user-images.githubusercontent.com/1029718/73072233-ff828280-3eb4-11ea-85af-3cc977a7ebc2.png)

[2020-01-24 13:26] kelson42 opened #359 "[REGRESSION] Impossible to close tabs if focus is on library tab"
Steps:
* Open one content tab
* Switch to the library
* try to close the content tab

What happen:
* Nothing happen, the content tab button seems deactivated

What should happen:
* It should be closeable

[2020-01-24 13:28] kelson42 opened #360 "Opening a new tab should generate a new empty tab"
Currently it takes the same content as the tab which currently has the focus. Except if we are on the library tab, then it opens correctly an empty tab.

It should always be an empty tab, at least as long as #140 is not implemented.

[2020-01-27 16:58] #300 closed

[2020-01-28 10:34] #281 closed

[2020-01-28 10:48] jetownfeve21 commented on #352
![image](https://user-images.githubusercontent.com/47149116/73257330-de2ada80-41c3-11ea-9d31-d821c1418cec.png)
![image](https://user-images.githubusercontent.com/47149116/73257348-e6831580-41c3-11ea-9940-b6fba743eb8d.png)

It's strange, it isn't the case every time

[2020-01-28 10:56] kelson42 commented on #352
@jetownfeve21 Same problem for the main window? I don't really care if this is long or short, but it should be harmonized.

[2020-01-28 10:58] jetownfeve21 commented on #352
For the main window it seems constant with a short dash

[2020-01-28 11:04] kelson42 commented on #352
@jetownfeve21 Just put a long dash for the main window with `src/mainwindow.cpp` and it should make the job.

[2020-01-28 11:21] kelson42 opened #363 "Does Kiwix Desktop supports Windows7"
Reported on IRC:

An interesting thread https://fr.osdn.net/projects/mingw/lists/archive/users/2019-June/000300.html

[2020-01-28 12:42] jetownfeve21 commented on #352
@kelson42 The local kiwix server window title will still be inconsistant, is it ok if I change this one with a short dash instead ? I can completely remove " - kiwix" from it too otherwise

[2020-01-28 12:46] kelson42 commented on #352
@jetownfeve21 yes, go to the short dash.

[2020-01-28 15:26] #356 closed

[2020-01-28 15:32] #352 closed

[2020-01-28 15:37] #359 closed

[2020-01-28 15:44] kelson42 commented on #313
I'm really sure this is environment problem and not due to a bug in Kiwix Desktop. Unfortunately none of us can help you more on this.

[2020-01-28 15:44] #313 closed

[2020-01-28 15:49] kelson42 commented on #339
@soloturn This package is not an official one, we don't provide support for it. I recommend to report the problem to the AUR package maintainer. Please check our Flathub package https://flathub.org/apps/details/org.kiwix.desktop, it should work well.

[2020-01-28 15:49] #339 closed

[2020-01-28 15:50] kelson42 commented on #338
@popey Any news?

[2020-01-28 15:55] kelson42 commented on #337
@soloturn You use an AUR package which is not maintained by us. You should complain first to the maintainer as we don't really see the problem by us. In general these kinds of bug are related to older versions of Qt, see https://github.com/kiwix/kiwix-build/issues/403.

Please check our Flathub package and tell us if you have problems https://flathub.org/apps/details/org.kiwix.desktop. It should w

[2020-01-28 15:55] #337 closed

[2020-01-28 16:00] kelson42 commented on #274
I confirm the problem is still there with WPEN nopic recent and rc4.

[2020-01-28 16:03] kelson42 commented on #34
IMO we can live for the moment with what we have.

[2020-01-28 16:03] #34 closed

[2020-01-28 16:10] kelson42 commented on #304
@soloturn @jetownfeve21 It is not different for Firefox (and Chrome), whatever the OS, why Kiwix should do things differently?

[2020-01-28 16:20] mgautierfr commented on #304
This not behave differently.
If the "toggle fullscreen" shortcut is not set at system level. Application use a default shortcut. For Firefox this is `F11`, for Qt it is `Ctrl+F11`. If you set a shortcut (I've tried with `F3`), both use the defined shortcut instead of the default one.
It is a pity that Qt decides to use a different shortcut for linux but that is.

If we force a specific shortcut on

[2020-01-28 16:20] #304 closed

[2020-01-28 16:33] mgautierfr opened #365 "Fullscreen is broken on Wayland."
If using the wayland compositor, the fullscreen functionality hide the window. Switching back to normal display the window correctly.

It is a wayland/QT bug (https://bugreports.qt.io/browse/QTBUG-58574), there is nothing we can do to fix the issue.

Maybe we could detect that we are on Wayland and deactivate the fullscreen functionality to at least avoid the user to "lose" its Window.

[2020-01-28 20:36] kelson42 commented on #365
@mgautierfr I don't know for now how to deal with that. Let's put that aside for the moment. Thank you for the analysis.

[2020-01-28 20:36] kelson42 commented on #365
ping @soloturn

[2020-01-29 14:13] kelson42 commented on #132
@mgautierfr What is the status on this ticket?

[2020-01-29 16:17] mgautierfr commented on #132
It is done.

[2020-01-29 16:17] #132 closed

[2020-01-29 16:22] jetownfeve21 commented on #208
@kelson42 Maybe we can add a splashscreen ?

[2020-01-29 17:54] kelson42 commented on #208
@jetownfeve21 No, the loading should not be longer the more we have files. They should be load asynchronously.

[2020-01-30 15:37] mgautierfr commented on #208
Probably related to kiwix/kiwix-tools#319

[2020-02-01 16:34] kelson42 opened #369 "Download file picker (for non-HTML content) should provide the name of the content"
1 - I open a Gutenberg ZIM file
2 - I click on an EPUB link
3 - A download file picker opens

But
The filepicker has no filename to propose (its empty)

I want:
The filename like it is saved in the ZIM file

[2020-02-05 14:26] #309 closed

[2020-02-05 14:55] kelson42 commented on #208
@mgautierfr @jetownfeve21 Would be good to check if the loading is more or less instantaneous now (the "trust library" kiwix-lib PR has been merged). If "yes", that would allow to close that one as well.

[2020-02-06 01:24] vhp8rc7p opened #370 "no response, bug"
you know there is a search bar on kiwix,so you can type words in it ,when there is related entry，you can click it and jump into a in new tab,but sometimes there is no reponse at all
hope you can understand what i mean

[2020-02-06 01:25] vhp8rc7p commented on #370
like you type Parametric equatio
there will be Parametric equation displayed,you click on Parametric equation,no response

[2020-02-06 01:28] vhp8rc7p commented on #370
its on windows 10, kiwix desktop rc4

[2020-02-06 06:13] #370 closed

[2020-02-06 08:57] kelson42 commented on #208
To me it has fixed the problem. I close the ticket.

[2020-02-06 08:57] #208 closed

[2020-02-06 15:28] kelson42 commented on #330
I think this is the only thing to fix. Search bar loosing focus should display again the current tab title.

And "yes", it is impossible to select that way the title of the page.

[2020-02-06 15:31] kelson42 commented on #60
To a large extend, this has been done. We should open a dedicated ticket if a new case appear.

[2020-02-06 15:31] #60 closed

[2020-02-06 15:42] kelson42 opened #371 "Replace library icon (Kiwix logo) in left tab"
I'm not really happy with the logo of Kiwix to represent our library:
* It does not really looks good (really small)
* It does not represent properly a library

I would prefer an other one like:
![image](https://user-images.githubusercontent.com/1029718/73952676-8c8afa00-48ff-11ea-8809-e9b96525e651.png)

Or black & white:
![image](https://user-images.githubusercontent.com/1029718/73952774-acbab900

[2020-02-07 12:15] #268 closed

[2020-02-07 12:58] kelson42 commented on #268
@mgautierfr awesome

[2020-02-07 13:00] kelson42 commented on #334
@mgautierfr Duplicate of #268 ?

[2020-02-09 02:41] jamcinnes2 opened #372 "opengl error radeonsi rc4-appimage"
Not sure why it is trying to load radeonsi.. I use amdgpu.

libGL error: MESA-LOADER: failed to open radeonsi (search paths /usr/lib64/dri)
libGL error: failed to load driver: radeonsi
libGL error: MESA-LOADER: failed to open radeonsi (search paths /usr/lib64/dri)
libGL error: failed to load driver: radeonsi
libGL error: MESA-LOADER: failed to open swrast (search paths /usr/lib64/dri)
libGL error:

[2020-02-09 04:31] mkathuri commented on #268
I'm back just in time to confirm the fix working with nightly build: https://download.kiwix.org/nightly/2020-02-08/kiwix-desktop_windows_x64_2020-02-08.zip

A minor annoyance, however is still visible in the form of an extra command line window:
![image](https://user-images.githubusercontent.com/26147403/74096259-89bc1f00-4b22-11ea-9472-b32d3b8cf4d2.png)

Is this intended behavior? If not, is ther

[2020-02-09 07:07] kelson42 commented on #372
What is your linux distribution?

[2020-02-09 07:18] jamcinnes2 commented on #372
openSUSE Tumbleweed 64

[2020-02-09 13:17] kelson42 commented on #326
@jetownfeve21 What is the status here?

[2020-02-09 13:28] kelson42 commented on #268
@JonathanCool Does the last nightly runs fine for you as well?

[2020-02-09 13:36] kelson42 commented on #334
I’m not exactly sure how it should, but would be better if it does not crash, I agree.

[2020-02-09 13:38] kelson42 commented on #334
@jetownfeve21 We need to check that again... your fix should report an error propely now.

[2020-02-10 13:13] jetownfeve21 commented on #326
@kelson42 I asked for help on the #qtwebengine IRC channel and also  on Qt's forum but no answers for the moment.
https://forum.qt.io/topic/111151/how-to-intercept-ctrl-click-on-external-links

[2020-02-10 14:06] JonathanCool commented on #268
I confirm it works.  I also see the same extra command-line Windows which is a minor annoyance for me but it should be fairly simple to hide it once it ran.  sometimes simply adding 'Exit' at the end of a script does the job, and if running MFC then you can find the Windows and sent it a 'HIDE_WINDOWS" message after it's creation if it needs to be there.

[2020-02-10 14:13] JonathanCool commented on #268
When closing KIWIX-Desktop, the command-line window will briefly show "session saved" and immediatly close.  I assume that this window needs to be opened while kiwix is running, so this C++ command should hide it correctly : https://docs.microsoft.com/fr-fr/windows/win32/api/winuser/nf-winuser-showwindow?redirectedfrom=MSDN

[2020-02-10 14:15] kelson42 commented on #268
@JonathanCool @mkathuri I see there is a few (small) things left. I would recommend to open one or many other separate tickets to handle them. I'm concerned your feedback(s) might get lost otherwise.

[2020-02-10 14:35] JonathanCool opened #373 "An extra Command-line windows showing when running Kiwix under Windows"
Version affected by this issue : The nightly build febuary 8th 2020.

When executing "Kiwix-Desktop", the Kiwix windows shows correctly, but another window ( that looks like a "Command-line window" ) also shows.  It shows commands done while using Kiwix so it seems like it's required and the last thing it will show is "Session saved" right before closing when the Kiwix Window is closed.  (it close

[2020-02-10 14:42] JonathanCool commented on #268
I created ISSUE #373 for this minor problem,  It does not stop the program from working well.

Thank you for fixing this bug #268 which was much more important.

[2020-02-10 15:12] jetownfeve21 commented on #373
@mgautierfr Is this due to https://github.com/kiwix/kiwix-build/commit/ea9a195a86126cf5d65d8b7b060fa8b5ef7543a9 ?

[2020-02-10 15:16] mgautierfr commented on #373
Yes, this is a mistake, it should not have been merged.

However, the best would be to keep this config for nightly build (this way we can have the output) and remove it for the release (and rc)
We could add the option in kiwix-build/appveyor based of how the build in appveyor is launch (cron or tag push)

[2020-02-10 15:21] yashendra2797 commented on #268
Launches just fine. Facing #373, but at least this issue can be marked closed. Used 10 Feb 2020's nightly.

[2020-02-11 08:59] jetownfeve21 commented on #305
This is a known bug referred [here](https://bugreports.qt.io/browse/QTBUG-7556)
A solution provided by Qt is to use [this](https://doc.qt.io/qt-5/qwindowswindowfunctions.html#setHasBorderInFullScreen)

[2020-02-11 10:10] kelson42 commented on #305
@jetownfeve21 Then we should implement the Qt solution I guess :) ?

[2020-02-11 12:58] jetownfeve21 commented on #305
Yes, it was for me to avoid losing the links

[2020-02-12 06:09] CodeJoule commented on #226
Seconded. I really want to read my ZIMs, which is possible, but I have to tip the screen a different way so I see it under a different contrast and then I have to squint my eyes really hard to pick out any of the white-grey letters to be able to use the GUI. It is really terrible.

Wouldn't an easy fix be to let Plasma handle the background color? My guess is that Plasma, in an effort to generate

[2020-02-12 17:07] CodeJoule commented on #226
A temporary hack to fix this, I found, is to launch `kiwix-desktop` with a modified KDE variable:
`env XDG_CONFIG_HOME=/usr/share/color-schemes/BreezeLight.colors kiwix-desktop`
You can also look in `/home/$USER/.local/share/color-schemes/` for any other light color schemes you might have.
A popup will appear saying "Configuration file "/usr/share/color-schemes/BreezeLight.colors/kiwix-desktoprc"

[2020-02-13 09:14] Popolechien commented on #371
Looks good to me.

[2020-02-13 10:50] kelson42 commented on #197
I'm meanwhile convinced that we have a UX problem here. I propose to just an icon on the toolbar directly to open a local file. I propose this logo:
![image](https://user-images.githubusercontent.com/1029718/74427267-0d457b00-4e57-11ea-8f67-a987de9fb319.png)

[2020-02-13 10:53] mgautierfr commented on #226
We should probably force the text color to be black in our css file to be sure that text is always visible.

[2020-02-18 07:19] #360 closed

[2020-02-18 07:33] jetownfeve21 commented on #371
@kelson42 Which one do you prefer ?
![image](https://user-images.githubusercontent.com/47149116/74713656-4c921400-5229-11ea-8f8f-3e1eab6ef58a.png)

[2020-02-18 07:41] kelson42 commented on #371
the b&w

[2020-02-18 07:43] kelson42 commented on #371
@jetownfeve21 Finally not, try the colored one please.

[2020-02-18 07:44] #369 closed

[2020-02-19 07:33] #371 closed

[2020-02-19 13:40] #272 closed

[2020-02-21 20:38] ryanjyoder commented on #338
I got this snap _working_. There may still be a few rough edges. You can check our the snapcraft.yaml I used here:
https://github.com/ryanjyoder/kiwix-desktop-snap

The changes I made:
* Moved the aria2c to stage-packages (so it gets bundled in the snap)
* Included a layout so Qt can find it resources
* Added the `browser-support` interfaces

[2020-02-22 17:14] kelson42 commented on #338
@ryanjyoder Nice, we should think now about how we could integrate this in our CI.

[2020-02-25 08:52] jetownfeve21 commented on #334
This should be fixed with #351

[2020-02-25 15:47] #334 closed

[2020-02-26 11:23] #330 closed

[2020-03-02 17:34] yashasvi-goel commented on #147
Can I work on this issue?

[2020-03-02 17:36] yashasvi-goel commented on #358
Can I work on this issue?

[2020-03-02 18:56] kelson42 commented on #358
@yashasvi-goel Yes :)

[2020-03-02 18:57] kelson42 commented on #147
@yashasvi-goel I would recommend to present your approach to solve the problem first as a comment.

[2020-03-03 08:21] yashasvi-goel commented on #147
I plan on using a  mutex-based approach. The mutex variable will store the PID of the instance. Every time the instance is launched, it will check the variable and hence the program state.

[2020-03-03 14:11] mgautierfr commented on #147
That's the main idea. However a full solution should be a bit more complex.

At startup of the application, we should check if there is already a running application. If there is one, the second application should not just quit (or refuse to launch). It should communicate with the first application to "forward the argument" (ie, if we try to open a zim by clicking on it on the file browser/or afte

[2020-03-03 16:20] yashasvi-goel opened #380 "Build issue"
I followed the given instructions. However, I am getting the following errors on my Ubuntu 18.04:

[code]
I follow this step with:

[code]
I did link the libraries, as mentioned in the README.
It would be great if someone can help me figure this out.

[2020-03-03 16:37] jetownfeve21 commented on #380
If you have QtCreator you can compile the project from there, it might be easier.
@mgautierfr ?

[2020-03-04 08:50] kelson42 commented on #380
@yashasvi-goel Is `libicui18n.so.5` available somewhere on your system? Where? Have you tried to make `sudo ldconfig` first?

[2020-03-04 08:53] kelson42 commented on #170
@jetownfeve21 Is that ticket fixed?

[2020-03-04 10:23] yashasvi-goel commented on #380
That issue did get resolved.

While `make` I'm stuck with this
[code]

[2020-03-04 11:24] kelson42 commented on #380
@yashasvi-goel Do you have compiled the libzim yourself? If no, please do and uninstall the one of the system.

[2020-03-04 13:52] jetownfeve21 commented on #170
No there is still the profile directory that can not be changed for now

[2020-03-04 14:06] yashasvi-goel commented on #380
Did solve my issue. Thanks.

Now I'm facing issues on the `sudo make install` step

[code]

[2020-03-04 15:20] mgautierfr commented on #380
How did you configure (qmake) the project ?
`make` is trying to striping data (xml, image) files and it should not.

[2020-03-04 15:22] yashasvi-goel commented on #380
@mgautierfr I made no changes to the existing file.

[2020-03-04 16:52] yashasvi-goel commented on #380
The issue has been resolved. Using QtCreator did solve the `qmake` issue for me.

[2020-03-04 16:52] #380 closed

[2020-03-05 18:14] yashasvi-goel commented on #358
I have written the CSS for completing this task. I'm unable to replace the CSS in place of setElideMode().

[2020-03-06 11:05] kelson42 commented on #358
@mgautierfr @jetownfeve21 Any idea?
@yashasvi-goel Please make a WIP PR.

[2020-03-07 15:34] kelson42 opened #384 "Links broken in Sotoki ZIM files"
Steps:
* Download https://download.kiwix.org/zim/stack_exchange/3dprinting.stackexchange.com_en_all_2020-01.zim
* Click on the first question
* Click on the first question in the "Related" box (top right)

I get:
* Blanck page

I want:
* The proper article

Remark: Things work fine with kiwix-serve

[2020-03-07 15:35] kelson42 commented on #384
@mgautierfr @jetownfeve21 Please fix ASAP this bug, it has to work fine for 2.0 relase.

[2020-03-07 23:39] jetownfeve21 commented on #384
I think it's related to https://github.com/kiwix/kiwix-desktop/issues/206

[2020-03-08 08:58] dattaz commented on #384
`js: Uncaught ReferenceError: jstProcess is not defined` pop in console log when click on these link

[2020-03-08 09:32] kelson42 commented on #384
@mgautierfr @jetownfeve21 Maybe this is the same as #206. I had totally forgotten about that bug. This should work out-of-the-box. If not then probably something fundamentally is wrong. This as to be fixed before 2.0.

[2020-03-16 16:18] BigKananga commented on #123
Unfortunately the problem still exists in RC4.

[2020-03-16 17:06] kelson42 commented on #123
@BigKananga Would you be able to test against the last nightly? https://download.kiwix.org/nightly. I don't think the problem is fixed, but if it is by any chance, that would save us quite a bit of time. Thank you in advance!

[2020-03-16 17:27] BigKananga commented on #123
@kelson42
Of course I test everything that could help you.
I tested the newest nightly from 16.03.20 and it still crashes when closing.
But there is something new, a cmd window. This is the one that crashes, not the main window.
![kiwix](https://user-images.githubusercontent.com/49197621/76784362-c7f8ce00-67b3-11ea-9106-5bd520a6bf86.PNG)

[2020-03-22 09:45] Popolechien opened #388 "Update logo"
There is a new, slightly remodeled logo for Kiwix
https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.png
The app's icon needs to be updated accordingly

[2020-03-25 10:30] #328 closed

[2020-03-27 11:05] #384 closed

[2020-03-27 11:06] #206 closed

[2020-03-27 11:08] kelson42 commented on #159
Fixed by  #381

[2020-03-27 11:08] #159 closed

[2020-03-27 21:24] tlmnot opened #391 "Fonts Hard To See"
The fonts doesn't work well with manjaro thema.
![white-text-bug](https://user-images.githubusercontent.com/1029718/78167798-5e352100-744f-11ea-9471-b39bf0a39394.png)

[2020-03-27 21:26] kelson42 commented on #391
Which version of Kiwix desktop? How have installed it?

[2020-03-27 21:28] tlmnot commented on #391
thats quick anyway i'm running 2.0-rc4 the lastest version.

[2020-03-28 05:37] kelson42 commented on #391
@tlmnot How have you installed it? Via Flathub? Self-compiled? Via the appimage?

[2020-03-28 07:03] tlmnot commented on #391
Via appimage.

[2020-03-28 12:13] kelson42 commented on #363
Yes it does. If not a bug ticket should be open.

[2020-03-28 12:13] #363 closed

[2020-04-01 17:23] #357 closed

[2020-04-01 17:29] #325 closed

[2020-04-01 17:29] #327 closed

[2020-04-03 12:38] Prosthet1cHead opened #393 "Appimage fails to run on Ubuntu Mate 20.04"
Trying to run the kixix-desktop appimage on Ubuntu Mate 20.04 (pre-release).
[code]

The hardware is a Lenovo E550 laptop.
Any other information that would be relevant, please ask (I'm a long time linux user, but not a software developer).
Thanks & keep up the good work!

[2020-04-03 14:48] kelson42 commented on #393
@mgautierfr I confirm the problem with Ubuntu 20.04 with appimage. The nightly (future 2.0) does not work better, it fails the same ways. Like reported in #372, this does not work on openSUSE Tumbleweed 64 as well.

@Prosthet1cHead Thank you for reporting, as a workaround I would recommend to use the Flathub version in the meantime. Thank you for your report.

[2020-04-03 14:49] kelson42 commented on #372
@jamcinnes2 Thank you for reporting, as a workaround I would recommend to use the Flathub version in the meantime.

Duplicate of #393

[2020-04-03 14:49] #372 closed

[2020-04-03 17:11] Prosthet1cHead commented on #393
Thanks, the flatpack version wants to pull in all of KDE, making the total install something like 1GB. Is that correct / necessary?
For now I have the kiwix plugin in chromium browser so that works for my immediate needs, although obviously not ideal long term. Thanks!

[2020-04-06 13:06] mgautierfr opened #395 "Bad response and keyboard experience"
(Initially open by @ynikitenko on flathub/org.kiwix.desktop#5)

I installed the recent version using flatpak install flathub org.kiwix.desktop (in fact the problem was present in my previous installation as well).
When I used Kiwix several years ago, it required me to choose the zim library (I couldn't use two simultaneously). Then I could type Ctrl+L as in a browser and type the word I wanted to

[2020-04-06 14:30] rikri opened #396 "building fails with an Error - no member named ‘getBookByPath’"
Hello,
I have probem with a build from git sources. Make is failing with an Error (trans. Chyba):

`src/library.cpp: In member function ‘QString Library::openBookFromPath(const QString&)’:
src/library.cpp:44:32: error: ‘class kiwix::Library’ has no member named ‘getBookByPath’; did you mean ‘getBookById’?
   44 |         auto& book = m_library.getBookByPath(zimPath.toStdString());
      |

[2020-04-06 14:31] kelson42 commented on #396
@rikri I think the problem is that you compile kiwix-desktop git master but don't use kiwix-lib git master. Could you confirm you still have the problem with kiwix-lib git master version?

[2020-04-06 14:49] rikri commented on #396
@kelson42 Thank you for speedlight answer... ;-)
It may be, but doesn't seem so (nevertheless I'm no expert in github). I'm compiling package from aur.archlinux.org where is kiwix-lib version 9.0.1

`
pkgname=kiwix-lib
pkgver=9.0.1
pkgrel=1
pkgdesc="Library providing the Kiwix software core"
license=('GPL3')
arch=('armv7h' 'i686' 'x86_64')
depends=('libzim' 'pugixml' 'mustache=3.2.1' 'xapian-core'

[2020-04-06 14:55] kelson42 commented on #396
Then you don't use git master head :) https://github.com/kiwix/kiwix-lib. I close the ticket as this is the explanation.

[2020-04-06 14:55] #396 closed

[2020-04-07 10:05] #197 closed

[2020-04-07 12:16] kelson42 commented on #123
I reopen the ticket as I would like to get confirmation from end users. @BigKananga Would you please be able to test again with nightly in a few days (one time we have nightlies built)?

[2020-04-07 12:38] BigKananga commented on #123
@kelson42
Of course I'll test. Next weekend?

[2020-04-07 13:52] jetownfeve21 opened #399 "Use Qt resource system to load the right translation file"
Like @mgautierfr said in this [PR](https://github.com/kiwix/kiwix-desktop/pull/387) :

We could have the same things for the json file containing the translation. We could have a json file (texts.json) in resources/i18n and a texts.json per lang (resources/i18n//texts.json). This way we simply would have to ask to qt to load the resource and it will load the right resource for us.

Let's move with

[2020-04-07 14:02] kelson42 commented on #399
@jetownfeve21 Please explain which problem we have. I have read 3 times this comment, I still don't understand at all what is the problem you want to fix. I really hope we have now already "a system to load a resource file specific to a lang", "a default one in english", "a texts.json (or xml) per lang" and a solution which  "protect us from a not up to date translation".... because all of this ar

[2020-04-07 14:37] kelson42 commented on #399
@jetownfeve21 Thx, please for the explanation. As improving this seems pretty easy, please just do it.

[2020-04-07 18:58] jetownfeve21 commented on #399
@mgautierfr After some time spent to implement it, I don't find it that useful. The main advantage is that using the same file's name in the code, Qt chooses the right file depending on the user's OS system for us. But we always want to check the english translation file as a reference so this behavior is more annoying than useful finally

[2020-04-08 09:55] Sofi204 opened #401 "Images are not displayed"
Hello.
i just downloaded the bulbagarden_en_all_maxi_2020-02.zim and wanted to watch it via kiwix.
Then I noticed that no pictures are shown.
Then I opened 2 other Zim files (wikiversity_de_all_maxi_2020-04.zim and wikivoyage_de_all_maxi_2020-03.zim )
But there are no pictures shown to me. A few weeks ago when I last used it, all pictures were still shown.
I uninstalled the program and then instal

[2020-04-08 10:18] mgautierfr commented on #399
Yes, I agree for the classical use case. That why I said it wouldn't protect us from a not up to date translations and merge the PR.

However, if it is definitively not useful for the general case, it could be when we have a file that mostly contains text to translate (as about.html file).
For now we have to do this ugly token replace : https://github.com/kiwix/kiwix-desktop/blob/master/src/about.

[2020-04-08 14:40] jetownfeve21 commented on #280
@kelson42 Which filters should we have here ?

[2020-04-09 06:30] Nikerabbit commented on #399
Which file? If you are talking about html files, then no, our interface don't scale to large strings, big files need to be split, and we have no parser for html files as it is not possible to have a fully generic one.

[2020-04-09 07:45] kelson42 commented on #237
@jetownfeve21 @mgautierfr What is the status here? Which parts are done?

[2020-04-09 07:47] kelson42 commented on #393
Yes, this is how the Flatpack packaging works... and this is why I believe this will works.

[2020-04-09 07:48] kelson42 commented on #393
@mgautierfr @jetownfeve21 This is a PRIO1, so far I can see, it seems that Kiwix-Desktop appimage is totally broken on cutting edge GNU/Linux distributions.

[2020-04-09 07:51] kelson42 commented on #170
@jetownfeve21 I want to but this ticket on stall for the moment as i believe:
* Moving the profile is touchy
* Most of the added value is already achieved with the download location feature

[2020-04-09 07:51] kelson42 commented on #373
@jetownfeve21 @mgautierfr What is still left to do here? The cmdlin windows has disappeared of Kiwix-Desktop 2.0 but you wanted to do more?

[2020-04-09 07:52] kelson42 commented on #280
Filter with picture/without picture, etc...

[2020-04-09 09:59] jetownfeve21 commented on #373
@kelson42 The idea is to have the command line for the dev builds, I'm still working on it

[2020-04-09 10:41] kelson42 commented on #274
@mgautierfr @jetownfeve21 To me, with 2.0, with WPEN FULL on my workstatin, the (suggestion) search is almost unusable at all.

[2020-04-09 10:45] kelson42 commented on #395
@ynikitenko Thank you for your report. First of all, it would be great to confirm that these problem still occur with 2.0 we just have released, and then we should split that tickets in smaller one as your report many different things.

[2020-04-09 10:59] ynikitenko commented on #395
Thank you. If you have the new version compiled, would you mind checking that?

[2020-04-10 13:31] kelson42 opened #402 "portable apps integrations"
It would be great if the portable version of kiwix would be available inside of the app platform from portableapps.com. This would make a lot of things easier, but most important the automatic updates would be a great feature.

For me it seems like this platform is open for all kind of open source projects.

[2020-04-10 17:15] kelson42 commented on #399
Closing the issue. We don't have a real problem and the problem which might be tackle by this is not related to TW.

[2020-04-10 17:17] kelson42 commented on #299
I reopen the ticket as we need to secure that these repo is properly read/written by @translatewiki. @Nikerabbit @Abijeet Would you be able to secure this?

[2020-04-12 07:34] kelson42 opened #403 "Open external ZIM file makes Kiwix Desktop 2.0 crash"
With the Flathub version of Kiwix Desktop 2.0, each time I try to open an external file, the whole application crashs/exits.

[2020-04-13 09:07] mgautierfr commented on #399
We have a real problem. We are speaking of translating files like this one : https://github.com/kiwix/kiwix-desktop/blob/902ebb3402c15ae1a0c1bfd40444eb7d99e6a257/resources/texts/about.html
With the new translation system, we end with this file https://github.com/kiwix/kiwix-desktop/blob/master/resources/texts/about.html

You can see that we have something like : `<p>%%VERSION_LABEL%% : %%VERSION%%

[2020-04-13 14:47] kelson42 opened #405 "Improvements of the fulltext search"
* Show all suggestions without scrollbar
* Should not load an article except if this is a perfect match
* Just clicking on "Enter" should make the fulltext search

[2020-04-13 16:47] Popolechien opened #406 "Library fonts should be sans serif and homogeneized"
It looks like the library lists items with three different types of fonts in two colors. I don't think this was part of the design brief
![image](https://user-images.githubusercontent.com/21675885/79139657-fbc91280-7db6-11ea-9d41-d33d535e4514.png)

[2020-04-13 16:56] Popolechien opened #407 "Language listing is incorrect"
It looks like the language sorting is done by alphabetical order of each language's self description or ISO code (e.g. in the example below Welsh is listed under C because it is `cymraeg/cy` and German is `deutsch/de`:

![image](https://user-images.githubusercontent.com/21675885/79140364-2f586c80-7db8-11ea-840a-60dbf9e0423f.png)

This is not something an average user not privvy to these languages

[2020-04-14 06:05] Popolechien opened #409 "Unable to download files on Windows with 2.0"
On Kiwix-desktop 2.0 / Windows 10. It probably has to do with the computer's settings (though there's nothing particular about it, ie no antivirus nor firewall) as another Win10 computer on the same network works fine.
Getting this weird-ass javascript error message:
![image](https://user-images.githubusercontent.com/21675885/79191284-7d0bbe00-7e26-11ea-86f6-e36f70f9c317.png)

[2020-04-14 06:13] Popolechien opened #410 "Double-click on zim file in library should open it"
Currently in the (local) library view it is only possible to open a file by clicking on **`open`** at the end of each line. While single-click opens the zim description, conventional expected behaviour is that double-clicking should also open it.

[2020-04-14 06:24] kelson42 opened #411 ""Find in page" bottom bar close button not displaying properly anymore in 2.0"
See the screenshot (bottom right).

![image](https://user-images.githubusercontent.com/1029718/79192648-661a9b00-7e29-11ea-81b8-41076243861b.png)

[2020-04-14 06:36] kelson42 opened #412 "Context dialogs should have a shadow"
Like here in the mockup:
![image](https://user-images.githubusercontent.com/1029718/79193487-04f3c700-7e2b-11ea-9da4-0221ca1a0f91.png)

[2020-04-14 06:40] kelson42 commented on #409
@Popolechien This is systematic? If "yes", what are the steps to get it displayed? Can you still use the library?

[2020-04-14 06:40] kelson42 commented on #409
I never have seen this dialog on GNU/Linux!

[2020-04-14 06:54] kelson42 opened #413 "Tune search suggestions overlay"
Here is how it should looks like (from the mockup):

![image](https://user-images.githubusercontent.com/1029718/79194671-3ff6fa00-7e2d-11ea-84fb-ac1a2b7262ee.png)

Without implementing everything now, I want:
* To have a proper font (size)
* The overall look&file of the widget
* The icon of the ZIM in which the content is found
* "Endless" suggestion

[2020-04-14 06:56] kelson42 commented on #410
I would think twice about that... doube-click is pretty Windows specific. But we should have an easier why than clicking on the "open" link.

[2020-04-14 07:03] Popolechien commented on #410
Well I'm on Windows and I would suspect that most our users are as well. But happy with any workaround.

[2020-04-14 07:33] #411 closed

[2020-04-14 07:40] jetownfeve21 commented on #409
This alert message usually happens when aria2 set the download status to error, as @kelson42 asked, is it systematic ?

[2020-04-14 07:50] Popolechien commented on #409
@jetownfeve21 yep, for every file, every time. Tried to unpack .zip file a second time, to no avail.

[2020-04-14 08:17] mgautierfr commented on #409
I can reproduce this on my side.
It seems that it is yet again a problem with accents in the path (with the settings system that allow the user to change the download directory).
As a workaround, you can go to the setting and change the download directory (to the same directory or another one). Restart kiwix-desktop and it should work.

[2020-04-14 08:22] kelson42 commented on #409
@mgautierfr thank you very much for confirming this. I'm sorry to say that again, but this is obviously a TOP PRIO to fix before releasing 2.0.1. I let you organize yourself with @jetownfeve21 about the fix.

[2020-04-14 14:06] LAfricain commented on #167
I have still this problem on Ubuntu with the last appimage.

[2020-04-14 14:34] kelson42 commented on #167
@LAfricain Yes, this still problem, see #274. This is meanwhile a TOP prio problem (pinned issue).

[2020-04-14 14:35] kelson42 commented on #167
@LAfricain 2.0 has a specific bug which even make things worth! 2.0.1 to be release with a fix in one or two days.

[2020-04-15 06:48] Popolechien opened #415 "Unexpected crash when trying to open downloaded file (Win10)"
Steps to reproduce:
- Download a zim file from browser;
- Open zim from Kiwix-desktop;
- Application crashes.

[2020-04-15 06:54] Popolechien opened #416 "Multiples weaknesses in library filters"
When I open Kiwix and go to the search bar and type a zim name (e.g. "metakgp", which I know is an existing zim) no file is found.
I need to first select a language (or simply "all") for it to actually look through the catalogue and find the corresponding entries.
The normal default setting should therefore for language to be set to "all" (or better, the user's default language on their machine if

[2020-04-15 06:55] kelson42 commented on #415
I guess this is a duplicate of #403

[2020-04-15 06:55] #415 closed

[2020-04-15 06:56] kelson42 commented on #416
@Popolechien Which search bar do you talk about? the top one, or the one in the library?

[2020-04-15 06:57] kelson42 commented on #416
@Popolechien The default language should be the one of the UI = the one of the OS in my opinion. Not "all".

[2020-04-15 07:00] Popolechien commented on #416
I'm talking about the library search bar:
![image](https://user-images.githubusercontent.com/21675885/79307616-7a2cce00-7ef7-11ea-8796-11a336c89103.png)
![image](https://user-images.githubusercontent.com/21675885/79307660-8add4400-7ef7-11ea-83b6-a7fa2c23f930.png)

[2020-04-15 07:04] Popolechien opened #417 "Does not seem to find / recognize newly downloaded zim files (Win10)"
I had a bunch of zim files on my computer before even downloading Kiwix-desktop, and the application had no problem finding and listing them. I have since downloaded two more files from my browser and put them in the exact same folder, yet Kiwix fails to see and list them.

[2020-04-15 07:21] mgautierfr commented on #417
Have you downloaded the zim file yourself or with kiwix-desktop ?
How kiwix fails to see them ? They are not listed in the content manager or, when you try to open a "external file" (Ctrl-O), the file browser doesn't show them ?

[2020-04-15 07:27] Popolechien opened #418 "Download manager should give some sort of estimate"
When downloading a zim file it would be nice to have either an estimate Time to Completion or at least an indication of the current download speed:
![image](https://user-images.githubusercontent.com/21675885/79309881-4bb0f200-7efb-11ea-840d-5e8749e4428f.png)

[2020-04-15 07:30] Popolechien commented on #417
@mgautierfr They were downloaded from my browser and put in the same folder as other zim files that were downloaded from the application, yet are not listed in the Content manager.
Files downloaded from Kiwix-desktop are properly identified and listed in the Content manager.

[2020-04-15 07:38] Popolechien opened #419 "There should be a way to return to a zim file's home page"
Currently if I'm going through a given zim file there is no "home" button that would bring me back to the zim's landing page (much like there is already on Kiwix-serve, for instance).

[2020-04-15 07:48] mgautierfr commented on #417
kiwix-desktop doesn't automatically look for files in the directory but list only the files in the "library.xml".
If you download zims using kiwix-desktop or open them explicitly, they are added to the library and displayed.

(However, there are some issue on windows with user with accents, especially not saving the "library.xml". I am currently fixing this. Please do not play to much with this ve

[2020-04-15 07:51] Popolechien commented on #417
Ok thanks. I guess I had an expectation of immediate listing based on the android experience.
I have a second computer with no accent in the username so can test around :-)

[2020-04-15 08:06] jetownfeve21 commented on #419
@Popolechien There is a shortcut for this which is `ALT+Home` (see https://github.com/kiwix/kiwix-desktop/pull/144) but maybe we can add this option in a menu

[2020-04-15 08:07] kelson42 commented on #419
This is a duplicate of #58

[2020-04-15 08:07] #419 closed

[2020-04-15 08:09] #417 closed

[2020-04-15 08:12] kelson42 commented on #418
I believe this kind of computation should be even in the libkiwix.

[2020-04-15 08:18] #409 closed

[2020-04-15 09:37] kelson42 commented on #401
Please use Kiwix-Desktop 2.0. Kiwix Desktop 1.0 is deprecated.

[2020-04-15 09:37] #401 closed

[2020-04-15 09:49] kelson42 opened #421 "Improve Kiwix Serve dialog look and feel"
It should be like this:
![image](https://user-images.githubusercontent.com/1029718/79323054-fcc08800-7f0d-11ea-8eb3-91f5921be6aa.png)

But it is like this:
![image](https://user-images.githubusercontent.com/1029718/79323679-cfc0a500-7f0e-11ea-9921-50109a940324.png)

or

like this:
![image](https://user-images.githubusercontent.com/1029718/79324262-9fc5d180-7f0f-11ea-906c-2db7db2b27cf.png)

[2020-04-15 11:59] mgautierfr commented on #409
You can test with this build : http://tmp.kiwix.org/ci/mgautier/wip_compile_windows/2020-04-15/kiwix-desktop_windows_x64_2020-04-15.zip

[2020-04-15 12:38] Popolechien opened #422 "Unable to download one of two versions of the same zim-file"
Steps to reproduce:
- Look for Metakgp zim file (in English);
- Try downloading `maxi` and `nopic` versions: the latter downloads without any issue, the former crashesm again with some weird JS message:
![image](https://user-images.githubusercontent.com/21675885/79337872-9c8a1000-7f26-11ea-8690-125d2d2bd493.png)

It looks like a duplicate of #409 but I'm on another computer without any accent/Spec

[2020-04-15 14:45] LAfricain commented on #167
Ok thank you.

[2020-04-15 14:46] kelson42 commented on #422
@Popolechien I can not reproduce this problem on GNU/Linux... I suspect the problem here is totally different to what you guess.

[2020-04-15 14:58] Popolechien commented on #409
Yep, looks like it's been fixed

[2020-04-15 14:59] Popolechien commented on #422
Seems fixed with the latest build (as seen in #409 )

[2020-04-15 14:59] #422 closed

[2020-04-16 09:27] Sofi204 commented on #401
Hello.

that helped.

thanks a lot

[2020-04-16 13:22] BigKananga commented on #123
@kelson42
I tested the last nightlys 2020-04-14 and 2020-04-15 and the crash after closing Kiwix still exists. The only improvement is the missing CMD window.

Here are some screens from crash and event log (if you need a translation please tell me):

![crash](https://user-images.githubusercontent.com/49197621/79460509-35875c80-7ff5-11ea-846a-915c66cc498c.PNG)

![crash2](https://user-images.github

[2020-04-16 13:24] kelson42 commented on #123
@BigKananga Thank you for your feedback.

[2020-04-16 14:04] BigKananga commented on #123
@kelson42
No problem!
Additional information: all Win7 ESU updates incl. April 2020 are installed.

[2020-04-17 15:25] #405 closed

[2020-04-17 15:51] #305 closed

[2020-04-18 13:40] kelson42 commented on #176
I close this ticket, there is nothing more we can do here, we need to move to a recent version of Qt.

[2020-04-18 13:40] #176 closed

[2020-04-18 13:44] kelson42 commented on #255
I close that ticket. There is nothing more we can do here and this is basically a duplicate of https://github.com/kiwix/kiwix-build/issues/403

[2020-04-18 13:44] #255 closed

[2020-04-20 13:27] #403 closed

[2020-04-21 09:29] kelson42 opened #423 "Kiwix Desktop 2.0.4 always quits with segfault on Ubuntu 18.04"
[code]

[2020-04-21 09:30] kelson42 commented on #423
Maybe related to #123?
Maybe related to #393

[2020-04-23 14:16] Popolechien commented on #388
Ok obviously something is amiss here as the icon looks all vertically stretched. What would the optimal size and format be? Fully squared and ,svg?

[2020-04-23 14:32] Popolechien opened #425 "Video sound disjointed on Kiwix-Desktop (Linux & Windows)"
Steps to reproduce:
- Kiwix desktop 2.0.1 on Windows10
- Download https://download.kiwix.org/zim/other/thaki_ar_tech_tricks_2020-04.zim
- Play any video - it's in arabic so just for comparison purposes let's go with [Translating webpages](https://www.youtube.com/watch?v=8cCq_39td_Y&list=PLkJWM09OI9C4cSo93ZGJKQJWggJD1aUNO&index=1) which is on Youtube.
- When playing this video, the speaker can be h

[2020-04-24 06:58] kelson42 commented on #425
@Popolechien Do you have reproduced this problem an an other Windows computer?

[2020-04-24 07:49] Popolechien commented on #425
@kelson42 yes

[2020-04-24 07:55] kelson42 commented on #425
@Popolechien Thank you very much for this bug report. I can confirm the problem with Kiwix-Desktop 2.0.1 on Linux (Flathub version). The same file served via kiwix-serve with firefox works perfectly. So this is a probably a problem with the reader part.

@mgautierfr Any idea what happens here?

[2020-04-24 08:04] kelson42 commented on #425
@rgaudin It seems somehow related to the video. Video about Mali does not have this pb. But video about skin done in March has a glitch as the beginning as well. I suspect we have here a correlation beetween (a bug?) in the content and in the reader.

[2020-04-24 08:09] rgaudin commented on #425
One thing we could do is run this without `--low-quality` to check whether our compression has an impact on it.

[2020-04-24 08:10] rgaudin commented on #425
FYI the **only** change we added was to set the target sample rate to 44Khz.

[2020-04-24 10:14] kelson42 opened #426 "Focus search bar via shortcut"
Like on any browswer shortcuts to put focus on searchbar should work
* Ctrl+L
* Alt+D
* F6

Reported first in #395

[2020-04-24 10:15] kelson42 commented on #426
@jetownfeve21 Sounds really trivail to do. Please do it straight if possible for you.

[2020-04-24 10:15] kelson42 commented on #395
Thx for reporting this. Handled with #426.

[2020-04-24 10:19] kelson42 commented on #395
@ynikitenko I think this has been fixed in 2.0.1. Could you please confirm this works for you?

[2020-04-24 10:25] kelson42 commented on #265
@jetownfeve21 This problem is still there. For example if I do:
[code]

I get a response really quickly in `0.043s`.

But if I type "emmanuel" at a normal type speed in the searchbox of Kiwix-Desktop it takes edges (more than 5s on my computer) to return the proper suggestions.

I don't exactly know the reason, but I suspect the that:
* Each time I type a letter a suggestion search is done (probab

[2020-04-24 10:29] kelson42 commented on #274
I suspect to a large extend that if we fix #265, then it will be already a lot better

[2020-04-24 10:34] ynikitenko commented on #395
@kelson42 this is great, thank you! I'll check it. This is a really necessary feature for me.
I posted another problem in https://wiki.kiwix.org/wiki/Talk:Content_in_all_languages - there are problems with Zim files, words translations are missing. Where should I report that?

[2020-04-24 11:18] LAfricain opened #427 "New appimage (2.0.1) is no more localised"
Everything is in English, all the translation are missing (French for me).

[2020-04-24 11:21] LAfricain commented on #167
In the new release it's better, but when we type in the search bar it's still slow. Maybe it can be better to type and have a open page with all the possibilities, as a search engine does in a webbrowser?

[2020-04-24 11:31] ynikitenko commented on #395
So, I installed the recent 2.0.1 version from flathub.
The Ctrl+L shortcut really works, which is great. But it has these issues:
- when I open a new tab (Ctrl+T), old text remains there. From there, only fulltext search is available.
- again, when I type 'love' in the search bar, the word 'loved' is suggested (I don't know why). But when I type Enter, not even 'loved' is chosen, but fulltext sear

[2020-04-24 11:37] ynikitenko commented on #395
And after some work (navigate several different articles with a mouse) Ctrl+L stops working at all. :( At least on that same tab. On a new tab it works again.

[2020-04-24 11:40] kelson42 commented on #167
@LAfricain Please try to comment on open tickets, here #274. Currently the most interesting running is on #265. One time that fixed, it will worked a lot better (still maybe not perfectly).

[2020-04-24 11:42] kelson42 commented on #395
@ynikitenko Please open one ticket per issue. Otherwise this is really difficult to handle.

[2020-04-24 11:44] LAfricain commented on #265
In the new release it's better, but when we type in the search bar it's still slow. Maybe it can be better to type and have a open page with all the possibilities, as a search engine does in a webbrowser?

[2020-04-24 11:46] kelson42 opened #428 "Suggestion/Search broken in new tab (v2.0.1)"
No suggestions/search available if new tab is open.

Opening new tab should empty the search box.

[2020-04-24 11:47] ynikitenko commented on #395
@kelson42 should the first issue "clear (or select all) the search field when opening another tab or when activating the search bar. Just do it as in a browser. Ctrl+L should select the existing text."
be left as it is? Seems there are two issues already on that.

Would you mind opening these issues yourself? I'd really not like to install complete new software each time any of them is updated. Fo

[2020-04-24 11:47] ynikitenko commented on #395
@kelson42 where would you recommend to open an issue on Zim files? (missing or not shown translations)

[2020-04-24 11:47] kelson42 commented on #428
@jetownfeve21 This is a regression, please to be fixed.

[2020-04-24 11:49] kelson42 commented on #395
I confirm, handled in  #428

[2020-04-24 11:52] kelson42 commented on #395
This is exactly how it works with 2.0.1 and Wiktionary EN nopic of 2020-03. I can not reproduce the problem you report.

[2020-04-24 11:54] kelson42 commented on #395
I can not reproduce that problem either, here I need a clear and detailed reproduction steps I believe.

[2020-04-24 11:59] kelson42 commented on #395
Agree, see #428

This is how it works for me, waiting for a detailed reprocase.

At least for new tab, this is #428

You should be able, don't know what you do, but you have a link to click under each comment box.

[2020-04-24 12:00] kelson42 commented on #395
In the proper scraper (depending of the zim file). See https://github.com/openzim/

[2020-04-24 12:00] kelson42 commented on #395
Closing this ticket as this is a moving target and reported problems which are clear handle in other tickets.

[2020-04-24 12:00] #395 closed

[2020-04-24 12:01] kelson42 commented on #274
Closing this ticket in favour of #265.

[2020-04-24 12:01] #274 closed

[2020-04-24 12:18] kelson42 commented on #427
Duplicate of #299

[2020-04-24 12:19] kelson42 commented on #299
@translatewiki. @Nikerabbit @Abijeet  Would you please be able to configure the Translatewiki bot to import/export strings? Do I need to open a ticket somewhere else?

[2020-04-24 12:24] kelson42 commented on #427
@jetownfeve21 I reopen the ticket as we might have lost here a few strings and that should not be the case. How to you check the localisation works, if the strings are not available in French?

[2020-04-24 12:30] ynikitenko commented on #395
OK, great that you linked to other tickets.
I'll write a detailed description.

[2020-04-24 12:31] ynikitenko commented on #395
But there is another issue that Ctrl stops working in the current tab. Where is its ticket?

[2020-04-24 12:32] kelson42 commented on #425
* https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2019-12.zim seems not impacted
* https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2020-04.zim seems impacted

I suspect something has changed in the way the videos are encoded in the meantime.

I move the ticket to openzim/youtube as I believe there is more chances to fix the problem there.

[2020-04-24 12:32] kelson42 commented on #425
/move openzim/youtube

[2020-04-24 12:46] rgaudin commented on #425
Shouldn't we open a different ticket for youtube? That's probably a quick fix there but it looks like this is an upstream (Qt) bug that we should track.

Youtube is somewhat flexible in what it receives and sends and we're also creating ZIMs with videos from outside youtube. Fixing videos might not always be an option.

[2020-04-26 08:09] chenshaoju opened #429 "Unable open zim file from Windows File Sharing (2.0.1)"
Sorry for my English.

Kiwix Version: 2.0.1 04/20/2020
Windows Version: Windows 7 SP1 x64 (Simplified Chinese)
Last know good version:  2.0-rc4 12/08/2019

Issue:
When I open zim file (in my case is `wikipedia_zh_all_maxi_2020-04.zim`) from NAS by through Windows File Sharing (Hostname is `shaoju-brix` , It's unable to open, Show a blank page and title is `about:blank`.

DEMO:
![samba](https://use

[2020-04-26 08:13] kelson42 commented on #429
@chenshaoju Thank you for your bug report. We believe that should work fine with our very last release Kiwix Desktop 2.0.1. Loot at https://www.kiwix.org/en/downloads/kiwix-reader/ to download it and let us know if you still have the problem.

[2020-04-26 08:18] kelson42 commented on #429
@chenshaoju Thank you for your bug report. Sorry my first comment was not pertinent, I have removed it. Would you be able to copy here in text, the two paths (one with the NAS and the one local) where the ZIM files are? Might that be that the NAS path as chinese characters and the local one does not?

[2020-04-26 08:27] chenshaoju commented on #429
Thank you for the reply, The path to my NAS is `\\shaoju-brix\BTDownloads\wikipedia_zh_all_maxi_2020-04.zim`, The local path from my computer is `E:\Temp\wikipedia_zh_all_maxi_2020-04.zim`, The path does not include Chinese characters.

The NAS is running Windows Server 2008 R2 with Simplified Chinese, Disk on NAS is using NTFS file system, And the path of the Sharing folder on NAS is `D:\BTDownlo

[2020-04-26 12:49] kelson42 commented on #429
@chenshaoju Thank you for the detailed information. I think we have everything so a developer can try to reproduce the problem and fix it. Hopefully in next release.

[2020-04-27 08:00] kelson42 opened #430 "Kiwix Desktop 2.0.1-1 appimage is not able to play video ZIM file"
The whole pages are blank.

Tested with Ubuntu 20.04 with https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2020-04.zim

[2020-04-27 08:41] ynikitenko opened #431 "Zoom shortcuts don't work properly with Wayland"
Steps to reproduce:

    open kiwix desktop
    open a zim file (wikipedia)
    try to zoom (Ctrl+0, Ctrl+-, Ctrl++)

From the menu it works (but not when the file is not opened yet - its menu is grey and doesn't work) (when the menu can be opened). Sometimes only Ctrl++ doesn't work, other shortcuts do.

I'm using the recent Kiwix-desktop 2.0.1 installed from flathub on Linux Fedora Core 29.

[2020-04-27 08:56] ynikitenko opened #432 "Menu bad positions on Wayland"
I'm using Kiwix-desktop 2.0.1 installed from flathub on Fedora Core 29, with Gnome and Wayland. Steps to reproduce:

    open kiwix-desktop, open a Zim file
    call a menu and a submenu

The menu appears at different places. The submenu (View) too, often its items are invisible. Sometimes the submenu doesn't appear at all. I attach screenshots.

How it should be:
The menu should be opened always

[2020-04-27 09:02] kelson42 commented on #431
There is no zoom feature if no file open. I don't understand the bug.

[2020-04-27 09:48] ynikitenko commented on #431
There is still text (available libraries) when no files are opened.
Otherwise the bug is mostly described for an already opened file.

[2020-04-27 09:56] kelson42 commented on #431
Here you seems to report two things. One is not a bug but a feature. The other (zoom in shortcut works only sporadically) can not be reproduced. @jetownfeve21 Any opinion?

[2020-04-27 10:29] ynikitenko commented on #431
You can ignore the feature, if you want.
What software did you use when trying to reproduce that?

[2020-04-27 11:02] kelson42 commented on #431
@ynikitenko Last Flathub release 2.0.1-1 on Ubuntu 20.04 (so without Wayland). @mgautierfr You use Fedora, do you suffer of a similar problem?

[2020-04-27 12:07] mgautierfr commented on #432
I'm not sure there is a lot to do here, except moving to more recent version of Qt (https://github.com/kiwix/kiwix-build/issues/403) and hopping that the issue is solved.

The placement of the submenu is base on the interaction between Qt and the wayland compositor (gnome-shell here). We do not control this.

Somehow related to #365

[2020-04-27 12:43] kelson42 commented on #432
OK, lets move to new version of Qt and see if we still have the problem with Wayland. If this is still the case, we should probably open a ticket upstream (or find one).

[2020-04-27 15:44] jetownfeve21 commented on #388
@Popolechien The old logo was a 512*512 svg format image. It would be great to have a png format for the following size too :
- 24*24
- 32*32
- 48*48
- 128*128
- 256*256

[2020-04-27 15:50] kelson42 commented on #388
@jetownfeve21 You can do that easily with https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.svg and configuring the size in the URL.

[2020-04-27 15:56] Popolechien commented on #388
@kelson42 Except that this file is 512 × 417, so we'll have the same issue. I've asked @siemsie to generate a square one.

[2020-04-28 12:43] rgaudin opened #433 "Video playing is sometimes buggy"
Following #425, here is a list of the identified problems with video on kiwix-desktop.

Note that the following issues are seen only with kiwix-desktop (Linux and Windows) and not on the other readers/browsers or media players. You can check our [compatibility table](https://github.com/openzim/youtube/wiki/Compatibility) for more details.

Fortunately, those three issues are visible on the [mali z

[2020-04-28 12:44] rgaudin commented on #425
Closing in favor of #433 which compiles the various video playing issues.

[2020-04-28 12:44] #425 closed

[2020-04-28 17:21] rgaudin commented on #433
Additional information, uncompressed videos (as downloaded+muxed by youtube-dl) doesn't work for some other reason. Haven't check the logs.

![err](https://user-images.githubusercontent.com/57929/80515734-f00e4c00-8971-11ea-8cc1-9a4b2f8f8612.png)

What's interesting though is that **uncompressed videos** are way larger and actually triggers an issue on the readers/browsers that **don't support web

[2020-04-28 17:29] rgaudin opened #435 "Delete confirmation dialog has incorrect title"
Confirmation dialog title upon ZIM deletion displays an unexpected ugly title. See screenshot:

![alert](https://user-images.githubusercontent.com/57929/80518225-bb03f880-8975-11ea-926c-aa97dd66d8e6.png)

[2020-04-29 07:31] siemsie commented on #388
Morning all. We agree that by "square one", you want the exact same logo with a transparent background, as an svg, right? It's just a dimension issue?

[2020-04-29 07:32] Popolechien commented on #388
@siemsie Yes.

[2020-04-29 07:44] siemsie commented on #388
[png scale.zip](https://github.com/kiwix/kiwix-desktop/files/4550333/png.scale.zip)
Take a look at these files. I used "export for web" function in illustrator – let me know if resolution is ok, otherwise I'll do it another way.

[2020-04-29 07:54] Popolechien commented on #388
@siemsie Looks about right, thanks. Can you please send me an .svg version so I can update the file on Commons?

[2020-04-29 08:00] siemsie commented on #388
[Logo-kiwix-bird.zip](https://github.com/kiwix/kiwix-desktop/files/4550404/Logo-kiwix-bird.zip)
There are 4 files – svg and png, larger scale, in black and white (negative). Thought it might be useful? FYI, all the files I create exist on the drive, I work straight out of there so that you have access as well.

[2020-04-29 08:17] #426 closed

[2020-04-29 09:09] Popolechien commented on #388
@jetownfeve21 You can take the files from the zip here or as indicated by downloading the corresponding png from the commons file (see screenshot).
I should note that on my screen the new file appears distorted but is, in fact, correct.

![Capture d’écran 2020-04-29 à 11 07 43](https://user-images.githubusercontent.com/21675885/80579039-b1c46b80-8a09-11ea-9708-faa218143c8a.png)

[2020-04-29 15:30] #427 closed

[2020-04-30 06:50] Abijeet commented on #299
Hi @kelson42 - We've created a ticket on Phabricator to track the addition of this project to Translatewiki - https://phabricator.wikimedia.org/T251483

We should be able to finish this before the end of this week. Can you ensure that the translatewiki bot has read / write permissions to this repo?

[2020-04-30 08:02] kelson42 commented on #299
@Abijeet Thank you. @translatewiki is part of the "Kiwix" Github organization and should have write access to all our repositories. I have as well sent an invitation to the "OpenZIM" organization as we will have to sync other repositories there as well.

[2020-05-02 10:32] kelson42 commented on #320
I confirm that on Ubuntu 20.04. Just changing the the default color theme has no impact on Kiwix, it should.

[2020-05-02 10:33] kelson42 commented on #435
Should be fixed with #421

[2020-05-02 10:33] kelson42 commented on #435
Basically a duplicate

[2020-05-02 10:33] #435 closed

[2020-05-02 10:35] kelson42 commented on #226
I'm again forcing anything as long as the standard solution work fine. Unfortunately we don't respect the OS/Display manager theme. That should be fixed with #320.

[2020-05-03 11:57] BigKananga commented on #123
In version 2.0.1-1 the issue still exists.

[2020-05-03 22:52] Jheschl17 opened #437 "Changing download directory does not create it if necessary"
On Kiwix Desktop 2.0.1 with Linux Mint 19.3 whenever I try to change the download directory (F12 -> Download directory) a alert dialog with the message `Invalid download path` appears.
![image](https://user-images.githubusercontent.com/43889658/80927975-b25e5880-8da1-11ea-8bec-dbbedacd1d85.png)

[2020-05-04 13:38] Abijeet commented on #299
@kelson42 - The changes have been deployed. We're tracking the `master`, and pushing translations to the `translatewiki` branch. We've recently added functionality to create and submit a PR. Would you like to enable this for the Andorid and Desktop repositories?

Secondly, I would recommend adding some [message documentation](https://translatewiki.net/wiki/Translating:Localisation_for_developers#M

[2020-05-04 14:30] Abijeet commented on #299
Changes pushed here - https://github.com/kiwix/kiwix-desktop/commit/c224a38be1b099222bfeb067051248cfe857382b

[2020-05-04 15:19] kelson42 commented on #299
@Abijeet Thank you very much, so far to me it looks good. I let the expert @mgautierfr @jetownfeve21 to review the PR I created based on the `translatewiki` branch.

[2020-05-04 16:30] mgautierfr commented on #299
Yes please. It would be nice to have PR created atomically.

[2020-05-04 16:34] kelson42 commented on #299
We need to be aware that this might create a PR two times a week! This might be a bit much.

[2020-05-04 16:57] Abijeet commented on #299
If you don't merge the previous PR, the existing PR will be updated with the latest changes.

[2020-05-04 17:04] kelson42 commented on #299
@Abijeet Then this sounds really good to me, you can rollout it on Kiwix-Android and Kiwix-Desktop. Nice step forward which simplify the life of everybody.

[2020-05-04 17:16] kelson42 commented on #437
@Jheschl17 @jetownfeve21 I confirm! For me it does not work at all.

Steps:
* Open the settings
* Path is `/home/kelson/.var/app/org.kiwix.desktop/data/kiwix`
* Writtin `/home/kelson/.var/app/org.kiwix.desktop/data/kiwix2`
* Clicking on "Apply"
* Getting the error message reported earlier.

[2020-05-04 21:36] mgautierfr commented on #437
This is because the directory doesn't exist.
We must create it when user set to a non-existant path.

If I create the directory myself, it works.

[2020-05-05 06:33] kelson42 commented on #437
@mgautierfr @jetownfeve21 Maybe a better idea would to have this workflow:
* It is impossible to change it manually
* We have a directory filepicker (which allows as well directory creation)
* One type with have pick one different from the original a confirm dialog is displayed (and it does the move if confirmed).
* This would allow use to remove the "Apply" button which is bad UX

[2020-05-05 11:23] LAfricain commented on #313
I'm sorry to write again in a closed bug, but I have still this problem with the last release. I think I have a problem with some fonts kiwix can't read, or my system? libaria?

[2020-05-05 11:38] mgautierfr commented on #313
Do you have the issue with the kiwix-desktop we are building (flatpack/appimage) ?

[2020-05-05 12:32] LAfricain commented on #313
No with the kiwix I pushed on my ppa with the last commits. With the appimage I have an other windows, not beautiful, but yes the characters are okay with the appimage.
Do you know why I have this different windows?

[2020-05-07 10:15] xvitaly opened #443 "Crashes when trying to load Zim-file"
Kiwix Desktop 2.0.1 crashes when trying to load `wikipedia_ru_all_maxi_2020-04.zim` due to unhandled exception:

[code]

OS: Fedora 32.
Kiwix Desktop from repositories.

Download URL:
[code]

[2020-05-07 10:19] xvitaly commented on #443
Backtrace of crash:

[code]

[2020-05-10 10:09] Ubuntu-2020 opened #444 "*.deb package for Linux users"
Hello.
I have a big request.
We have a file **_kiwix-desktop_x86_64_2.0.1-1.appimage_** for Linux users.
I downloaded it and tried to run it on Xubuntu 16.04.
Of course in the file **_Properties_** I checked the box next to **Allow this file to run as a program**.
But it didn't start!!!
So I ask you very much to release please for Linux users ***.deb** package.
Please let Linux users have a choice

[2020-05-10 11:29] kelson42 commented on #391
Seems to be a duplicate of #226 and there is a workaround.

[2020-05-10 11:29] #391 closed

[2020-05-10 11:32] kelson42 commented on #443
@xvitaly What is the md5sum of your local file?

[2020-05-10 11:35] kelson42 commented on #407
@jetownfeve21 Is that something you could fic easily?

[2020-05-10 12:33] kelson42 commented on #444
@Ubuntu-2020 Xubuntu 16.04 is meanwhile quite old. I run it without any problem on Ubuntu 18.04 and 20.04. I would recommend to update your distribution. An alternative would be to give a try to our Flathub package https//flathub.kiwix.org which is an other official way to get Kiwix running on GNU/Linux.

[2020-05-10 15:05] kelson42 commented on #444
We don't provide `deb` for the moment, but there is already a ticket requesting it. See #204.

[2020-05-10 15:05] #444 closed

[2020-05-10 15:08] kelson42 commented on #443
@xvitaly I have tested and it works fine for me. Which seems to confirm your local file is corrupted. That said Kiwix-Desktop should not crash. It would be helpful if you could upload your (probably broken) ZIM file somewhere, so I can download it.

[2020-05-10 16:01] xvitaly commented on #443
@kelson42 Thanks. I will re-download Zim file again and check.

[2020-05-10 16:04] kelson42 commented on #443
@xvitaly could you please keep and upload the broken file somewhere?

[2020-05-10 16:11] xvitaly commented on #443
24 GB?

[2020-05-10 17:42] kelson42 commented on #443
@xvitaly Yes, all the file if you can.

[2020-05-11 08:31] xvitaly commented on #443
Sorry, this is impossible with my Internet connection. Upload speed is very limited by ISP.

I re-downloaded the file again using BitTorrent protocol and now everything works fine. Thank you.

[2020-05-11 08:31] #443 closed

[2020-05-11 09:58] mgautierfr commented on #313
The appimage embed its own Qt. Depending of your system, it may fail to find "something" and fallback to another fileselector window. It is pretty difficult to debug as everything is on the Qt side.

[2020-05-11 16:20] #407 closed

[2020-05-11 22:32] metal450 commented on #270
Still broken as of Kiwix Desktop 2.0.1

[2020-05-13 11:21] Ubuntu-2020 opened #446 "Kiwix in Ubuntu Software Center"
I think it would be nice if **Kiwix** will appears in **Ubuntu Software Center**.
What do you think?

[2020-05-13 11:26] kelson42 commented on #446
Agree bu duplicate of #204

[2020-05-13 11:26] #446 closed

[2020-05-13 15:47] mgautierfr commented on #446
If Ubuntu Software Center support flathub, it is already the case.

[2020-05-17 11:01] Ubuntu-2020 opened #447 "Improving the ZIM archive download page"
I think it will be good if the long table on [this page](https://wiki.kiwix.org/wiki/Content_in_all_languages) will be divided into several tables. In other words let the header appear with the following table of contents:
- Wiki
- - Wikipedia
- - Wiktionary
- - Wikivoyage
- - Wikiversity
- - Wikibooks
- - Wikisource
- - Wikiquote
- - Wikinews
- - Wikispecies
- Other resources

_PS: please tell me

[2020-05-17 11:52] kelson42 commented on #447
Yes, this page is not user friendly. But we won't continue to build and improve it. The strategy is to use https://library.kiwix.org as entry point to provide downloadable content. Here is the ticket for the filtering by category.

[2020-05-17 11:52] #447 closed

[2020-05-17 13:09] Ubuntu-2020 opened #448 "Displaying city names in the Book template"
I don't know how Kiwix displays books in other Wikipedia, but books in Russian Wikipedia in Kiwix without a hint about the city!
This is difficult to explain in words, especially when you do not know English well.
I would like to attach an image, but I don't know how.
Please tell me how to attach an image to a message?
I'll try to explain it in words.
Russian Wikipedia has a [template](https://ru.

[2020-05-18 15:32] go2211greg commented on #429
As a workaround, you can map a network drive to the location, and open the file from within Kiwix.

On Windows 7, you can access the Tools menu and Map Network Drive by pressing the Alt key when browsing the files. For the target, copy and paste the location of the server from the address bar.

[2020-05-18 21:30] Shred99 commented on #270
I'm having a similar problem with Kiwix Desktop 2.0.1 for Windows.

When I open a .zim created from a local MediaWiki instance using "zimmer", Kiwix crashes without displaying an error.  The same .zim opens perfectly using Kiwix for iOS.

I've tried running Kiwix desktop on Windows 7 and a different Windows 10 machine.  I've also tried downloading the older Kiwix 2.0 release.  In every case, Kiwix

[2020-05-19 11:15] Ubuntu-2020 opened #450 "Books - ISBN"
In **Wikipedia** books looks like this: ISBN [978-0-8032-3944-9](https://en.wikipedia.org/wiki/Special:BookSources/978-0-8032-3944-9).
In **Kiwix** books looks like this: ISBN 978-0-8032-3944-9.
I think it will be good if in the **Kiwix** ISBN of the book will look the same as in **Wikipedia**.

[2020-05-19 11:35] kelson42 commented on #450
/move openzim/mwoffliner

[2020-05-19 11:35] #450 closed

[2020-05-20 08:37] Popolechien commented on #448
@Ubuntu-2020 I couldn't take a screenshot either but generally speaking you can simply drag-and-drop the image into the text box and github will upload it as well.

The question revolves around some Javascript that shows the city name when hovering over the letter.

Issue moved to Issue opened by @Ubuntu-2020

[2020-05-20 08:37] #448 closed

[2020-05-20 10:25] Ubuntu-2020 opened #451 "library.kiwix.org - search"
When I type a word in the search box at the top of the [page](http://library.kiwix.org), such as **Wikipedia**, and press enter, nothing happens. A few minutes later a message appears:

I tried it in two browsers: **FireFox** and **Vivaldi**.

[2020-05-20 17:31] Nicaraguakiwix opened #452 "KiwixUbuntu18.04"
I have been using kiwix 1.0 in 32 and 64 bit( version 1.0) with Ubuntu 12/14/16 O/s configuration for years in Nicaraguan Schools. I downloaded theapp(s), store the app on a flashdrive  and then loaded them onto computers in Nicaragua. This has been of great help to the children to access the zim files. We are using free used laptops from FreeGeek and are mostly dual core (1.08 to 2.4 ghz)

This i

[2020-05-21 07:06] kelson42 commented on #452
@Nicaraguakiwix Congratulation for your work in Nicaragua. Here, we love to hear about such stories. So you have downloaded the appimage file https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.0.1-1.appimage? If this is the case, I suspect you just need to put the execution flag on the file to run it like this:
[code]

[2020-05-21 08:57] kelson42 commented on #451
/move openzim/kiwix-tools

[2020-05-21 08:57] kelson42 commented on #451
/move kiwix/kiwix-tools

[2020-05-21 08:57] #451 closed

[2020-05-22 07:52] Ubuntu-2020 opened #453 "Good and Featured articles from Wikipedia in Kiwix"
Wikipedia has ordinary, [Good](https://en.wikipedia.org/wiki/Wikipedia:Good_articles) and [Featured](https://en.wikipedia.org/wiki/Wikipedia:Featured_articles) articles.
But Kiwix does not display a label that this article is **Good** or **Featured**.

[2020-05-24 13:26] move[bot] opened #454 "Moving tabs in Kiwix"
*@Ubuntu-2020 commented on May 24, 2020, 11:57 AM UTC:*

It would be nice if user could move tabs in **Kiwix** (left - right) as in the web browser.

*This issue was moved by [kelson42](https://github.com/kelson42) from [openzim/mwoffliner#1134](https://github.com/openzim/mwoffliner/issues/1134).*

[2020-05-25 07:33] Ubuntu-2020 opened #455 "Open Link in New Tab (background)"
In a web browser, the user can right-click on the link and select **Open Link in New Tab** (or **Open Link in the background Tab**) from the drop-down list.
It will be nice if the user can do the same in **Kiwix**.

[2020-05-25 10:57] jetownfeve21 commented on #455
You can do this in Kiwix
![kiwix_open_newtab](https://user-images.githubusercontent.com/47149116/82807018-41cdc780-9e87-11ea-8da5-0cbcc004c606.gif)

[2020-05-25 12:09] mgautierfr commented on #447
It seems that the ticket number for filtering by category is missing.

[2020-05-25 12:30] mgautierfr commented on #453
/move openzim/mwoffliner

[2020-05-25 12:30] #453 closed

[2020-05-25 12:35] #147 closed

[2020-05-25 13:24] #373 closed

[2020-05-26 07:10] kelson42 commented on #204
With the help of @legoktm we will relaunch our Launchpad.net PPA.

[2020-05-26 09:44] Ubuntu-2020 commented on #455
I **can't open** the link in a **new tab** in the **Kiwix 2.0.1-1**:
![Kiwix-2 0 1-1-appimage](https://user-images.githubusercontent.com/65112331/82885448-e1558d80-9f4d-11ea-9b46-71e86951e689.gif)

If you use the **Kiwix 2.7.0 extension** in a **web browser**, then you can open it in a new tab, but it still opens an empty page with an **error**:
![Kiwix-2 7 0-Web](https://user-images.githubusercon

[2020-05-26 09:58] LAfricain commented on #204
Great! Be free to use all the stuff of my ppa.

[2020-05-26 10:37] kelson42 commented on #326
@jetownfeve21 I reopen this ticket as this still fails to me. On the top of the that the context menu entry. It is written "Open link in new tab" and it should be written "Open link in Web browser".

[2020-05-27 07:38] jetownfeve21 commented on #455
@Ubuntu-2020  Which kiwix-desktop version do you use (appimage or flathub) and which zimfile too ?

[2020-05-27 15:08] #280 closed

[2020-05-28 11:18] Ubuntu-2020 commented on #455
@jetownfeve21 - it was ***.appimage** (the top picture) and **Kiwix 2.7.0 extension** in a **web browser** (the bottom picture).
zimfiles: **wikipedia_ru_computer_maxi_2020-01.zim** and other **RU-zim** files.

[2020-06-04 12:48] florian29 opened #458 "Not possible to open newer ZIM files with Kiwix 2.0.1-1 Win64"
It's not possible to open wikipedia_es_all_maxi_2020-05.zim with Kiwix Desktop for Windows x64 2.0.1-1. Even not possible to open it with the latest nightly build. This is shown when you try to open the ZIM file:
![Sin título](https://user-images.githubusercontent.com/43439672/83758133-d5ff1200-a671-11ea-93aa-1fc9f7e16da7.png)
It's not possible to perform any search or to show any article.
The ZIM

[2020-06-04 18:05] autolyk commented on #170
It seems Kiwix checks space only on system drive. I have enough space on the disk download directory's disk, but no enough on system disk. And I got "not enough storage available" error message.
(Windows 7, Kiwix Desktop x64 2.0.1-1)

[2020-06-06 10:46] florian29 commented on #458
I tested it with 3 different computers and I always got the same result as described above. I think this is a major bug as Spanish is one of the most important languages and it is really annoying when you download about 24 GB and can't use it. Considering all the other issues that are posted here, this one seems to me of more importance. I think someone should at least make the effort to reproduce

[2020-06-06 10:50] kelson42 commented on #458
Works for me.

[2020-06-06 10:53] kelson42 commented on #458
Can you load a random page (CTRL+R)?
Do you get search suggestion?
Do you get an error? on the command line if you start it manually?
Where is the path of the ZIM file? Is that an external drive?
Can you load succesfully an other file which is exactly beside it in the same directory?

[2020-06-06 12:47] florian29 commented on #458
No, I can't load a random neither with the shortcut Ctrl+R nor by entering the Menu "Random Article". It stays with the blank page as pasted above.

No, I don't get search suggestions, only the "Fulltext search" appears but without giving any result by clicking on it.
![Sin título](https://user-images.githubusercontent.com/43439672/83944173-c57da180-a801-11ea-80b3-5544b688bbc2.png)

![Sin título1]

[2020-06-06 12:54] florian29 commented on #458
That's why I think it's not a problem with the ZIM file but with the Kiwix-Dektop program for windows. As I mentioned above the ZIM file works for me with the Firefox Kiwix addon (but obviously there is missing the fulltext search as a restriction of the addon). I didn't try it with the android version yet.

[2020-06-06 13:31] florian29 commented on #458
Maybe it could be helpful for you if I reproce it with the latest nightly build "kiwix-desktop_windows_x64_2020-06-01" as there appears a window which shows errors and comments by opening a ZIM file. First I tried to opened the ZIM file where the problem is about. As you can see no error message appears:
![Sin título2](https://user-images.githubusercontent.com/43439672/83945334-388b1600-a80a-11ea-

[2020-06-07 06:56] kelson42 commented on #458
@florian29 Thank you for your feedbacks. It seems clear that Kiwix is not able to read at all the ZIM file. The reason might be a bug in Kiwix or something related to your environnement. To me and for the moment, this is really unclear and I have no theory to validate/invalidate. What should happen here definitly is that an error should be displayed (giving a hint about what goes wrong). This is p

[2020-06-07 06:57] kelson42 commented on #458
@mgautierfr Do you have an idea what could go wrong here?

[2020-06-07 07:50] kelson42 commented on #431
I'm probably going to close that ticket if nobody complains that the zoom shortcuts work only sporadicaly.

[2020-06-07 09:33] florian29 commented on #458
I had yet the same idea to rename the ZIM file and tried to open it and the result was the same (only the blank page). Now I tested it again and moved the file to another directory and renamed it and still I'm not able to open it.

I checked it and the file has exactly the same permissions as any other readable ZIM file from the same directory.

[2020-06-07 13:03] duytrung opened #459 "Feature request: Browse all of the pages of the archive one-by-one like a book"
Hello,
I'm wondering how to browse the archive I download as a book, such as the stackexchange topics, and hide the pages I have already read and taken notes. (as the topic and questions posted by users were arrange by date, etc...)

I have downloaded and used the zim on Manjaro linux and found that these functionalities have not been implemented.

Thank you very much

[2020-06-08 11:56] mgautierfr commented on #237
- [x] is feeding itself from the OPDS stream (using a local cache/copy or not)
- [x] is using the lastest libkiwix (not released ATM). It supports new options and includes the backward-ompatibility bits you'd need.
- [ ] is using the centralized Categories List
- [x] is using the new tags only for flavours and full-text index.

[2020-06-09 10:14] kelson42 opened #460 "Kiwix Desktop does not ignore other libraries when local library.xml is available"
I have a local Kiwix Desktop for Linux on my USB stick, with a local empty library.
[code]

But if I started, I don't get an empty local library:
![image](https://user-images.githubusercontent.com/1029718/84135784-ab82cf80-aa4a-11ea-9665-46d75a44bf99.png)

It seems to still read my other libraries.

[2020-06-09 10:25] kelson42 opened #461 "Simplification of portable USB creation"
For people wanting to distribute USB flash drives with Kiwix AND ZIM files, we have a working process. The process is documented at https://github.com/kiwix/kiwix-desktop/wiki/Kiwix-desktop-on-an-USB-Drive-(Portable-version).

The problem is that this is still a bit complicated. This ticket requires to simplify it and has this new workflow proposal: The local `library.xml` would be automatically b

[2020-06-09 10:25] kelson42 commented on #461
@mgautierfr Does that sound reasonable?

[2020-06-09 15:52] sinand99 opened #462 "Dark theme"
Kiwix should respect windows 10 light/black themes and should change background accordingly.
But there is only white color. It is impossible to read articles in blinding white backgound. At least, provide a dark mode that the user can manually enable in GUI or some config file in app directory.

[2020-06-15 13:54] mgautierfr commented on #461
Does it means that the "library discovering" order should be :

- `library.xml` in local directory.
- Default `library.xml` (in user directory)
- Temporary generated one from zim files in local directory ?

What happen if a user get a portable kiwix on a usb key and uses it on a computer where kiwix is already installed ?

[2020-06-15 14:19] kelson42 commented on #461
Another way to formulate the request is do like before and if there is no local `library.xml` and no other `library.xml` (on the system) which are not empty, then create the local `library.xml` from the local ZIM files (just aside the binary).

This does not change the discovery system order (even if a newly created `library.xml`) should be loaded obviously. The generation of the local `library.xm

[2020-06-16 08:51] mgautierfr commented on #461
This is not a spec :)
But it seems that you agree with the order I've given.

1.  Use `library.xml` in local directory if it exists
2. Use system/user `library.xml` if it exists
3. Move `library.xml` from old/wrong directory to new/good one. (Compatibility with a bug about a wrong directory on windows).
4. If no `library.xml` exists (local and system) and local zim files exists. Create a local `li

[2020-06-16 12:54] #299 closed

[2020-06-20 07:55] ynikitenko commented on #431
@kelson42 I think it would be more appropriate to close that if someone else on Wayland (or with a more recent Kiwix Desktop) checks that they work reliably.

[2020-06-21 12:55] gmikhail commented on #458
I confirm the problem. Kiwix 2.0.1-1 Win64 cannot open the newest wikipedia_ru_all_maxi_2020-05.zim. Everything is exactly as described above. Old wikipedia_ru_all_novid_2019-06.zim opens.

Kiwix 2.0-rc3 Win64 also can not open a new file, but shows an error:

`Cannot open D:\Programs\kiwix\wikipedia_ru_all_maxi_2020-05.zim: bad allocation`

[2020-06-21 13:37] florian29 commented on #458
I've downloaded the new file "wikipedia_es_all_maxi_2020-06.zim" and tried to open it and is has the same behaviour as the old version (2020-05), only shows a blank page and there is nothing you can do. Maybe you should take a look at the code of the Kiwix Desktop program. Maybe there was something changed the way the newer ZIM files were generated. Or maybe just an incompatibility with the start

[2020-06-23 21:20] mosler99 opened #464 "kiwix hangs shortly after starting"
04:10:17 PM] Getting output of ['/bin/lsblk', '/dev/sdh']
[04:10:17 PM] [STAGE 0/6: Preparations - 0%]
[04:10:17 PM] [STAGE 0/6: Preparations - 0%]
[04:10:17 PM] Preventing system from sleeping
[04:10:17 PM] Suspending xdg-screensaver
[04:10:17 PM] Calling ['/usr/bin/xdg-screensaver', 'suspend', '0x5000000']
[04:10:17 PM] Unable to disable sleep. Please do it manually.
[04:10:17 PM] --> Check Syst

[2020-06-23 21:36] kelson42 commented on #464
@mosler99 Thank you for your bug report but this is at the wrong repository. It should be in the Kiwix-hotspot repository, I will move the ticket.

[2020-06-26 07:00] Popolechien opened #465 "Downloading multiple ZIM files at the same time (Win 10) returns error message"
Kiwix-desktop 2.0.1-1
It's a little bit disturbing because after closing the alert the download _does_ start
![image](https://user-images.githubusercontent.com/21675885/85829541-1e9a7e80-b78b-11ea-979c-a51b1db88396.png)

[2020-06-26 08:15] Popolechien opened #466 "Confirmation alert on Windows should not show the massive Javascript code behind it"
Window appears for instance when trying to delete a file. It is unsightly and poor UX.
![image](https://user-images.githubusercontent.com/21675885/85835783-ee0c1200-b795-11ea-91a1-677a830d7e27.png)

[2020-06-26 09:54] kelson42 commented on #466
Duplicate of #421

[2020-06-26 09:54] #466 closed

[2020-06-26 12:38] florian29 commented on #458
No, it doesn't (see above).

[2020-06-26 12:56] florian29 commented on #458
I am not a programmer and I can't help you fixing this bug. But for general considerations it seems that there has been changed something the way the new ZIM files were created, maybe it's a kind of an "updated" ZIM version with which some ZIM file readeres (like the Linux one) can handle with, but the Windows version not.

For testing purposes I did the following: I created a file with the Window

[2020-06-26 14:32] gmikhail commented on #458
After a little investigation, I found out that the problem is in Kiwix Desktop for Windows. Because the same ZIM file opens without problems in Kiwix for Chrome.

**Workaround for everyone**
Install Kiwix extension for Chrome: https://chrome.google.com/webstore/detail/kiwix/donaljnlmapmngakoipdmehbfcioahhk/
This will allow you to open the ZIM file and work offline.

[2020-06-26 16:43] florian29 commented on #458
The problem is indeed in Kiwix Desktop for Win64. I mentioned yet two times above that I am able to open the ZIM file with the Firefox extension.

This workaround unfortunately has the restriction that there is no fulltext search. If the problem is what I suspect, that there has been changed something in the way the newer ZIM file were created, then in a few month, when all the Wikipedia ZIM files

[2020-06-26 16:47] kelson42 commented on #458
@florian29 Thx for your patience, we need to find out what goes wrong here.

[2020-06-27 08:29] florian29 commented on #458
@kelson42 Thank you in advance! Hope you can fix it. I think Kiwix is a very useful project!

[2020-06-27 08:31] florian29 commented on #458
I've downloaded now the new ZIM file wikipedia_de_all_maxi_2020-06.zim and the results are the same as described above: Only the blank page is showing with Kiwix Desktop for Windows, but it works with the Firefox extension for Kiwix.

[2020-06-27 09:11] florian29 commented on #458
@gmikhail Could you please try to open an article with mathematical formulas, such as Pythagoras' theorem, please? In my case, with the Kiwix extension for Firefox it won't show the mathematical formulas anymore in the newer ZIM files (neither in the spanish nor in the german Wikipedia ZIM, both from 2020-06). With the older ZIM files (2020-03 and 2020-05 respectively) the formulas are shown corre

[2020-06-27 09:58] gmikhail commented on #458
@florian29 Yes, I don’t see the formulas either. Looks like the Kiwix extension render bug (perhaps formulas are stored differently than in previous versions of the ZIM file). Because if you manually save the formula as an SVG file, everything is displayed:

![Аннотация 2020-06-27 121951](https://user-images.githubusercontent.com/4838367/85919144-6562a400-b871-11ea-9523-8e05225dae23.png)

Error in

[2020-06-29 15:34] abdoboussekoum opened #467 "bad location problem"
Hi I downloaded the "wikipedia_ar_all_maxi_2020-06" zim file , i try to read it by kiwix , but it told me that the location is bad and it cannot open the file
i hope that you have the solution of this problem because i need it 
NB; other wikimedia products are working good
Thanks

[2020-06-29 16:15] mgautierfr commented on #467
Hi @abdoboussekoum

Do you have the exact error message ?

[2020-06-29 16:43] abdoboussekoum commented on #467
i downloaded two times because i think that it could be corrupted during the download but the same problem
![image](https://user-images.githubusercontent.com/60586835/86032904-fc755a80-ba2f-11ea-8f8c-fe50af05bc66.png)

[2020-06-29 16:44] abdoboussekoum commented on #467
other wikimedia products are working good
![image](https://user-images.githubusercontent.com/60586835/86033015-30508000-ba30-11ea-81f3-b6a5a632b53b.png)

[2020-06-29 17:43] kelson42 commented on #458
It is probably a duplicate of https://github.com/openzim/libzim/issues/353

[2020-06-29 18:09] kelson42 commented on #467
@mgautierfr @abdoboussekoum I woud wait next Kiwix-Desktop release and next ZIM release.

[2020-06-29 20:36] abdoboussekoum commented on #467
so i should wait the update ? and delete this version?
when i could be notified for the newest version plaise??

[2020-06-30 07:58] kelson42 commented on #467
@abdoboussekoum You will be notified when this ticket will be closed. Otherwise you have a relase feed for Kiwix-Desktop here https://mirrors.dotsrc.org/kiwix/release/kiwix-desktop/feed.xml

[2020-06-30 08:48] mgautierfr commented on #458
Yes, this is probably this. We don't use mmap on windows. So we were probably trying to allocate a too big memory.

Can you test with this build of kiwix-destkop : https://tmp.kiwix.org/ci/mgautier/wip_compile_windows/2020-06-30/kiwix-desktop_windows_x64_2020-06-30.zip

[2020-06-30 08:49] mgautierfr commented on #467
Can you try with this version of kiwix-desktop please ? https://tmp.kiwix.org/ci/mgautier/wip_compile_windows/2020-06-30/kiwix-desktop_windows_x64_2020-06-30.zip

[2020-06-30 09:36] florian29 commented on #458
@mgautierfr I confirm you that the build which you provided works! I can open now wikipedia_de_all_maxi_2020-06.zim and also wikipedia_es_all_maxi_2020-06.zim
I did a quick check with both files (opening articles with Latex based formulas, with pictures, with photos, performing a fulltext search) and everything works perfectly!
Thank you very much!!!

[2020-06-30 09:43] kelson42 commented on #458
@florian29 Thx for your quick feedback. We will make an official release really soon. Closing this ticket as duplicate of https://github.com/openzim/libzim/issues/353.

[2020-06-30 09:43] #458 closed

[2020-06-30 12:27] kelson42 commented on #467
@abdoboussekoum Thank you for your bug report. We confirm the bug. The problem is that we have generated a few ZIM files which are invalid and `wikipedia_ar_all_maxi_2020-06.zim` is one of them. The problem at the source of these corrupted ZIM files has been reported & fixed a few days ago, see https://github.com/kiwix/kiwix-tools/issues/389. There is nothing more you can do with this ZIM file, yo

[2020-06-30 14:52] #265 closed

[2020-06-30 14:52] #428 closed

[2020-07-01 06:49] kelson42 commented on #388
The new icon is transparent, as a consequence, if the user has a dark mode then we don't see the icon anymore. This is what happens to me with the Flathub package.

[2020-07-01 06:52] Popolechien commented on #388
Are we to understand you want it with a white background?

[2020-07-01 06:59] kelson42 commented on #388
yes

[2020-07-01 07:05] kelson42 opened #468 "[REGRESSION] Kiwix-Desktop suggestion crashes a lot in 2.0.2"
it works most of the type but if I search various (long) terms, it crashes during I type the search pattern.
[code]

[2020-07-01 07:31] kelson42 commented on #388
I have updated the logo with a white background. Hopefully it works.

[2020-07-01 09:26] Popolechien commented on #388
@kelson42 Quick question: we have an [inverted white logo](https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3-neg.svg) - is there any way to offer that one when switching to dark mode?

[2020-07-01 10:43] xvitaly opened #470 "Allow to build with packaged version of qtsingleapplication"
Bundling is strictly forbidden in lots of GNU/Linux distributions. Please add ability to build with packaged version of qtsingleapplication.

[2020-07-01 10:43] xvitaly commented on #470
Regression introduced in #424.

[2020-07-01 11:04] xvitaly commented on #470
Fixed on our side by adding `CONFIG+=qtsingleapplication` to qmake-qt5.

[2020-07-01 12:34] kelson42 commented on #470
@xvitaly @mgautierfr I guess if the ticket is closed there is nothing to do on our end. I don't really understand the ticket.

[2020-07-01 12:50] xvitaly commented on #470
I'm Kiwix Desktop Fedora GNU/Linux package maintainer. On Fedora we cannot use bundled dependencies, that's why we must unbundle them.

I fixed this issue on our side by removing the `subprojects/qtsingleapplication` directory and passing the `CONFIG+=qtsingleapplication` parameter to qmake-qt5 build tool.

[2020-07-01 12:52] kelson42 commented on #470
@xvitaly Thank. I reopen the ticket because I don't understand why we don't do that upstream!

[2020-07-01 12:55] xvitaly commented on #470
We also need to patch .pro file to remove `/static` option and remove git calls:

[code]

I would appreciate if it can be fixed in upstream.

[2020-07-01 19:56] AntiMortal opened #472 "can't read articles with + sign except if I replace it manually with %2B"
Hi. I noticed this bug in any kiwix zim file for example english wiktionary and english wikipedia.
Example article that produces this error in both these projects is: "C++"
When I convert C++ word in Notepad++ via plugins-mime tools-full url encode, and paste it into url, then it works!
It occurs when I host file via server and use Chrome or Firefox to view specific url.
Hope you will fix it...

[2020-07-02 07:29] #388 closed

[2020-07-02 07:33] kelson42 commented on #472
@AntiMortal Thank you for your bug report. I can not reproduce the problem with the latest version of Kiwix-Desktop and https://download.kiwix.org/zim/wikipedia/wikipedia_en_computer_maxi_2020-06.zim. Maybe you use old ZIM files which suffered from that bug. Otherwise (if the ZIM file is recent), please share with me the detailed step-by-step procedure to reproduce it.

[2020-07-02 07:36] kelson42 commented on #470
@xvitaly We will have a look, the ideal solution would be to build the Fedora packages within our CI so we can:
* Provide cutting-edge/testing RPM packges
* Secure upstream (at the source) that we won't have problems later.

This is an approach we are following for Deb packages (Debian/Ubuntu) and that I would be happy to see as well with Fedroa RPMs.

[2020-07-02 07:38] kelson42 commented on #388
@Popolechien I don't know, I don't believe so... but not sure. We have 1000 problems with dark-mode support, it is basically not implemented.

[2020-07-02 07:54] xvitaly commented on #470
Fedora already has Kiwix Desktop (and kiwix-lib, kiwix-tools, libzim) in the official repositories.

If you want to build Fedora packages for testing purposes on CI, feel free to take SPECs from Fedora:
* [kiwix-desktop](https://src.fedoraproject.org/rpms/kiwix-desktop/blob/master/f/kiwix-desktop.spec);
* [zimlib](https://src.fedoraproject.org/rpms/zimlib/blob/master/f/zimlib.spec)
* [kiwix-lib](h

[2020-07-02 12:26] AntiMortal commented on #472
I did not say that bug occurs on kiwix desktop, but on Firefox, Chrome and other web browser when file is served by kiwix desktop or kiwix serve. Kiwix desktop app, even old one for xp, does not have this bug.

[2020-07-02 12:53] kelson42 commented on #472
@AntiMortal OK, so which article has a broken link to the article "C++". One example is enough.

[2020-07-02 13:51] AntiMortal commented on #472
Links are not broken, but simply not readable. Can't be opened because of + sign in url. Just search for "C++" in wikipedia or wiktionary in some web browser. For example if I open this url in Firefox when I serve wiktionary: `http://192.168.43.48:8000/wiktionary_en_all_nopic_2020-03/A/C++`
then web page says:
`Not Found
The requested URL "/A/C " was not found on this server.`
Or find link to C++

[2020-07-02 14:22] kelson42 commented on #472
I don't have this older ZIM file but `http://localhost:8085/wiktionary_en_all_nopic_2020-04/A/C++` works fine for me.

[2020-07-02 14:33] AntiMortal commented on #472
I tested windows xp kiwix 0.9. And I tested a month ago on new kiwix on windows 10. Did you try both chrome and firefox? Unfortunately I can't anymore download any zim files or install windows 10 or new kiwix, because I switched to xp.

[2020-07-02 14:39] kelson42 commented on #472
Kiwix 0.9 is deprecated. Please use latest version of Kiwix Desktop and ZIM files and if it still fail with them, please reopen this ticket (or open a new one).

[2020-07-02 14:39] #472 closed

[2020-07-02 14:40] kelson42 commented on #452
@Nicaraguakiwix I don't have heard anything back from you, so I guess the problem has been fixed :) Please reopen this ticket otherwise.

[2020-07-02 14:40] #452 closed

[2020-07-02 14:41] kelson42 commented on #468
Fixed with https://github.com/kiwix/kiwix-desktop/pull/471

[2020-07-02 14:41] #468 closed

[2020-07-02 14:44] kelson42 commented on #423
I don't have this behaviour with 20.04 and https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.0.3.appimage. Closing the issue.

[2020-07-02 14:46] kelson42 commented on #393
It seems to work fine now for me with Ubuntu 20.04 and https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.0.3.appimage without VM. @Prosthet1cHead Maybe for you as well?

[2020-07-04 09:31] kelson42 commented on #270
With latest Kiwix Desktop for Windows, it does not crash anymore, but the file is no readable. I stringly suspect the file is not valid, the problem is that zimcheck does not detect it.

[2020-07-04 09:40] kelson42 commented on #462
@sinand99 Agree, duplicate #320

[2020-07-04 09:40] #462 closed

[2020-07-04 09:41] kelson42 commented on #318
Related to #320

[2020-07-04 12:23] kelson42 commented on #226
Handle dark mode problem with #320

[2020-07-04 12:23] #226 closed

[2020-07-04 12:28] kelson42 commented on #123
@BigKananga Unfortunately we still don't have tackle this problem specificaly, but a few things have been changed which might be related to that problem. This is why I have to ask you again if this still happens with last release https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64_2.0.3.zip

[2020-07-04 12:29] kelson42 commented on #322
This is more a feature request than a bug.

[2020-07-04 12:46] kelson42 commented on #465
@Popolechien May I ask you please to test again with https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64_2.0.3.zip ? I suspect more a platform issue here than a problem on Kiwix Desktop side. Which content was it exactly?

[2020-07-04 13:22] Popolechien commented on #465
Tested on another Windows machine and though the application froze for a few seconds it all went fine (downloaded three large Wiktionaries (es/fr/it)).

[2020-07-04 13:22] #465 closed

[2020-07-04 13:28] kelson42 commented on #416
I agree, this is not easy enough to use, but like I said the problem/solution is a bit more complex than how you describe it.

The default language is the one of the OS/UI. This is right to me. If we set "all" per default, the user will get (potentially) a lot of results which are not wanted. Don't forget most of people master only one language.

We could argue that one time the language filter ha

[2020-07-04 13:33] kelson42 commented on #465
Yes, the freeze problem is handled here #87

[2020-07-04 18:11] OrionRafi3345 opened #473 "Latest Wikipedia_en_all_maxi_2020-06.zim is Corrupted File!"
![Screenshot (20)](https://user-images.githubusercontent.com/47520335/86518395-9cc5e780-be53-11ea-912a-07ec67651edb.png)
![Screenshot (22)](https://user-images.githubusercontent.com/47520335/86518397-9e8fab00-be53-11ea-854a-da333dc68be4.png)

Latest "wikipedia_en_all_maxi_2020-06.zim"  zim file has issue! its the corrupted one, probably corrupted during the zim generation!
See the difference! I al

[2020-07-04 18:14] kelson42 commented on #473
How does that not respect the ZIM open specification?

[2020-07-04 18:17] OrionRafi3345 commented on #473
I dont have any problem,  the file show respect the zim specification or not! The main problem is the file itself not work!

I dont have any problem,  the file show respect the zim specification or not! The main problem is the file itself not work!

[2020-07-04 18:22] kelson42 commented on #473
What do you do exactly? What do you get? What do you expect?

[2020-07-04 18:27] OrionRafi3345 commented on #473
I follow this step
1)Download the file through torrent!
2)Launch Kiwix and try to open the downloaded content
3) The file Doesn’t  work,  just in kiwix title it shows "about/blank"
4)Then I try to investigate what's the problem is. With a hex editor!

I expected the file would work!

[2020-07-04 18:30] OrionRafi3345 commented on #473
I just expected the file would work! And the reason is the file is corrupted! Thats all -_-

[2020-07-04 18:35] OrionRafi3345 commented on #473
And its not that the file is corrupted during the download! I think the scrapper used to generate this zim, gave that corrupted file as an output!

[2020-07-04 18:39] kelson42 commented on #473
“Won’t work” tells me nothing and if you don’t answer my questions nobody can help you. Here is a guide about how to report a bug properly https://github.com/kiwix/overview/blob/master/REPORT_BUG.md. Last attempr, what is your version of Kiwix Desktop?

[2020-07-04 18:43] OrionRafi3345 commented on #473
Version 2.0
This one : http://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64.zip

[2020-07-04 18:47] kelson42 commented on #473
Please secure you use latest version 2.0.3 http://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64_2.0.3.zip

[2020-07-04 18:54] OrionRafi3345 commented on #473
Thanks! But why the website give me the old version instead of this?

[2020-07-04 19:06] #473 closed

[2020-07-05 06:31] legoktm opened #474 "Fonts appear to be non-free"
Both of the bundled fonts, Segoe UI and Ubuntu appear to be under a non-free license, incompatible with Kiwix's GPL license.

Segoe UI is a font licensed by Microsoft and as far as I can tell, not available under any free license. [Wikipedia](https://en.wikipedia.org/wiki/Segoe#Related_fonts) mentions that Selawik is a similar font by Microsoft, that is released under the free Open Font License. S

[2020-07-05 09:02] kelson42 commented on #474
@legoktm OK, that is a bit of a silly error we made here.

[2020-07-05 09:02] legoktm commented on #470
Unfortunately Debian doesn't have qtsingleapplication packaged yet (see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=641812), so we would prefer to have it bundled along for now if that's alright...

[2020-07-05 09:04] kelson42 commented on #470
@legoktm Good ot me. Does the Qt Debian package team has a request to package qtsingleapplication?

[2020-07-05 09:17] legoktm opened #476 "Don't encode current date in build"
Encoding the current date in the build makes it non-reproducible - see https://reproducible-builds.org/

They recommend getting the date from something consistent, e.g. the timestamp of the git commit: `git log -1 --pretty=%ct` (see https://reproducible-builds.org/docs/source-date-epoch/).

However, as pointed out in https://github.com/kiwix/kiwix-desktop/issues/470#issuecomment-652401126 always s

[2020-07-05 09:19] legoktm commented on #470
I filed #476 for this.

[2020-07-05 09:26] kelson42 commented on #470
@legoktm @xvitaly @mgautierfr If I understand properly here we should make a kind of qmake/make option to be able to call the build process without using the local "qtsingleapplication"? Or the other way around (not sure what is the best default behaviour)?

[2020-07-05 09:31] kelson42 commented on #470
@xvitaly @legoktm BTW, I hope you have seen that we have introduced `feed.xml` in https://download.kiwix.org/release and https://download.openzim.org/release, so you can immediatly be informed when a new release has been made.

[2020-07-05 09:34] legoktm opened #477 "Provide a more specific error if kiwix-serve isn't available"
If `kiwix-serve` isn't available, when you click "Start server" an error box just pops up and says "An error has occurred!"

Ideally it would say something more like "kiwix-serve not found." Bonus points if it is trivial for me in Debian to add "Please install it with `sudo apt install kiwix-serve`".

[2020-07-05 09:36] kelson42 commented on #477
Agree, even if `kiwix-serve` is a hard dependence of kiwix-desktop.

[2020-07-05 09:37] kelson42 opened #478 "Allow to change the UI language / Application default language"
This might be useful for a few users (and for developers to make tests).

[2020-07-05 09:51] kelson42 commented on #476
@mgautierfr This is something I have not strong opinion (I mostly don't know what depends exactly on this strings). Please let us know what you want.

[2020-07-06 09:04] legoktm commented on #470
I asked the Debian Qt maintainers for assistance/recommendations: https://lists.debian.org/debian-qt-kde/2020/07/msg00051.html

[2020-07-06 11:10] Ubuntu-2020 opened #479 "Deleting a ZIM file should move it to the trash can"
When I delete a ZIM file from the library, it is also deleted from the hard disk at the same time! And the basket remains empty!
**Ubuntu 18.04 Unity** + **Kiwix 2.0.1-1** (*.appimage):
![Kiwix-deleting-ZIM](https://user-images.githubusercontent.com/65112331/86587366-1bc13a00-bf92-11ea-8ef6-3eb7a3e51ce0.gif)

The situation is exactly the same in the operating system **Ubuntu 18.04 MATE** + **Kiwix

[2020-07-06 11:15] Ubuntu-2020 opened #480 "*.appimage doesn't start in Ubuntu Studio 20.04"
**Kiwix 2.0.1-1** (*.appimage) doesn't start in **[Ubuntu Studio](https://en.wikipedia.org/wiki/Ubuntu_Studio) 20.04**.

[2020-07-06 11:16] kelson42 commented on #480
This is an old version, please test with latest version.

[2020-07-06 11:17] Ubuntu-2020 opened #481 "*.appimage doesn't start in Ubuntu MATE 20.04"
**Kiwix 2.0.1-1** (*.appimage) doesn't start in **[Ubuntu MATE](https://en.wikipedia.org/wiki/Ubuntu_MATE) 20.04**.

[2020-07-06 11:19] #480 closed

[2020-07-06 11:20] kelson42 commented on #479
Yes, this is a feature

[2020-07-06 11:25] kelson42 commented on #481
Please https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.0.3.appimage like I said in #480

[2020-07-06 11:32] Ubuntu-2020 opened #482 "Incorrect display of the title page in web browser extensions"
The title pages of some ZIM files are not displayed correctly in web browser extensions. Here are some examples:
**wikipedia_ru_history_maxi_2020-05.zim**
![wikipedia_ru_history_maxi_2020-05 zim](https://user-images.githubusercontent.com/65112331/86588591-a9058e00-bf94-11ea-8f49-dc3e9ecb8950.png)

**wikipedia_ru_football_maxi_2020-04.zim**
![wikipedia_ru_football_maxi_2020-04 zim](https://user-ima

[2020-07-06 11:32] kelson42 commented on #481
If it still fails iwth 2.0.3 on Mate, please update #393

[2020-07-06 11:32] #481 closed

[2020-07-06 11:33] kelson42 commented on #482
@Ubuntu-2020 How it should looks like?

[2020-07-06 11:34] kelson42 commented on #482
@Ubuntu-2020 Please open Kiwix-JS bugs at https://github.com/kiwix/kiwix-js

[2020-07-06 13:04] xvitaly commented on #476
I agree. Please don't use direct git calls, because we use the release tarballs, which has no git metadata.

On Fedora we need to patch this rows manually.

[2020-07-06 13:09] xvitaly commented on #470
An additional build option looks good for me.

Good, thanks. But I prefer GitHub release subscriptions on email.

[2020-07-06 13:13] kelson42 commented on #470
We release most of the time based on a tag but I heard we could request similarly to release based on Github release event... Currently under investigation the pros/cons.

[2020-07-06 15:47] mgautierfr commented on #479
We should not delete the zim file if it was not downloaded by kiwix-desktop itself (if we add it to the library because the user open a existing zim).

[2020-07-06 23:36] abdoboussekoum commented on #467
hello @kelson42  i downloaded wikipedia_ar_all_maxi_2020-06.zim  for the third time still doesn't work
please , can you give an exact time beacause you closed the issue then i think that the problem is resolved

[2020-07-07 03:47] chenshaoju commented on #429
This issue still not fix at 2.0.3 (07/02/2020)

Net disk mapping can be working fine but I'm unable mapping every computer in the network... 😅

[2020-07-07 06:56] kelson42 commented on #467
@abdoboussekoum New ZIM file is available at https://download.kiwix.org/zim/wikipedia/wikipedia_ar_all_maxi_2020-07.zim

[2020-07-07 10:38] BigKananga commented on #123
@kelson42
It didn't change anything, it still crashes after closing. Win7 + ESU June 2020 and current C++ Runtimes 2019.

[2020-07-08 01:15] abdoboussekoum commented on #467
i downloaded
same error
not opened
![image](https://user-images.githubusercontent.com/60586835/86862314-e0715900-c0c0-11ea-9a36-2633036a70de.png)

[2020-07-08 07:34] kelson42 commented on #467
@abdoboussekoum What is the exact version of your Kiwix Desktop?

[2020-07-08 07:44] #476 closed

[2020-07-08 13:45] abdoboussekoum commented on #467
Now is good, i'm sorry for your efforts
thanks for your time

[2020-07-08 13:46] #467 closed

[2020-07-08 14:23] kelson42 commented on #393
@Prosthet1cHead Here we have a problem with the environnement, this is not Kiwix related I believe. A solution I have seen online is to force an other MESA driver:
[code]

Does that work?

[2020-07-08 14:35] kelson42 commented on #430
The bug is still there with 2.0.3.

[2020-07-09 13:30] #399 closed

[2020-07-10 08:51] #326 closed

[2020-07-10 08:52] #474 closed

[2020-07-10 17:26] #437 closed

[2020-07-11 09:45] kelson42 commented on #204
@legoktm is working on a package which should be available in our PPa in the next few weeks.

[2020-07-11 09:48] kelson42 commented on #454
Seema to be trivial in Qt https://doc.qt.io/qt-5/qtabwidget.html#movable-prop

[2020-07-11 09:50] kelson42 commented on #393
No feedback, closing for the moment. @Prosthet1cHead feel free to reopen it if the bug is still there for you.

[2020-07-11 09:58] kelson42 commented on #479
Interesting Qt ticket https://bugreports.qt.io/browse/QTBUG-47703

[2020-07-11 10:49] kelson42 commented on #429
@mgautierfr Any chance we could fix this bug relatively quicly/easily? I know this is a Windows specific bug, but maybe the bug is so obvious we could fix it blindly and @chenshaoju could test with a nightky build?

[2020-07-11 10:53] kelson42 commented on #459
Pages in a book are sorted in a linear fashion. A web site pages are not sorted and for sure not in a linear fashion. For this reason, the answer to your question is “no”. This is not doable.

[2020-07-11 10:53] #459 closed

[2020-07-11 11:42] kelson42 commented on #482
@Ubuntu-2020 please amke a proposal here, because to me, there is not bug.

[2020-07-11 12:38] kelson42 commented on #136
We should try this https://wiki.qt.io/Build_Standalone_Qt_Application_for_Windows

[2020-07-12 02:55] chenshaoju commented on #429
Hi, I just download and test `kiwix-desktop_windows_x64_2020-07-11.zip`, It same issue.

[2020-07-12 11:35] Ubuntu-2020 commented on #480
**Kiwix 2.0.3** (*.appimage) doesn't start in **[Ubuntu Studio](https://en.wikipedia.org/wiki/Ubuntu_Studio) 20.04** (Xfce).

[2020-07-12 11:53] Ubuntu-2020 commented on #482
If this is not a bug, what is it?
**wikipedia_ru_football_maxi_2020-04.zim** - **MozillaFireFox** extension **Kiwix 2.8.0**.
![wikipedia_ru_football_maxi_2020-04](https://user-images.githubusercontent.com/65112331/87245572-fd09ea00-c44e-11ea-9494-2fbfd61bfeaa.png)

Only the top row of images is visible. And from below, a huge black space. This way it is impossible to scroll the mouse and go down!

[2020-07-12 12:09] Ubuntu-2020 opened #486 "*.appimage doesn't start in Ubuntu Studio 20.04"
**Kiwix 2.0.3** (*.appimage) doesn't start in **[Ubuntu Studio](https://en.wikipedia.org/wiki/Ubuntu_Studio) 20.04** (Xfce).

[2020-07-13 06:31] kelson42 commented on #480
@Ubuntu-2020 It works on Ubuntu 20.04, surprised it does not work with Ubuntu Studio 20.04. Can you please start it from the command line and share the full log? Do you use Ubuntu 20.04 in a VM?

[2020-07-13 08:13] kelson42 commented on #482
I better understand the problem now, it seems we have lost the ability to scroll on this page! This seems to be a regression in Kiwix-JS, but not sure. Moving the ticket.

[2020-07-13 09:44] mgautierfr commented on #136
This require to have all dependencies build statically. However, QtWebEngine **cannot** be build statically. (https://forum.qt.io/topic/61448/static-builds-of-qtwebengine-aren-t-supported, among other info I've found when I've setup the compilation process).

[2020-07-13 12:28] mgautierfr commented on #486
Do you have the output/error message when you try to run it ?
Without it, it will be difficult to debug this.

[2020-07-13 17:19] mgautierfr commented on #429
@chenshaoju Can you test with http://tmp.kiwix.org/ci/mgautier/wip_compile_windows/2020-07-13/kiwix-desktop_windows_x64_2020-07-13.zip ?

[2020-07-14 01:01] ikreymer opened #487 "Enable support for service workers for new replay system"
Since kiwix-desktop use a custom scheme, to enable support for the service-worker based replay, the following flag should be enabled:
[code]
https://doc.qt.io/qt-5/qwebengineurlscheme.html

Hopefully this will make it work, though there is a chance that it may not, and regular `http://localhost` server may be needed..

Here is an example ZIM file that works with kiwix-serve in the browser, and wil

[2020-07-14 01:53] chenshaoju commented on #429
Hi, The `kiwix-desktop_windows_x64_2020-07-13.zip ` is working fine, but the console output some error message:
[code]
![image](https://user-images.githubusercontent.com/515763/87371421-e632d700-c5b7-11ea-8821-168f84f85ba9.png)

Thanks for your hard work.👍

[2020-07-14 07:40] Ubuntu-2020 commented on #480
No. This is not a virtual machine! The Ubuntu Studio operating system was installed on the hard disk!

I'm not a hacker. If you explain in detail how to do this, then I will try to launch Kiwix from the terminal.

[2020-07-14 07:42] Ubuntu-2020 commented on #486
@mgautierfr More discussion [there](https://github.com/kiwix/kiwix-desktop/issues/480).

[2020-07-14 07:46] kelson42 commented on #487
@mgautierfr I have tried the simple proposal of @ikreymer but the rendering still fails. Your help is needed. It is important we secure this can work with Kiwix Desktop for Zimit.

[2020-07-14 07:50] kelson42 commented on #486
@Ubuntu-2020 Please don't comment on #480. To get the log, just open a terminal and type `kiwix-desktop` + ENTER. The log will appear on the the terminal.

[2020-07-14 07:59] Ubuntu-2020 opened #488 "Adding a horizontal line"
**Kiwix 2.0.3** (*.appimage).
I suggest adding a horizontal line to the drop down list. This way the lines with images will be better separated.
![Add-line](https://user-images.githubusercontent.com/65112331/87400006-e7b4cd00-c5c0-11ea-922d-dd372f214eaf.gif)

[2020-07-14 08:07] kelson42 commented on #488
I'm not sure this is really an improvement. Firefox does not have that for example. I think we should as well remove "Copy Image URL" which is useless.

[2020-07-15 09:53] Ubuntu-2020 commented on #486
I entered different commands in the terminal but received the same response:
[code]
But I should note that in **Ubuntu MATE 18.04** I also can't run (.appimage) via the terminal. But if I make a double-click on the file, then in **Ubuntu MATE 18.04** Kiwix **2.0.3** (.appimage) will start!
I also opened the terminal in the **Document**s folder (where ***.appimage** is located) and entered commands

[2020-07-15 09:55] kelson42 commented on #486
@Ubuntu-2020 Sorry, I really have misguided you, it should be `$./kiwix-desktop_x86_64_2.0.3.appimage`. Before you should put the execution permission with `$chmod +x kiwix-desktop_x86_64_2.0.3.appimage`. Don't type the `$` sign, this is just to say this is the start of the prompt.

[2020-07-15 10:01] #429 closed

[2020-07-15 10:02] Ubuntu-2020 opened #489 "Save Image - answer"
**Kiwix 2.0.3** (*.appimage).
While reading the **ZIM** file, the user can right-click on an image and select the item `Save Image`.
After successfully saving the image a message appears stating that the document was saved successfully:
![The-document-has-been-downloaded-2 0 3](https://user-images.githubusercontent.com/65112331/87531593-9711a280-c69a-11ea-87cb-5f8354c0a858.png)

But this is not a

[2020-07-15 10:09] kelson42 commented on #489
@Ubuntu-2020 In your case this is an image, but it can be anything else, like an Epub for example.

[2020-07-15 11:39] #489 closed

[2020-07-15 13:58] Ubuntu-2020 commented on #486
***.appimage** is located in my **Documents** folder. Here are the messages from the terminal:

[code]

[2020-07-15 14:05] mgautierfr commented on #410
We need a installation process to associate the zim format/mimetype to the kiwix-desktop application.
But we don't have it. It is just a zip to decompress and a binary to launch.

[2020-07-15 14:08] kelson42 commented on #486
Looks like a duplicate of #393, but there is nothing we can really do because this looks like to be a misconfiguration of the OPENGL system. @mgautierfr Anything to add?

[2020-07-15 14:22] kelson42 commented on #410
@mgautierfr He talks about our own library, not about any file browser.

[2020-07-15 15:47] mgautierfr commented on #410
Ho. My bad. I can continue without me :)

[2020-07-16 08:13] kelson42 commented on #486
@probonopd I believe your help would be welcome here, do you have any comment on this kind of problem?

[2020-07-16 08:13] kelson42 commented on #430
@probonopd I believe your help would be welcome here, do you have any comment on this kind of problem?

[2020-07-16 08:17] kelson42 commented on #204
It's pending in debian https://ftp-master.debian.org/new/kiwix_2.0.4-1.html and soon in our PPA https://wiki.kiwix.org/wiki/Ubuntu_PPA

[2020-07-16 08:17] #204 closed

[2020-07-16 08:18] kelson42 commented on #204
@LAfricain Please test it and let us know if you have any problem (new ticket)

[2020-07-17 09:49] Ubuntu-2020 commented on #455
I should note that in **Kiwix 2.0.1-1**, **Kiwix 2.0.3**, I can open the article in a new, or rather in the **background**, **tab**.
I accidentally noticed this by clicking on the link with the middle mouse button (wheel).
But in the **background tab**, all sections of the article are collapsed and I have to click on each section to read the text.
If possible, make sure that when you click the mid

[2020-07-17 10:21] Ubuntu-2020 opened #491 "There is no hint about the rating of the film"
Different ZIM files do not contain hints about the rating of the film. I mean ratings with stars from **IMDb**, **allmovie**, etc.
There is no hint either in the **Kiwix 2.0.3** (.appimage) or in the browser **FireFox** (extension 2.8.0).
Here is an example article: [Aliens](https://ru.wikipedia.org/wiki/Чужие_(фильм,_1986)).
In this case, the image is made from **wikipedia_ru_movies_maxi_2020-06.

[2020-07-18 05:38] ikreymer commented on #487
i've spent a bit more time trying to get service workers to work in kiwix-desktop. First, would definitely need a later Qt, as per kiwix/kiwix-build#403 as the chromium that ships with default ubuntu bionic packages (5.9) is far too old.
(I tried with 5.14)

Unfortunately, no matter which flags I tried, service workers did not work with the custom `zim://` protocol handler.
I am not too surprised,

[2020-07-18 07:53] kelson42 commented on #487
@ikreymer Thank you very much for this testing. Your are 100% sure there is nothing in your code or JS code you rely one where the protocol `http://` is hardcoded?

[2020-07-18 11:35] kelson42 commented on #491
/move openzim/mwoffliner

[2020-07-18 11:36] #491 closed

[2020-07-18 13:43] Spindletop commented on #486
Similar issue on my system with Ubuntu 20.04 with KDE but slightly different error log:
[code]
The workaround as mentioned in #393 does work though:
`MESA_LOADER_DRIVER_OVERRIDE=i965 ./kiwix-desktop_x86_64_2.0.4.appimage`

[2020-07-19 07:28] ikreymer commented on #487
Yes, there's nothing specific to http. It runs on https too of course. The system requires fetch and service worker support, though.
Here's an even simpler zim designed to test service worker functionality:
[basicsw.zim](https://github.com/kiwix/kiwix-desktop/files/4943381/basicsw.zip) (just rename .zip -> .zim as gh doesn't allow .zim ext)

If it works, it looks like this:
<img width="569" alt="S

[2020-07-20 10:00] mgautierfr opened #492 "Kiwix must check for available space for download drive, not system drive."
It seems Kiwix checks space only on system drive. I have enough space on the disk download directory's disk, but no enough on system disk. And I got "not enough storage available" error message.
(Windows 7, Kiwix Desktop x64 2.0.1-1)

_Originally posted by @autolyk in https://github.com/kiwix/kiwix-desktop/issues/170#issuecomment-639015770_

[2020-07-20 15:52] vishal-1408 commented on #406
Hi , i want to work on this issue. Please assign it to me.

[2020-07-20 16:13] Jaifroid opened #493 "Kiwix Desktop 2.0.4 extremely unstable on Windows 10"
Having just downloaded and unzipped 2.0.4 from Kiwix.org download page, the app crashed and exited three times consecutively on opening (after about 3 seconds each time). On the fourth attempt, it remained open, but when I tried to open the latest full Wikipedia English file, it crashed and exited again.

This is on Windows 10 Pro 64bit version 2004 (that is the latest fully patched and updated ve

[2020-07-20 16:17] kelson42 commented on #493
Which ZIM file do you have in your local library?

[2020-07-20 16:24] Jaifroid commented on #493
I tried to open `wikipedia_en_all_maxi_2020-06.zim` from a directory using the open directory icon.
But now the app won't open again, and is showing gobbledygook on the Library page. (which stays open for 2-3 seconds before crashing and closing). I managed to get a screenshot while it was briefly open. See below. I suspect the issue is to do with automatic scanning of folders. Maybe scanning shoul

[2020-07-21 09:58] kelson42 commented on #493
@Popolechien You have no problem on your windows I guess with this particular ZIM file?

[2020-07-21 09:58] kelson42 commented on #493
@mgautierfr Might that be we have a kind of problem with the translation file?

[2020-07-21 12:25] Popolechien commented on #493
@kelson42 All good here.

[2020-07-21 12:31] kelson42 commented on #493
@Jaifroid What is the path where Kiwix Desktop is located?

[2020-07-21 12:41] Jaifroid commented on #493
It's in `C:\UTILS\kiwix-desktop_windows_x64_2.0.4\`.

In `C:\UTILS\` I also have the 2.0_beta5 version, `C:\UTILS\kiwix-desktop_windows_x64_2.0-beta5\`, and that loads without crashing (though obviously it struggles with recent ZIM files due to the relocation of the URL Pointer List.

[2020-07-21 14:32] Jaifroid commented on #493
I've so far tested all the 2.0.x series.

* **Version 2.0** doesn't crash when I launch it, but it does crash as soon as I try to open any ZIM archive with it using the Folder icon (including old, standard ZIM archives) -- please see below for how I *can* open a ZIM file with this version.
* **Versions 2.0.1 and above** all crash approx 2-3 seconds after the window appears (and all briefly show th

[2020-07-21 14:39] mgautierfr commented on #493
What is the content of `C:\Users\<user>\AppData\Roaming\kiwix` directory and `C:\Users\<user>\AppData\Roaming\kiwix\library.xml` ?

[2020-07-21 14:52] Jaifroid commented on #493
@mgautierfr Conents of `...\Roaming\kixix`:

![image](https://user-images.githubusercontent.com/4304337/88069773-d132e680-cb69-11ea-9671-3cbc3ece4600.png)

Contents of `library.xml` (after cutting out all the encoded favicon data to make it possible to paste it here):

![image](https://user-images.githubusercontent.com/4304337/88070039-2111ad80-cb6a-11ea-9098-b069cba6c939.png)

[2020-07-21 15:03] mgautierfr commented on #493
Can you remove the line for the book `wikipedia_en_all_maxi_2020-06.zim` and confirm that kiwix-desktop works again ?

---
(Textual pasts are better than screenshot :) )

[2020-07-21 16:35] vishal-1408 commented on #406
hey kelson, I am a newbie in open source programming and I am really excited to work on this issue, but i am finding difficulties in building kiwix-desktop using kiwix-build as it was mentioned that kiwix-library must be compiled dynamically using kiwix-build. BUt when i tried to build kiwix-desktop, i received and error and didn't know how to resolve it. So i raised a new issue in kiwix-build, Ca

[2020-07-22 05:58] Jaifroid commented on #493
@mgautierfr Just removing that entry made no difference.
However, deleting the entire Kiwix directory in `..,\AppData\Roaming\` allows the latest version (2.0.4) to launch correctly and open archives. Thank you! 😊
Now the library shows 5 ZIM archives, though in fact I have many more ZIM archives in `D:\WIKI\`. It has not found the most recent full English Wikipedia (2020-06), but the older one (20

[2020-07-22 09:10] mgautierfr commented on #493
The content manager list what is in the `library.xml`. Not what is in the fs.
(But opening a file and go to `D:\WIKI\` in the explorer dialog should work)
When you open a file, it is automatically added to the `library.xml`  (and so, displayed the next time you launch `kiwix-desktop`)

I don't know what append here :/
A bug in the reading of a zim file should hide the zim file (or crash the app).

[2020-07-22 09:25] Jaifroid commented on #493
@mgautierfr To clarify, the first screenshot was shown only for about 2-3 seconds before the app crashed, so I still think it was trying to read ZIM files in the library.xml and crashed the app for whatever reason.

With the app now stable, on launch for about 0.25s I see a brief flash of that screen before the fields are filled, so that screen appears to be a template with placeholders that get f

[2020-07-22 10:03] mgautierfr commented on #493
Ok.
But one of your file in the library.xml is probably wrong/buggy it would be nice if you can try to open them to know which one.

[2020-07-22 10:06] mgautierfr commented on #406
Fixed by #495

[2020-07-22 10:06] #406 closed

[2020-07-22 10:54] Ubuntu-2020 opened #496 "Browse By Category in Kiwix"
I suggest changing the sorting by category.
Now the sorting is in the English alphabet: A-B-C - etc.:
![Library-Kiwix 2 0 1-1 appimage](https://user-images.githubusercontent.com/65112331/88167485-92f8fe00-cc21-11ea-9ea3-7c7332501c07.png)

I suggest changing this list to look like this:
- All
- Wikipedia
- Wikinews
- Wikiversity
- Wikivoyage
- Wikiquote
- Wikisource
- Wiktionary
- Vikidia
- Psiram

[2020-07-22 18:41] kelson42 commented on #406
@vishal-1408 Thank you!

[2020-07-22 23:54] vishal-1408 commented on #406
Your welcome kelson 👍

[2020-07-23 10:49] Ubuntu-2020 opened #497 "Changing the interface language"
Suggestion.
Please add an item to **Kiwix** (.appimg) to change the interface language.
You can add the item for changing the interface language to the drop down list by clicking the button with **three dots**:
![Add-lang-support](https://user-images.githubusercontent.com/65112331/88277613-af606d80-cce9-11ea-9c14-a3788e0bad03.gif)

This way the user can choose the interface language from all avail

[2020-07-23 11:21] Ubuntu-2020 opened #498 "Language filter does not apply on local library"
**Kiwix 2.0.4** (*.appimg).
Sorting by language in the library doesn't work.
I'm sorry that there is no picture. I have two files in my **Library**.
One ZIM file from the **Russian Wikipedia**. The second ZIM file is from the **English Wikipedia**.
In the side column, I chose **German**, then **English** language, and nothing happened.
I think that when choosing **German**, the two ZIM files menti

[2020-07-23 12:52] kelson42 commented on #498
I confirm

[2020-07-23 18:15] Jaifroid commented on #493
@mgautierfr I think I can now narrow this bug down to a crash while reading a corrupt ZIM archive, as you suggested. The new full English Wikipedia (`wikipedia_en_all_maxi_2020-06.zim`), which I had downloaded with a BitTorrent client, had a minor corruption issue in one of the sectors downloaded, affecting titles from `Dad` to `Deir` in the Title Pointer List (or maybe URL pointer list). The file

[2020-07-23 19:26] probonopd commented on #486
What happens if you run the same AppImage on the same system on e.g., Ubuntu 18.04?

[2020-07-23 21:01] kelson42 commented on #486
@probonopd I had not problem on 18.04 at the time I was using it.

[2020-07-24 05:33] Spindletop commented on #486
I suspect it has something to do with Intel graphic card drivers ("_Iris will replace the i915 driver as the default Intel GPU graphics driver for Broadwell (Gen (8) and newer iGPUs sometime in 2020_") and the issue should appear mostly on notebooks, because I assume mostly Nvidia or Amd graphic cards are present on Desktop systems.
The following seems now to be the default (but not on all systems

[2020-07-24 06:56] kelson42 commented on #493
@Jaifroid Thank you again for helping narrowing down the problem. There is no question about the fact that there is a bug here. Kiwix Desktop should not crash. Please keep a copy of the corrupted ZIM file (it still not too late).

[2020-07-24 07:28] kelson42 commented on #497
This is a duplicate of #478. Everyboday can translate Kiwix' softwares on https://translate.kiwix.org

[2020-07-24 07:28] #497 closed

[2020-07-24 08:42] Jaifroid commented on #493
@kelson42 I fear qBitTorrent has now repaired the (huge) file as I forced a recheck yesterday, and the missing title pointers / url pointers are no longer missing.... I guess the only thing now would be "theoretically" to check the code for potential fail points in the archive scanning process (e.g. when verifying library.xml entries). and add some more error trapping Clearly the verification of l

[2020-07-24 08:48] kelson42 commented on #493
@mgautierfr Do you what to do next?

[2020-07-24 15:04] vishal-1408 commented on #421
Hi, I would like to work on this issue and i wanted to know the requirements clearly ! the window should be resized or even the title bar must be removed?

![Screenshot from 2020-07-24 20-32-06](https://user-images.githubusercontent.com/54095062/88405441-e79ca480-cdec-11ea-90d2-94b4353e77bc.png)

[2020-07-24 17:03] xvitaly opened #499 "Search is broken on empty tab page"
Steps to reproduce:

1. Load Wikipedia ZIM file.
2. Press **New tab** button.
3. Try to search anything. No search suggestions will be shown.

System configuration:
* Kiwix version: 2.0.4.
* OS: Fedora 32.

[2020-07-25 07:33] Ubuntu-2020 opened #500 "*.appimage doesn't start in Linux Mint 20 Cinnamon"
**Kiwix 2.0.4** (*.appimage) doesn't start in [**Linux Mint** 20](https://en.wikipedia.org/wiki/Linux_Mint) (Cinnamon 4.6.6). Kernel: 5.4.0-26-generic x86_64:
[code]
I believe that **Linux Mint 20 Mate** and **Xfce** will have the same problem. Since in **[Ubuntu Studio 20.04](https://github.com/kiwix/kiwix-desktop/issues/486)** and in [**Ubuntu MATE** 20.04](https://github.com/kiwix/kiwix-desktop

[2020-07-28 12:30] kelson42 commented on #486
@mgautierfr If this is problem is not fixeable in forseenable future. I would like to abandon the appimage format and come back to a normal tarball with binaries.

[2020-07-29 10:03] Ubuntu-2020 opened #502 "*.appimage doesn't start in Xubuntu 20.04"
**Kiwix 2.0.4** (*.appimage) doesn't start in [**Xubuntu** 20.04](https://en.wikipedia.org/wiki/Xubuntu) (Xfce 4.14.2) (Kernel: 5.4.0-26 **64 bit**):
[code]
PS: in [**Xubuntu** 18.04.1](https://en.wikipedia.org/wiki/Xubuntu) - **Kiwix 2.0.4** is **successfully launched**!

[2020-07-29 14:38] LAfricain opened #503 "PPA deb package for Ubuntu 18.04 / Bionic"
Hello,
In the #204 issue you proposed me to test the ppa. I did. But no kiwix-desktop package is available. And I use Bionic, the ppa begins with eoan. Maybe you can add the bionic.

[2020-07-29 14:45] kelson42 commented on #503
@legoktm Would you be able to help @LAfricain please? What is the exact reason to not have 18.04 in the PPA?

[2020-07-29 20:05] legoktm commented on #503
#501 adds kiwix to the PPA. I'll look into adding bionic support, mostly making sure all of our dependencies are available.

[2020-07-30 07:23] kelson42 commented on #503
@legoktm Considering that 18.04 is LTS and therefore broadly deployed, I believe this would be really good to provide packages for it.

[2020-07-30 08:34] probonopd commented on #486
Since an AppImage is just a self-mounting disk image that executes whatever you have put inside, a normal tarball with binaries will have the exact same issues, as would have a zip file. This is not a question of the archive format.

[2020-07-30 08:36] kelson42 commented on #486
@probonopd You confirm there is nothing specific related to Qt in the appimage packaging (process)?

[2020-07-30 08:40] probonopd commented on #486
Well. We need to distinguish two things:

* The AppImage format. You can put anything inside it. You decide. So you can put into an AppImage whatever you would put into a "normal tarball with binaries". Just add an AppRun file/link so that the AppImage knows what to execute. And some metadata like icons and a desktop file
* An AppImage that will run on all still-supported mainstream distributions.

[2020-07-30 08:47] kelson42 commented on #486
OK, but this has nothing to do with `appimage` in itself. Like you have written earlier, these are exactly the same constraints with a standard tarball! So like a standard tarball, appimage has really no Qt related special mgmt in its code base?

[2020-07-30 08:49] probonopd commented on #486
Correct.

[2020-07-30 08:54] mgautierfr commented on #486
In that situation, we are compiling/packaging on a older distribution that the one we are launching the appimage. So it is a different "issue".

@Spindletop, do you have a source for that ?

If this is confirmed I'm afraid that all old Qt applications using opengl compiled on old system (if not all application using opengl, Qt or not) will stop to work because they cannot find the correct mesa dri

[2020-07-30 08:59] kelson42 commented on #502
Does this workaround allows to Kiwix Desktop to start normally?
[code]

If not, please share the command call with error log.

[2020-07-30 08:59] kelson42 commented on #500
Does this workaround allows to Kiwix Desktop to start normally?
[code]

If not, please share the command call with error log.

[2020-07-30 10:11] probonopd commented on #430
Hi @kelson42 basically one needs to run from the command line, and watch for error messages there.

[2020-07-30 10:17] kelson42 commented on #430
@probonopd Yes, sorry for the poor ticket quality. Here it is:
[code]

And then at the time I load the ZIM file (welcome page):
[code]

[2020-07-30 10:24] probonopd commented on #430
"Terminating renderer for bad IPC message, reason 139" is not an error that is coming from the AppImage runtime.

Is a custom URL scheme being used in Kiwix Desktop?

Unfortunately I can't help more here than recommending to Google around for

[2020-07-30 10:26] kelson42 commented on #430
@probonopd Yes, we have a custom scheme and this is a bug we don't have with Flatpak.

[2020-07-30 10:36] probonopd commented on #430
It seems to be some sort of crossdomain issue, reason 139 = BDH_DISALLOWED_ORIGIN.

Maybe you don't have the bug with Flatpak because you are using a newer Qt version there? Please bundle the latest Qt (e.g., from https://launchpad.net/~beineri) in the AppImage and then try again.

[2020-07-30 10:39] kelson42 commented on #430
@mgautierfr Anything you confirm/do here?

[2020-07-30 14:35] mgautierfr commented on #430
I think we need to test with a more recent version of Qt yes. Not sure we should spend time on issue that could be already fixed with recent version.

[2020-07-30 14:53] probonopd commented on #430
Right, just build with the latest available Qt from https://launchpad.net/~beineri and see if it fixes the issue. Based on some comments in other tickets I think it actually might.

[2020-07-30 16:35] mgautierfr commented on #430
Here is a appimage of kiwix-desktop compiled with qt5.14 (from beineri repository) : http://tmp.kiwix.org/Kiwix-test_qt514-x86_64.AppImage

On fedora 32, I had to run it with `MESA_LOADER_DRIVER_OVERRIDE=i965 ./Kiwix-test_qt514-x86_64.AppImage`

[2020-07-30 16:39] kelson42 commented on #430
@mgautierfr Great. It works perfectly for me:
* No opengl problem at start
* Not problem to play videos

[2020-07-30 16:42] kelson42 commented on #430
@ubuntu-2020 Would you be able please to test this custon appimage that @mgautierfr has proposed?

[2020-07-31 06:11] Spindletop commented on #486
@mgautierfr: please see https://linuxreviews.org/Intel_Iris, I'm sorry that I even quoted the wrong passage, it says `The Intel Iris driver is the default driver for Intel gen8-11 hardware in Mesa 20`. One can find out what is used by calling e.g.:
[code]
The short string is listed when Iris is used, the longer string is shown when the older i965 driver is used. For a list of Intel graphic cards s

[2020-07-31 09:07] Ubuntu-2020 commented on #502
@kelson42

**Xubuntu 20.04** (**Kernel**: 5.4.0-26-generic x86_64) **bits**: 64 (**Xfce** 4.14.2)
**Kiwix 2.0.4** (.appimage) **doesn't start**!

[code]

[2020-07-31 09:10] kelson42 commented on #502
@Ubuntu-2020 You should test with http://tmp.kiwix.org/Kiwix-test_qt514-x86_64.AppImage

[2020-07-31 09:11] Ubuntu-2020 commented on #500
@kelson42

**Linux Mint 20 Ulyana** (**Kernel**: 5.4.0-26-generic x86_64) **bits**: 64 (**Cinnamon** 4.6.6)
**Kiwix 2.0.4** (.appimage) **doesn't start**!

[code]

[2020-07-31 09:22] probonopd commented on #430
Thanks @mgautierfr. Unfortunately it does not launch on my Xubuntu 18.04 system:

[code]

Looking at it with `strace`, I can see

[code]

So manybe it is due to the Selawik fonts being missing?

[2020-07-31 09:33] probonopd commented on #430
I wanted to test but https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2020-04.zim is no longer there. How can I test?

[2020-07-31 10:08] kelson42 commented on #430
@probonopd Take the latest version https://download.kiwix.org/zim/other/mali-pour-les-nuls_fr_all_2020-07.zim

[2020-07-31 13:04] probonopd commented on #430
I can confirm that the video play well in your version @mgautierfr on Xubuntu 18.04. :+1:  (I cannot open it in the "official" AppImage.)

[2020-07-31 16:56] Ubuntu-2020 commented on #502
@kelson42

**Kiwix-test_qt514-x86_64.AppImage** doesn't start in **Xubuntu 20.04**:
[code]

[code]

[2020-07-31 16:59] Ubuntu-2020 commented on #500
**[Kiwix-test_qt514-x86_64.AppImage](http://tmp.kiwix.org/Kiwix-test_qt514-x86_64.AppImage)** doesn't start in **Linux Mint 20 Ulyana _Cinnamon_**:
[code]

[2020-08-01 09:31] kelson42 commented on #500
@Ubuntu-2020 Thank you for this feedback. I will close this ticket as duplicte of #486.

[2020-08-01 09:31] #500 closed

[2020-08-01 09:32] kelson42 commented on #502
@Ubuntu-2020 Thank you for your feedback, I will close this ticket as duplicate of #486.

[2020-08-01 09:32] #502 closed

[2020-08-01 09:46] kelson42 commented on #433
@mgautierfr has build a test appimage version with Qt5.14 and it is available at http://tmp.kiwix.org/Kiwix-test_qt514-x86_64.AppImage. Seems to work fine with it for me.

[2020-08-05 07:35] kelson42 opened #504 "Debian package name should better be "kiwix-desktop" ?"
It is currently "kiwix"... but we have so many kiwix that years ago we decided to have more explicit name. Probably the package name should better reflect the official name?

[2020-08-05 07:56] kelson42 opened #505 "aria2 deb package dependence seems wrong"
Kiwix and Libkiwix aria2c deps seems wrong. At least on Kiwix-Desktop it should be a runtime dependence, and not a source dependence.

[2020-08-05 09:52] kelson42 commented on #423
Reopening the issue, because it happens again with Ubuntu 20.04 and the Debian package in our PPA:
[code]

But it works with the latest appimage https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.0.4.appimage

[2020-08-05 09:53] kelson42 commented on #423
@mgautierfr This might be related to Qt as the appimage uses Qt 5.9 and the deb package 5.12.

[2020-08-05 21:08] #505 closed

[2020-08-05 22:31] legoktm commented on #504
I didn't give much thought to this when adopting the previous kiwix packaging. Since we just reintroduced kiwix-desktop into Debian I think it should be straightforward to rename.

However, a [search](https://packages.debian.org/search?keywords=desktop&searchon=sourcenames&suite=stable&section=all) indicates that the `-desktop` suffix is primarily used by desktop environments (e.g. cinnamon, gnome

[2020-08-06 11:04] aweasadbek opened #507 "Quits after one or two articles"
I'm using Ubuntu Desktop 20.04.1 LTS.
After loading one or two articles properly, kiwix-desktop gives the following error and quits:
`
Library directory : "/home/aweasadbek/.local/share/kiwix"
Compiled with Qt Version  5.9.5
Runtime Qt Version  5.9.5
add widget
js: Uncaught SyntaxError: Unexpected end of input
js: Uncaught SyntaxError: Unexpected token .
js: Uncaught ReferenceError: mw is not defi

[2020-08-06 12:53] kelson42 commented on #507
@aweasadbek Please use latest version https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.0.4.appimage

[2020-08-06 17:38] aweasadbek commented on #507
I first used kiwix-desktop version 2.0.2 - same problem mentioned above. Then used this version https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64.appimage. Also tried one that you provided but same problem as above.

[2020-08-10 10:55] MananJethwani commented on #454
@kelson42 can I work on this?

[2020-08-10 15:37] mgautierfr commented on #454
@kelson42 We don't use `QTabWidget` but a `QTabBar`.

@MananJethwani you can work on this.
But it is more complex than just setting a property. If we allow to move a tab, we must take care than the `TabBar`'s index are always in sync with the index in the QStackedWidget.

[2020-08-11 16:23] mgautierfr commented on #507
Can you do a `zimcheck -C wikipedia_en_all_maxi_2020-06.zim` (Using zim-tools here http://download.openzim.org/release/zim-tools/) ?

If it fails it means that your file is corrupted.

[2020-08-11 16:26] mgautierfr commented on #504
I would follow the debian way to name their packages but I have no strong opinion here.

[2020-08-12 13:15] abdoboussekoum opened #508 "update kiwix"
how to update kiwix of july to august without downloading the new one?

[2020-08-12 13:59] mgautierfr commented on #508
It is not possible. We don't provide this feature for now (sadly).

[2020-08-12 13:59] #508 closed

[2020-08-17 10:43] aweasadbek commented on #507
[INFO] Checking zim file ../wikipedia_en_all_maxi_2020-06.zim
[INFO] Verifying Internal Checksum..
  [ERROR] Wrong Checksum in ZIM file
[ERROR] Invalid checksum :
  ZIM File Checksum in file: f1e101af77b6a67c3debe463b6056ae1

[INFO] Overall Test Status: Fail
[INFO] Total time taken by zimcheck: 1815 seconds.

[2020-08-17 10:45] aweasadbek commented on #507
So the problem is in wikipedia_en_all_maxi_2020-06.zim.
Is it the case with my copy or the file in the server was already corrupted?

[2020-08-17 13:11] mgautierfr commented on #423
terminate called after throwing an instance of 'std::runtime_error'
  what():  Invalid return code from aria

It is probably a problem with aria interaction and the debian packaging.

[2020-08-19 04:08] mdr405 opened #509 "Can't download new zim files"
I am running windows 10 64bit and have the newest kiwix 2.03 (or something like that), and when I try to download any new zim file, it downloads only a few kb, then it changes to say "open", and since I don't have the file, when I click on open, the whole kiwix reader just closes down.

[2020-08-19 04:11] mdr405 opened #510 "Can the new kiwix open to a particular page?"
In the old version of kiwix for desktop (.9), when I opened the program, it would open to the first page of the most recent zim file that I was using. The new kiwix (2.0) doesn't do that, rather it requires you to choose a zim file every time I open it up. Is it possible to change and revert back to the old way?

[2020-08-19 05:54] kelson42 commented on #509
@mdr405 Thank you for our feedback. What fle do you try to download exactly? If you launch Kiwix frm te terminal, what kind of log do you get?

[2020-08-19 06:42] mjb2010 commented on #123
I am using kiwix-desktop_windows_x64_2.0.3.zip on Win7 and am also getting crashes upon closing the app.

It does not happen every time, and it does require using a zim file. I have 3 zim files (wiktionary_en_all_maxi_2020-07.zim, superuser.com_en_all_2020-04.zim, wikipedia_en_all_maxi_2020-06.zim), and the crash happens for all of them. In my torrent client, I re-checked the zim files and they al

[2020-08-19 12:08] mdr405 commented on #509
I have tried to download the full english wikipedia nopic with index, as
well as the fulltext of Hebrew wikipedia nopic with index.

I'm sorry, but I am not tech savy enough to understand your second
sentence. What does it mean to launch Kiwix from the terminal, and where
do I find a log?

Thank you very much.

On 8/19/2020 1:54 AM, Kelson wrote:

[2020-08-19 13:05] mgautierfr commented on #507
@kelson42 may confirm, but I think we check all zim file before putting them on the server.

[2020-08-19 20:34] mdr405 commented on #509
I realized that the problem was, that I changed the default download location to my D: drive (a second internal hard drive), and when I reset it to the default it works fine. However, that itself is a bug, that I can't download zim files to the directory I chose using the settings tab. Thank you.

[2020-08-20 06:19] kelson42 commented on #509
@mdr405 Might that be your D: drive is read-only or formated in fat32?

[2020-08-20 12:13] mdr405 commented on #509
My D: drive is not read-only, and it is formatted NTSF not fat32.

Thank you.

On 8/20/2020 2:19 AM, Kelson wrote:

[2020-08-20 17:19] aweasadbek commented on #507
Anyone can confirm that http://download.kiwix.org/zim/wikipedia/wikipedia_en_all_maxi_2020-07.zim is cont corrupted.
Please help, cause I have low internet speed to re-download!

[2020-08-21 13:11] aweasadbek opened #511 "Content is missing"
When I open [Wikibooks](http://download.kiwix.org/zim/wikibooks/wikibooks_en_all_maxi_2020-08.zim),[Wikiquote](http://download.kiwix.org/zim/wikiquote/wikiquote_en_all_maxi_2020-08.zim), [Wikispecies](http://download.kiwix.org/zim/wikispecies/wikispecies_en_all_maxi_2020-08.zim) using kiwix-desktop I can only view the main page, all other pages are missing. From kiwix-server "Welcome" page it can

[2020-08-22 15:45] #511 closed, assigned to kelson42

[2020-08-23 08:31] runikk opened #512 "Search bar doesn´t appear in Kiwix 2.0.4/3"
Hi, I downloaded Kiwix desktop windows version from your webpage yesterday, the packet is called "kiwix-desktop_windows_x64_2.0.4" I excuted it, and I tried to open "wikipedia_es_all_maxi_2020-08.zim" but the search bar doesn´t appear.

Then I installed kiwix extension 2.5.0.xpi for Firefox, and it worked fine, the search bar appeared.

Also, I could see, that in the desktop version, if I go to He

[2020-08-23 17:16] runikk commented on #512
Hi Kelson, thank you. I found what happened to me.

Time response of the searching.

I used to use an old version of kiwix, and it was really fast, but the new 2.0.4 version stucked with two searchs and I thought that I wasn´t using the righ place to search, but in fact, I wasn´t waiting enough time for the results.

I did the same searching in firefox, and it shows the first 50 results very quick

[2020-08-23 17:25] kelson42 commented on #512
If you type "cienca" you should get quickly the list of article titles with that word, like with Kiwix JS.

Your seconf screenshot shows the fulltext search which is slower but does not exist at all in Kiwix JS. We work currently to make it faster.

[2020-08-24 14:15] #512 closed

[2020-08-24 17:48] ElXreno opened #513 "Kiwix always crashing after exit on Fedora"
I'm using `kiwix-desktop` from Fedora repositories.
Version: 2.0.4-1.fc32

Backtrace:
[code]

[2020-08-24 18:25] kelson42 commented on #513
@ElXreno Thank you for your bug report, which ZIM file is in your local library?

[2020-08-25 04:15] ElXreno commented on #513
@kelson42 [this](https://dumps.wikimedia.org/other/kiwix/zim/wikipedia/wikipedia_ru_all_mini_2020-08.zim).
But this problem was also without the ZIM file when I first started the application and then closed it.

[2020-08-25 06:28] kelson42 commented on #513
@ElXreno Ok. We don't package for Fedora, so probably you should check first if the problem is not with the package. Then, it would be helpful If you could try please with the appimage we publish and with the flatpak package (via flathub or not). Terminal log would be helpful as well.

[2020-08-25 06:56] ElXreno commented on #513
@kelson42 I checked the flathub and appimage build, they do not have this problem.
I will write to the maintainer about this problem, thank you for your help!

Just in case, I attach the log from the terminal:
[code]

[2020-08-25 06:57] kelson42 commented on #513
@ElXreno Thank you for checking this. @xvitaly is the maitainer of Fedora packages.

[2020-08-25 06:58] ElXreno commented on #513
@kelson42 yeah, I wrote him. Waiting for response.

[2020-08-25 06:58] kelson42 commented on #513
@mgautierfr You use Fedora as well, have you the same problem wiht the Kiwix Desktop Fedora package?

[2020-08-25 07:51] mgautierfr commented on #513
Yes, I confirm that it exits with a crash.

[2020-08-25 09:03] xvitaly commented on #513
Fedora maintainer here. I think this crash is related to `-D_GLIBCXX_ASSERTIONS`. Not a build issue.

[2020-08-25 09:12] xvitaly commented on #513
Yes. I can confirm crash on exit. Thanks for your bug report.

[2020-08-25 09:16] kelson42 commented on #513
@xvitaly I guess I can close the ticket here if this is a Package specific compilation problem?

[2020-08-25 09:17] xvitaly commented on #513
No. This crash is related to KiwixApp destructor.

[2020-08-25 09:19] kelson42 commented on #513
@mgautierfr You understand the problem?

[2020-08-25 09:21] ZaWertun commented on #513
gdb bt:
[code]

[2020-08-25 09:23] xvitaly commented on #513
Backtrace:

[code]

[2020-08-25 09:34] ElXreno commented on #513
Also my backtrace (another, with all required debuginfo and debugsource packages):

[code]

[2020-08-25 12:10] kelson42 commented on #513
I have the same problem with Ubuntu 20.04 and our PPA version:
[code]

[2020-08-25 12:11] kelson42 commented on #513
I guess this is related to the version of `aria2c`. I have the version `1.33.1`.

[2020-08-25 12:14] kelson42 commented on #503
We have now the libkiwix in the PPA, so we just need the package for kiwix-desktop for bionic.

[2020-08-25 13:21] mgautierfr commented on #513
I don't think the problem on Ubuntu and Fedora is the same.

[2020-08-25 14:14] mgautierfr commented on #513
@xvitaly Is it possible to test with the change in kiwix/kiwix-lib#411 ?

[2020-08-25 14:39] xvitaly commented on #513
Sure: https://koji.fedoraproject.org/koji/taskinfo?taskID=50141416

[2020-08-25 14:46] xvitaly commented on #513
Still crashing.

[2020-08-25 14:50] xvitaly commented on #513
[code]

[2020-08-25 14:52] kelson42 opened #514 "Kiwix always crashing after exit on Ubuntu"
With my own compilation of kiwix-desktop with Ubuntu 20.04 (but the PPA version crashes as well):
[code]

[2020-08-25 14:53] kelson42 commented on #513
Here the ticket for the crash on Debian #514

[2020-08-25 17:11] xvitaly commented on #513
Proposed by @ZaWertun patch[1] fixed this issue:

[code]

Patched test build: https://koji.fedoraproject.org/koji/taskinfo?taskID=50144862

[2020-08-25 18:04] ZaWertun commented on #513
Just changed patch a bit - I'm resetting CURLOPT_ERRORBUFFER to the default value right in the constructor after using it.

[2020-08-26 08:35] xvitaly commented on #513
Rebuilt Fedora packages with proposed patch from PR: [F32](https://bodhi.fedoraproject.org/updates/FEDORA-2020-5874f0c887), [F33](https://bodhi.fedoraproject.org/updates/FEDORA-2020-d76a90f4a7).

[2020-08-26 08:38] mgautierfr commented on #513
It would be nice to really know what happens here.
I also have a workaround (allocate the stringstream on the heap instead of the stack).
But it is probably not the root cause of the issue.

This is probably a wrong write of something that mess with the stack. Moving a thing out of the stack just avoid that the write mess with this thing but not fix the real issue.
Setting the ERRORBUFFER probably

[2020-08-26 09:18] mgautierfr commented on #513
Ok, I (mostly) agree with the proposed patch.
I've totally missed that we set the ERRORBUFFER with a stack allocated buffer in the constructor.
I will have better patch (keep the buffer to have the potential error message) but resetting the ERRORBUFFER to nullptr is a valid patch. My previous comment is wrong.

Thanks a lot @ZaWertun to have found it.

[2020-08-26 12:08] mgautierfr commented on #513
Last push kiwix/kiwix-lib#411 should fix the problem.

[2020-08-26 12:18] xvitaly commented on #513
@mgautierfr Can you make a new release of kiwix-lib?

[2020-08-26 12:24] mgautierfr commented on #513
Yes, I soon it is confirmed it fixed all our issues, I merge and do a new release.

[2020-08-26 12:29] xvitaly commented on #513
Great. Thank you.

[2020-08-27 08:17] mgautierfr commented on #507
md5sum of wikipedia_en_all_maxi_2020-07.zim on the server is 5957e19fec43cc3e7304049b1273ad67

[2020-08-27 13:27] kelson42 commented on #514
The problem was because of a strange self-compiled old version of libaria2

[2020-08-27 13:27] #514 closed

[2020-08-28 17:55] benbrockn opened #515 "Major Bug - "Delete" button in Kiwix Reader (Linux)"
So, I downloaded some content and tested Kiwix Reader on my EndeavourOS (arch-based) Linux system. In your Kiwix library, it lists all of your .zim files and when you right-click, you can select "Open" or "Delete".

There is no "Remove from Library button", only a "Delete" button, and when you select delete, it completely deletes it from your hard drive. "Okay", I hear you all say, "What's the act

[2020-08-28 19:29] kelson42 commented on #515
@benbrockn It is "impossible" on GNU/Linux to have an escalation of permission without asking the password to the user... so I don't know what you do but we don't do that.

[2020-08-28 19:32] benbrockn commented on #515
I'm glad that the server doesn't allow it. Why does the reader delete files, even when they are protected by root? I can record a video via obs if you want.

[2020-08-28 19:43] kelson42 commented on #515
This is not possible, maybe you have started kiwix-desktop as root, or your user is in the `root` group, etc... this might have many explanation... but this is not related to Kiwix desktop.

We should open a dedicated ticket to your remark about "deleting from the library" vs "deleting from the filesystem"

[2020-08-28 20:04] benbrockn commented on #515
I just recorded a video since it's easier, see here: http://www.mediafire.com/file/8ckkjvg8on9imta/2020-08-28+15-54-13.mkv/file

[2020-08-29 05:48] kelson42 commented on #503
@legoktm This is great. Thank you.
@LAfricain Let us know please if you have any problem

[2020-08-29 06:08] kelson42 commented on #507
We don’t have this ZIM file hosted, bit this is improbable that the ZIM file was corrupt.

[2020-08-29 06:08] #507 closed

[2020-08-29 06:09] kelson42 commented on #513
Fixed in the libkiwix

[2020-08-29 06:09] #513 closed

[2020-08-29 10:36] LAfricain commented on #503
I have not yet a kiwix-desktop package for bionic.

[2020-08-29 15:50] kelson42 commented on #123
Finaly, we strongly believe to have fixed this bug. It will be available in Kiwix Desktop 2.0.5 next week. Considering that meanwhile win7 has been put out of support by MS, we won’t investigate anyway if we are so unfortunate that the problem would still be there. If a similar bug impacts Win 10, then a new ticket should be open please. I would like to thank all of you for your patience and help

[2020-08-29 15:50] #123 closed

[2020-08-29 15:53] kelson42 commented on #423
Probably a duplicate of #514

[2020-08-29 15:53] #423 closed

[2020-08-29 15:57] kelson42 commented on #493
We can not do more unfortunately.

[2020-08-29 15:57] #493 closed

[2020-08-29 16:00] #431 closed

[2020-08-29 18:10] benbrockn commented on #515
I was talking with some other Linux guys, but if the program is run by "user1" and "user1" owns the directory that the files are located, then the program has rights to delete anything in that directory (as the user would also have rights to do the same), regardless of the owner or group that the file belongs to.

E.g., "user1" can go into a "user1" directory and delete any "user1" or "root" files

[2020-08-30 14:22] #515 closed

[2020-08-30 14:24] kelson42 opened #517 "Allow to delete from local library only"
Currently we can only delete from the fs and from the library.

Open after talk on #515

[2020-09-01 09:28] autolyk commented on #492
@kelson42 Unfortunately, it's still there :(

[2020-09-01 11:19] kelson42 commented on #503
@legoktm It is true that I still see nothing in https://launchpad.net/~kiwixteam/+archive/ubuntu/dev. You know why?

[2020-09-01 11:24] LaurentBonnaud commented on #486
As suggested in other bug reports, running

`MESA_LOADER_DRIVER_OVERRIDE=i965 ./kiwix-desktop_x86_64_2.0.4.appimage`

does work on my Ubuntu 20.04 system with an Intel GPU.

[2020-09-01 13:14] #492 closed

[2020-09-01 21:31] legoktm commented on #503
It's under the name `kiwix`, where it has the version `2.0.4+git202009011314.8bfbc1e~bionic`.

And it'll appear in the release PPA whenever a new tag/release happens.

[2020-09-02 08:14] #503 closed

[2020-09-08 23:11] BigKananga commented on #123
It seems that 2.0.4-1 fixed the problem. No crash so far.

A few words to Win7: you can still get updates easily until 2023. And since Kiwix is a offline application, there is nothing why not using it on Win7.

[2020-09-09 08:12] kelson42 commented on #123
@BigKananga Nice to hear it works now. Only "volume license customers" get updates until 2023, see https://en.wikipedia.org/wiki/Windows_7. You can use Kiwix on Windows 7, you can even provide patches if necessary... but we don't support it anymore, which means we don't recommend to use it and we don't invest resources on it.

[2020-09-13 09:11] wdscxsj opened #520 "Fail to show many English characters in Chinese Wikipedia"
- Kiwix version: 2.0.4
- Affected local file: wikipedia_zh_all_maxi_2020-07.zim
- OS: Windows 10 Enterprise 2004 Simplified Chinese Edition

On my machine, Kiwix often fails to show English characters in the Chinese Wikipedia zim.

For example, this is the display of the online item "纽约" (New York) in Chrome:

![ny-chrome](https://user-images.githubusercontent.com/863369/93014443-bfa71180-f5e3-11e

[2020-09-13 09:24] kelson42 commented on #520
@wdscxsj Thank you fr your bug report. To better see the HTML of an article you can start the server mode and look via your usual Web browser.

[2020-09-13 09:46] wdscxsj commented on #520
@kelson42 Thank you so much for the pointer! It's quite surprising to see the English characters are missing from the DOM:

![1](https://user-images.githubusercontent.com/863369/93015059-bd938180-f5e8-11ea-998a-a19d5dd97e48.png)

and the page source:

![2](https://user-images.githubusercontent.com/863369/93015055-b9fffa80-f5e8-11ea-848c-f60e801e993a.png)

Any way to directly check the zim data?

[2020-09-13 12:18] kelson42 commented on #520
/move openzim/mwoffliner

[2020-09-13 12:18] #520 closed

[2020-09-15 03:40] ciphergoth opened #521 "Cannot open wikipedia_en_all_maxi_2020-08.zim: bad allocation"
I torrented `wikipedia_en_all_maxi_2020-08.zim` to a plug-in hard drive, and drag-dropped it onto `kiwix-desktop.exe`, but I get the error:

        Cannot open F:\Paul\Wikipedia\wikipedia_en_all_maxi_2020-08.zim: bad allocation

Kiwix 2.0-rc3, Windows 10. Let me know if there's any other info you need to help diagnose - thanks!

[2020-09-15 03:49] ciphergoth commented on #521
Apologies, I thought I was running the most recent version of Kiwix, but it turns out I was using one that I downloaded over a year ago. This works fine on Kiwix-2.0.4-1.

[2020-09-15 03:49] #521 closed

[2020-09-17 10:07] mgautierfr commented on #455
Which zim file are you speaking about ? (still wikipedia_ru_computer_maxi_2020-01.zim ?)
We do nothing at all about article's sections in kiwix-desktop.

[2020-09-17 10:17] kelson42 commented on #455
@mgautierfr I think this ticket is only about requesting a new context menu entry "Open Link in New Tab (background)". Not sure if this feature exists at all in Firefox.

[2020-09-25 18:47] mjb2010 commented on #123
With 2.0.4-1, the problem was resolved for me, as well. Thanks for this.

[2020-09-28 10:52] Popolechien opened #523 "Kiwix-serve not starting on K-Desktop 2.0.4 on Windows10"
Tried on 2 different computers and got the same `an error has occured` message.

[2020-09-28 10:56] kelson42 commented on #523
@mgautierfr We have again a problem with kiwix-serve on Windows. We will have now to fix this ticket, #477. @Popolechien Would you be able please to download the latest kiwix-tools for windows and let us know if kiwix-serve works "at all" for Windows?

[2020-09-28 11:24] Popolechien commented on #523
Downloaded kiwix-tools_win-i686-3.1.2-3.zip  and launched Kiwix-serve: did not get an error message, but did not get anything working either. I checked running tasks and nothing appeared. I did get a Windows security warning that prevented execution, but then when I went forward nothing really happened.

[2020-09-28 11:27] kelson42 commented on #523
@Popolechien This confirms my guess that `kiwix-serve.exe` is not working at all!

[2020-09-28 12:41] mgautierfr commented on #523
@Popolechien How do you launch kiwix-serve ?

[2020-09-28 12:42] Popolechien commented on #523
@mgautierfr Double-click on it. Do you want me to try command line launch?

[2020-09-28 12:47] mgautierfr commented on #523
`kiwix-serve` without argument (what is done double-cliking on it) says you that you need to add argument, print help and exit. It is normal that nothing happen.

Can you run it from command line ?

- run `cmd`
- type `cd c:\path\to\directory\containing\kiwix-serve`
- type `kiwix-serve` (should print help message)
- type `kiwix-serve -p 8080 path\to\a\zim_file.zim` and then try to access `http://l

[2020-09-28 12:58] Popolechien commented on #523
w00t! That works.

[2020-09-28 13:00] kelson42 commented on #523
@Popolechien OMG... we have not beeing good on that one.
@mgautierfr Good point! So luckily the problem seems only being the kind of interface with the binary. That does not change anything for the user... but this will be easier to fix.

[2020-09-28 13:07] mgautierfr commented on #523
Have you tried with the kiwix-serve you have downloaded (kiwix-tools_win-i686-3.1.2-3.zip) or the kiwix-serve packaged with kiwix-desktop (in same directory) ?

[2020-09-28 13:15] Popolechien commented on #523
Works in both cases.

[2020-09-28 13:34] mgautierfr commented on #523
I have no problem on my side using `kiwix-desktop_windows_x64_2.0.4-1` (and a virtual machine).
Just to be sure, have you zim file in the library (displayed in kiwix-desktop) ?

[2020-09-28 13:53] kelson42 commented on #523
@Popolechien Would you be able to give a bit more details about what you are doing and getting please?

[2020-09-28 14:02] Popolechien commented on #523
Well unfortunately no: I launch `kiwix-desktop_windows_x64_2.0.4-1`, then go to `Local Kiwix Server` in the settings and click on Start Kiwix Server and get the standard error message. Nothing less, nothing more.

[2020-09-28 14:21] mgautierfr commented on #523
If I have no zim files on my local library I have indeed a error message when I try to launch a server.
This make sense as the local server as no files to serve and so exit early.
The check on kiwix-desktop side to verify that kiwix-serve is correctly run fails as kiwix-serve already stop.

@Popolechien is it your case ?

Whatever if this is the root cause of this issue, we should deactivate the l

[2020-09-28 14:26] Popolechien commented on #523
I tried that too - having zim files in the same folder as Kiwix-serve, or downloaded from the application. Open or closed. It always gives me the same `An error has occured` message

[2020-09-29 13:54] kelson42 commented on #523
It seems to work fine for me as well.

[2020-09-29 13:55] kelson42 commented on #523
@mgautierfr But this is not normal:
* To not know more what goes wrong
* That kiwix-serve does not start properly without ZIM files

[2020-09-30 15:21] kelson42 commented on #523
We should stop here to use `kiwix-serve.exe` and use directly the HTTP daemon provided by Kiwixlib.

[2020-10-01 09:54] rocky-III commented on #461
Hi,
first of all: I LOVE KIWIX - thanks so much, I´, using it for quid some time now.

Now I want to use kiwix for offline content on a LIVE USB MX-Linux system with persistent. https://mxlinux.org/
unfortunate this does not work - I can install kiwik by appimage or flatpack and the app does start as well. I can download content but if I try to open the downloaded and installed ZIM files kiwix cra

[2020-10-01 10:21] kelson42 commented on #461
@rocky-III Can you please open a new ticket with the exact step-by-step procedure you do and then the result? We don't need the whole story we just need one concrete example of something not working, but in detail.

[2020-10-01 10:24] rocky-III commented on #461
will open a new ticket - what kind of details you need? is there e.g. a log file I could look for?

[2020-10-01 10:25] kelson42 commented on #461
@rocky-III For example if it crash, what is written on the terminal.

[2020-10-01 12:21] LAfricain opened #524 "Kiwix from ppa crashes on Ubuntu 20.04"
When I try to open a zim (Wikipedia from 2018), kiwix crashes with this error:
[code]

[2020-10-01 12:23] LAfricain opened #525 "Kiwix icon low resolution"
The kiwix icon on Ubuntu 20.04 installed with the ppa have a bad resolution.
![kiwix](https://user-images.githubusercontent.com/19690477/94808616-ada1dd00-03f1-11eb-9779-e7889f4bbc2c.png)

[2020-10-01 12:25] kelson42 commented on #524
@LAfricain We publish thousands of Wikipedia ZIM files per month, this is not specific enough. Is that file still online? If "yes" what is the URL?

[2020-10-01 12:27] LAfricain commented on #524
No it's not online, but I have the same issue with my other "old" wiki. May I try with an new wiki?

[2020-10-01 12:28] kelson42 commented on #524
@LAfricain Please try with a new ZIM file. If it work with a new ZIM file then I will ask you to upload one of the problematic file somewhere online, otherwise we won't be able to do anything.

[2020-10-01 12:51] kelson42 commented on #525
@legoktm This is something in the deb packaging I guess, you can point to a picture? Could we simply put a higher resolution?

[2020-10-01 16:42] legoktm commented on #525
The Debian packaging doesn't do anything special, it just uses the from `resources/icons/kiwix`.

[code]
I'm guessing @LAfricain has an HDPI display, maybe with some scaling enabled?

https://specifications.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html suggests that we could also provide an SVG, which I'd hope fixes any resolution issues.

[2020-10-02 07:09] LAfricain commented on #524
I download wikiquote and it's not working, with a new zim kiwix crashes too.

[2020-10-02 07:21] kelson42 commented on #524
@legoktm I confirm the behaviour with the `dev` PPA, one reproduction case:
[code]

Does not happen at all with git master compiled locally

[2020-10-02 07:25] kelson42 commented on #524
PPA kiwix-serve seems to work well, so probably not related to libkiwix/libzim.

[2020-10-02 07:29] kelson42 commented on #524
@mgautierfr This is the backtrace
[code]

[2020-10-02 14:23] gnusupport opened #526 "meson.build:28:0: ERROR: Native dependency 'libzim' not found, yet it does exists"
I have installed "libzim" in /package/lib/libzim and then stowed it by using stow to /ust/local/lib and I did "ldconfig" after. I can see:

/usr/local/lib/libzim.so  /usr/local/lib/libzim.so.6  /usr/local/lib/libzim.so.6.2.2

there.

Then I went to kiwix-lib directory, and tried:

meson --prefix=/package/lib/kiwix-lib . build

but I got this:

meson --prefix=/package/lib/kiwix-lib . build
The Meso

[2020-10-02 14:36] kelson42 commented on #526
@legoktm Might that be that we have forgotten to package th `.pc` file for the libzim?

[2020-10-02 14:36] kelson42 commented on #526
/move openzim/libzim

[2020-10-02 14:37] #526 closed

[2020-10-02 15:29] mgautierfr commented on #524
The crash is on Qt side, but it is not possible to tell the root cause for now.
I see no frame related to kiwix-desktop in the backtrace. And a locally compiled kiwix-desktop (with same Qt version) work.

[2020-10-03 13:20] kelson42 commented on #524
@mgautierfr Thank you for the test with the same version of Qt, this one might not be trivial to fix.... ;(

[2020-10-04 05:28] gnusupport opened #527 "cannot start appimage, it should not depend of my OS (Hyperbola GNU/Linux-libre)"
admin-> ./kiwix-desktop_x86_64_2.0.4-1.appimage
./kiwix-desktop_x86_64_2.0.4-1.appimage: /usr/lib/libQt5Core.so.5: version `Qt_5.9' not found (required by ./kiwix-desktop_x86_64_2.0.4-1.appimage)
./kiwix-desktop_x86_64_2.0.4-1.appimage: /usr/lib/libQt5Core.so.5: version `Qt_5.9' not found (required by /home/data1/protected/tmp/.mount_kiwix-YFCNu3/usr/bin/../lib/libQt5WebEngineWidgets.so.5)
./kiwix

[2020-10-04 07:31] kelson42 commented on #527
@mgautierfr why there is such a dependence with the system?

[2020-10-05 10:05] mgautierfr commented on #527
One possibility is that we generate the appimage on a "recent" ubuntu distribution (bionic) to use available Qt packages. On old distribution the glibc may not be available (not the needed version). But bionic glibc is 2.27 and Hyperbola glibc seems to be 2.30 (https://www.hyperbola.info/packages/core/x86_64/glibc/). So it should not be this problem.

One another possibility is that the system is

[2020-10-05 10:41] gnusupport commented on #527
* Matthieu Gautier <notifications@github.com> [2020-10-05 13:06]:

My system is 64 bits.

I see Qt files missing, and if you make appimage only for Ubuntu, that
narrows the usability, isn't it?

I was expecting I will get everything in the appimage required to be
run.

[2020-10-05 12:13] mgautierfr commented on #527
narrows the usability, isn't it?

run.

We are not doing the appimage only for ubuntu. We are doing the appimage on ubuntu.
The appimage is containing (should contains) everything but the low glibc/libc++ libraries (and opengl drivers, ...).
So the only known constraint is that your (running) glibc must support our (building) glibc.
And it should be the case as you are using a glibc 2.30 and we ar

[2020-10-05 12:33] gnusupport commented on #527
* Matthieu Gautier <notifications@github.com> [2020-10-05 15:14]:

Obviously it is asking for Qt.

I mean that.

[2020-10-05 13:53] mgautierfr commented on #527
The first error is about Qt (`/usr/lib/libQt5Core.so.5`) and we should load the packaged one (I've check `libQt5Core.so.5` is present in the appimage). The question is why we are not loading it.
The other errors are about ` /lib/libm.so.6` and `/lib/libc.so.6` clearly stating that `version CXXABI_1.3.11` and `version GLIBC_2.27` are not found.

The error message may mislead us. Maybe we are trying

[2020-10-05 14:49] mgautierfr commented on #527
@gnusupport What is your installed version of glibc ?
From https://www.hyperbola.info/packages/core/x86_64/glibc/ it seems that last version is 2.30 but I cannot found in the mirror. The "download from mirror" link is broken and in https://repo.hyperbola.info:50012/gnu-plus-linux-libre/stable/core/os/x86_64/ there is only 2.25