[2020-10-05 15:35] gnusupport commented on #527
* Matthieu Gautier <notifications@github.com> [2020-10-05 17:50]:

Name                     : glibc
Version                  : 2.25-1.hyperbola8
Beschreibung             : GNU C Library, with OpenRC support

[2020-10-05 16:09] mgautierfr commented on #527
So we know what is the problem. You glibc is too old for what we package (or we package to a system to recent)

You can try to update you system to glibc2.30 if possible (It may need a full update of your system. I don't know about Hyperbola policies about update).
Or we have to build (and package) on a older system (using older glibc). This is a known issue (https://github.com/kiwix/kiwix-build/p

[2020-10-05 16:37] #527 closed

[2020-10-05 18:24] gnusupport commented on #527
* Matthieu Gautier <notifications@github.com> [2020-10-05 19:10]:

OK, so problem with you package is my system, even though I can
normally import and run majority of software without problem, ah is
not serious.

System is working well. I need not update, will not do. I could
compile and build kiwix-serve, I will use that one.

Then I will see if I can compile Qt5 as that was major problem to make

[2020-10-05 18:42] probonopd commented on #527
Yes. E.g., using @azubieta's https://github.com/AppImageCrafters/appimage-builder it is possible to build AppImages that bundle _everything_. (Whether this is a good idea in all cases is another question.)

[2020-10-06 04:07] azubieta commented on #527
With a great power comes a great responsibility. Bundling everything means that also critical libs such (as libssl) are also included. This means that the developer must keep those libs up to date on every release. That can be done with out stress with a simple CI tool such as Github Action, Travis or something else.

Let me know if you need help on this task.

[2020-10-06 08:13] mgautierfr commented on #527
Good to know. I will remember this if I have problem when I try to move to `appimage-builder` (if we are moving to it) :)

[2020-10-07 10:55] LAfricain commented on #524
Hi,
I just pushed kiwix for focal (the same as for 18.04) on my ppa. It's working well.

[2020-10-07 19:20] ghost opened #529 "unnecessary images loaded from wikimedia"
When I use kiwix-serve on Windows and open any article, I noticed in network monitor or via umatrix that upload.wikimedia.org two images are being loaded, which even if I let them to download, do not appear in article ever, meaning they are useless:
`https://upload.wikimedia.org/wikipedia/commons/d/d6/Lock-gray-alt-2.svg`
`https://upload.wikimedia.org/wikipedia/commons/6/65/Lock-green.svg`

[2020-10-08 05:31] kelson42 commented on #529
@NijazM which content is that exactly?

[2020-10-08 21:20] NijazM commented on #529
wikipedia_en_all_maxi_2020-07.zim

[2020-10-12 08:23] jatinverma12 commented on #499
I want to work on this issue. May I?

[2020-10-12 08:28] kelson42 commented on #499
@jatinverma12 You are welcome. Please describe here first how your solution would look like.

[2020-10-12 09:03] jatinverma12 commented on #499
I am new to this repo. Interested to contribute so I was searching for good first issue and came across this. I will try to look into the code and try to fix it.

[2020-10-13 08:52] Diminon opened #530 "Crash with WPRU on Windows"
Crash when trying to open a particular zim

Kiwix Version: 2.0.4 Windows10 crashes when opening Wikipedia 30 GB 2020-10-07

**CPU=AMD A8-7680 Radeon R7, 10 Compute Cores 4C+6G 3.5 GHz
RAM=8GB
OS=Win10 x64**

_! Kiwix is installed on the second drive (not on the system one)_

**Drive C Win10 (SSD 128 GB Free 41,9 GB)
Drive D Kiwix+zim file (HDD, GPT, 3 TB Free 1,98 TB)**

[2020-10-13 08:55] kelson42 commented on #530
@Diminon Do you have problem with other ZIM files on the same place? Do you have problem with a ZIM file on an other disk?

[2020-10-13 12:08] Diminon commented on #530
All zim-files are in one place, in one directory. All other zim-files work fine, zim-files size is from 135 KB to 591 MB. File Wikipedia 30 GB 2020-10-07 Pictures, Fulltext index offline version of Wikipedia in Russian downloaded from torrent.

[2020-10-16 12:39] kelson42 commented on #523
@mgautierfr Can we close this ticket? Or do we depend on an unmerged PR?

[2020-10-16 13:51] kelson42 commented on #523
Fixed via #528

[2020-10-16 13:51] #523 closed

[2020-10-16 14:16] KW4NP commented on #393
This is affecting me as well on a brand new installation of linux mint 20 Cinnamon. Perhaps it is an environment issue but it seems to be affecting multiple common distributions, so that would seem to indicate that there is a bad interaction with Kiwix and the current drivers that needs to be fixed. Is libGL out of date?

./kiwix-desktop_x86_64_2.0.4-1.appimage

libGL error: MESA-LOADER: failed to

[2020-10-18 18:25] kelson42 commented on #529
/move openzim/mwoffliner

[2020-10-18 18:25] #529 closed

[2020-10-20 09:22] i-rebel-aj commented on #454
in tabbar.h what is the significance of m_settingsIndex? Documentation is not available for the same

[2020-10-20 11:59] mgautierfr commented on #454
It is used to keep track of the index of the setting page.
We use it to know if the current displayed page is a "classic" page, a setting page (equal to `m_settingsIndex`) or the library page (always 0).

[2020-10-20 15:34] i-rebel-aj commented on #454
I tried working on this issue: did `setMovable(true) `as you said QStackedWidget is not in sync.  I think we might need to define a new slot to sync QStackedWidget on `QTab::currentChanged` signal.

Furthermore, dragging the tabs to extreme right or left forces the application to close down.

Since all tabs are movable which includes content manager, **we will not be able to close a tab Placed at

[2020-10-26 15:29] kelson42 commented on #517
At the core of my thoughs about this problem we have the idea that if the content has been added manually (so download via a third party application), then it might be bold to just delete the file. But otherwise, this seems the best behaviour (at least per default).

I see these possible solutions:
* By deleting offer a choice between deleting from the library and deleting both from the library +

[2020-11-01 16:12] probonopd commented on #486
@stale

[2020-11-01 17:23] kelson42 commented on #486
@mgautierfr I there anything we can do here? Sounds there like an ubuntu configuration problem!

[2020-11-11 18:15] TheMageKing opened #532 "Let users autoseed bittorrent downloads"
Some users, myself included, like too seed the files we download from bittorrent. It would be nice if kiwix could provide a UI to let us do this.

I know that this would require changes in the library package as well, and will be filing an issue there, too

[2020-11-12 07:58] kelson42 commented on #532
See https://github.com/kiwix/kiwix-lib/issues/424

[2020-11-13 04:37] SpotBR opened #533 "How can i download all kiwix pages from an language?"
There is some way or some script that i can do it?

[2020-11-13 06:08] kelson42 commented on #533
This is not possible with Kiwix Desktop. But you can have a look to zimdump (zim-tools) or if you are a developer, tout the libzim and bindings.

[2020-11-13 06:09] #533 closed

[2020-11-13 09:42] Agetian opened #534 "No content shown for Bulbagarden"
I downloaded the latest version (identified as 2.0.3 in the About box) of Kiwix from the website, and downloaded the Bulbagarden package 2020.10 from the Kiwix website as well (tried both the "full" and "nopic" versions). When attempting to load the package in Kiwix, it displays only a single line for the root element of the MediaWiki:

![изображение](https://user-images.githubusercontent.com/2435

[2020-11-13 09:55] kelson42 commented on #534
This quite certainly a bug with the ZIM file itself, checking out...

[2020-11-14 03:53] Agetian commented on #534
Ok, thank you very much in advance for looking into it! Having an offline readable copy of Bulbagarden would be a valuable asset in my opinion :) As I understand from what I found online, this used to work in the past, so most likely something has changed with the website's API then or something like that that's breaking the ZIM dump. Sadly, I can't find a working copy of the previous ZIM builds f

[2020-11-16 11:20] kelson42 commented on #534
Newest ZIM file looks good https://mirror.download.kiwix.org/zim/other/bulbagarden_en_all_maxi_2020-11.zim. Should appear tomorrow in the library. And "yes" this was a regression.

[2020-11-16 11:20] #534 closed

[2020-11-16 11:23] Agetian commented on #534
Thank you very much for resolving this! I noticed that some other ZIM files are affected too with the exact same symptoms (e.g. the Gentoo one), hopefully this will resolve those as well as the ZIMs are updated. If I notice anything broken once the November update ZIMs are in, I'll open it as a separate ticker (probably on mwoffliner then, since it seems to affect the ZIM making process as opposed

[2020-11-18 06:13] kelson42 commented on #530
@Diminon We have a new version of this ZIM file http://download.kiwix.org/zim/wikipedia/wikipedia_ru_all_maxi_2020-11.zim and a new version of kiwix desktop for windows. Would you be able please to update both and tell us if you still have the problem?

[2020-11-19 04:58] legoktm commented on #477
Is kiwix-tools needed anymore after bbfbf2bf1eab766b0275f0f2850622a9c79cb3d8?

[2020-11-19 05:48] kelson42 commented on #477
@legoktm No, kiwx-tools is not necesary at all. We start the HTTP daemon directly via the libkiwix. Kiwix-tools should be removed from the dependences. This ticket is now invalid.

[2020-11-19 05:49] #477 closed

[2020-11-21 11:55] Popolechien opened #537 "Unable to download Kiwix-desktop Windows with Google Chrome on Windows 10"
I'm not even given the choice to confirm my choice. Download simply is a hard _No_ from Chrome
![image](https://user-images.githubusercontent.com/21675885/99876692-a67c9b80-2bf8-11eb-8c90-4c9da9febf37.png)

[2020-11-21 11:59] kelson42 commented on #537
@Popolechien what is the exact link you try to download?

[2020-11-21 12:10] kelson42 commented on #537
@Popolechien Pretty sure this is a problem at Chrome level. Probably because of https://github.com/kiwix/web/issues/126. Please confirm so I can close this ticket as duplicate.

[2020-11-21 14:53] Popolechien commented on #537
Downloading from http://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64.zip
Looks like 126 indeed

[2020-11-21 14:53] #537 closed

[2020-11-21 15:35] kelson42 commented on #530
@Diminon Any feedback?

[2020-11-21 15:58] kelson42 commented on #270
Closing that ticket. This ZIM file has many external dependences which stop it to display properly. Kiwix Desktop does not crash anymore, this is the most important.

[2020-11-21 15:58] #270 closed

[2020-11-21 16:15] kelson42 commented on #537
@Popolechien You mean https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64.zip ?

[2020-11-21 16:23] kelson42 commented on #524
@LAfricain I can not reproduce the problem with the latest 2.0.5 release. Would you be able to check again on your side please?

[2020-11-21 16:26] #486 closed

[2020-11-21 16:29] Popolechien commented on #537
Well both. The link used to be http, I moved it to https but the problem remained (as reported in https://github.com/kiwix/web/issues/126). Apparently the issue now is with the mirror link.

[2020-11-21 16:31] kelson42 commented on #537
@Popolechien Yes, we have many problems. But if HTTPS is used everywhere in www.kiwix.org, I will do my best to solve the others.

[2020-11-21 18:44] kelson42 commented on #230
By moving the library to Qt, the problem should vanish.

[2020-11-23 09:24] kelson42 commented on #524
@LAfricain Closing, feel free to reopen it if the problem is not solved on your end. Thx for the bug report.

[2020-11-23 09:24] #524 closed

[2020-11-23 09:25] kelson42 commented on #530
@Diminon Closing for the moment, please reopen if the problem is not solved on your end.

[2020-11-23 09:25] #530 closed

[2020-11-23 15:36] asashnov opened #540 "Codebase: emiting a signal forcedly from outside is a bad practice"
kiwix-desktop 'master' (830e19bb)

Found during working on #454

From src/zimview.cpp:
[code]

According to Qt documentation, this is a bad practice.
By signals, only the object itself should notify that its internal state has changed:

https://doc.qt.io/qt-5/signalsandslots.html

[2020-11-23 18:14] LAfricain commented on #524
Yes it's working! Thank you!

[2020-11-24 05:35] kelson42 commented on #540
@asashnov Fell free to propose an alternative if this helps to fix #454 or trivial to do.

[2020-11-25 12:16] asashnov opened #541 "Crash then typing in top search box while Settings are opened"
kiwix-desktop 'master' (830e19bb)

Found while research #454

## Steps to reproduce

1. Right-top menu, Settings
2. While Settings tab is open, type any symbols into search box on top.

## Actual result

Segmentation fault.

## Expected result

Search request should have no effect while Settings tab is opened;
or this Search box should be disabled.

## Additional info

[code]

[code]

The reason o

[2020-11-25 12:45] asashnov commented on #454
The fix depends on #541 as tabbar->widget(index)->getWebView()  and tabbar->currentWebView() used in several places in code, some of them start crashing when enable moving tabs.

[2020-11-26 09:29] kelson42 commented on #454
@asashnov Ok please provide a fix for #541 please.

[2020-11-26 09:30] kelson42 commented on #358
fade-out seems to need to reimplement our own analog of QTabBar so it can worth 10+ hours. I doubt if it really that important

Alternatively, we can do a research to see maybe that change will come in new versions of Qt; or file a bug otherwise, hope someone else will implement it

Also, I can search if any other open source application have it. Firefox and Chromium doesn't use Qt, but probably t

[2020-11-26 10:21] kelson42 commented on #358
@asashnov  I don't understand why you would need to subclass `QTabBar`. What is the problem exactly with the current PR? You apply a style to the `QTabBar::tab` which is only the text part of tab, so if the ext is short, the `QTabBar::tab` has a short width.. and so the fadout applies in the middle of the tab?

[2020-11-28 15:05] kelson42 commented on #230
Ticket will de facto vanish when we move the library to pure Qt.

[2020-12-01 12:24] kelson42 commented on #537
Mirror part should be solved now.

[2020-12-02 11:27] asashnov commented on #358
@kelson42 Yes, It would not be a big problem if fadeout applies to the end of the tab.  But tab text is aligned to center now, and it is not customizable with `text-align: left` because it is not supported by QTabBar (only by QPushButton and QProgressBar).
https://doc.qt.io/qt-5/stylesheet-reference.html#list-of-properties

[2020-12-02 11:30] kelson42 commented on #358
@asashnov Can you measure the width of the text and apply conditionaly the fadeout style?

[2020-12-02 11:46] asashnov opened #543 "Feature: Alt + <digit> to switch between tabs"
It would be nice to all a possibility to switch between opened tabs by
ALT + <digit> hotkeys, like it work in Firefox and Chrome.

For example, Alt+1 activates the first opened tab, Alt+2 activates the second, and so on.
Alt+0 activates the 10-th tab.

[2020-12-02 11:54] asashnov commented on #358
@kelson42 two things to consider here:
* on Mac and Linux the text in tab is centered (see screenshot)
* we cannot apply fadeout style to the individual tab, only to all of them.

Here is the screenshot from Linux, on Mac maybe similar:
![Screenshot from 2020-12-02 18-53-16](https://user-images.githubusercontent.com/5078434/100869467-ad948b00-34cf-11eb-8e02-ce4b2348d3f2.png)

[2020-12-02 11:56] asashnov commented on #358
We can carry about the selected tab only, by measuring text width and applying the style for long tab titles. But then we can see faded or not labels in the other (non-active) tabs depending on the selected.

[2020-12-02 11:57] asashnov commented on #358
Also, I looked through KDE screenshots in Google Pictures and haven't seen fade-out in tabs.

[2020-12-02 12:06] kelson42 commented on #358
@asashnov Th fade outapply to the roght of the text widget, there is no way to force its size so it fill the tab container?

[2020-12-02 12:18] asashnov commented on #358
@kelson42 The current style looks like to be applied using relative size:

[code]
So 0 is the beginning of text, 0.8 is 20% to the end, and 1 is the end:

![Screenshot from 2020-12-02 19-15-49](https://user-images.githubusercontent.com/5078434/100871543-0ade0b80-34d3-11eb-8d42-bcbf0dcb49b1.png)

(in this picture, the right leg of the second A in tab header is faded out).

[2020-12-02 12:32] kelson42 commented on #358
@asashnov I'm not sure to fully understand your last comment like an answer to my latest question... An other approach would be to put the fade-out on the cross picture and make the text going behind it

[2020-12-02 12:40] asashnov commented on #358
@kelson42 I'll see if I can expand the text widget to the whole tab header area.

[2020-12-02 17:02] asashnov opened #544 "Crash on closing empty tab after Settings opened"
Found on current 'master' (830e19bb)

## Steps to reproduce

1. Run the program
1. Open any file from library (it was 11 Gb EN Wikipedia in my case)
1. click + in tabbar to create an empty tab
1. From ... menu choose Settings to open Settings tab
1. Switch back to the opened file (Wikipedia in my case)
1. Again go to ... menu and choose Settings (nothing happens)
1. click X to close the empty tab

[2020-12-02 17:06] asashnov opened #545 "Usability: Settings tab should be activated if already opened"
Found in current 'master' (830e19bb)

## Steps to reproduce:

1. Run the program
1. Open any file from library (it was 11 Gb EN Wikipedia in my case)
1. click + in tabbar to create an empty tab
1. From ... menu choose `Settings` to open Settings tab
1. Switch back to the opened file (Wikipedia in my case)
1. Again go to ... menu and choose Settings

## Actual result

Nothing happens, the current t

[2020-12-02 21:38] gcast20 opened #546 "Cities Location dont show in article maps in German zim-file"
Zim-File: wikipedia_de_all_maxi.zim (current version from 2020-11)
Kiwix-Desktop: 2.0.3 (build date: Thu 07/02/2020)
Finding: look up the article for e.g., Madrid or Paris - the location of the city does not show up on the map near the top of the article. At certain specific, rather high zoom levels a red ring does show up, however.

[2020-12-02 21:49] gcast20 opened #547 "Missing Fonts for Hieroglyphs (Unable to display SVG)"
Zim-File: wikipedia_de_all_maxi.zim (2020-11) and wikipedia_en_all_maxi.zim (2020-09)
kiwix desktop 2.0.3 (Build Thu 07/02/2020)
Where the Egyptian hieroglyphs should be shown in the articles "Ägyptische Hieroglyphen" and "Egyptian hieroglyphs", respectively, error codes appear.

[2020-12-02 21:56] gcast20 opened #548 "Can't look up Berlin via Search Index"
zim-File: wikipedia_de_all_maxi.zim (2020-11)
kiwix Desktop 2.0.3 (build Thu 07/02/2020)
It is not possible to look up the city of Berlin in the current German wikipedia's zim-file. On typing Berlin in the search field, so many terms with "Berlin" appear - but not just "Berlin" by itself, that the whole drop-down menu is filled. In order to reach the article on Berlin, one must take a detour, e.g.

[2020-12-03 07:50] kelson42 commented on #548
/move openzim/libzim

[2020-12-03 07:50] #548 closed

[2020-12-03 07:51] kelson42 commented on #547
This is definitly a regression we should fix

[2020-12-03 07:54] kelson42 commented on #547
Might that be that Kiwix Desktop can not display SVG properly?

[2020-12-03 07:58] kelson42 commented on #547
@mgautierfr Looks like a Qt problem, but maybe something badly done on our side?

[2020-12-03 08:05] kelson42 commented on #546
@gcast20 I guess you mean the coordinates at the top right? I confirm they are missing. The offline version is based on the mobile version of Wikipedia which does not provide them, see https://de.m.wikipedia.org/wiki/Paris.

[2020-12-03 08:48] gcast20 commented on #547
@kelson42 same issue with kiwix for Android

[2020-12-03 08:57] kelson42 commented on #547
I believe this is a problem around the question mark. Moving the ticket to openzim/mwoffliner.

[2020-12-03 08:57] kelson42 commented on #547
/move openzim/mwoffliner

[2020-12-03 08:57] #547 closed

[2020-12-03 09:01] gcast20 commented on #546
@kelson42 yes, the coordinates at the top right.. The original mobile wikipedia, to me, looks ok - the red dot shows, there, where Paris is. The offline version does have something at that place, though: by zooming in sufficiently (see attachment) one can see that something that looks like a miniature scroll bar is covering the red dot. On playing with the zoom level (Ctrl+Mouse Wheel), there are

[2020-12-03 09:13] kelson42 commented on #546
OK, I get it: the red dot is somehow not displaying properly.

[2020-12-04 13:08] asashnov commented on #358
A style sheet can be applied only to a Widget.
But one tab in QTabBar is not a widget itself, it's a part of QTabBar.

There are 'Sub-Controls' and 'Pseudo States' which can restrict the appliance
of the style to specified parts of a widget:

https://doc.qt.io/qt-5/stylesheet-syntax.html

The tabs support the `:only-one`, `:first`, `:last`, `:middle`,
`:previous--selected`, `:next-selected`, `:sel

[2020-12-06 00:51] orionseye opened #550 "Zim wikidata & Wikipedia links"
May i ask, why Wikidata & Wikipedia links do not contain their URL in zim files?
I suppose, they have been placed there for 'further reading' or 'additional reading' and should be kept
![Clipboard02](https://user-images.githubusercontent.com/48511159/101268620-df2a8200-376d-11eb-85ff-d4f5c8c4d03e.jpg)

[2020-12-07 13:19] homeboy445 commented on #545
Hi there, I am completely new to this organization and would like to tackle this task but would need some guidance for the same. Thanks!

[2020-12-07 15:25] kelson42 commented on #550
/move openzim/mwoffliner

[2020-12-07 15:25] #550 closed

[2020-12-09 11:21] asashnov commented on #545
@homeboy445 The process is quite straight-forward. Once you are able to build and run 'master' branch locally, you should make a new branch, put your fix there, and create a new pull request.

[2020-12-09 15:42] Popolechien opened #552 "Missing categories in Browse by Category list"
When trying to sort available files by category, several content categories are not listed and filterable, e.g. `videos`, `openedx`, `ted`, etc.
![image](https://user-images.githubusercontent.com/21675885/101652402-7b8aa800-3a3e-11eb-886c-c28f9252bd1f.png)

I am able to find TED videos, but considering the sheer volume of available file and the impossibility to sort I was not able to find any of t

[2020-12-09 15:44] Popolechien opened #553 "Sorting by Other category returns no result"
While this should be one of the most populated category, selecting `Other` in browse by category returns exactly zero files.
![image](https://user-images.githubusercontent.com/21675885/101652496-9826e000-3a3e-11eb-88f3-f4c2caf9eea3.png)

[2020-12-09 15:46] Popolechien opened #554 "In library, the two search boxes are confusing the user"
While looking at `All Files` I am dealing with hundreds of files if I am set to English. Typing a search for a given term should allow to filter results for that particular string.

[2020-12-09 15:48] Popolechien opened #555 "Rename "All files" to "Online files" in the sort menu"
`All files` is kind of misleading, at least for first-time users. `Online` is the opposite of `Local files` so there's some coherence to it.

[2020-12-09 16:41] Ambrevar opened #556 "Missing "printsupport" in .pro"
When packaging this for Guix, compilation failed with

[code]

Adding QT+= printsupport to the .pro file fixed it, as suggested in
https://stackoverflow.com/questions/19145763/qt-cannot-open-include-file-qprinter.

[2020-12-09 19:16] kelson42 commented on #556
Would you be able to make a PR?

[2020-12-10 08:07] kelson42 commented on #554
@Popolechien I guess you got confused beetween the content search and the library search box

[2020-12-10 08:08] kelson42 commented on #553
Works this morning, again a platform outage because of https://github.com/kiwix/maintenance/issues/162

[2020-12-10 08:08] #553 closed

[2020-12-10 08:18] kelson42 commented on #552
The categories are hardcode at the Kiwix level sofar. The library.kiwix.org does not deliver that information so far, see https://github.com/kiwix/kiwix-tools/issues/318. I believe we should quickly improve the hardcoded list to fill the gap by adding categories;
* TED
* Openedx
* Videos
* Gutenberg

[2020-12-10 09:02] kelson42 commented on #555
Kiwix Android has "Library" and "Download", might be even clearer?

[2020-12-10 09:17] Ambrevar commented on #556
Done in #557.

[2020-12-10 13:12] Popolechien commented on #552
Ah I see in https://github.com/kiwix/kiwix-desktop/blob/847dccddd80f31ddd3dc225216fa64b5be268acc/src/static_content.cpp
`//  PUSH("gutenberg"); // Gutenberg book has wrong tag`
`//  PUSH("phet"); // Phet books have no tags`
`//  PUSH("ted");  // Ted books have wrong tags`

[2020-12-10 20:16] Popolechien commented on #554
Correct. I guess the Enhancement should be "Search for a zim title while View is on the library, search _in_ zim files when view is in a zim." This of a sort of drop-down menu to toggle searc range but that's more clunky

[2020-12-11 07:50] deadlydud opened #558 "Kiwix desktop not honoring OS dark vs light theme"
Hello. When opening kiwix desktop, and clicking on the file dialog,
it opens dialog box that is near-unreadable when Kubuntu OS is set to dark theme.

Is there any export VAR=value that one can do before opening Kiwix to set kiwix into dark-theme mode?
perhaps something that QT would understand, ...
(I did not see such setting withing kiwix-desktop), I tried kiwix-desktop from both the
add-apt-rep

[2020-12-11 07:52] kelson42 commented on #558
@deadlydud Thank you for your bug report, but I believe this is a duplicate of #320

[2020-12-11 07:52] #558 closed

[2020-12-11 08:13] kelson42 commented on #554
@Popolechien What you propose is too complex IMO. Here is how the mockup looks like:
![image](https://user-images.githubusercontent.com/1029718/101879123-1b584b00-3b91-11eb-81e6-4bef162d068d.png)

[2020-12-11 08:38] Popolechien commented on #554
And here is what we have:
![image](https://user-images.githubusercontent.com/21675885/101881384-a2f38900-3b94-11eb-979b-25292af6f85a.png)

[2020-12-11 14:15] kelson42 commented on #552
OK, will check if the problem at ZIM level is still actual and do the necessary.

[2020-12-11 14:28] Popolechien opened #559 ""Service workers not supported" error message when opening zimit-generated content"
Tried generating a zim file from https://mesquartierschinois.wordpress.com, which yielded a 16Mb file. Tried to open it on Kiwix-Windows 2.0.5 and got the below error message.
The file can be read on android, but not on Kiwix-JS nor Kiwix-macOS

![101905438-c11eb080-3bb7-11eb-8079-add0a95f7b4d](https://user-images.githubusercontent.com/21675885/101914900-2f1da480-3bc5-11eb-822f-8ad74bf8911a.png)

[2020-12-11 14:29] kelson42 commented on #559
Duplicate of #487

[2020-12-11 14:31] Popolechien commented on #559
@kelson42 Close ticket then?

[2020-12-11 15:49] #559 closed

[2020-12-12 15:28] #556 closed

[2020-12-12 16:12] kelson42 commented on #552
@Popolechien I checked a bit:
* TED can be reintroduced, tags are OK now
* Openedx, tags are NOK (currently in `other`) but probably better like this considering that we have only a few of them? It as well a tech platform and probably end-user does not care about that. Maybe "Mooc" would be a better category.
* Videos does not exists at all as a category in ZIM file. I would wait to get the CMS to

[2020-12-12 16:44] Popolechien commented on #552
Yes openedx should be Mooc indeed.

[2020-12-16 13:16] mgautierfr commented on #555
"All files" also contains downloaded files. So "Online" would be misleading.

I agree with "Library". But "download" means "file currently downloading" for me.
Maybe "Library"/"Zim files" ?

[2020-12-16 13:44] Popolechien commented on #555
`Library` is fine by me and `Local files` also

[2020-12-18 15:42] Agetian opened #561 "Bulbagarden (December .zim file) shows less information than the previous build"
Not sure if it's an issue with the .zim file or with the application itself, but the latest .zim dump of Bulbagarden (e.g. the 2020-12 maxi version) either doesn't contain significant chunks of the original articles, or they're not displayed in the current Kiwix app for some reason. In particular, this can be easily seen by comparing the article for the Pokemon themselves (e.g. the article called

[2020-12-18 18:56] kelson42 commented on #561
/move openzim/mwoffliner

[2020-12-18 18:57] #561 closed

[2020-12-19 22:25] kelson42 commented on #541
@asashnov Would you be able to fix this ticket please?

[2020-12-19 22:40] kelson42 commented on #552
Gutenberg is fixed

[2020-12-23 05:10] FluffyCatCuddlyCat opened #563 "Wikipedia file (Zim) size has apparently decreased. After deleting some other files in the old download directory, Wikipedia has disappeared from "Local files" and needs to be redownloaded"
I downloaded a Wikipedia (_English - nopic - Dated: 2020-10-02 - 39 GB_), and kiwix was able to successfully open it for a few days. However, after some days, kiwix started crashing (_"kiwix has stopped responding"_) whenever I tried to open the Wikipedia. I noticed that, somehow, the Wikipedia file size in the download folder (file name: _wikipedia_en_all_nopic_2020-10.zim_) has changed to 29.2 G

[2020-12-23 09:14] kelson42 commented on #563
@FluffyCatCuddlyCat Thank you for your bug report. Would you be able to upload the corrupted zim file somewhere? So we can have a look?

[2020-12-23 10:55] FluffyCatCuddlyCat commented on #563
@kelson42 No, sorry. That would take a lot of time because my upload speed is around 0.2 MBps and the file is 29.2 GB. Actually, the issue can probably be solved by redownloading the file from kiwix but I would rather avoid doing that if possible.

[2020-12-23 10:58] kelson42 commented on #563
From what I understand, for some reason your ZIM file has been corrupted/truncated. This is not something that Kiwix does. For the moment we have no solution for incremental update. You will have to redownload the ZIM file fully. Because we can not do anything more on this ticket, I will close it.

[2020-12-23 10:58] #563 closed

[2020-12-27 19:00] rishabh-soni commented on #555
Hi, I am new to this project and wanted to work upon this issue, can someone tell me that do I have to rename All files to Online files or Library? And are there any tools for translating the languages, as some them are not supported by google translate?

[2020-12-28 09:12] kelson42 commented on #555
@rishabh-soni Thank you for proposing yourself, would like to get a bit more time to make a decision on this. Would you be able to pick an other ticket?

[2020-12-28 12:24] rishabh-soni commented on #555
@kelson42 Thanks a lot for responding, yeah sure I'll find some other issue to work upon in the meantime.

[2020-12-28 14:49] LosBagros opened #564 "Windows 10 dark mode"
Please add dark mode option to windows 10.
Thank you.
Los_Bagros

[2020-12-28 15:21] kelson42 commented on #564
Duplicate of #320

[2020-12-28 15:21] #564 closed

[2020-12-29 17:09] rishabh-soni commented on #543
Hi, I am working on this feature for sometime and have made it to work, but was unable to find a way to pass a parameter into an action, so I had to make 10 different actions namely ToggleTab1Action, ToggleTab2Action... and so on. So can someone please tell that is this solution okay or there's some another way to do it?

[2020-12-29 18:36] kelson42 commented on #543
@rishabh-soni Good, would you be able please to make a draft PR so we can see what you have done so far and better understand the work left to do?

[2020-12-30 07:54] jeexop opened #566 "Crash saying "No disk error" when start up, with External Hard Drive plugged in"
Firstly, thank the authors for providing this soft. Here I want to report a bug.

**Affected Version**: from `2.0` to the latest version `2.0.5`. (`2.0-rc4` doesn't have this bug.)
**OS**: Win 8.1 x64

**Steps to reproduce the bug:**
1. Store `.zim` file on an external hard drive (2TB).
2. Plug in the drive **before** launching kiwix.
3. Launch `kiwix-desktop.exe`.
4. About 90% of possibility, it

[2020-12-30 13:06] kelson42 commented on #543
@asashnov @mgautierfr would of of you please give a hint (see his PR)?

[2020-12-31 22:20] asashnov commented on #320
Seems we need to include some Qt style plugin into our AppImage:

https://wiki.archlinux.org/index.php/Uniform_look_for_Qt_and_GTK_applications#QGtkStyle

[2021-01-01 12:05] HanYoung-uwu commented on #498
I'd see this as a feature not implemented rather than bug. ZIM file format doesn't store language information so there isn't a reliable way to determine the language of a local file. The current language filter set the URL query language parameter, the language information is stored remotely. However, it's still possible to parse the file name and try to determine the language, then implement the

[2021-01-02 05:54] kaveinthran opened #570 "Making kiwix accessible to screenreaders, adopt inclusive design approach"
HI,

As a blind user, I find it disappointing that I can't use kiwix at all.
Previously, I've been using v0.9 and all the controls are accessible and the wikipedia pages are presented in a browser like form.
When I used the latest version, there's no way for me to read articles, search or access kiwix control through keyboard.
NO controls are visible to my screenreader and I can't operate the appl

[2021-01-02 16:15] asashnov commented on #570
As Qt documentation says, should not be difficult:

https://doc.qt.io/qt-5/accessible.html#making-applications-accessible

[2021-01-03 18:24] kelson42 commented on #570
@asashnov How much time would be needed to fix the problem?

[2021-01-04 10:14] mgautierfr commented on #498
Yes, it is. You can access it from the reader (https://github.com/kiwix/kiwix-lib/blob/master/include/reader.h#L184) and from the book (https://github.com/kiwix/kiwix-lib/blob/master/include/book.h#L56)
The local library also handle it and you can filter it using the language (as for the remote library) (https://github.com/kiwix/kiwix-lib/blob/master/include/library.h#L99)

---

In fact, the remot

[2021-01-04 12:08] HanYoung-uwu commented on #498
Sorry, I must have missed it. I'll try to implement it.

[2021-01-04 13:21] mgautierfr opened #571 "Fix fullscreen if there is no current webview (zim)"
The fullscreen functionality works by putting the current (zim) webview fullscreen.
But there is no safeguard if there is no current zim displayed and we end by passing a nullptr to the FullScreen class.

We have a technical bug (using a nullptr) and a functional point to fix (what to do if there is no current webview)

The simpler seems to deactivate the fullscreen if there is no current zim.
But

[2021-01-04 13:54] Ubuntu-2020 opened #572 "The arrangement of icons of browsers"
On the site [**kiwix.org**](https://www.kiwix.org/en/download/), browser icons and captions are not quite correctly placed. If it's not hard for you then arrange them in the correct order:
![Kiwix Extensions for webbrowsers](https://user-images.githubusercontent.com/65112331/103541909-cd3f1a80-4ea4-11eb-87bb-19635191281f.gif)

[2021-01-04 14:30] kelson42 commented on #572
/move kiwix/web

[2021-01-04 14:30] #572 closed

[2021-01-06 16:07] #541 closed

[2021-01-06 17:16] asashnov commented on #543
@rishabh-soni Answered in PR: https://github.com/kiwix/kiwix-desktop/pull/567#issuecomment-755436957

[2021-01-10 18:50] ploum commented on #499
On Ubuntu, search looks completely broken. It worked once, now it doesn’t without chnaging anything. No suggestion, no results.

[2021-01-10 19:21] kelson42 commented on #499
@ploum Sounds to be a different problem. I believe this zim file is quite old and we might have a problem of compatibility problem with these older files. Would you be able please to open an other ticket please?

[2021-01-13 11:22] #545 closed

[2021-01-13 11:54] kelson42 commented on #544
@HanYoung-uwu Maybe this is a ticket you would be interested to fix as well?

[2021-01-13 12:08] HanYoung-uwu commented on #544
Will check this, can't promise anything now since I have final exam next week.

[2021-01-13 15:23] kelson42 opened #575 "Don't save the .meta4 file in the download directory"
It should stay "invisible" for the user and therefore stored in the profile directory.

@Popolechien reported that it is saved in the same directory like the ZIM file.

[2021-01-13 16:44] Popolechien opened #576 "Improper top bar display on Windows 10 Pro"
Opening Kiwix-desktop (2.0.5) on Windows 10 pro led to the display issue whereby the top of the window covers the top of the screen.
![image007](https://user-images.githubusercontent.com/21675885/104481971-ab414880-55c6-11eb-9437-39c5f60fa7ea.png)

Expanding the window crashes the application, but clicking on the fullscreen icon solves the issue (the issue comes back when leaving fullscreen)

[2021-01-13 19:30] kelson42 commented on #576
@mgautierfr @asashnov I'm really clueless about that one. First time I see this on Windows with Kiwix. Looks like a bug in Qt.

[2021-01-14 10:55] kelson42 commented on #320
@asashnov I don't believe this is a problem (only) with appimage. This is a general problem (with self-compiled, deb packages, flatak), right?

[2021-01-16 09:32] kelson42 commented on #540
What could be an alternative approach?

[2021-01-16 09:36] kelson42 commented on #552
Looks like the last thing to do is to create a category “Mooc”. @rgaudin this will imply to change a few things on the ZIM toolchain. Do you believe this is a good idea?

[2021-01-17 12:59] Ubuntu-2020 opened #578 "White stripes on the left and right in Kiwix"
Previously, articles from Wikipedia were unfolding on the **full screen**:
![Kiwix=full screen](https://user-images.githubusercontent.com/65112331/104843497-a2f15200-58d3-11eb-892d-17b26f366d2f.png)

But now the width of the article in **Kiwix** (*.appimage) is about **1000 px**:
![Kiwix 1017px](https://user-images.githubusercontent.com/65112331/104843548-e3e96680-58d3-11eb-9746-8252db6d4863.png)

[2021-01-17 14:12] Ubuntu-2020 opened #579 "Support for the mhtml format in Kiwix"
Now the program **Kiwix** opens only **ZIM** files.
But the Wikipedia article can be saved in the webbrowser in ***.mhtml** or ***.html** or ***.mht** format.
So I want to suggest that **Kiwix** open files at least in the ***.mhtml** format.

[2021-01-18 11:32] kelson42 commented on #579
All of this can be done properly with a standard browser. I don't really see the value of Kiwix being able to do so.

[2021-01-18 11:33] #579 closed

[2021-01-18 11:33] kelson42 commented on #578
Ticket of `openzim/mwoffliner`.

[2021-01-18 11:33] kelson42 commented on #578
/move openzim/mwoffliner

[2021-01-18 11:33] #578 closed

[2021-01-20 17:42] asashnov commented on #570
@kaveinthran  Sorry for that. I checked the latest (released) Kiwix application (2.0.4) with NVDA screen reader under Windows 7 x64 (build 7601, Service Pack 1).

Kiwix-0.9 was build as Mozilla XUL application, using Firefox applications engine.
Kiwix 2 is Qt-based application, using web engine from google chrome to display web pages content, so they are completely different internally.

The probl

[2021-01-25 12:50] LaurentFx opened #582 "How to read a ZIM file copied to a Usb key ?"
Hello,

I installed the latest version of Kiwix, 2.0.5 on my computer running Windows 10 Pro,
then downloaded from the application, 2 Zim files: Wikipedia and Pokepedia.
Both files are working fine, I can browse the pages with Kiwix.
But, when I copy the folder containing the Zim files to a Usb key, Pokepedia no longer works (about:blank).
I tried to generate a new library.xml file with Kiwix-mana

[2021-01-25 13:46] kelson42 commented on #582
@LaurentFx Thank you for your bug report. Are you sure you have followed properly these instructions? https://github.com/kiwix/kiwix-desktop/wiki/Kiwix-desktop-on-an-USB-Drive-(Portable-version)

[2021-01-25 14:08] LaurentFx commented on #582
Thank you for your answer.
I think I used kiwix-manage well.
I copied the zim file to a Usb key.
I opened a terminal, then went to the directory.
I ran kiwix-manage:
kiwix-manage library.xml add pokepedia_en_all_maxi_2019-05.zim

So, I got an error message:
Assertion failed at ../../SOURCE/libzim_release/src/file_reader.ccp:91 offset.v [0] <_size.v [0]

And the library.xml is empty.

Thank you in

[2021-01-25 14:30] kelson42 commented on #582
One problem seems clearly that with, kiwix-manage fails to add it to the library:
[code]

That seems to be a good reason why the file is not readable/visible on the USB flash drive.

[2021-01-25 14:34] kelson42 commented on #582
@LaurentFx Are you sure you can read that file with Kiwix-Desktop? Because I can not.

[2021-01-25 14:44] kelson42 commented on #582
@LaurentFx For some reasons pokepedia is not in the Zimfarm, I have created a new recipe and will compute a new update of the ZIM file. See https://farm.openzim.org/recipes. Hopefully with this newer file, it will work fine.

[2021-01-25 16:35] #570 closed

[2021-01-25 18:45] LaurentFx commented on #582
Thanks for your quick response and research.
kiwix-manage works with wikipedia.zim, but not with pokepedia.zim.
The problem could come from pokepedia.zim

[2021-01-25 18:52] LaurentFx commented on #582
![Kiwix_bibliotheque](https://user-images.githubusercontent.com/77968960/105751228-04559880-5f46-11eb-90c5-6213e6db42a2.png)
![Kiwix_Pokepedia](https://user-images.githubusercontent.com/77968960/105751248-0a4b7980-5f46-11eb-894b-e125fc42783f.png)

Yes, I can read the pokepedia.zim file with kiwix-desktop.

I first downloaded pokepedia.zim from http://zim.pokepedia.fr, I could not read the file.

T

[2021-01-25 19:52] LaurentFx commented on #582
Thank you.
I don't know the principle of Zimfarm.
If I understood correctly, you launched a request to create a new zim file, and in a few days the file will be available for download?

[2021-01-26 12:23] kelson42 commented on #582
@LaurentFx Thx, it seems we have a regression with the development version, I have open a ticket here https://github.com/kiwix/kiwix-lib/issues/447.

[2021-01-26 12:55] kelson42 commented on #582
@LaurentFx There is definitly something wrong with the latest Windows built of the Kiwix tools, see https://download.kiwix.org/zim/other/pokepedia_fr_all_nopic_2019-05.zim

[2021-01-26 13:10] LaurentFx commented on #582
Sorry for the inconvenience. Thanks for the work.
I was wondering, a problem with Zimfarm or Kiwix,
a problem with kiwix under windows, and pokepedia therefore.

[2021-01-26 13:12] LaurentFx commented on #582
This is another version of Zim without images,
which works ? Thank you.

[2021-01-26 19:05] LaurentFx commented on #582
I downloaded the zim file and tried adding it to library.xml, with kiwix-manage.
Unfortunately, kiwix-manage fails to add it to the library, the same assertion error appears:
assertion failed at ../../SOURCE/libzim_release/src/file_reader.ccp:91 offset.v [0] <_size.v [0]

Courage, thank you.

[2021-01-27 08:53] kelson42 commented on #582
Thx, will come back to you there either when we get a newer ZIM file or the Windows bug is fixed. Hopefuly within two weeks. Thank you for your patience.

[2021-01-27 14:08] LaurentFx commented on #582
Thank you for your post and the work.
It is not urgent, especially a fantasy to please my nephew, to install Pokepedia on his computer without an internet connection.
Thanks to Kiwix, courage for solving the problem.

[2021-01-27 19:40] kelson42 commented on #582
@LaurentFx A new zim file has been prepared and is available at https://mirror.download.kiwix.org/zim/other/pokepedia_fr_all_maxi_2021-01.zim. Does that work better with this one?

[2021-01-28 13:10] #498 closed

[2021-01-28 13:22] LaurentFx commented on #582
Thanks for the quick creation of the new Zim file.
I tested it, it works perfectly, and whatever directory contains the file.
There is no need to add the file with kiwix-manage, libray.xml updates itself.
And the updated file contains all the recent information.
Well done and thank you for the resolution.

[2021-01-28 14:09] kelson42 commented on #582
@LaurentFx Great, I will close this ticket as the bug left is already tracked in an other ticket. Thank you again for reporting the problem and given the hints helping to fix it.

[2021-01-28 14:09] #582 closed

[2021-01-28 14:21] asashnov commented on #544
Actually, the current 'master' doesn't have this crash, probably after

[code]

Because 'Settings' tab is shown on step 6. from the report now.

[2021-01-28 15:32] kelson42 commented on #412
@asashnov Do you think this is doable?

[2021-01-28 19:19] #277 closed

[2021-01-28 19:22] kelson42 commented on #430
Ok, so bug should be fixed by just upgrading to a recent version of Qt5.

[2021-01-28 19:29] kelson42 commented on #525
@LAfricain Do you still suffer of the problem with latest version od the dev PPA?

[2021-01-28 20:15] #544 closed

[2021-01-29 08:25] rgaudin commented on #552
I have no opinion on the pertinence of a `mooc` category. It's a content/distribution decision. But since it's the primary user-facing filter beside language in every reader, I'd advise to choose it wisely.

On the zim-creation side, there are two things:

- zimfarm has a *Category* which is used only for filtering purposes there. Not tied to ZIM category.
- some scrapers hardcode a category (remi

[2021-01-29 09:01] kelson42 commented on #552
@rgaudin Thank you for bring all my concerns here.

Yes and no, because this catogories should be soon be dynamically retrieved from the OPDS stream, see https://github.com/kiwix/kiwix-tools/issues/317.

Yes, I'm not sure about the real future of this feature, the value seems limited (in addition to zimfarm tags, title search) and to some extend confusing (with ZIM categories and future CMS/reader

[2021-01-29 12:16] kelson42 commented on #552
openedx ZIM files now per default in the 'mooc' category, see https://github.com/openzim/openedx/commit/356f3f90e57ffb567b1754b28928b5df14ec092b.

[2021-01-29 12:20] #552 closed

[2021-01-29 12:24] kelson42 commented on #91
I can confirm the bug is still there in 2.0.5. Maybe @asashnov you have an idea?

[2021-01-29 12:25] kelson42 commented on #496
In the future, the list will be dynamically retrieved from the OPDS stream. See https://github.com/kiwix/kiwix-tools/issues/318. It will be decided upstream.

[2021-01-30 12:15] probonopd commented on #430
Check these: https://launchpad.net/~beineri

[2021-01-30 19:01] LAfricain commented on #525
Yes, still low quality;

[2021-01-30 20:13] LaurentFx commented on #582
@kelson42 Thank you, reporting yes, advice, is overkill. You have completed all the resolution of the problem.
Courage with the other ticket, thank you for processing my request.

[2021-01-31 06:03] wengxt commented on #320
https://github.com/kiwix/kiwix-desktop/blob/cb5cfdceaf7840c456de67814e7395a7dd6c75a5/src/kiwixapp.cpp#L70

This is the part of the code that causing problem on Linux.
1. It forces the "Windows" qt widget style on Linux, while normally this is configured by desktop
2. The next few lines set an custom stylesheet, this overrides the widget background color, but it does not set the text color.
https:/

[2021-01-31 06:06] wengxt commented on #320
Another option is only set stylesheet against kiwix's main window (still if you want to use the same css, the text color need to be set otherwise it still use the system text color which may conflict with the background), instead of applying to QApplication.

[2021-01-31 23:25] AllanWegan commented on #87
I too experience absurd GUI response delays of multiple seconds up to a minute when saturating my internet connection by downloading multiple things. There is almost no CPU usage (probably some IO thing going on).

Does the GUI loop interact synchronously with the download processes?

[2021-02-01 00:03] kelson42 commented on #87
@AllanWegan It looks like indeed that part of the process still run in the main UI loop. Unclear so far which one so far.

[2021-02-01 17:44] asashnov commented on #571
From the initial report:

What I see now in 'master' (cb5cfdce) is not putting the current webview to fullscreen. Instead, full screen mode just illuminates the window header and border, but the entire window content is show: 'Search',  'Main menu', 'Full screen' buttons, tabbar. And it works as expected, without crashed in this mode.

So, if we are happy with the current 'master' (cb5cfdce) there

[2021-02-03 22:34] legoktm opened #587 "library catalog downloaded over HTTP"
Originally filed at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=981466 - can these URLs be switched to use HTTPS? Or is there a reason they still use HTTP?

----
I noticed that the data feed is not downloaded using https, so network
attackers could modify the data feed to change my choice of downloads
to something I didn't want to download.

Also most of the datasets point at http instead of

[2021-02-04 09:22] kelson42 commented on #587
In the past, AFAIK mostly if not only on Android, we had cases where the SSL trustore of the device did not have the Letsencrypt SSL issuer certificate and therefore was not able to download the catalog. For this reason, we tend to be cautious of using SSL for the library download. That said, we could probably give a try on Kiwix Desktop with the HTTPS link, will fix and test.

[2021-02-04 09:32] kelson42 opened #588 "Library local ZIM favicon seems to be downloaded online - Fallback on local ZIM metadata"
This is not proper because if the ZIM file is not available anymore in the online catalog, the favicon is not displayed at all. Actually the problem is a global one with ZIM metadata. The problem looks more complex than it is. If available online, the metadata should be taken from the online catalog, but otherwise, the local ZIM file metadata should be taken.

[2021-02-04 11:18] kelson42 commented on #320
@wengxt Thank you for your in-depth analysis.

The ticket does not really details how Kiwix is expected to work:
* First it should have a night/day theme depending how the OS is configured. Not sure this option exists on both windows/linux. Not sure either if it fundamentaly differs from have a custom theme.
* We have a UI theme for Kiwix, as far as possible it should be used.
* If the user as a c

[2021-02-04 13:22] #587 closed

[2021-02-04 17:33] legoktm commented on #587
Got it, thanks. Should I file a different bug about some of the URLs in the catalog itself being over HTTP?

[2021-02-04 18:16] kelson42 commented on #587
@legoktm Not sure what you mean exactly... but yes.

[2021-02-05 06:48] HanYoung-uwu commented on #455
I just noticed in git master, open some links in zim file *wikipedia_ab_all_nopic_2020-12.zim* will cause kiwix to freeze. Other links cause webengine to complain `Your file was not found` `ERR_FILE_NOT_FOUND`

[2021-02-05 07:16] kelson42 commented on #455
@HanYoung-uwu Can you please open an other ticket for that?

[2021-02-05 07:23] HanYoung-uwu opened #590 "Unable to open link"
Steps to reproduce:

    Load Wikipedia ZIM file.
    Open the ZIM file.
    Click on a link
Expected Result:
    Kiwix open the link

Observed Result:

![Kiwix_Desk_Screenshot_20210205_151840](https://user-images.githubusercontent.com/76819220/107002299-fd404d00-67c5-11eb-8752-5a8bf7ec3be1.png)

System configuration:

    Kiwix version: git master
    OS: Arch Linux

[2021-02-05 08:21] HanYoung-uwu commented on #590
After [this](https://github.com/kiwix/kiwix-desktop/commit/f240ea78a144cf0aa15d10edbeda42d8fef77b22) commit I'm unable to open link.

[2021-02-05 10:15] kelson42 commented on #590
@HanYoung-uwu Works for me, do you use latest git master libzim/libkiwix?

[2021-02-05 10:23] kelson42 commented on #571
It should work like for Firefox. Like @asashnov said, first, this is the the windows content which is put fullscreen, not the webview. I think this is OK, and therefore there is no point to deactivate the option if we there is no WebView visible (we display the library). But what needs to be done, is that the top bar with tab header need to disappear and only appear when we display a tab and we ha

[2021-02-05 10:23] HanYoung-uwu commented on #590
I'm on ArchLinux so I guess lastest release. All links are affected. Was there some changes would cause this in libzim/libkiwix? I've found a workaround.

[2021-02-05 10:31] kelson42 commented on #590
uninstall arch versions, and compile libzim/libkiwix by yourself. We have a massive change a libzim level currently ongoing.

[2021-02-05 10:31] kelson42 commented on #590
Closing for the moment as I get this is the root cause.

[2021-02-05 10:31] #590 closed

[2021-02-05 11:23] HanYoung-uwu commented on #590
Comfimed it's caused by outdate libzim/libkiwix

[2021-02-08 12:40] asashnov commented on #358
The current implementation uses drawing on top after QTabbar in paintEvent().

[2021-02-08 12:57] asashnov commented on #320
It could be a three-state setting:
* Use Kiwix white theme
* Use Kiwix dark theme
* Use system default theme

[2021-02-08 17:55] wengxt commented on #320
From readability point of view, if you apply custom background, then you should also apply the custom color setting to text, this is a bug and should be fixed. Easiest way is to set a color for the text.

As for whether to use "system" or "kiwix" custom theme, I can only say that there are many linux users who prefer to use their own theme for the whole system level consistency, while as for windo

[2021-02-09 09:07] Popolechien opened #591 "Russian Wikipedia subsets crash kiwix-desktop 2.0.5"
Steps to reproduce:
- Open Kiwix-desktop 2.0.5
- Download Wikipedia_ru_xxx_yyy_2021_02 (latest version available): I've tried with wikipedia_ru_geography_maxi_2021-02.zim, wikipedia_ru_physics_maxi_2021-02.zim, wikipedia_ru_physics_mini_2021-02.zim
- Open zim files: the landing page appears, but then clicking on any image will have the program freeze.
- Typing in search bar works and articles open

[2021-02-10 09:06] kelson42 commented on #591
@Popolechien I confirm the bug, it happens on both GNU/Linux and Windows. The root cause is unclear. But it is fixed, I tried with a nightly build and the problem has vanished: pages are loaded properly.

[2021-02-10 09:06] #591 closed

[2021-02-10 09:16] kelson42 opened #592 "UI Text color should be specified"
We have a custom/explicit background color, but the color of the text is the "default" them one. As a consequence, if someone as an "incompatible" UI theme then Kiwix Desktop will be unusable. We need to have an explicit color for the text color.

See more explanations at https://github.com/kiwix/kiwix-desktop/issues/320#issuecomment-775329595

[2021-02-10 09:16] kelson42 commented on #320
Agree, I have open a ticket for that, see https://github.com/kiwix/kiwix-desktop/issues/592

[2021-02-10 09:21] kelson42 commented on #320
Thank you for the suggestion, but this is only one small part of the problem. All the other icons have exactly the same problem. We should find a solution working for all of them.

[2021-02-11 08:14] kelson42 commented on #525
@asashnov Is that a topic your are familiar with by any chance?

[2021-02-12 13:18] asashnov opened #594 "Buttons in toolbar drawn incorrectly in right-to-left layout"
Found on current 'master' (ca776b46)

### Steps to reproduce:

1. Run Kiwix application with right-to-left interface layout by adding -reverse CLI option
2. See the buttons in toolbar
3. Open any .zim file from library
4. See the buttons in toolbar again

### Actual result:

![Screenshot from 2021-02-12 20-10-29](https://user-images.githubusercontent.com/5078434/107772817-52083880-6d6f-11eb-9631-1

[2021-02-12 13:27] kelson42 commented on #594
@asashnov and the icons should be on the right!!!

[2021-02-12 17:16] asashnov opened #595 "Wrong order of Back / Forward buttons in right-to-left layout"
Found on current 'master' (ca776b46)

### Steps to reproduce:

1. Run Kiwix application with right-to-left interface layout by adding -reverse CLI option
2. See to Back / Forward buttons in the toolbar

### Actual result:

![Screenshot from 2021-02-13 00-08-33](https://user-images.githubusercontent.com/5078434/107799804-82ac9a00-6d90-11eb-99ec-f97e75e7b491.png)

### Expected result:

Back / Forwar

[2021-02-12 17:34] asashnov commented on #594
@kelson42 inside tab headers the order of icon and close button also reverted- that's right, the expected behaviour of QTabbar and other programs, for example:

![web_phishing_zoom75](https://user-images.githubusercontent.com/5078434/107801708-023b6880-6d93-11eb-833f-59b18ff942f2.png)

Source: https://help.eset.com/ees/6/ar-EG/index.html?idh_config_antiphish.htm

[2021-02-12 17:51] asashnov commented on #594
Actually the example above shows the opposit of what I wanted to say.

Qt manual says (https://doc.qt.io/qt-5/qtquick-positioning-righttoleft.html):

But it says nothing clearly about tabs header.

So I'm confused here. I think we can rely on the default behaviour of QTabbar now, and may `setLayoutDirection(Qt::LeftToRight);` in Tabbar constructor if users ask us about it:

![Screenshot from 2021-

[2021-02-13 11:12] EliasPereirah opened #596 "Too Slow"
Kiwix is very slow when doing a search.
The search is fast, just if the word searched is a name of one article, exemplo: Biology.
But if you search for, just for exemplo: What is biology, the search is very slow, take almost 1 minute or more.

[2021-02-13 16:41] EliasPereirah commented on #596
I downloaded the file you indicated, but nothing has changed. It remains slow, very slow. I don't know if it's something on my computer, but everything is working ok on my PC, which is very powerful.

[2021-02-13 18:57] kelson42 commented on #596
@EliasPereirah If this is still taking more than 60s to make a search, then probably something is wrong with your computer. What is the search pattern taking so long?

[2021-02-14 02:27] EliasPereirah commented on #596
I really don't think that is my PC.
The pattern is http://192.168.0.101:8181/search?content=5149203d-1c60-a927-0095-278e34e6897a&pattern=estrutura+biologica
How can i download ther Kiwix version of 2017? this version worked for me in 2017

[2021-02-14 19:37] wimdin opened #597 "can you not bookmark articles in kiwix wikipedia 2.0?"
I was able to bookmark articles in kiwix 0.9. It was pretty easy. So far I'm not seeing any way to do this in 2.0. Surely this wasn't removed, right? Any guidance would be appreciated. Thanks.

[2021-02-14 21:45] ITwrx opened #598 "appimage doesn't start"
[code]
fedora 33

[2021-02-15 06:08] kelson42 commented on #598
@ITwrx Look in the closed tickets, there is one or two with explanation and solution to this problem.

[2021-02-15 08:29] asashnov commented on #571
@HanYoung-uwu  Do you have any changes to review now?

The only PR associated with this issue (#580) is closed.
And no changes in https://github.com/HanYoung-uwu/kiwix-desktop/tree/master

[2021-02-15 11:24] HanYoung-uwu commented on #571
I was referring to the solution I proposed in the closed PR. If you're okay with that, I'll implement it and open a new PR.

[2021-02-15 15:10] ITwrx commented on #598
thanks, but i see workarounds for specific dependency issues that don't match mine. I have a rx 570 using amdgpu, so from what i'm reading it shouldn't be trying to use radeonsi and swrast anyways.

I think this is a problem with how the kiwix appimage is built. I have like 15 appimages on my computer and this is the only one that doesn't start. Unfortunately, i don't know enough about appimages t

[2021-02-16 12:09] ghost opened #600 "Make contents (index) table for server, extension, app"
I found useful extension that solves this problem for server, for Firefox.
https://addons.mozilla.org/en-US/firefox/addon/headingsmap/
It adds index, like bookmarks, which allows me to skip to any part of article, something that most or all normal wikipedia articles have. Good if you make such ability too, but for extension and app too.

[2021-02-16 19:13] GoblinLegislator commented on #597
No that ability. Best to use local server, and bookmark via web browser like Firefox. Also headingsMap will allow you to have contents (index) of each article.

[2021-02-16 19:14] kelson42 commented on #597
There is a reading list feature, so I don't understand this ticket.

[2021-02-16 19:21] GoblinLegislator commented on #596
You can download all versions from here: https://ftp.acc.umu.se/mirror/kiwix.org/release/kiwix-desktop/
But if you mean kiwix 0.9: https://ftp.acc.umu.se/mirror/kiwix.org/archive/kiwix/kiwix-xulrunner/0.9/
It is normal that full text search is slow. Same is true even in other apps like Xowa and mediawiki. That's why I never use full search but only exact, only what appears in autocomplete.

[2021-02-16 19:36] GoblinLegislator commented on #87
Maybe easiest and best to remove download ability from Kiwix. Instead tell people to use downlad managers like Internet Download Manager, Internet Download Accelerator (IDA), Free Download Manager, and many others. And torrenting. Never had any problems with them. Downloaded whole english wikipedia 5 times already (about 400 GB).

[2021-02-17 01:55] kelson42 commented on #87
@GoblinLegislator If we remove a feature each time we have a bug... we could stop the project right now :)

[2021-02-17 02:03] kelson42 commented on #596
@GoblinLegislator To the contrary to what you say this is not "normal". Either this is a problem with the system or something has to be fixed in the software. We will try to reproduce the problem first.

[2021-02-17 02:09] GoblinLegislator commented on #596
I don't understand why that is not normal. Any search of more data should be slower than search of less data.
In first case we search only titles and redirects, while in 2nd case we do full search of whole indexed data.
Comparable to speeds of Windows search of indexed and non-indexed files. Ratio of speeds should be about second vs minute.

[2021-02-17 11:36] EliasPereirah commented on #596
I used Kiwix in 2017 and it worked well, it didn't take long to do a full text search.
I remember it took Kiwix a long time to index the files when we first sent the ZIM file, but then it was smooth and fast.

[2021-02-17 11:53] kelson42 commented on #596
You don't test with `wikipedia_pt_all_maxi_2021-02.zim`

[2021-02-17 12:03] kelson42 commented on #596
@EliasPereirah I have tested on my workstation which is 5+ years old and `wikipedia_pt_all_maxi_2021-02.zim` and Kiwix Desktop 2.0.5. The given fulltext search pattern "estrutura biologica" takes <1s if the file is on my SSD and ~1s if this is on a slow mechanical hard disk. So either you have a super limited HW (does not seem to be the case) or you don't test with the latest ZIM file/Software or

[2021-02-17 12:06] kelson42 opened #676 "HTTP daemon does not have a proper human friendly name if not started with kiwix-serve"
If started with Kiwix Desktop, URL look like:
http://192.168.0.101:8181/search?content=5149203d-1c60-a927-0095-278e34e6897a&pattern=estrutura+biologica

I suspect the problem comes from the `humanfriendly()` function which probably falls back.

This function should be fixed and in place of using the ZIM filename (which probably is not available here), it should build the human friendly name from t

[2021-02-17 12:29] EliasPereirah commented on #596
You are right, now i see that i downloaded the version of one month less, this one wikipedia_pt_all_maxi_2021-01.zim

[2021-02-17 12:33] EliasPereirah commented on #596
I haven't tested wikipedia_pt_all_maxi_2021-01.zim
But I will close here.
Thanks

[2021-02-17 12:33] #596 closed

[2021-02-18 18:28] wimdin commented on #597
How do you add articles to the reading list feature? I see nowhere in the kiwix interface to do this. Any help is appreciated.

[2021-02-18 18:54] kelson42 commented on #597
There is the sunglasses icon in the icon bar to display the reading list and if you want to add an article to the feading list, click on the sunglasses icon at the left of the searchbar.

[2021-02-18 18:55] #597 closed

[2021-02-19 14:20] iMonZ opened #601 "Wayland support!"
Kiwix-Desktop doesn't support native Wayland!

Here is the error that I get:

[code]

Please add the Wayland support to this application! (QT already support native Wayland)

[2021-02-19 23:58] legoktm opened #602 "Add command-line --version flag"
Debian CI has the option to run a command to verify the package runs properly after being installed, usually by running --help or --version. This would catch runtime errors like a missing dependency not being installed or the wrong library version being present. You can see what I've done for [kiwix-tools so far](https://salsa.debian.org/legoktm/kiwix-tools/-/blob/master/debian/tests/control).

So

[2021-02-20 07:41] DataRobot333 opened #603 "zim file don't open"
I try to open wikipedia_en_all_maxi.zim that i just downloaded but I get a **blank window**. what should I do to fix this?

[2021-02-20 07:43] kelson42 commented on #603
I guess your zim file is corrupted. Will check.

[2021-02-20 08:58] kelson42 commented on #601
@iMonZ I believe if you compile Kiwix Desktop against Qt 5.11+ then you should have the Wayland support?! The binaries we provide should do so and there is a ticket for that, see https://github.com/kiwix/kiwix-build/issues/403. This ticket seems to be a duplicate of it.

[2021-02-20 09:49] kelson42 commented on #603
I have tested and it works perfectly for me. What is the md5sum of your file? How have you downloaded it?

[2021-02-20 09:52] kelson42 commented on #602
@HanYoung-uwu Maybe something you would be interested to have a look? The version is defined in the `.pro` file.

[2021-02-20 10:05] kelson42 opened #604 "Search / Suggestions are totally broken with latest (dev) libzim 7.0.0"
I always get a blank page if:
* click on any suggestion
* click on a suggestion which is a redirect
* make a fulltext search

[2021-02-20 10:32] kelson42 commented on #602
Adding a minimal help for `-h` and `--help` would be welcomed as well.

[2021-02-20 15:39] DataRobot333 commented on #603
I check it in my kernel and it return this:

~/Documents/wiki$ md5sum wikipedia_en_all_maxi.zim
874b717bec544a8e76966dceee333e01  wikipedia_en_all_maxi.zim

[2021-02-20 22:03] DataRobot333 commented on #603
I download it from wikipedia zim files through the wget( but it was not consistent and use `wget -c` later on)
this is the link that I download the file 'https://download.kiwix.org/zim/wikipedia_en_all_maxi.zim'

[2021-02-21 06:46] kelson42 commented on #603
Your file is corrupted. The md5sum is Not OK, see http://download.kiwix.org/zim/wikipedia/wikipedia_en_all_maxi_2021-02.zim.mirrorlist. Better use Bittorrent for such a big file.

[2021-02-21 06:46] #603 closed

[2021-02-21 17:27] asashnov commented on #358
Currently PR https://github.com/kiwix/kiwix-desktop/pull/538 is in 'Changes Requested' state, but this status is wrong, I uploaded a new code:

<details>
  <summary>5 screenshots from GitHub pull requests</summary>

![1-PR in change requested state](https://user-images.githubusercontent.com/5078434/108632330-e3c72280-74a0-11eb-8831-a5b27a7394e5.png)

![2-try to see which exactly change requested](

[2021-02-22 15:57] #358 closed

[2021-02-23 17:26] patelaryan7751 commented on #595
can i work on this issue @kelson42 @asashnov ?

[2021-02-23 17:58] kelson42 commented on #595
Yes!

[2021-02-23 23:08] patelaryan7751 commented on #595
okay!

[2021-02-24 12:02] #454 closed

[2021-02-24 20:59] patelaryan7751 commented on #595
can you give more info on the path of files where this can be found @kelson42 ?

[2021-02-25 11:34] kelson42 commented on #604
@asashnov Do you think you could explain/fix this regression?

[2021-02-25 18:22] asashnov commented on #604
Tested on recent versions of libzim (700d430d), kiwix-lib (971374e0) and kiwix-desktop (0183274f) on Ubuntu 18.04 x64.

Tested scenario:
1. Open wikipedia_en_all_mini_2020-04.zim  (11 Gb)
2. Type 'raspberry' in the search box
3. Click on 'American Raspberry' in search results

Actual result:  about:blank page

Expected result: the article 'American Raspberry' should be displayed.

[2021-02-25 18:30] asashnov opened #605 "Usability: unclear toggle button in the Search box"
Found in current 'master' (0183274f)

![Screenshot from 2021-02-26 01-24-02](https://user-images.githubusercontent.com/5078434/109199198-b98fa080-77d1-11eb-979f-f3b2cfaaa42c.png)

![Screenshot from 2021-02-26 01-24-09](https://user-images.githubusercontent.com/5078434/109199211-bd232780-77d1-11eb-9ef2-1d91a85c0620.png)

'Glasses' icon does not have a tooltip. Also, a placeholder text in Search bar

[2021-02-25 18:41] asashnov commented on #605
Got it!  It's kind of bookmarks. So maybe it would be more expected by users to replace it with a star (☆) icons (favorites).

[2021-02-25 18:46] kelson42 commented on #605
@asashnov I believe, like you suggested, the best thing to do current,y is to add the tooltips:
* "Add to the reading list"
* "Remove from the reading list"

[2021-02-25 19:31] asashnov commented on #604
[code]

Prints:

[2021-02-25 19:51] asashnov commented on #604
Returned `kiwix::SuggestionsList_t` line is OK:
"American Raspberry"
"A/American_Raspberry"
"american raspberry"

But QUrl::isValid() returns `false`. QUrl::errorString() returns:

[2021-02-25 20:26] asashnov commented on #604
Previously there was a method `getNextSuggestion()`:
[code]

And this `Reader::searchSuggestionsSmart()` from kiwix-lib returned '/' at the beginning:
[code]

Current version doesn't add '/', and using getPath() from libzim:
[code]

In libzim:
[code]

Probably `m_dirent->getUrl()` doesn't start with /

So libzim and kiwix-lib didn't start path with /  so QUrl rejected it.

@mgautierfr  Therefore,

[2021-02-26 08:47] kelson42 commented on #605
@asashnov I'm not eager to change the behaviour of printing current page in the searchbox. This has a decision which has been carefully taken if I correctly remember. Same for the logo choice. Maybe @schoenbaechler can give a bit more background explanation why it has been done that way.

@asashnov If you could quickly add the tooltip, this would be great.

[2021-02-26 11:10] kelson42 opened #607 "[regression] Crash scenario with suggestions"
Running brand new kiwix-serve (with cutting edge dev version of libzim and libkiwix).

[code]

The only thing I made is that I typed `emmanuel` in the search bar.

The bug is 100% reproduceable and is a regression.

[2021-02-26 11:11] kelson42 commented on #607
@asashnov Would be really great if you could look at that one as well.

[2021-03-02 13:37] GODFATHER0054 commented on #592
Will you give me chance to do this.

[2021-03-02 13:54] kelson42 commented on #595
@GODFATHER0054 Yes, but please explain first here how you plan to fix it.

[2021-03-02 14:01] GODFATHER0054 commented on #595
Once, I saw the code and understand how the button are defined their.

[2021-03-02 14:41] kelson42 commented on #592
@GODFATHER0054 yes

[2021-03-04 05:49] #604 closed

[2021-03-04 05:51] kelson42 commented on #607
Fixed

[2021-03-04 09:51] Popolechien commented on #186
Pushing (or un-staling) it as another major partner also requested the feature.

[2021-03-06 21:40] jl2359 opened #609 "Bug: Appimage does not boot on Ubuntu"
kiwix-desktop_x86_64_2.0.5.appimage does not boot on 64-bit Ubuntu 20.04.2 LTS

[2021-03-07 06:55] #543 closed

[2021-03-07 14:10] kelson42 commented on #609
This is a duplicate of https://github.com/kiwix/kiwix-desktop/issues/486#issuecomment-684781183

[2021-03-07 14:10] #609 closed

[2021-03-09 01:13] samsaraswheel opened #611 "New Feature Request: equivalent wiki-like Page Preview function"
**Page Preview** is a function found on Wikipedia pages, when you hover for a time over a hyperlink, a short description comes up of the subject.

It is usually just the first paragraph and first picture from the subject page in a small floating window.

I have found the wiki Page Preview to be very useful when researching rather than opening individual pages on multiple terms I don't understand a

[2021-03-15 01:16] Di9italZero opened #613 "Bootloader issue with Raspberry Pi 4"
Is there any way to get Kiwix working with raspberry pi 4? Getting start.elf errors at power on. Tried using boot files from 2019, it passes the start elf error but hangs after a minutes at the cursor. A lot of videos online about this but no info about the bootloader problem. Wish it had been more advertised. I built a complete cyber deck and now am I correct in my understanding that this will no

[2021-03-15 01:18] #613 closed

[2021-03-16 19:28] GoblinLegislator opened #614 "can't use kiwix-serve over Proxifier"
When Proxifier is used with option **handle direct connections** and appropriate rules I made, when I am not using any proxies, but only Proxifier for purpose of observing connections and data usage, it does not work. I will repost here my discussion with Proxifier developer. Hope they will make it able to ignore localhost when handling direct connections. Only your app does not work with it, all

[2021-03-16 19:36] kelson42 commented on #614
I don't know Proxifier and don't have I believe, so what is your question exactly for kiwix-serve?

[2021-03-16 20:06] GoblinLegislator commented on #614
Well maybe this is something wrong with Proxifier. Just hope you can make it compatible with it.
I don't need kiwix-serve to be used over Proxifier, but that is Proxifier's limitation, handle or none, when handling direct connections.

[2021-03-17 06:15] kelson42 commented on #614
We can not investigate any third party software possible for you. Either you have a clear technical bug report or feature requirement for kiwix serve or I will close it.

[2021-03-17 10:47] #614 closed

[2021-03-19 09:29] kelson42 opened #615 "Unable to compile anymore Kiwix-Desktop"
[code]

With latest libkiwix

[2021-03-19 10:51] mgautierfr commented on #615
It is a bug in kiwix-lib, not kiwix-desktop.
Last PR (https://github.com/kiwix/kiwix-lib/pull/460) add "xapian.h" in the public lib-kiwix's includes and we should not (as xapian is a private/internal dependency).

[2021-03-19 11:02] kelson42 commented on #615
@mgautierfr OK and we should fix things following your recommendation https://github.com/kiwix/kiwix-desktop/pull/616#issuecomment-802741973

[2021-03-29 10:06] playerblest opened #617 "[regression] Pagination problem with fulltext search."
Two questions please:

Is there a Kiwix To windows Shortcut key to return to the previous page?
When I do a full text search it shows me only the first 25 results. Do you know such a problem?
Thank you!

[2021-03-30 16:26] mgautierfr commented on #617
No, there is not. But we may want to add one.

The search result is paginated with page of 25 results yes.
You can change pages by using the links at the end of the search result page.

[2021-03-30 20:38] playerblest commented on #617
@mgautierfr
Thanks for treatment.
About the second question - for some reason I do not have the list of pages below ... Attached is a screenshot. Do you know of such a problem?
(Note in the second image that the scroll bar is at the bottom of the page.)
I will mention that I use Hebrew. it's connected?

![תמונה](https://user-images.githubusercontent.com/81560060/113052667-1525c300-91b0-11eb-8af5-8

[2021-03-30 20:43] playerblest commented on #617
@kelson42 >

I mean back to the previous page I looked at (the arrow that appears above). In the first version of KIWIX they would do this with Backspace and it was very comfortable.

[2021-03-31 07:15] kelson42 opened #618 "Implement history navigation shortcuts"
* ALT+left key to go back in the history (if possible)
* ALT+right key to go forward in the history (if possible)

[2021-03-31 08:43] mgautierfr commented on #617
I confirm there is something wrong with the search using kiwix-desktop.
On my side, I have the links at the end of the page, but the pagination is broken, I have only one page even in we display only 25 results.

Launching a local server (from kiwix-desktop) and doing the search using a browser, everything is ok.

[2021-03-31 11:04] kelson42 commented on #617
@mgautierfr @playerblest I would recommend to open a new ticket with the exact step by step reproduction case.

[2021-03-31 16:03] ApoorvaKashyap commented on #555
@kelson42 I would like to fix this, if the names have been decided yet.

[2021-04-02 07:49] Fabrika2Grafem opened #620 "Unable to open "Translations" in wiktionary:Offline"
There's no [show] or [hide] on the bar.
Version of Kiwix : 2.0.4
Version of Wiktionary : wiktionary_en_all_maxi_2021-03.zim

Thank you!

[2021-04-02 07:55] Fabrika2Grafem commented on #620
- [bug]

[2021-04-02 07:58] kelson42 commented on #620
Thx for the bug report, but this is a duplicate of https://github.com/openzim/mwoffliner/issues/1033

[2021-04-02 07:58] #620 closed

[2021-04-03 15:29] Smarre commented on #315
How hard would it be to implement this feature? If it’s easy enough, I probably could take a look at it.

[2021-04-03 17:09] kelson42 commented on #29
@gcast20 This is the fulltext search that you describe here, it runs each time you search something which is not directly available! How what you request is different from the fulltext search?

[2021-04-04 14:13] kelson42 opened #622 "Make the "home" keyboard key focus the search form"
It's a suggestion done via e-mail by RMS.

The "home" key of the keyboard scrolls the current page (or frame) to its top (in most browsers).
RMS would find it useful that it also puts the cursor in the search form, so that the user can immediately type another search (without using the mouse)

Same as https://github.com/kiwix/kiwix-js/issues/704 for Kiwix JS

[2021-04-04 15:04] move[bot] opened #623 "Wikisource main page hangs dead in appimage"
*@Ubuntu-2020 commented on Apr 4, 2021, 2:46 PM UTC:*

I have an old **ZIM** file of **ru.wikisource.org**.
If I open it on ***.appimage** and I will click on any link on the main page, then ***.appimage** will hang dead.
But in the browser extension, everything is fine. If you open the same **Wikisource** file and click on any link on the main page, everything will be fine.
Can anyone open a **Wi

[2021-04-07 14:57] leanhdung1994 opened #624 "How to retrieve the library metadata by RESTful API endpoint with OPDS?"
I'm using local Kiwix server from Kiwix desktop. From this [page](https://wiki.kiwix.org/wiki/Kiwix-serve), I found information about [OPDS](https://wiki.kiwix.org/wiki/OPDS).

Could you please elaborate on how to use RESTful API endpoint with OPDS to retrieve the library metadata from my local Kiwix server?
![image](https://user-images.githubusercontent.com/28704090/113888178-62aebb00-97c2-11eb-9

[2021-04-07 17:01] kelson42 commented on #624
Documentation is here https://wiki.kiwix.org/wiki/OPDS

[2021-04-07 17:01] #624 closed

[2021-04-08 08:29] kelson42 commented on #504
@LAfricain You mean in our PPA? Then this is a question for @legoktm

[2021-04-08 09:24] LAfricain commented on #504
No, I'm speaking about the debian repositories. This option will solve also the ppa "problem". I mean kiwix will be automatically in the Ubuntu repositories.

[2021-04-08 10:31] kelson42 commented on #504
@LAfricain It seems it is or will be available in buster-backports, see https://tracker.debian.org/news/1234765/accepted-kiwix-205-3bpo101-source-into-buster-backports/. In general rely to https://debian.kiwix.org/ to know what is the status of the Debian packaging.

[2021-04-08 12:26] kelson42 commented on #615
Was a problem with libkiwix

[2021-04-08 12:26] #615 closed

[2021-04-08 12:26] kelson42 opened #626 "Reorder header includes properly"
https://github.com/kiwix/kiwix-desktop/pull/616#issuecomment-802741973

[2021-04-08 12:33] kelson42 commented on #607
@asashnov ping?

[2021-04-12 09:58] gcast20 commented on #29
@kelson42, sorry for the delay..
thanks for the hint: indeed, fulltext search, to the extent that it gives back a disambiguation term near the top of the search list, is a / can be a solution. I've tested the original case "Berlin" in the German wikipedia (wikipedia_de_all_maxi_2021-03.zim) and the latest version of kiwix for Windows (kiwix-desktop_windows_x64_2.0.5) and the fulltext search result

[2021-04-12 10:24] kelson42 commented on #29
I belive you are still talking about suggestions. The fulltext search is the page appearing when you type "Berlin" and click on the item "Berlin (Fulltext search)". "Berlin" is a term for which there is an article with the exact same name, so this does not match your first comment where you write "When there is no wikipedia article on a subject".

Maybe it is easier you just write a concrete examp

[2021-04-12 11:23] gcast20 commented on #29
@kelson42 Indeed, sorry.. Had forgotten about the issue started on Aug 29, 2018..
What I do: I enter the name (that is, first name, last name, e.g. Tilly Grosser) of a person in kiwix in quotation marks or without
What I get: a full-text list of (possibly many) articles that contain the first name and/or the last name (typically only one in bold, by the way) but don't necessarily mention the very

[2021-04-12 11:33] kelson42 commented on #29
@gcast20 Thx. The answer is: this is theoritically possible and even easy, but we don't provide this feature because this would imply to save for each word in the documents there position. The fulltext index would be significantly bigger and we have decided to better don't save the position of word. So, I guess this ticket will be unfortunately "WONT FIX".

[2021-04-12 11:33] #29 closed

[2021-04-21 05:06] kelson42 commented on #617
@maneeshpm Do you think this is something you could look at?

[2021-04-21 05:07] kelson42 commented on #607
@maneeshpm Do you think this is something you could look at? This might be an interesting task as there is multithreading in action here.

[2021-04-21 05:56] maneeshpm commented on #607
Sure @kelson42, I'll look into this.

[2021-04-21 05:58] maneeshpm commented on #617
@kelson42 Sure, this should make me familiar with kiwix-desktop codebase!

[2021-04-21 06:30] kelson42 commented on #617
@maneeshpm thx a lot

[2021-04-27 09:35] #617 closed

[2021-05-03 04:39] kelson42 opened #632 "Delete meta4 file after download is finished"
See #572 as well

[2021-05-03 06:44] kelson42 commented on #571
@HanYoung-uwu There is no problem with your work, secure it works like expected, see https://github.com/kiwix/kiwix-desktop/issues/571#issuecomment-773942473. For the rest, keep working on the same PR, reopen the closed one if necessary.

[2021-05-03 08:29] kelson42 commented on #421
I has o use pure Qt code

[2021-05-03 09:22] kelson42 commented on #623
Works for me, appimage works like other versions.

[2021-05-04 06:19] kelson42 commented on #421
@HanYoung-uwu As I see you seem to be interest in look & feel tickets. Maybe would be interested in that one. The goal is to have the correct style but as well to remove vue.js (and replace with pure Qt).

[2021-05-04 08:40] HanYoung-uwu commented on #421
I'd rather re-write this app entirely in Qml than to try to port it to QWidget.

[2021-05-04 09:00] Oblike opened #635 "Tabs navigation"
Hi,
I'm a kiwix user, giving some feedback about navigation fluidity mainly about tabs.
I often open a lot of new tabs when working on kiwix.
1- It would be useful to have possibility of rearranging them.
2- When you open (right clic) a link in a new tab, would be better to have it just after the current active one.
3- When you open (right clic) a link in a new tab, would be better to just create

[2021-05-04 09:34] mgautierfr commented on #635
Rearranging tabs has already been implemented (but not release yet) (https://github.com/kiwix/kiwix-desktop/pull/573)

[2021-05-04 11:12] kelson42 commented on #635
We still need to evaluate point 2 and 3. I believe the point 3 has already been discussed in the past.

[2021-05-04 11:20] kelson42 commented on #421
@mgautierfr Do you remember why we have finally chosen not to use QML to define UI?

[2021-05-04 11:23] kelson42 opened #636 "Open new tab just right after the current one"
When you open (right clic) a link in a new tab, would be better to have it just after the current active one.

First reported in #635

[2021-05-04 11:24] kelson42 opened #637 "Open new tab in background"
When you open (right clic) a link in a new tab, would be better to just create it and keep the current active one open.

First reported in #635

[2021-05-04 11:25] kelson42 commented on #637
It seems to be the default behaviour in Firefox and Chrome. I'm supportive.

[2021-05-04 11:25] kelson42 commented on #635
For more clarity we try to have only one topic per ticket. I have open #636 and #637 for your points 2 and 3 which seem valid to me. thank you!

[2021-05-04 11:25] #635 closed

[2021-05-04 11:52] #632 closed

[2021-05-04 12:20] kelson42 commented on #636
I’m supportive

[2021-05-04 13:56] mgautierfr commented on #421
Because of the knowledge of the developer :)

[2021-05-04 16:00] kelson42 commented on #421
@HanYoung-uwu Defining the whole UI in QML now would be quite a bit of work I suspect, but could you just make the dialog box like this?

[2021-05-04 16:23] slynobody commented on #320
any chance there is a working solution in the near future (as new release without having to alter / compile it for yourself)?
the application in its current form is nearly unusable on dark themes currently (cinnamon, lxde). do you really want users to switch to the browser-extension?

[2021-05-04 17:54] kelson42 commented on #320
@slynobody I think #592 is the main problem and I have put it in next release.

[2021-05-06 02:49] nkduodu opened #639 "Installing on Windows 10"
I have downloaded Kiwix-server and kiwix-Rear. I run these 2 files and i don't see any dialogue box or message that this has been installed.
Are there detailed instructions on how to install this? for the windows environment? i thought this was supposed t be an easy and simple tool to use?

[2021-05-06 05:01] kelson42 commented on #639
@nkduodu There is no installer, this is directly usable.

[2021-05-06 09:57] nkduodu commented on #639
What does directly usable mean? @kelson...I don't understand your comment.
What are the .exe files then?

On Thu, May 6, 2021, 01:01 Kelson ***@***.***> wrote:

[2021-05-06 10:28] kelson42 commented on #639
The kiwix softwares.

[2021-05-07 09:15] #639 closed

[2021-05-09 05:54] maneeshpm commented on #607
@kelson42 can we still recreate this issue? I tried just typing `emmanuel` in the search bar. It gives all the suggestions for this query without causing any crash. Hitting enter takes me to an article, without causing a crash.

Am I missing any intermediate step for recreating this issue?
[code]

[2021-05-09 05:55] kelson42 commented on #607
@maneeshpm will try again with latest libzim/libkiwix, but this is related to your speed of typing.

[2021-05-09 12:59] kelson42 commented on #607
@maneeshpm Tested again and the soft crash in the same manner. I believe you should check around:
[code]

[2021-05-09 14:48] kelson42 opened #640 "Improve Settings panel Look & feel"
Like for #412, we should improve the look & feel of the settings panel and it should not rely anymore on vue.js.

It should look like this (only consider the style)
![image](https://user-images.githubusercontent.com/1029718/117576424-3c907980-b0e6-11eb-8e66-e3f5e8ed85ff.png)

and it looks like this:
![image](https://user-images.githubusercontent.com/1029718/117576449-5d58cf00-b0e6-11eb-92c1-01f9f3

[2021-05-09 14:49] kelson42 commented on #640
@HanYoung-uwu Because you done such a good job on #421, I thought this might be a ticket you would like to consider?

[2021-05-09 18:04] kelson42 commented on #636
@asashnov Could you please implement this?

[2021-05-09 18:05] kelson42 commented on #592
@asashnov Could you please secure that text color is specified so it is aleasys readable?

[2021-05-10 17:08] asashnov commented on #623
Without a file it's not possible to reproduce the problem.

Found 3 years old file, will test after download completed: https://archive.org/details/wikisource_ru_all_maxi_2018-06.zim  (it's torrent, but seeders are still there, 1% downloaded already)

[2021-05-10 17:46] kelson42 commented on #623
@asashnov Test with newer version on download.kiwix.org, and if we are good.... then we are good and can close the ticket.

[2021-05-11 10:55] asashnov commented on #623
Works fine for release, old release, current nightly build:
* Kiwix-desktop_x86_64_2.0.1-1.appimage
* kiwix-desktop_x86_64_2.0.5.appimage
* kiwix-desktop_x86_64_2021-05-10.appimage

Old and current Wikisource was checked:
* wikisource_ru_all_maxi_2018-06.zim
* wikisource_ru_all_maxi_2021-03.zim
* wikisource_ru_all_nopic_2021-02.zim

In any combination it is possible to click on a link in the main

[2021-05-12 08:36] HanYoung-uwu commented on #640
I'm unfamiliar with HTML/CSS/JS. :man_shrugging:

[2021-05-12 10:28] kelson42 commented on #640
@HanYoung-uwu yes, the goal is to remove it and provide a Pure Qt UI instead. We don't like to have a UI partly in Qt and partly in HTML.

[2021-05-12 23:58] eugene1234123 opened #642 "Can't install Kiwix hotspot on Sd card"
i have a 16gb sd card, and i want to install around 13 gb of data on it, with around 2.65 left. I try to run the software, but i get this error

 Invalid SD card size: 14.4 GiB
SD card size has to be a power of 2, e.g. 16 GiB.
You can resize disk images with 'qemu-img resize <imagefile> <new-size>'

please help. idk what to do

[2021-05-14 07:50] kelson42 commented on #640
@HanYoung-uwu Thank you very much for this PR. This is how it looks lie for me:
![image](https://user-images.githubusercontent.com/1029718/118238750-3eb55800-b499-11eb-8ab1-98e7267e9b54.png)

What shoudl be improved at least is:
* The font for the local server port, is somehow different (smaller?)
* The background color should be set
* Button should be like in the Kiwix Server button
* We should h

[2021-05-15 09:21] LaurentBonnaud commented on #598
I have a similar problem on my system with an Intel TigerLake GPU:
[code]

[2021-05-16 10:29] haniobaid opened #644 "On Startup detect new zim files added to download directory and ask to add them to local files library (all at once)"
This should be a bandwidth saver (both server and client side) for people who download once and load on multiple devices. Right now you would have to add files one at a time

[2021-05-16 12:11] kelson42 commented on #644
This sounds a good idea. I beliece we have a similar bug open already somewhere. But I would like to think more about it and frame it properly before implementation.

[2021-05-19 12:30] #602 closed

[2021-05-20 14:44] Goutte commented on #618
Mouse shortcuts (thumb buttons) would be appreciated as well !  Since the feeling is the one of a browser, I keep trying to use them.

[2021-05-20 14:51] kelson42 commented on #618
@Goutte Yes, By experience those buttons might be harder to get well supported (at least it was harder with xulrunner and kiwix desktop v1... I even had to buy a mouse with these buttons to get it working). I might move this request to another ticket.

[2021-05-20 22:30] Goutte commented on #618
That's too bad !   I found https://doc.qt.io/qt-5/qt.html#MouseButton-enum which mentions `ForwardButton` and `BackButton`.

[2021-05-20 23:44] Goutte commented on #618
It's rather complicated with the `QShortcut` API but really forward with the `QEvent` API.

I monkey-tested, and it worked !  So I took the liberty of submitting a MR about this.

Feels great to satisfy my muscle memory  :partying_face:

[2021-05-21 02:41] asashnov commented on #618
@kelson42 I have no experience with working additional mouse buttons. QEvent API sounds good to solve this.

@Goutte Did you send your patch somewhere?

[2021-05-21 03:42] asashnov commented on #607
@kelson42  I couldn't reproduce the crash either.

Does it mean the crash happens when type in search inside web browser window?

I tried both search boxes in the UI, when some .zim opened; and in Library page. Also tried the web interface. Everything works as expected.

So need a detailed step-by-step instruction how the crash reproduces. This way I can trace in the source code, add some 'try/cat

[2021-05-21 04:53] kelson42 commented on #607
Reassinging the ticket to @mgautierfr as it really seem to be a subtil one.

[2021-05-21 06:37] Goutte commented on #618
@asashnov Yes !  It is linked above : #646

[2021-05-23 19:33] kelson42 opened #647 "Mouse Thumb buttons support to navigate in the history"
Based on a comment of #618, it would be good to implement mouse thumb history back/forward actions.

[2021-05-25 12:37] #647 closed

[2021-05-28 08:01] maneeshpm opened #648 "Fix suggestionListWorker to use SuggestionItem class methods"
With kiwix/libkiwix#505 we now use a new class SuggestionItem to handle suggestions instead of a vector of strings. This change should be added here to fix the build error.

[2021-05-28 08:13] #648 closed

[2021-06-04 14:50] VincentXE opened #650 "Kiwix x64 2.0.5 crashes on startup Windows 10 20H2"
When I try to launch Kiwix 2.0.5, it pops up a windows for about 5 seconds, then closes. I tried moving it to different drives and directories, but nothing I've tried works.

![image](https://user-images.githubusercontent.com/17298607/120820557-460cd600-c51a-11eb-92d4-e1581eb1ebd7.png)

[2021-06-04 15:05] kelson42 commented on #650
Definilty not normal. What is your OS? What that your first first (or it was working before)? What is display on the dialog box which is displayed before crashing? What is display on the terminal if you start Kiwix from the command line?

[2021-06-04 15:11] VincentXE commented on #650
OS: Windows 10 Pro 20H2

I used Kiwix 2.0 beta fine, but I just downloaded 2.0.5 and 2.0.5 doesn't work. It just crashes

What is displayed when I try to open it is this:
![kiwix-desktop_SK3owz8GmF](https://user-images.githubusercontent.com/17298607/120823353-f7147000-c51c-11eb-97d3-8bc633db4bd8.png)

If I try to start it with cmd, it just starts up the same
![image](https://user-images.githubuser

[2021-06-04 15:15] kelson42 commented on #650
@VincentXE Thx for the details and the video, this is helpful. So 2.0.5 fails to start sporadicaly (or it sporadicaly starts properly), right?

[2021-06-04 15:16] VincentXE commented on #650
Yep

[2021-06-05 01:31] VincentXE commented on #650
Alright, so I seemed to have fixed it.....strange issue though.

It seemed to have been picking up the 3 zim files I had. they were english Wikipedia 2018, English wikiquote 2018, and English wikisource 2018. I downloaded completely new zim files of each, deleated the old ones, and now it boots up perfectly.

BUT, it does not detect my new zim files, while when it did sometimes start correctly, it

[2021-06-05 09:49] Jaifroid commented on #650
@VincentXE I had this issue some time ago with a full Wikipedia English download that would cause Kiwix Desktop to crash. Eventually, I discovered that the problem was a corrupted ZIM file causing the software to fail with very similar symptoms (the curly braces on the front page). I think Kiwix Desktop error catching could be improved, but the issue might be your ZIM file. If you downloaded it wi

[2021-06-05 13:06] kelson42 commented on #650
@VincentXE If you can identify and upload the broken zim file that would be really helpful to reproduce/fix this bug.

[2021-06-09 11:24] Popolechien opened #651 "Unable to download zim files on Kiwix 2.0.5 on Windows 10"
Running Kiwix-desktop 2.0.5 downloaded minutes ago, I get the below error message when trying to download any zim file:
![image](https://user-images.githubusercontent.com/21675885/121346017-d89be380-c925-11eb-8d1f-0dab84882dcf.png)

Download works on android, so I assume this to be a desktop issue.

[2021-06-09 11:52] Popolechien opened #652 "Trying to open Wikipedia_ar_top_maxi_2021_04 crashes Kiwix for Windows 10"
Downloaded Wikipedia_ar_top_maxi_2021_04.zim and tried to open it on my Windows 10 machine. When on the zim's landing page, if I click on an image to open an article, the application freezes.
This behaviour is not reproduced when trying with other Wikipedia-related zim files of a similar size (e.g. Wikipedia_en_physics_maxo_2021-03.zim, about 1.7 Gb as well)

Running Windows 10 Family edition vers

[2021-06-09 13:37] Popolechien commented on #652
Same issue with Wikipedia_ar_top_maxi_2021_05.zim

[2021-06-09 16:42] kelson42 commented on #652
I have to try this with the latest code base.

[2021-06-13 11:10] EsterLoken opened #653 "Clicking on links within "wikipedia_ja_all_maxi_2021-03.zim" causes the app to freeze"
I downloaded "[wikipedia_ja_all_maxi_2021-03.zim](https://download.kiwix.org/zim/wikipedia_ja_all_maxi.zim)" and it opens up just fine:

![image](https://user-images.githubusercontent.com/33354862/121804833-98e83b00-cc48-11eb-9a01-10067d89c178.png)

but as soon as I click a link there the app completely freezes.
I'm using kiwix-desktop_windows_x64_2.0.5.

If there's any way to produce a debug log

[2021-06-13 11:59] kelson42 commented on #653
Thank you for your bug report. Do you have the same problem with the latest nightly? http://download.kiwix.org/nightly/2021-06-12/kiwix-desktop_windows_x64_2021-06-12.zip

[2021-06-13 12:13] EsterLoken commented on #653
Hey Kelson, the nightly actually does work, I can click links and it takes me to the article instead of freezing up.

Thanks!

[2021-06-13 12:16] kelson42 commented on #653
I guess the problem has been already fixed then. But you will have to run this development version until we make a new official release.

[2021-06-13 12:16] #653 closed

[2021-06-13 12:18] kelson42 commented on #652
@Popolechien Can you please try with latest nightly http://download.kiwix.org/nightly/2021-06-12/kiwix-desktop_windows_x64_2021-06-12.zip? Good chances it will work.

[2021-06-13 12:18] kelson42 commented on #651
Does it works now?

[2021-06-13 12:19] kelson42 commented on #650
Without the problematic file, we can not fix this problem.

[2021-06-13 12:19] #650 closed

[2021-06-13 13:37] Popolechien commented on #651
Yes. do we know what happened?

[2021-06-13 13:37] #651 closed

[2021-06-13 13:43] kelson42 commented on #651
No but we had a full mirror offline for many days and for an unknown reason, the mirror manager was still routing users to it. Might be the reason.

[2021-06-13 13:46] Popolechien commented on #652
The nightly won't open the download library so that's a rather bad start :-/

[2021-06-13 13:49] kelson42 commented on #652
You just have to open the zim file in theblocal storage... why do you need to download anything?

[2021-06-13 14:05] kelson42 commented on #652
No problem for me on Linux with latest dev version.

[2021-06-13 14:14] Popolechien commented on #652
Because I'm on a different computer (home vs office). Will download the Zim directly and try again

[2021-06-13 14:34] kelson42 commented on #607
Tried with latest libzim/libkiwix and I'm not able to reproduce the crash scenario. Closing for the moment.

[2021-06-13 14:34] #607 closed

[2021-06-13 19:42] Popolechien commented on #652
Works here to on the latest nightly for Windows as well.

[2021-06-13 20:07] #652 closed

[2021-06-15 17:41] asashnov commented on #540
Good approach is suggested by Qt documentation:

[2021-06-15 18:42] asashnov opened #654 "Zoom in/out/reset shoold work forthe current tab only"
Currently (57162a79) Zoom in/out/reset action applied to all the opened tabs.

## Actual result

Pressing Ctrl++  Ctrl+-  (or zoom in/out with mouse wheel) is applied to every opened tab at the moment.

## Expected result

Pressing Ctrl++  Ctrl+-  (or zoom in/out with mouse wheel) should be applied to the current (active) tab only, as it is in all major web browsers.

## Additional details

In cod

[2021-06-16 14:45] lfuelling opened #655 "Kiwix not rendering anything using X11 forwarding"
I'm trying to run kiwix 2.0.5-0~bpo10+1 on Debian amd64 using SSH X11 forwarding to macOS.

The kiwix Library window opens and renders nothing:
<img width="1052" alt="Screenshot of the kiwix library window. There is no content at all." src="https://user-images.githubusercontent.com/5144843/122239390-2e8dff80-cec1-11eb-9b44-34e86f6e3425.png">

The terminal gets flooded with errors (look at the time

[2021-06-18 08:36] kelson42 commented on #655
All of this is handled by Qt, I hardly believe we can help fixing this.

[2021-06-18 08:59] lfuelling commented on #655
Thanks for the hint @kelson42. I can confirm that another QT application (falkon browser) has the same problem.

It seems like a problen with OpenGL, `glxgears` also crashes, which I was able to fix using the following command:
[code]

Now glxgears is working but `kiwix-desktop` and `falkon` still crash:
[code]

But I guess it's really not an issue with kiwix. Thanks again for pointing me in the r

[2021-06-18 08:59] #655 closed

[2021-06-23 00:21] PaulSHahn commented on #430
I still have this issue on Lubuntu/Ubuntu Groovy with the official kiwix-desktop_x86_64_2.0.5.appimage I downloaded today.... blank pages with khan academy videos. Exporting the environment variable was no help. May try to build from source later on.

[2021-06-29 06:14] smargo171 opened #658 "Articles are not displayed on Windows (any file, any Kivix flavor)"
I have installed: kiwix-desktop_windows_x64_2.0.5, Kivix JS from Microsoft store, Kivix extension on Chrome.

I have downloaded 2 files:
- wikivoyage_en_all_maxi_2021-05.zim
- wikipedia_en_all_maxi_2020-09.zim

If I open either of the files with any tool, I can open them without any error message, but when I try to search for a article, e.g. "Italy", no articles are displayed. On kivix-desktop the

[2021-06-29 06:29] kelson42 commented on #658
For some reason, the file is not readable (anymore).Try to put the ZIM file on the same disk like the software.

[2021-06-29 06:43] smargo171 commented on #658
The smaller wikivoyage ZIM file is already on the same disk (C:) as the executable.
exe:
C:\Users\s3rg\kiwix-desktop_windows_x64_2.0.5\kiwix-desktop.exe
File:
C:\Users\s3rg\wikivoyage_en_all_maxi_2021-05.zim

The bigger ZIM (97 GB) is on the SD card.
Both files show the same behavior.

[2021-06-29 06:54] kelson42 commented on #658
You can try with the latest dev version of Kiwix Desktop https://download.kiwix.org/nightly/2021-06-28/kiwix-desktop_windows_x64_2021-06-28.zip. But pretty sure this is something related to your install.

[2021-06-29 06:57] smargo171 commented on #658
The latest build can't be launched , have the following error message:
"Entry Point Not Found".

![image](https://user-images.githubusercontent.com/12448225/123751285-dccd7800-d8b7-11eb-8fb8-e9785333ce68.png)

[2021-06-29 06:58] smargo171 commented on #658
I have a fresh Win 10 install from a couple of days ago, new Surface Go 2, all latest updates installed and basically nothing more.

[2021-06-29 07:05] kelson42 commented on #658
OK, I will put this ticket in the milestone.... for the moment this is unclear what is going on.

[2021-06-30 19:56] kelson42 commented on #598
@LaurentBonnaud @ITwrx so the following command does not work either for you?
[code]

[2021-06-30 20:00] kelson42 commented on #430
We have now Kiwix Desktop compiling against Qt 5.15 and this fixes the problem. Until the next release, the nightlies from https://download.kiwix.org should allow to fix the problem.

[2021-06-30 20:00] #430 closed

[2021-06-30 20:01] kelson42 commented on #91
It seems to be fixed now, unsure if this is due to ne new style of dialog or if this is because of Qt 5.15.

[2021-06-30 20:01] #91 closed

[2021-06-30 20:06] kelson42 commented on #433
To me, with latest appimage nightly (using Qt 5.15), these problems are fixed.

[2021-06-30 20:06] #433 closed

[2021-06-30 20:07] ITwrx commented on #598
i don't know where to get a `kiwix-desktop_x86_64_2021-06-30.appimage` but trying it with v `2.0.5` gives:

[code]

[2021-06-30 20:09] kelson42 commented on #432
@ynikitenko Is that bug fixed with latest nightly https://download.kiwix.org/nightly/2021-06-30/kiwix-desktop_x86_64_2021-06-30.appimage which now use recent version of Qt (5.15)?

[2021-06-30 20:13] kelson42 commented on #598
https://download.kiwix.org/nightly/2021-06-30/kiwix-desktop_x86_64_2021-06-30.appimage ... but should work the same with the official release.

[2021-06-30 20:24] suterma commented on #598
I had a similar issue, using an AMD Radeon (AMD® Rs880) graphics card. The error message included
`libGL error: MESA-LOADER: failed to open r600`
The solution was to install the propert driver from https://amdgpu-install.readthedocs.io/en/latest/ using
`sudo ./amdgpu-install`

Unfortunately, kiwix seems to have a dependency to hardware based graphics features, maybe because of dependencies in Qt.

[2021-07-01 05:27] greeneryAO opened #659 "macos, ui is matched dark as it should be, is making the zims dark possible?"
I don't really see the point in having a nice dark ui which matches system color and then bright white wikipedia zim, any workarounds? There are no options that I can change it's barebones.

Can I do this is js version, if so I'll try that, I have light sensitivity so I hate reading on white backgrounds.

[2021-07-01 09:16] ShivamJhaa commented on #654
I would like to fix this issue.
Thank you.

[2021-07-01 14:14] ynikitenko commented on #432
@kelson42 currently I'm using Arch Linux, Kiwix Version = 2.0.5. This bug is not present here, so I probably won't be able to see the difference. However, I'll try Fedora Core on another laptop in several weeks (or months, can't know it for sure, sorry! Feel free to ping me in the end of July).

[2021-07-01 16:08] ynikitenko commented on #432
I can't run this appimage on Arch Linux,

I'm afraid I won't be able to run that on Fedora as well, because on my old laptop Fedora is pretty old too (and Qt was probably not updated there since a long time, as is usual with fixed release distros).

[2021-07-01 18:47] kelson42 commented on #654
@ShivamJhaa please, make a PR

[2021-07-02 12:35] LaurentBonnaud commented on #598
No, it does not:
[code]

[2021-07-02 12:36] LaurentBonnaud commented on #598
For my GPU (TigerLake) the correct driver would be "iris":
[code]

[2021-07-02 12:36] LaurentBonnaud commented on #598
The "swrast" driver does not work either:
[code]

[2021-07-02 15:03] ITwrx commented on #598
and i tried it with `$ MESA_LOADER_DRIVER_OVERRIDE=amdgpu` the other day and it gave the same failure result.

[2021-07-07 09:25] mgautierfr commented on #622
I'm not sure about what is the "search form", but there is already :
- Ctrl+L to focus the search bar (as for any web browser)
- F3 to search in the page

I see no reason to change the behavior of well known shortcut shared with a lot of (if not all) tools.

---

There is a action planned in our code to search in the library but it is not used.
We probably want to use/activate it but it is another

[2021-07-07 10:35] kelson42 commented on #622
This ticket does not request to change the behaviours you have listed above. It asks to implement a behaviour which is to be found in any browser (with a focus on the search box)... a behavirour which is currently not implemented in Kiwix Desktop.

[2021-07-07 12:35] mgautierfr commented on #622
The title `Make the "home" keyboard key focus the search form` makes me think that it is asked to make the home key focus the search box.
But as you mention it, the "home" key is used to go to the top of the page. I'm speaking about this well known shortcut behavior.

As said in my previous comment, it depends on what is "search box" but there is already the shortcut `Ctrl+l` to focus the top sear

[2021-07-07 12:55] kelson42 commented on #622
The searbox is the box to make searches ft/suggestions in the zim files.

[2021-07-07 13:13] mgautierfr commented on #622
So Ctrl+l is your shortcut.

[2021-07-07 13:18] kelson42 commented on #622
No, CTRL+L does not satisfy fully the requirement, only half of it.

[2021-07-07 14:10] mgautierfr commented on #622
What is the requirement missing ?

[2021-07-07 14:22] mgautierfr commented on #622
This is not a requirement, this is a statement about what is currently implemented.

[2021-07-07 15:23] mgautierfr commented on #412
The menu is handled by Qt (and the shadow by the window manager). I'm not sure we can do something here.

[2021-07-07 23:15] nanderer opened #660 "feature request: dark mode"
hi,

please add a dark mode to the qt and html based desktop version.

thanks

[2021-07-08 10:15] kelson42 commented on #660
Agree, but basically a duplicate of #320

[2021-07-08 10:15] #660 closed

[2021-07-09 14:55] vaish567 commented on #654
If this issue is still engaged with someone, I would like to go through this issue @kelson42 👍🏻

[2021-07-09 16:42] kelson42 commented on #654
@vaish567 I'm supportive, but explain first here how you plan to fix the problem.

[2021-07-15 05:00] kelson42 commented on #598
@ITwrx Unfortunately there is nothing we can do at pur level, this is a local opengl configuration problem.

[2021-07-15 05:00] #598 closed

[2021-07-15 05:01] kelson42 commented on #658
@smargo171 latest nightly should start now properly http://download.kiwix.org/nightly/2021-07-14/kiwix-desktop_windows_x64_2021-07-14.zip

[2021-07-15 05:05] kelson42 commented on #432
Yes, we need Qt5 to fix this problem. closing for the moment, if this reappear, then please reopen the ticket.

[2021-07-15 05:05] #432 closed

[2021-07-15 05:46] kelson42 commented on #601
We compile now against Latest Qt5, so it should work now with latest nightly http://download.kiwix.org/nightly/

[2021-07-15 05:46] #601 closed

[2021-07-15 07:29] iMonZ commented on #601
Have someone tried it befor closing the issue?

[2021-07-15 07:30] iMonZ commented on #601
I think you need to add an Wayland modul

[2021-07-15 20:55] smargo171 commented on #658
Thanks. I've installed the build from 01.07, it was also Ok.

[2021-07-16 05:01] #658 closed

[2021-07-19 09:50] iMonZ commented on #601
The flatpak version works fine now!

[2021-07-20 07:34] suterma opened #663 "UX for first-time users: Tell the user explicitly where to get files"
Upon starting kiwix-desktop (on Ubuntu 20.04) the user is presented with this screen:
![Screenshot from 2021-07-20 09-27-03](https://user-images.githubusercontent.com/11473920/126279704-78a0d856-63c7-4757-a7a9-cb2f891ed90f.png)

IMHO it's not clear where to get content. It personally took me a while to figure it out.

I would have expected to see a "Download Content" Button or menu entry. Maybe an

[2021-07-20 09:10] suterma commented on #554
I can only second this. Any new user will be completely confused, what to search with each box, the placeholder text is not conculsive. Also, the very existence of two search bars on a screen should be avoided in the first place.

[2021-07-20 09:29] suterma opened #664 "WIP: Separating search for archives (ZIM's) and search for content (in articles)"
_Work in progress_
This issue proposes a concrete solution to the issue at hand in https://github.com/kiwix/kiwix-desktop/issues/554
The aim is to somewhat mimick the behavior of the Firefox browser with regards to searching for content and searching in settings.

- The tabs bar is ALWAYS the topmost UI element.
- Below is some "menu bar" that displays the appropriate navigation within the visible

[2021-07-20 11:38] kelson42 commented on #664
@suterma Thank you for your proposal. Can you please just move this discussion to #554? There is not need to duplicate the ticket.

[2021-07-20 11:42] kelson42 commented on #554
@Popolechien @suterma So, the current implementation respects the UI design mockup! We need to agree if there is an implementation problem or a design problem... or both.

[2021-07-20 12:06] kelson42 commented on #663
@suterma We should definitly start with "All files" if no local content. Otherwise I would keep having this open per default. To me that should be good enough fot his ticket. I think a discussion should be started if "All files" and "Local files" is a proper labelling (I think this is not really).

[2021-07-20 12:08] kelson42 commented on #555
They should be move to the local library during the download.

[2021-07-20 13:20] suterma commented on #554
_Work in progress_
This comment proposes a concrete solution to the issue at hand. The aim is to somewhat mimick the behavior of the Firefox browser with regards to content and settings.

- The tabs bar is ALWAYS the topmost UI element.
- Below is some "menu bar" that displays the appropriate navigation within the visible tab's content.
- Below is the content, respective to the tab type.

Imho, th

[2021-07-20 13:21] suterma commented on #664
Closing this issue as per recommendation by @kelson42 and introduced it in #554 as a comment.

[2021-07-20 13:21] #664 closed

[2021-07-20 14:19] kelson42 commented on #554
@suterma Thank you for your proposal. This is an interesting one. But, honestly I don't fell comfortable to make such a massive change just right like this. This is too much, too quick, and from someone with too few experience with the project.

I propose an alternative which is easier and less risky:
* Move the library search bar to the left sidebar, below other filters
* Keep it like it is, but

[2021-07-20 14:29] kelson42 commented on #554
For the documentation, here is how the Kiwix Desktop 1.0 library looked like:
![image](https://user-images.githubusercontent.com/1029718/126341993-28013cbf-d05c-46f0-b4aa-c789b3e5fb5d.png)

[2021-07-21 06:40] suterma commented on #304
Sorry to be a necromancer here, but as a first time user, I feel the urge to comment on behalf of the possibly many other first-time users:

I never have been using anything else than F11 to toggle fullscreen, both on Windows and Ubuntu, for both of Firefox and Chrome. While it may be technically true that the established default for Qt-Apps is CTRL-F11, as a user this is not relevant to me. I'll

[2021-07-21 07:25] suterma opened #665 "Additionally show the keyboard shortcuts for buttons in their tooltip"
Most applications show a description of the action of a button, along with the assigned keyboard shortcut (if any)  in a tooltip, when hovering. As a first-time user, I was expecting this, especially since the F11-Fullscreen shortcut "did not work". (See separate issue https://github.com/kiwix/kiwix-desktop/issues/304)

Here's how it looks like currently:
![hovering-tooltip](https://user-images.gi

[2021-07-21 07:36] suterma opened #666 "Tooltips inconsistency: not shown, when application is not focused"
Most applications (e.g. Firefox, Thunderbird, LibreOffice on Ubuntu OS at least) show their tooltips when hovering the mouse over a button, even when they are not have focus (are not receiving actual keyboard input at the moment).

Kiwix, in this case, is highlighting the action, if available (lighting up in blue style), but the respective tooltip is not shown. Clicking the button however, immedia

[2021-07-22 06:23] kelson42 commented on #666
@suterma Agree

[2021-07-22 06:24] kelson42 commented on #665
Agree, similar to #666

[2021-07-27 14:39] mgautierfr commented on #304
I'm sorry but we will not change this.

And then all users whom use something else than `F11` will complain.

If you what to use all the time `F11`, go in your desktop environment setting and set the fullscreen shortcut to `F11`. All application will (or should) use it.

[2021-07-28 09:56] #618 closed

[2021-07-28 12:02] kelson42 commented on #666
@suterma Is that not something you could fix?

[2021-07-29 06:37] Aryan-Mohanty commented on #666
@kelson42, Hey, I am willing to work on this. Can you tell me where to find the source code?

[2021-07-29 07:09] suterma commented on #666
@kelson42 @Aryan-Mohanty That's fine with me, as I have no prior knowledge of Qt anyways.
@Aryan-Mohanty The source code is of course in this repo. To actually build it, you might want to use the tools at https://github.com/kiwix/kiwix-build

[2021-07-31 02:18] programmeruser2 opened #668 "Switching to a hanzi version of a page in the Min Dong Wikipedia causes Kiwix to freeze"
Download the [Min Dong Wikipedia .zim](https://docs.google.com/document/d/1fOColiO1NcbShUJqN3v0nMZh6hW6zYwfWgCdJQGbzw0/edit) and click on the link that says "頭頁" on the mainpage. This causes Kiwix to freeze.
(Another more minor issue is that the other links below the large mainpage boxes and above the sister project links don't work)

[2021-07-31 06:51] kelson42 commented on #668
@programmeruser2 Can you please try with latest nightly? http://download.kiwix.org/nightly/2021-07-27/

[2021-07-31 09:33] kelson42 opened #669 "URL tooltip is not displayed naymore on the bottom left corner"
See
![image](https://user-images.githubusercontent.com/1029718/127735666-dcc52ac1-33fd-4b26-ae00-bc34f4e8b6a9.png)

It is displayed a few pixels to high.... this looks like a regression as it was working

[2021-07-31 10:40] kelson42 commented on #669
@asashnov Actually `QToolTip::showText(QPoint(0, 0), link)` does not even print exatly in the top left corner either... There is still a top and left margin... so I guess something fundamental is wrong here.

![image](https://user-images.githubusercontent.com/1029718/127737292-24791f48-07c7-40dc-af7e-80fa069ef698.png)

[2021-07-31 13:44] programmeruser2 commented on #668
It works, thanks.

[2021-07-31 13:45] #668 closed

[2021-07-31 17:51] #421 closed

[2021-07-31 19:20] kelson42 opened #671 "HTTP service pretty broken with cutting-edge dev version of libkiwix"
The bugs I see:
* Icon is not displayed properly
* Download link is visible, but it should not
* Preview leads to a 404 URL

[2021-08-01 06:16] #669 closed

[2021-08-03 21:49] MananJethwani commented on #671
@kelson42 there are 2 problems I detected which leads to such situations -
1) kiwix-server for preview provides a url like this `http://192.168.1.6:8181/wikipedia_en_100_nopic_2021-07`
but for kiwix-serve started using kiwix-desktop humanFriendly naming is not enabled and this name leads to a 404, similar is the case for the icon.

2) download link in my case is only available for those zim files

[2021-08-03 21:50] kelson42 commented on #671
@MananJethwani Can you fix the problems?

[2021-08-03 21:56] MananJethwani commented on #671
@kelson42 I am not well aquainted with the processes undergoing here will take me a few days but I can try if you want.

[2021-08-04 15:43] mgautierfr commented on #671
- Enabling human friendly naming should be pretty easy. You must pass a namemapper to the server. See what is done on kiwix-tools side : https://github.com/kiwix/kiwix-tools/blob/master/src/server/kiwix-serve.cpp#L250-L251

- I'm not sure of how the download button is added but it should be if the book has a url address. We have one if we download the book using kiwix-desktop (this is the url we u

[2021-08-04 16:57] kelson42 commented on #671
Not sur if we could just remove the url once this is fully downloaded? This shoudl fix the problem.

[2021-08-06 10:50] asashnov commented on #592
Steps to reproduce:

1. During login into system, choose 'KDE Plasma' session (this is the default for Kubuntu, or it can be installed on Ubuntu by 'kde-plasma-desktop' package)
2. In Plasma desktop session, choose System Settings -> appearance -> Colors -> Breeze Dark
3. run the program

### Actual result

![Screenshot_20210806_173738](https://user-images.githubusercontent.com/5078434/128499386-5

[2021-08-06 11:32] kelson42 commented on #592
@asashnov Great, so bug confirmed. Do you have an idea how to fix it?

[2021-08-06 11:41] asashnov commented on #592
Idea of the fix: just explicitely specify font color black, as it is in light themes by default.
Dark theme makes font color white by default, this is the cause of this issue.

[2021-08-06 11:50] kelson42 commented on #592
@asashnov OK, I'm supportive of this. My title was explicit about that, ie. "UI Text color should be specified". As long as we don't support properly multiple/dark theme. We have to do so.

[2021-08-06 12:04] kelson42 commented on #671
@MananJethwani We should take problems/bugs separatly to avoid confusion. The priority is to make content readable, ie. the "human friendly" problem. @mgautierfr Is that the same bug like https://github.com/kiwix/libkiwix/issues/456 ?

[2021-08-06 12:09] mgautierfr commented on #671
Yes. The first point is the same than kiwix/libkiwix#456 (but it should be fixed in kiwix-desktop)

[2021-08-06 12:16] kelson42 commented on #671
@mgautierfr I have transered the ticket to kiwix/kiwix-desktop at #676.
@MananJethwani To fix this ticket we need to fix #676 first. Does the previous comment https://github.com/kiwix/kiwix-desktop/issues/671#issuecomment-892766057 from @mgautierfr is enough for you to know what to do?

[2021-08-06 13:04] MananJethwani commented on #671
@kelson42 I will try to solve it on my own....if I get stuck will contact mgautier.

[2021-08-13 12:08] kelson42 commented on #3
@asashnov Any news on that one?

[2021-08-14 15:26] kelson42 commented on #671
@MananJethwani Now that is seems you have fixed #676, do you know why the icon is not displayed properly?

[2021-08-14 21:10] alexfreyre commented on #592
I have color problems with KDE theme. Would be great if Kiwix app had their won themes.

[2021-08-25 19:03] Popolechien opened #681 "Add Ladakhi to language list"
We've got content in this language that cannot be retrieved in the app because Ladakhi is not an option from the language list.

[2021-08-28 09:36] kelson42 opened #683 "Library should be rewritten in Qt"
The library is the view which allows to handle books, locally (when books are already downloaded) or remotely (from the online catalog) to download them. Here is how it looks like.

Local library (with filters):
![image](https://user-images.githubusercontent.com/1029718/160275963-65083d9c-376f-433d-bdb5-5029e23d30b6.png)

Online library (with filters):
![image](https://user-images.githubuserconten

[2021-08-28 09:36] kelson42 commented on #230
Closing this ticket in favour of #665 683

[2021-08-28 09:39] kelson42 commented on #681
For the moment the list is hardcoded at the Kiwix-Desktop level. But since a few weeks @ veloman-yunkan has implemented in libkiwix the primitive to get the list of languages for which we have contents. This is available both at the ABI level and in a form of a REST API end-point.

So far this is used only by Kiwix-Serve to populate its welcome page filters selecboxes, but the goal is that the Kiw

[2021-08-28 09:39] #681 closed

[2021-08-28 13:39] kelson42 commented on #666
@suterma I can not reproduce the problem with a cutting-edge version of Kiwix Desktop, see (this is without clicking):
![image](https://user-images.githubusercontent.com/1029718/131219788-b48e8cb1-15c9-4fef-9a09-109e80bf9fb2.png)

Or I misunderstand the ticket... I would recommend to test with the latest nightly https://download.kiwix.org/nightly/2021-08-28/. Would be interesting to know if the pr

[2021-08-28 18:24] kelson42 commented on #566
@jeexop Thx for your bug report. Do you know if this bug still occur with latest nightlies http://download.kiwix.org/nightly/ ?

[2021-08-29 13:51] juuz0 commented on #666
@kelson42 Yea I could reproduce the problem.
These are the steps I followed -
Open two windows, one of Kiwix and one of Chrome.
Unmaximised both.
Made Chrome active by clicking on it
and then hovered over the buttons in Kiwix, they don't show the tooltips.

And as suterma said, Firefox does show.

[2021-08-29 14:07] kelson42 commented on #666
OK.... then indeed I'm not sure this is fixable. @juuz0 Do you?

[2021-08-29 14:52] juuz0 commented on #666
Yes, I think there's an attribute. I have tried it and working for me, just need a little more tests

[2021-08-30 10:24] mgautierfr commented on #230
@kelson42 This is not a duplicate of #665 for me.

[2021-08-30 10:26] kelson42 commented on #230
Where is the discrepence? Where is still used vue.js outside the library?

[2021-08-30 10:27] kelson42 commented on #230
Sorry, #683

[2021-08-31 13:36] #671 closed

[2021-08-31 14:30] #592 closed

[2021-08-31 15:03] #230 closed

[2021-09-01 06:42] #676 closed

[2021-09-01 09:12] #666 closed

[2021-09-03 05:51] alex-ie opened #685 "sort offers longer matches first, extremely difficult to find short named entries"
I have not found such issue in kiwix issues via google. E.g search for "revel" in wiktionary offers dozen matches, all longer. If I select "Revell", then from that "revell", then from that "revel" I find out what I'm looking for and that "revel" entry is indeed in the dictionary. Longer words can be further searched for by typing additional letters, but how to find short one???
Linux, Kiwix deskto

[2021-09-03 06:16] kelson42 commented on #685
I would either put a space after "revel" or clickong on the item to make a fullteyt search. @MananJethwani You confirm?

[2021-09-04 00:49] ALittleBug commented on #393
I also observed same issue, anyone can help?
libGL: MESA-LOADER: failed to open /usr/lib/x86_64-linux-gnu/dri/swrast_dri.so: /lib/x86_64-linux-gnu/libdrm_amdgpu.so.1: undefined symbol: drmSyncobjTimelineSignal
libGL: MESA-LOADER: failed to open \$${ORIGIN}/dri/swrast_dri.so: \$${ORIGIN}/dri/swrast_dri.so: cannot open shared object file: No such file or directory
libGL: MESA-LOADER: failed to open

[2021-09-04 02:26] maneeshpm commented on #685
Yes @kelson42 that should work. Even though exact match should have the highest priority in the current version. I'll just check if something's wrong.

[2021-09-04 03:14] jeexop commented on #566
Thanks for reply!
I visited the nightly build page [2021-09-04](http://download.kiwix.org/nightly/2021-09-04/), but **windows build** of kiwix-desktop doesn't appear in the file list.

[2021-09-04 04:02] maneeshpm commented on #685
@kelson42 I tested wiktionary on the latest libzim/libkiwix. The feature is working as expected! :smiley:  We can close this issue.

@alex-ie This has already been fixed and should be available to you in an upcoming update. I am attaching a screenshot below to share the anticipated behavior. Please let us know if there is an issue.

![Screenshot from 2021-09-04 09-26-46](https://user-images.github

[2021-09-04 04:07] alex-ie commented on #685
Neither space not tab not Enter helps. Full search gives 1000+ matches of which on 1st page neither one is "revel". I'm going to look at next version then.

[2021-09-04 04:15] alex-ie commented on #685
You mention "libzim/libkiwix" I don't know exactly what its role in desktop app. What I know is that interface of standalone and flatpack are different for same 2.0.5 : It looks strange to me that "open link in new tab" is present in flatpack one but not in standalone. It is surely another issue, but pertaining to this one I just wanted to know if new search behavior would apply to all versions?

[2021-09-04 05:24] maneeshpm commented on #685
@alex-ie libzim and libkiwix are essentially the backends on which most of the kiwix projects are based. So updating the search backend in libzim will enhance search functionalities on all subprojects including kiwix-desktop. So to answer your first question, yes the new search behavior will apply to kiwix-desktop as well with the update. As far as the specific build is concerned, I will let @kels

[2021-09-04 05:42] kelson42 commented on #685
@alex-ie New versions of libkiwix/libzim should be release in the next weeks. Same for Kiwix Desktop. The improvements will apply from this release and the next ones. Please open new tickets if you see other iddities or bugs.

[2021-09-04 05:42] #685 closed

[2021-09-04 05:43] kelson42 commented on #566
Indeed, something is broken here, but you can check with http://download.kiwix.org/nightly/2021-08-15/

[2021-09-05 05:13] juuz0 commented on #654
Hi, I think we can use the same if condition as used in Back and Forward buttons to only apply the zoom in/out effect on current tab

[code]
If no is one currently working on this, I would like to do this :)

[2021-09-05 06:12] kelson42 commented on #654
@juuz0 Not sure what you exactly mean with your technical proposal, but yes, your are welcome to propose a patch.

[2021-09-05 12:26] alex-ie commented on #637
I have middle button on trackpad and clicking it on link opens it in background. So I have a choice current way. Can Kiwix retain current way and in resolving that issue add another line to right-click menu with "open in new background tab"? Right-click menu is not overloaded now.

[2021-09-05 12:33] alex-ie commented on #157
I have a laptop with 3K screen, I do not currently see issues. What did you mean?

[2021-09-05 12:47] alex-ie opened #687 "Different interface of flatpack and standalone appimage (Linux)."
I have both appimage and Kiwix installed from flatpack, both say version 2.0.5 in "About". But flatpack one have "Open link in new tab" in right-click menu, but appimage has not. "Instead" appimage has "Follow link" which does about same as just left-clicking. Why are they different? Could appimage be made as flatpack now - IMHO obviously more useful?

[2021-09-05 12:47] kelson42 commented on #637
At this stage my strategy is to do like Firefox/Chrome. I kind of assume that whatever how they do, this is the right way to follow. Hoep this would OK for users.

[2021-09-05 12:52] kelson42 commented on #157
@alex-ie would you be able to make a screenshot?

[2021-09-05 12:53] alex-ie opened #688 "Search is not finding matches in collapsed views (Linux)"
Page opens in background (by middle clicking on link) in collapsed view. In might be personal preference with mine it better be expanded by default, but search is not working in collapsed sections, which IMHO makes collapsed view much less useful than expanded. Could background be opened in expanded view by default (or better give user a choice somewhere in options or right-click menu) - [might be

[2021-09-05 13:01] kelson42 commented on #687
@alex-ie Would you be able please to uninstall them and install the nightlies, both flatpak and appimage, and see if this oddity still happens? http://download.kiwix.org/nightly/

[2021-09-05 13:03] kelson42 commented on #688
@alex-ie I guess you mean "find in page"? Sounds normal to me. AFAIK this is how it works on a browser.

[2021-09-06 06:35] alex-ie commented on #688
@kelson42, yes, I've checked and you are right - e.g. Firefox is not searching in collapsed sections. I will make another one asking specifically to open background in expanded view cause I think it is more convenient and I don't mind closing this one.

[2021-09-06 06:35] #688 closed

[2021-09-06 06:44] alex-ie opened #690 "Open background tabs in expanded view"
New tab opens in background (by middle clicking on link) in collapsed view. That way search in page cannot find info in collapsed sections and reader need to expand sections to view. I don't see reason (what was it?) to open background tabs in collapsed and open topics from search in expanded; browsers (e.g. Firefox) open background tabs in expanded.
Could background be opened in expanded view by

[2021-09-06 07:15] alex-ie commented on #687
@kelson42, I downloaded http://download.kiwix.org/nightly/2021-09-06/kiwix-desktop_x86_64_2021-09-06.appimage and the right-click menu looks same as flatpack one I installed previously -  so that appimage looks good to me, no issues noted.

I have a side question, kind of related:
1) When I started new appimage it opened same books as previous one, where the app stores its data? (help menu is the

[2021-09-06 09:48] kelson42 commented on #687
Not sure if flatpak uninstall automatically the older version, I would do it manually to secure this. But the nightly version even is a dev version with many more thing that the official 2.0.5, you can see the milestone https://github.com/kiwix/kiwix-desktop/milestone/3?closed=1.

More info about where is your profile here: https://github.com/kiwix/kiwix-desktop/wiki/Kiwix-desktop-on-an-USB-Drive-

[2021-09-06 09:48] #687 closed

[2021-09-06 10:10] alex-ie commented on #157
![kiwix](https://user-images.githubusercontent.com/90023657/132200119-e60a9bde-c6bf-4cf3-ad4b-e131d9c8cc8e.jpg)
Now I see an issue, I did not think of it as related to high density. When many tabs are open, buttons on the right to move them left-right are small. They were small (upper window) but on nightly build (lower window) they became tiny and very hard to locate with pointer and click. Maybe

[2021-09-06 17:33] kelson42 commented on #393
@mgautierfr you reopen because of the crash? Strongly suspect this is not related to the opengl.

[2021-09-07 08:46] mgautierfr commented on #393
I've reopened it because we have something to investigate.
The crash may be related to the opengl problem or not.
And even on the opengl side, there is something wrong, it is a bit adventurous to say that the problem comes from a miss configuration of opengl on the system.

[2021-09-07 09:24] #654 closed

[2021-09-07 09:35] mgautierfr commented on #637
If I do a middle click on a link in kiwix-desktop, the link is opened in a new tab. The current tab is keep selected and we don't switch automatically to the newly created tab.

So it seems this issue is irrelevant (or already fixed)

[2021-09-07 09:49] mgautierfr commented on #690
What do you means by "expanded" ?
If you are speaking about the section inside the page itself, kiwix-desktop does nothing about this.

On some zim files (tested on two years old mathematics wikipedia) sections are not expanded. On others (recent mathematics wiki), sections are expanded.
It is probably a content issue.
What zim files are you using ?

[2021-09-07 12:05] mgautierfr opened #693 "Tab fadding do not fade to the rigth background color."
![Capture d’écran du 2021-09-07 14-00-18](https://user-images.githubusercontent.com/86161/132341054-131079df-ad0b-49a9-bd16-69c4f22301a9.png)

On fedora using locally compiled version. (Using system QT 5.15.5)

The fading of the tab is correct for active tab but is wrong for inactive ones.
I'm using gnome without any special theming.

Related to https://github.com/kiwix/kiwix-desktop/pull/538 and

[2021-09-08 09:21] mgautierfr opened #694 "Unhandled `kiwix::AriaError` exception if KIWIX_DATA_DIR is set to a unexisting directory."
`KIWIX_DATA_DIR` env variable can be used to force a specific directory to put all configuration/zim somewhere (instead of the default user data dir).
At exist, we tell aria2 to save the session in the data directory and if it not exists, a exception is raised.

We must catch it and handle it correctly.

[2021-09-08 14:36] kelson42 commented on #694
Shares similarities with #566

[2021-09-08 16:57] alex-ie commented on #690
@mgautierfr Behavior depends on whether link is just clicked (or opened from search, or opened via "Open in new tab" right-click menu - all results in new tab on foreground), or opened via middle button of mouse (tab is opened in background - to the right, focus remains on original tab).

This paragraph explains just-in-case what I mean by "expanded". E..g Wikipedia english max, search for "Human

[2021-09-08 17:10] alex-ie commented on #637
@kelson42, by "(right clic) a link in a new tab," do you mean "Open in new tab" from right-click menu? If so it is different way from what @mgautierfr mentioned (middle click). That is just to make sure all clear. I've already voiced my opinion that current functionality (having two clicks working two different ways) seems better than having two clicks working the same. Thank you.

[2021-09-16 23:35] cjohnsto-nz commented on #317
I would like to reopen this. Kiwix JS opens PDFs in an external reader. Why can't Kiwix Desktop do this?

[2021-09-17 04:18] kelson42 commented on #317
@cjohnsto-nz please open a new ticket if opening of pdf in external app does not work properly.

[2021-09-17 04:25] cjohnsto-nz opened #697 "PDF file dialog box should allow to open PDF file directly with PDF reader"
More of a feature request than an issue, Currently the behavior of the Desktop app differs to the UWP and the browser extensions. In the UWA app, PDF files are automatically saved to a folder in the Downloads area, and opened automatically.

Kiwix deskop opens a dialog, and asks the user where they would like to save the PDF. I would imagine that in the vast majority of situations, a user clicking

[2021-09-17 04:48] kelson42 commented on #697
Really surpisednthat the dialog does not provide a way to open the pdf directly in a PDF reader.

[2021-09-17 04:53] cjohnsto-nz commented on #697
The dialog is just the typical Windows Save As dialog
![image](https://user-images.githubusercontent.com/21297202/133726405-e451cab7-8e15-4d47-8af1-5aa4a51b5b22.png)

I think it would be best to save the file to a temp directory, or a download directory, and to follow up the file writing with ShellExecute(0, 0, L"c:\\outfile.txt", 0, 0 , SW_SHOW );

[2021-09-17 05:13] kelson42 commented on #697
@cjohnsto-nz Which exact zim file and article do you test with?

[2021-09-17 05:17] cjohnsto-nz commented on #697
http://x3200.media/kelson.zim

Go to page Pro C9100/9110 and click the Point to Point Diagram link.

It's a Mediawiki I've drafted as a POC for a knowledgebase, dumped to .zim with mwoffliner.

[2021-09-17 06:23] kelson42 commented on #697
Mime-type seems correct, so yes we have an improvement potential here:
[code]

[2021-09-18 13:58] #665 closed

[2021-09-19 03:21] alex-ie opened #698 "Add expand / collapse, zoom-in / zoom-out to right click menu"
I noted tabs opened with expanded sections stay expanded when link within is clicked and those opened collapsed open new page in the tab when link is clicked collapsed. So tabs retain this (expand / collapse) attribute. If not burdensome to implement, I think it would benefit users to have expand / collapse options added to right-click menu so that page on the tab changed accordingly and the tab r

[2021-09-19 06:07] kelson42 commented on #698
@alex-ie Please "one topic per ticket".

[2021-09-19 09:22] kelson42 commented on #698
I can not reproduce this and this anyway not a feature if this would happen.

I'm against building it in the "right-click" context menu, because this menu should have nothing special related to kind of content. The collapsing of the content is special to Mediawiki based content.

Regarding the zooms, same: I'm against building it:
* This is not available in standard browsers
* There are already sh

[2021-09-19 09:22] #698 closed

[2021-09-22 03:43] vagabondcoder commented on #393
I'm new to Kiwix and just downloaded the appimage for 2.0.5, and got similar errors on my Ubuntu 21.04 system.
A quick google search led me to [this](https://superuser.com/questions/1377555/slic3r-appimage-fails-to-run-with-libgl-error-unable-to-load-driver-radeonsi) and I ran this:
`LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6 ./kiwix-desktop_x86_64_2.0.5.appimage`
which seemed to work.  T

[2021-09-22 03:52] kelson42 commented on #393
@vagabondcoder Does the latest nightly fixes the problem and works out of the box? http://download.kiwix.org/nightly/2021-09-22/kiwix-desktop_x86_64_2021-09-22.appimage

[2021-09-22 04:11] vagabondcoder commented on #393
Your appimage 2021-09-22 gave me the same errors and crashed immediately. The `LD_PRELOAD` trick worked though.
I tried preloading libLLVM (which is required by my dri driver) and got:
[code]

So it looks like it needs `GLIBCXX_3.4.26` which seems to be packaged with gcc 9 and newer.

[2021-10-02 08:12] move[bot] opened #700 "AppImage Aborted (Core Dumped)"
*@teslasmoustache commented on Oct 2, 2021, 4:00 AM UTC:*

The command
`./kiwix-desktop_x86_64_2.0.5.appimage`

returns
`libGL error: MESA-LOADER: failed to open iris: /tmp/.mount_kiwix-EpxceB/usr/bin/../lib/libstdc++.so.6: version` GLIBCXX_3.4.29' not found (required by /usr/lib/dri/iris_dri.so) (search paths /usr/lib/dri, suffix _dri)
libGL error: failed to load driver: iris
libGL error: MESA-LO

[2021-10-02 08:14] kelson42 commented on #700
Duplicate of #393

[2021-10-02 08:14] #700 closed

[2021-10-09 04:37] juuz0 opened #701 "Update install instructions for Ubuntu 21.04"
Ubuntu 21.04 doesn't have the `qt5-default` package.
Better to write its individual dependencies.

[code]

[2021-10-09 05:31] kelson42 commented on #701
Yes, foloowing command should do the job: sudo apt-get install qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools

[2021-10-09 07:06] #701 closed

[2021-10-13 01:24] alex-ie opened #703 "`ctrl`+`+` & `ctrl`+`=` - please make both for `zoom in` to get rid of `Shift`"
Some apps use `ctrl`+`+` and some `ctrl`+`=` to zoom in. Only some allow to customize. If all used same, I would just remap the keyboard not to use `Shift`. Please make Kiwix user friendly to respond to both. (I guess it is easy as apposed to making GUI for hot keys customization).

P.S. I can try it as my `good first issue`.

[2021-10-19 01:32] kelson42 commented on #703
Actually both work on FF.

[2021-10-19 03:25] kelson42 commented on #412
Seems doable https://www.qtcentre.org/threads/69318-How-to-modify-shadow-of-QMenu

[2021-10-21 02:22] alex-ie commented on #690
@kelson42, hi. Thanks for doing https://github.com/kiwix/kiwix-desktop/issues/703, your initial concern for it was "how works Chrome or Firefox, right? They both are our references regarding this kind of shortcut.".  On this issue, when I open a link to wikipedia in FF (e.g. from Google search) it always opens fully expanded. As just another problem with collapsed view I noted links within the wik

[2021-10-25 10:16] #703 closed, assigned to kelson42

[2021-10-27 09:09] micha06de opened #708 "Kiwix Desktop Windows - The "All files" section is empty"
The "All files" section is empty, no content can be browsed (all filters are set to "all"). When clicking on "All Files", the blue circle of the progress indicator flashes briefly, then an empty list is displayed.
How can the problem be fixed?

[2021-10-30 06:03] asashnov commented on #412
It's possible to do custom drawing in our window when context menu is showed.
But it may not be in align with a desktop user experience. As we support a lot of desktops, some of them may use shadow effect already, so we should detect if a desktop already has it.

The desktops we have:
* Windows Aero (with 3D effects)
* Classic Windows desktop (2D)
* Gnome Compiz (with 3D effects)
* KDE with Plazma

[2021-10-30 06:16] kelson42 commented on #412
@asashnov What kind of mechanism would be used to know if there is already a shadow applied?

[2021-10-30 08:22] #693 closed

[2021-10-30 11:27] kelson42 opened #709 "Catalogue dialog content are not immediatly available on kiwix-serve"
Steps:
* Download a book from the online catalog
* Start the HTTP daemon
* Open the browser

I get something like this:
![image](https://user-images.githubusercontent.com/1029718/139531099-12a27a0c-61b5-45e1-b93f-0d4c37d2f456.png)
... and if I click on the left tile (Wikipedia) "preview" link then I have a HTTP 404.

What I want:
* Wikipedia left tile with the proper favicon
* "Preview" link leadi

[2021-10-30 13:03] mgautierfr commented on #709
I confirm.
With a first small investigation, it seems that it is because the used nameMapper (which is build only once at beginning of the app https://github.com/kiwix/kiwix-desktop/blob/master/src/kiwixapp.cpp#L26) builds its internal mapping when it is created (https://github.com/kiwix/libkiwix/blob/master/src/name_mapper.cpp#L27-L52) and so do no follow changes in the library.

I'm assigning @v

[2021-10-30 17:03] kelson42 commented on #709
This is libkiwix problem, moving to openzim/libkiwix

[2021-10-31 06:26] kelson42 commented on #708
@micha06de Any news?

[2021-10-31 06:30] kelson42 commented on #690
All of this has nothing to do with Kiwix Desktop I believe. This is as well a Wikipedia/Wikisource/… specific topic. If the sections are open or not at start depends on the availalble width to display. If you are on a PC, you should have enough width, therefore always open at start. This is completly independent of load in background or not I believe. But it seems true that this behaviour is not a

[2021-10-31 22:36] Jiangb2021 opened #710 "kiwix-serve.exe can not run in win server 2019 standard"
kiwix-serve.exe can not run in win server 2019 standard

[2021-11-01 05:40] juuz0 commented on #644
@kelson42
Almost done with this,
but while doing I thought of this :

A new option in Settings to load all zim files from a directory (user chooses from a dialog box)

Would like to know your views on it ^^

[2021-11-01 05:51] kelson42 commented on #644
@juuz0 Nice, impatient to test the PR. Regarding your idea, please open a new ticket. I will do a new assessment when this ticket will be closed.

[2021-11-01 08:42] kelson42 commented on #710
Which version of kiwix-serve? what is the error message?

[2021-11-01 08:43] kelson42 commented on #710
/move kiwix/kiwix-tools

[2021-11-01 09:27] Jiangb2021 opened #711 "kiwix-server.exe can not run on Win Server 2019 standard"
kiwix-server.exe can not run on Win Server 2019 standard. it will be shut off after run

[2021-11-01 09:28] #711 closed

[2021-11-01 09:29] Jiangb2021 commented on #710
Thanks a lot . where to move

[2021-11-01 09:29] Jiangb2021 commented on #710
1.06

[2021-11-01 09:30] Jiangb2021 commented on #710
where to move?

[2021-11-01 15:15] juuz0 opened #713 "Monitor ZIM files from a user-chosen directory"
Some people like to put all of their files at a different directory (usually case with windows users).
If I'm not mistaken, the current way right now is to open each zim file so it adds that in the local library.

A good way could be to :
Add an option in Settings to import all zim files from a directory (user chooses dialog box) [check the load local zim files option]
![Settings (1)](https://user

[2021-11-01 15:30] kelson42 commented on #713
For the moment I think this is actually a good idea and would allow (like written in the description) to solve #461 as well. For that we should have the following workflow:
* Per default the "local directory"(we need probably to rething a bit the naming/wording) would be the one of the binary.
* I someone changes it, then it looks to another place
* There is a button reset/browse like for the down

[2021-11-01 15:32] kelson42 commented on #713
Regarding the naming, one idea would be "Monitor Directory". We could add a hint on it to help users to understand what this is about.

[2021-11-02 01:44] Jiangb2021 opened #715 "kiwix server.exe can not run on Win server 2019"
kiwix server.exe can not run on Win server 2019

[2021-11-02 01:45] Jiangb2021 commented on #715
Why del my issue?

[2021-11-02 06:29] kelson42 commented on #715
Duplicate of https://github.com/kiwix/kiwix-tools/issues/494

[2021-11-02 06:29] #715 closed

[2021-11-03 14:04] juuz0 commented on #636
Basically this, right?

https://user-images.githubusercontent.com/26814569/140073653-5ecb5e9b-4b1d-43ba-b0a9-30f31db4bd9f.mp4

[2021-11-03 14:21] mgautierfr commented on #636
Yes. Even if I'm disturbed by the change of focus (but to be handled in #637)

Firefox has this behavior that if you open several tabs in a row (without changing tab), the new tabs are created just after the previously created tab. (No directly after the current tab, but more just before the next already existing tab). It would be nice (but not mandatory) to also have this behavior (and it would n

[2021-11-03 14:51] kelson42 commented on #636
@juuz0 Seems you have implemented it?!

[2021-11-03 16:25] juuz0 commented on #636
@kelson42
Yes. I have. Not sure how to implement that Firefox behaviour as @mgautierfr  though.

[2021-11-04 09:38] #637 closed

[2021-11-04 09:57] #636 closed

[2021-11-11 00:13] tehseano commented on #708
Also curious about this, the list is completely blank for me. I thought It was my pi-hole but, disabling that and pull it off network still yields a blank screen. Just spent the last 30 minutes trying to figure out how to download files and everything keeps saying "its in the app" but nothing in the app tells me its not loading a list. I thought it was just looking at local files and that's it.

[2021-11-11 02:33] kelson42 commented on #708
@tehseano If you start kiwix-desktop from the command line do you see any debug/error message?

[2021-11-11 02:48] tehseano commented on #708
Is there a command line argument I'm supposed to launch it with? I'm guessing this isn't what you wanted me to do, but if so, no it did not.

![kiwix_blank](https://user-images.githubusercontent.com/37715910/141228257-3151bb81-be59-4c1a-b3a0-3f7d18cbd19d.png)

[2021-11-11 04:02] kelson42 commented on #708
@mgautierfr I guess at this stage this is more a question for you. If something fails, which seems to be case here, we shiuld have some way to see it in the STDOUT/STDERR.

[2021-11-11 06:37] kelson42 commented on #708
@tehseano It is quit obvious that you have no language or category filter configured in the left sidebar, you confirm?

[2021-11-11 11:36] kelson42 opened #718 "Few things to fix/discuss around zoom"
In general the zoom works like this:
* There is a default zoom level at 100%
* This default zoom level can be changed in the settings
* This default zoom level applies to any ZIM, ZIM article if not defined differently.
* Each ZIM file can have its own level of zoom which is saved in the settings (but not available via UI)
* This ZIM dedicated ZOOM settings can be changed (and automatically saved

[2021-11-11 11:36] kelson42 commented on #718
@juuz0 Remember you talking about zoom level (as you were working on the settings panel)... to me it seems to work pretty well.

[2021-11-11 12:50] juuz0 commented on #718
@kelson42 Oh yea, I forgot to update. That was working correct for me too later.

Weird, this works as expected for me.

[2021-11-11 12:56] kelson42 commented on #718
@juuz0 I have restested, and indeed it seems to work.

[2021-11-11 13:00] juuz0 commented on #718
Also, is it better to remove this line (bothers me for some reason lol) and making the arrows black
![image](https://user-images.githubusercontent.com/26814569/141302282-9d15e37b-8322-4bee-bd57-8766a7f2f126.png)

[2021-11-11 14:50] tehseano commented on #708
Correct they are just set to their defaults for "all". Selecting a category or language does not have any effect.

![Screenshot_2](https://user-images.githubusercontent.com/37715910/141318241-2f957715-f819-431d-a968-30f78ac8b15e.png)

[2021-11-11 15:24] juuz0 commented on #718
@kelson42 How do you generate translations for all these languages?

[2021-11-11 15:26] kelson42 commented on #718
@juuz0 strings in english are uploaded to translatewiki.net and once a week translatewiki.net makes a PR with the translated strings.

[2021-11-12 09:49] kelson42 opened #720 "Open multiple ZIM files from command line is broken"
If I launch `./kiwix-desktop Australia.zim`

I get this:
![image](https://user-images.githubusercontent.com/1029718/141446919-6a0991f1-c527-4724-92ed-59653b893f73.png)

We should see the welcome page of the ZIM file and the ZIM file should be added to the local library.

This seems to be a regression, quite sure it was working before.

[2021-11-12 11:17] kelson42 commented on #595
@asashnov Would you please have a look to this bug?

[2021-11-12 15:56] juuz0 commented on #720
Works well for me

[2021-11-12 16:13] kelson42 commented on #720
@juuz0 You are right, the problem is the ZIM file itself. But I have discovered an other bug... if I launch:
[code]
Only the first one is open. I guess the two of them should be open right?

[2021-11-12 16:14] juuz0 commented on #720
@kelson42 Yep! Can confirm that bug and yeah both should be open.

[2021-11-14 15:41] kelson42 commented on #720
It seems we should loop instead of taking only one argument in `main.cpp`. Should be easy.

[2021-11-15 00:23] alex-ie commented on #690
Recently noted an interesting hack: wiki page opened collapsed except for 1st section. I can open other page in that tab (e..g. click some link, or do search), then go back and voala - page is opened with all sections expanded! Going back somehow changes property of the tab to open all expanded.
@kelson42, how did you notice expand/collapse depend on width?

[2021-11-15 08:20] kelson42 commented on #690
@MananJethwani By fixing the sections in MWofféiner we should as well look at this ticket probably.

[2021-11-15 12:09] #595 closed

[2021-11-15 16:20] mgautierfr commented on #683
I wonder if QML/QtQuick could be a solution here.
I know a very little about QML (mainly the main principles/behaviors) so it is maybe a wrong idea.
It would be nice to have a pro/cons comparison. (And the main question is : is it possible to have QML "widget" inside a Qt "cpp" widget)

Else, `QTable*` is probably a good idea if we stick to "cpp" widgets.

[2021-11-16 09:28] #718 closed

[2021-11-16 17:47] almuhder opened #723 "Content Filtration"
This issue is related to explicit content rather than a technical issue, it might be a suggestion to have a '**Safe search**' feature when we search for images in Google.

We are using Kiwix desktop as an offline app for kids, today we found there are a lot of images which are not suitable for kids. We know we have the Text-Only version, but this is not an option for us, as we believe in the impor

[2021-11-16 17:58] kelson42 commented on #723
I guess you talk about Wikipedia in Arabic offline?

[2021-11-21 16:31] kelson42 commented on #644
With @mgautierfr, we would like to close this ticket as `WONTFIX` in favor of #713.

We are not 100% comfortable of:
* Having per default a process of monitoring a full directory.
* Having it per default on the same directory like "Download directory".

If someone wants to monitor its "Download directory", then he will have to configure the - still to be created - "Directory to monitor" to be the

[2021-11-21 17:44] juuz0 commented on #644
@kelson42 Sounds good to me :+1:

[2021-11-22 13:22] kelson42 opened #726 "Use new libkiwix server URL help to get the localhost URL"
And replace custom code we have currently.

Based on https://github.com/kiwix/libkiwix/pull/622

[2021-11-22 14:56] juuz0 commented on #726
:+1:

[2021-11-23 14:40] almuhder commented on #723
Yes, exactly!

[2021-11-23 14:50] kelson42 commented on #723
The problem is the content, not the tool. Wikipedia is for adults, or maybe teenagers. This is not a encyclopedia for childrens. As such there is a lot of content which is probably not appropriate for them. What you need is an encyclopedia in Arabic for children. We have a few small ones (Vikidia) but none in Arabic unfortunately.

[2021-11-23 14:50] #723 closed

[2021-11-23 15:53] #644 closed

[2021-11-23 15:53] kelson42 commented on #644
Duplicate of #713

[2021-11-26 08:44] #3 closed

[2021-11-26 08:45] kelson42 commented on #525
@asashnov Would you be able please to fix this bug pleae?

[2021-11-26 09:25] kelson42 commented on #720
@juuz0 Would you be able to fix that one in the meantime we wait your other PR can move forward?

[2021-11-26 09:31] kelson42 commented on #322
Once https://github.com/kiwix/libkiwix/issues/613 is fixed (in the next days), it should be easy to implement an IP chooser at kiwix-desktop level.

[2021-11-26 09:41] kelson42 opened #728 "Add "wikiHow" category in the library"
... to ease access to wikiHow ZIM files.

[2021-11-26 11:33] juuz0 commented on #720
@kelson42 Yes, sure. On it

[2021-11-26 14:07] #728 closed

[2021-11-26 18:40] #504 closed

[2021-11-26 18:50] kelson42 commented on #611
I agree…. Ut not sure exactly how to implement it.

[2021-11-26 18:52] kelson42 commented on #588
Or this is a consequence of having webp favicons… see https://github.com/openzim/mwoffliner/issues/1539

[2021-11-26 19:49] LAfricain commented on #524
New install, on Ubuntu 20.04 Mate, new crash...

[2021-11-26 20:05] legoktm commented on #524
@LAfricain can you file a new task with more details? I'm guessing it's crashing for a different reason this time.

[2021-11-26 20:05] kelson42 commented on #524
@LAfricain Can you please open a new ticket and give the details?

[2021-11-27 06:26] kelson42 commented on #136
https://www.boxedapp.com/

[2021-11-27 06:30] kelson42 commented on #136
https://www.adontec.com/index.htm?GO=/runtimepacker_e.htm

[2021-11-27 06:31] kelson42 commented on #136
https://github.com/SerGreen/Appacker

[2021-11-27 07:11] kelson42 commented on #713
@juuz0 With @mgautierfr we agree to do so. I propose to call is « Monitored Directory ». Per default it should be not defined. Probably a toolotip or a snall question mark badge should be happen proposing a simgle sentence explanation of what it is. We shoukd wait that libkiwix proposed all the primitives to live update the library before first working on it.

[2021-11-27 07:17] kelson42 commented on #694
@mgautierfr I don’t understand why we need this env. variable and I don’t like the idea that the software does not follow what is in the configuration. Why we need it?

I don’t understand either the steps to reproduce the bug not how it should behave.

[2021-11-27 07:39] kelson42 commented on #324
Depends on https://github.com/kiwix/libkiwix/issues/638

[2021-11-27 07:40] kelson42 commented on #316
This is not that clear anymore we want do do like this. Needs more discussion.

[2021-11-27 07:48] kelson42 commented on #338
@popey I want to revisit this ticket.

I see your package is not published, see https://snapcraft.io/search?q=Kiwix. Is that something you still work on?

We have now a Debian/Ubuntu package, see https://packages.ubuntu.com/search?keywords=Kiwix&searchon=names&suite=impish&section=all. Considering that Snap seems to be mostly use in Ubuntu, does that still make sense to put effort on this?

[2021-11-27 07:54] kelson42 commented on #322
@mgautierfr @juuz0 I propose to solve this with:
* A port text/number input in the kiwix-serve dialog… and remove the port setting ins the general settings panel.
* Provide a selectbox based on the list of IPs provided by the libkiwix

… and this would replace the read-only string we propose currently. Does that sounds a good solution?

[2021-11-27 07:56] kelson42 commented on #488
We could try to make it.

[2021-11-27 08:23] popey commented on #338
Hi. I no longer work at canonical on snaps. I don't have a strong opinion on snapping it, and as you say, having a deb in the archive maybe reduces the necessity. Feel free to close this issue.

[2021-11-27 08:35] #338 closed

[2021-11-27 11:32] juuz0 commented on #322
@kelson42 Fine with me
Though I thought we are listening to all interfaces (hence 127.0.0.1 should work fine too) so providing the best IP was enough. Or is this changing now that only the IP chosen by user should be listened (?)

This will require little changes in https://github.com/kiwix/libkiwix/issues/613 - getAllNetworkInterfaces() is private right now

[2021-11-27 11:33] juuz0 commented on #713
Noted :+1:

[2021-11-27 11:40] kelson42 commented on #322
We should definitly have an option toblisten to all interfaces/ips... so 0.0.0.0... andbues we should nake this method/function public.

[2021-11-27 20:29] kelson42 commented on #697
@asashnov @juuz0 Do you know if Qt provides a way to open a known (by the OS) mime-type by an installed application, before offering the opportunity to save the file to the fs?

[2021-11-27 22:58] washere opened #731 "BUG: Search Field Too Wide & Hides Icons: Need Style Purge Feature"
Installed the MS Store version.
Downloaded one of the R-to-L ZIM files from app's repo.

Went back to app's small default wiki, the search field is so wide, the top_right icons can not be seen.

Long time coder & UI designer.

Tried:
re-install
many pref vchanges in settings, plus many combo of
download several more ZIM files from app repo
etc.

NO GOOD.
Even after reinstall the app seems fine. Bu

[2021-11-28 06:26] juuz0 commented on #697
https://doc.qt.io/qt-5/qdesktopservices.html I think?

This is not available anymore though, cant test

[2021-11-28 06:27] kelson42 commented on #731
/move kiwix-js-windows

[2021-11-28 06:31] kelson42 commented on #600
Duplicate of #42

[2021-11-28 06:31] #600 closed

[2021-11-28 06:37] cjohnsto-nz commented on #697
Oops. Moved the web server. It should be there again now.

[2021-11-28 06:49] kelson42 commented on #697
@juuz0 sure? The file is still there for me.

[2021-11-28 06:55] kelson42 commented on #697
There is a zim with pdf and epub content here as well http://download.kiwix.org/zim/other/lesbelleshistoires_fr_2020-05.zim

[2021-11-30 07:39] #720 closed

[2021-11-30 15:54] LAfricain opened #734 "Kiwix from ubuntu ppa crashes when browsing zim"
Kiwix is crashing again when I browse a zim, when opening I have this error:
[code]
And when it crashes:
[code]
And this on the second test without internet connection:
[code]

Thank you for help

[2021-11-30 15:55] LAfricain commented on #524
Hello,
The new bug report : #734

[2021-12-02 16:18] asashnov commented on #525
@kelson42 I'll have a look. Didn't know about PPA, https://www.kiwix.org/en/download/  says nothing about it.

Found with Google: site:kiwix.org PPA

https://wiki.kiwix.org/wiki/Ubuntu_PPA  - I'll reproduce, test, and try to find the cause of the problem.

[2021-12-03 12:00] asashnov commented on #525
Not reproduced for me.

Tried with https://www.linuxvmimages.com/images/ubuntu-2004/

[code]

Press Win key, type 'kiwix' in Gnome Activities search query.

Actual result:

![kiwix-icon-in-gnome-shell](https://user-images.githubusercontent.com/5078434/144596842-2768df4d-6921-44ff-8924-e52d3a8b5551.png)

It doesn't seem low resolution to me.

Also, I checked that the icon sizes provided by 'kiwix'

[2021-12-03 12:08] asashnov commented on #525
@LAfricain  Another experiment you could do to see if Gtk API can get the high resolution icon, in my example 128 px, and compare it with what you see by Gnome Image Viewer:

Run both in the same time from 2 different Terminals:

[code]

And in another Terminal:
[code]
It also prints the available sizes for the icon. Is 128, 256 is available on your machine for 'kiwix-desktop' icon?

Here is the s

[2021-12-03 12:26] asashnov commented on #525
Another experiment: I put new .svg icon from #539 to icons store:

[code]

Now Gnome Shell gets this icon (but ./icon-view.py shows the same resolutions and icon image):

![Screenshot from 2021-12-03 19-20-52](https://user-images.githubusercontent.com/5078434/144602328-ab7873df-01aa-4de6-824c-f4b407cf15ff.png)

[2021-12-03 12:36] asashnov commented on #525
@kelson42  If we are going to use .svg icon in future in Ubuntu, we should prepare it white, or maybe orange, or circled in orange like at the bottom of https://www.kiwix.org/en/

Otherwise in Gnome Shell (Ubuntu, Fedora) it would be nearly invisible:

![Screenshot from 2021-12-03 19-33-12](https://user-images.githubusercontent.com/5078434/144603691-d5d04de3-a193-41c8-af8c-39be0be7d5ff.png)

[2021-12-03 12:53] kelson42 commented on #525
@asashnov We use to put the logo on a white background to solve this problem.

[2021-12-03 13:17] LAfricain commented on #734
Can give me a command to run manually please.

[2021-12-03 13:25] LAfricain commented on #525
Hello,
I use Ubuntu Unity, and I have this issue only in the dock. I'll try to do some check but please wait. I'll have more time the next month.

[2021-12-03 13:49] kelson42 commented on #734
@LAfricain The one given in the log: `/usr/bin/aria2c --enable-rpc --rpc-secret=kiwixariarpc --rpc-listen-port=42042 --dir=/home/damien/.local/share/kiwix --input-file=/home/damien/.local/share/kiwix/kiwix.session --save-session=/home/damien/.local/share/kiwix/kiwix.session --auto-save-interval=10 --stop-with-process=2385 --allow-overwrite=true --dht-entry-point=router.bittorrent.com:6881 --dht-en

[2021-12-04 04:04] kelson42 commented on #713
@juuz0 https://github.com/kiwix/libkiwix/pull/636 has been merged, so libkiwix should provide the necessary to implement this feature properly, ie.:
* dedicated settings entry
* Check periodically the directory for new files (non recursively, only first level)
* Add new files to library and ask refresh (to remove automatically the ZIM files which have been removed)

[2021-12-04 04:10] kelson42 commented on #605
@asashnov @Popolechien I would like to move on with this ticket. I believe the best thing to do is:
* Replace the current icon set with the standard « bookmark star »
* Add the tooltip

OK for both of you!

[2021-12-04 04:16] kelson42 commented on #594
@asashnov One #525 is fixed, we shoukd really fix this one.

[2021-12-04 05:07] kelson42 commented on #697
@juuz0 Does your code test has been conclusive?

[2021-12-04 05:30] juuz0 commented on #713
@kelson42 Thanks :+1: Will do it

[2021-12-04 05:31] juuz0 commented on #697
@kelson42 I can reproduce the issue, yes. But haven't figured out a way yet. Will see again

[2021-12-04 08:55] Popolechien commented on #605
fine by me!

[2021-12-04 14:05] kelson42 commented on #622
Nothing to do.

[2021-12-04 14:05] #622 closed

[2021-12-04 14:26] LAfricain commented on #734
[code]
No error reported.

[2021-12-04 15:18] kelson42 commented on #734
@LAfricain But do you have to stop it, or does it stops on its own?

[2021-12-04 15:28] kelson42 opened #737 "[REGRESSION] Latest dev Kiwix-Desktop freezes by download"
If I click and download a content, my Kiwix-desktop freezes.

It is clearly a regression, but I can not say since when.

[2021-12-04 15:49] juuz0 commented on #737
Probably due to the new libkiwix x kiwix desktop changes
Works fine till kiwix desktop (ad1e52ee833878a36a490828df14a69c1d3021a5) and an older version of libkiwix (c7b88398bd1a8daa6c06214ea7d71ce6a985ad41)

[2021-12-04 15:50] kelson42 commented on #737
@juuz0 Thank you for the clarification of the problem
@mgautierfr @veloman-yunkan Any feedback on our side.

[2021-12-04 17:47] veloman-yunkan commented on #737
I will investigate it.

[2021-12-05 06:19] juuz0 opened #738 "Latest dev Kiwix-desktop doesn't close"
Latest master
Environment: Ubuntu 21.10 Gnome

Steps to reproduce:
Start kiwix-desktop
Close using "X" button
Start again and it shouldnt start

`pgrep kiwix-desktop` returns the PID. Have to use `pkill` for restarting.

PS - Works ok till https://github.com/kiwix/kiwix-desktop/commit/ad1e52ee833878a36a490828df14a69c1d3021a5

[2021-12-05 06:24] kelson42 commented on #738
I confirm, I have the same behaviour. Kind of hope this isn5e same regression like #737.

[2021-12-05 07:23] LAfricain commented on #734
No I entered the command in the terminal, and it worked by itself.

[2021-12-05 16:46] veloman-yunkan commented on #738
This is caused by kiwix/libkiwix#641

[2021-12-05 16:47] veloman-yunkan commented on #737
This is caused by kiwix/libkiwix#641

[2021-12-05 21:03] kelson42 opened #739 "Kiwix-desktop seems not really compatible with screen readers"
Screen readers are used by visually impaired. It looks the famous FOSS screen reader does not work well…

[2021-12-05 21:03] kelson42 commented on #739
… but I have no clue how to even test this. Any help of someone familiar with this kind of software is welcomed.

[2021-12-06 10:58] juuz0 commented on #726
I think #735 will also close this

[2021-12-06 11:56] kelson42 commented on #726
@juuz0 yes, please secure you have removed all the custom code which where used and is now useless.

[2021-12-06 12:08] #738 closed

[2021-12-06 12:08] kelson42 commented on #737
Works for me now with https://github.com/kiwix/libkiwix/pull/642, thx @veloman-yunkan. @juuz0 Please reopen ticket if the problem still occurs on your side.

[2021-12-06 12:08] #737 closed

[2021-12-08 15:13] kaveinthran commented on #739
HI, you can use the free and opensource screenreader nvda, obtained from https://www.nvaccess.org/download/
It's used by many devs to do app and web testing, you can activate speech viewer under tools menu located in the nvda menu to read the words spoken by the screenreader if you have difficulty with the speech.
You can load nvda and run it with kiwix.
another way is to just use the built-in win

[2021-12-09 02:34] kelson42 commented on #739
@kaveinthran Thx for this first, I shoukd be able to try with a Windows computer... but I'm not sure at all to be able to differenciate the right behaviour from the wrong behaviour. Do you know or would be able to tell me precisely, at least first via a concrete example, an example of what is wrong?

[2021-12-09 08:27] Popolechien commented on #739
I see that #570 last year led to a PR and minor improvement, but either that did not work as expected or something else is missing (my guess would be : the actual content, as the fix addresses the tool's UI).
More info on the concrete use case would be welcome.

[2021-12-09 09:11] kelson42 commented on #739
@Popolechien Good catch, I had totally forgotten about this ticket. Might simply be that the situation is already a lot better, but because we don't have released since a long time then users don't see it. Pinging @asashnov as he was pretty active on this ticket and therefore the most knowledgeable.

@kaveinthran Have you tried with the latest nightly at https://download.kiwix.org/nightly/ to see

[2021-12-10 08:11] juuz0 opened #741 "Zooming in and out doesnt affect Settings Page"
Different to how its done in Firefox

[2021-12-10 20:15] kelson42 opened #742 "Random generated exception 'kiwix:noentry" makes the app crashing"
Clicking many times on random generates a crash:
[code]

The bug is pretty proeminent because of https://github.com/kiwix/libkiwix/issues/643

[2021-12-11 03:57] juuz0 commented on #713
@kelson42
How do the changes in https://github.com/kiwix/libkiwix/pull/636 work?
The library isnt reloading for me in kiwix-serve :/
Steps I followed:
* Downloaded a small zim file from the wiki
* Put it in download directory
* Start kiwix-serve

The book wasnt visible

[2021-12-11 03:57] kelson42 commented on #741
@juuz0 Seems normal to me. You can not increase font size that way in rich apps.

[2021-12-11 04:05] juuz0 commented on #741
I was taking Firefox as a reference in behaviour
But now that you mention "font size",  I realised we are changing the zoom of the ZIM only and not the full UI so yes fine :)

[2021-12-11 04:06] kelson42 commented on #713
@juuz0 It should work that way:
* configure directory to monitor in kiwix-desktop
* monitor directory changes in kiwix-desktop (add/remove/update of zim files)
* if change detected, update library with libkiwix (not sure exactly how to do, but look how it is done with kiwix-serve news library monitoring option).

Have you done the first 2 bullets laready?

[2021-12-11 04:13] juuz0 commented on #713
@kelson42 Yes, I've done the first two.
Only a trivial amount is remaining - to reload the library.
That should be easy since it's already done in libkiwix and kiwix serve (which somehow isn't working for me - library doesn't reload, I'll check again)

[2021-12-11 04:16] #741 closed

[2021-12-13 20:04] kelson42 commented on #734
@LAfricain The problem is that kiwix is not able to connect to aria2c daemon. So either aria2c does not run or there is something which make kiwix impossible to connect to aria2c. Not clear what happen here as I can not reproduce the problem. Donyou have the problem as well on a fresh ubuntu 20.04 in a vm?

[2021-12-14 09:37] LAfricain commented on #734
I have to check the disk...

[2021-12-14 10:33] #742 closed

[2021-12-14 10:48] Ubuntu-2020 commented on #393
**kiwix-desktop_x86_64_2.0.5.appimage** and **[kiwix-desktop_x86_64_2021-12-14.appimage](http://download.kiwix.org/nightly/)** doesn't start in **Ubuntu 21.10**:

[code]

[code]

[2021-12-14 10:58] kelson42 commented on #393
@Ubuntu-2020 Seems to be a different bug, can please open a other ticket?

[2021-12-14 11:09] Ubuntu-2020 opened #745 "Appimage fails to run on Ubuntu 21.10"
**kiwix-desktop_x86_64_2.0.5.appimage** and **[kiwix-desktop_x86_64_2021-12-14.appimage](http://download.kiwix.org/nightly/)** doesn't start in **Ubuntu 21.10**:

[code]

[code]

[2021-12-14 11:10] Ubuntu-2020 commented on #393
@kelson42 **[Ok](https://github.com/kiwix/kiwix-desktop/issues/745)**.

[2021-12-18 11:03] Ubuntu-2020 commented on #745
I think this is problem in **Ubuntu 21.10** because **FreeCAD_0.19.AppImage** also did not start in **Ubuntu 21.10**:
[code]

[2021-12-18 11:07] Ubuntu-2020 opened #747 "Mouse Hover Tooltip in Kiwix as in Wikipedia"
It will be good if the same tooltip appears in Kiwix as in Wikipedia when you hover over a link:
![Mouse-Hover-Tooltip](https://user-images.githubusercontent.com/65112331/146638777-e794f606-c98f-4acd-9333-4fd16afdc53d.gif)

[2021-12-18 11:10] juuz0 commented on #747
Duplicate of https://github.com/kiwix/kiwix-desktop/issues/611

[2021-12-18 11:40] #747 closed

[2021-12-19 10:58] kelson42 commented on #525
@asashnov Any news on this ticket?

[2021-12-19 12:34] kelson42 opened #748 "Introduce print feature"

[2021-12-19 12:35] kelson42 opened #749 "Export article in pdf"
It should be possible to export an article in pdf format without having to you pront to pdf sysmtem feature.

[2021-12-21 11:29] try-catch-stack opened #752 "Shortcut to zoom in (Ctrl + +) not working on Kiwix desktop"
I have tested on kiwix desktop 2.0.5 for windows x64 and the zoom in shortcut does not seem to work. The zoom out shortcut does work properly though.

[2021-12-21 11:33] kelson42 commented on #752
@try-catch-stack I believe this is fixed in dev version. Give a try to https://download.kiwix.org/nightly/2021-12-20/

[2021-12-21 11:41] try-catch-stack commented on #752
Yes it works fine in this version.
I have a suggestion for the same. Don't you think it would be nice to have a visual alert or something to show current zoom level when we zoom in or out, similar to the way browsers does it.

![image](https://user-images.githubusercontent.com/77742477/146924400-ebf2bc38-feff-4087-b406-2a8146da97d7.png)

[2021-12-21 12:11] kelson42 commented on #752
@try-catch-stack I have nothing like this on Firefox. But it seems ot be a Chrome browser screenshot. I have no strong opinion on this.

@juuz0 @Popolechien @asashnov Any opinion?

[2021-12-21 12:16] Popolechien commented on #752
No strong opinion. Nice to have, but at the end of the day I'm comfortable because I see things correctly, not because it says 80, 100, or 110%

[2021-12-21 12:27] try-catch-stack commented on #752
If not an alert , we can have a single option to zoom with two buttons (+ and -) to zoom in and out rather the way it currently is as it makes really inconvenient to those who would use mouse to zoom in and out.Also the menu closes on clicking either of those buttons and we have to open it again to zoom further.

Adding this image for reference
![image](https://user-images.githubusercontent.com/77

[2021-12-21 12:29] juuz0 commented on #752
Similar to Popo, I increase/decrease and wouldn't bother what percentage it is if it looks good to my eyes.

Also, Firefox does have an indicator - in the address bar. Check by pressing CTRL + +

[2021-12-21 12:58] kelson42 commented on #752
Thx for your feedbacks, will take a few days to make a decision how we should go forward.

[2021-12-21 13:35] juuz0 commented on #752
@try-catch-stack I believe they already are in settings (in reference to latest builds)? You can also zoom in/out using the mouse wheel by Ctrl + wheel-forward/backward

[2021-12-22 17:41] kelson42 commented on #752
After thinking twice about it, I'm not convinced by the added value of the proposal. Will close it.

[2021-12-22 17:41] #752 closed

[2021-12-24 08:31] kelson42 commented on #734
@LAfricain Any news on this, maybe with the latest dev version?

[2021-12-25 01:49] ksbex commented on #745
I"m getting a similar but slightly different error on Fedora 35.

[code]

[2021-12-25 07:06] kelson42 commented on #745
Duplicate of #393

[2021-12-25 07:16] kelson42 commented on #745
Maybe related to #393

[2021-12-25 07:27] kelson42 commented on #393
https://docs.appimage.org/reference/best-practices.html?highlight=libstdc#libstdc-so-6

@mgautierfr with wich version do we compile kiwix-desktop against?

[2021-12-25 08:44] kelson42 commented on #488
@juuz0 Do you think this is a good idea? Would you be able to implement this ine quickly please?

[2021-12-25 09:00] juuz0 commented on #488
@kelson42 There are already horizontal lines for groups (Forward/Backward as one group, Image options as another)

https://user-images.githubusercontent.com/26814569/147381589-de0c913e-a0cc-4600-9325-a735332e2c5d.mp4

Do you mean to add after every option? Not sure if that will be any good, havent seen any designs do that.
I can implement if you want though :+1:

[2021-12-25 09:14] kelson42 commented on #488
@juuz0 I'm not sure how the first screencast has been obtain, but from your comment, it seems this ticket has already been implemented?!

[2021-12-25 09:15] juuz0 commented on #488
@kelson42 Yes 👍

[2021-12-25 09:17] kelson42 commented on #488
@juuz0 Good :) Then I close the ticket!

[2021-12-25 09:18] #488 closed

[2021-12-25 11:04] kelson42 commented on #107
This is mostly a request for openzim/mwoffliner, at least first.

[2021-12-25 11:18] #107 closed

[2021-12-25 19:07] DivyaPamecha commented on #694
Hi, is this issue up for grabs? I am new to Open Source but would love to learn more.

[2021-12-25 19:17] kelson42 commented on #694
@DivyaPamecha yes, if you know how to fix it.

[2021-12-27 12:08] adigitoleo commented on #663
New user adding my 2c here: I expected the `Help > About kiwix > Learn more about kiwix` link to contain at least some information on where to get and how to add collections, and maybe some info on what the "Local kiwix server" button does. At the moment, new users just get sent back to the "advertisment" webpage which is probably where they downloaded the software from.

An explicit guide on how

[2021-12-27 12:14] adigitoleo opened #753 "Allow keyboard shortcut configuration"
I wonder if you would consider allowing for configuration of at least some of the keyboard shortcuts. I come from the land of vim, I even use vim-style shortcuts in the browser. I would like to put some of that muscle memory to use.

Cheers

[2021-12-27 12:19] kelson42 commented on #753
@adigitoleo Do I get that right, you are not happy with standart browser shortcuts?

[2021-12-27 15:47] kelson42 opened #754 "Zim without language metadata is not displayed in the local library"
From https://github.com/kiwix/libkiwix/issues/657#issuecomment-1001387566

[2021-12-28 00:43] adigitoleo commented on #753
Essentially, yes, I use a browser that has "non-standard" shortcuts ([qutebrowser](https://qutebrowser.org/)).

In particular, I would mostly like to change shortcuts for the following actions:
- search-in-page (Ctrl-f)
- go to top of page (Home)
- go to bottom of page (End)
- scroll up/down (upwards/downwards arrows)
- navigate to next/prev page (I don't think there are currently shortcuts for th

[2021-12-28 01:35] adigitoleo opened #755 "Persist page view after exiting search-in-page"
Currently, when searching for a pattern in the current page (`Ctrl-f`), pressing `<Escape>` or clicking the `X` button to exit the search pane also resets the view of the page back to the top. This is inconvenient, because it makes searching difficult to use for navigating page contents. AFAIK most browsers persist the page view after exiting search.

[2021-12-28 01:50] adigitoleo commented on #753
On second thought, I've discovered that I can always use kiwix-serve to read the zim files in my browser, which removes the need for me to maintain a separate shortcuts configuration. For now this is likely the solution that I will use. I still think there should be a few more navigation shortcuts in the client, as mentioned, but that might deserve its own issue.

[2021-12-28 01:50] #753 closed

[2021-12-29 10:38] Popolechien opened #756 "Opening Nautilus zim files should be done in-app"
I was browsing https://mirror.download.kiwix.org/zim/other/zimgit-post-disaster_en_2021-12.zim when I realized that Kiwix-desktop does not open files (even somewhat mundane PDFs) but always offers them for local download, which forces a couple of extra steps (and a duplicate download) before one can actually browse the zim's content:
![Untitled presentation](https://user-images.githubusercontent.c

[2021-12-29 10:40] juuz0 commented on #756
Same as this https://github.com/kiwix/kiwix-desktop/issues/697?

[2021-12-29 10:44] Popolechien commented on #756
@juuz0 Correct! Closing this as duplicate then.

[2021-12-29 10:44] #756 closed

[2021-12-29 12:29] kelson42 opened #757 "Deb Packagwith content"
If we would have a way to easily package kiwix-desktop with one or more content this would make it easier to install it for “distributors”…. And in general anybody creating images to distribute. The best way to follow IMO woukd be to allow to give content as argument at dpkg time and the the content would be downloaded, installed properly, etc.

[2021-12-29 12:30] kelson42 commented on #757
@legoktm Woukd that be doable?

[2022-01-03 10:19] kaveinthran commented on #739
HI,

Sorry for the late revert, i've tested both kiwix-desktop_windows_x64_2.0.5 and kiwix-desktop_windows_x64_2022-01-01 with NVDA 2021.3.1 and the results are similar.

1. When I open a zim file, both version do not represent elements, body text to the screen reader. I can't use web navigation or reading keys e.g.e arrows to navigate the document.
2. the kiwix server method works in the 2022 ver

[2022-01-03 10:46] kelson42 opened #758 "Error by opening a file is not handled properly"
Steps:
* Have a file in the local library
* Delete or rename that file in the filesystem
* Click "open" on that file in the local library

I get:
* A crash with:
[code]

I would like:
* A proper error dialog with an error... and probably the entry should be deleted from the local library.

[2022-01-03 10:46] kelson42 commented on #758
@juuz0 Would you be able please to have a look to that nasty bug? To me, it looks like the exception generated in the libzim/libkiwix is just not handled in kiwix-desktop.

[2022-01-03 10:49] juuz0 commented on #758
@kelson42
On it 👍

[2022-01-03 10:49] kelson42 commented on #758
@juuz0 Thank you very much!

[2022-01-04 10:30] mgautierfr commented on #757
It is technically doable. A deb is nothing more that a fancy archive. You can put want you want in it.

But I doubt debian will package (and distribute) kiwix-desktop with content integrated. At best, we can distribute the content itself in a separated package.

[2022-01-04 11:30] kelson42 commented on #757
@mgautierfr This is not about distributing a `deb` with content inside.

[2022-01-05 01:38] legoktm commented on #757
It's certainly technically possible to download the content at install time but that's generally frowned upon as debs are expected to be self-contained.

I think shipping debs with zims inside them is a better idea, it's similar to how video games have "foo-data" packages(e.g. https://packages.debian.org/unstable/wesnoth-1.14-data) that contain the image and sound files needed to play the game.

[2022-01-05 04:10] kelson42 commented on #757
@legoktm OK, but I'm really concerned about the legal discussion if we do so. Just an example, all the fairuse images in WPEN. Do you think we could go that way without endless disupcussions about licenses?

[2022-01-05 14:22] #322 closed

[2022-01-05 14:22] #726 closed

[2022-01-10 06:36] legoktm commented on #757
No, I think such a discussion would be a mess. My guess is that the answer would be that fair use is not allowed.

Also, Debian is very concerned with building from source, or at least having the source in some modifiable form, which leads to the question of whether the zim file itself is the source, or whether it's all the scraped HTML files and the packaging should run zimwriterfs, etc. to build

[2022-01-12 07:56] asashnov commented on #525
While researching, I put small text into every icon with commands like:

[code]

So I found that 256 px icon is used, scaled down to 96 px:

![Screenshot from 2022-01-12 14-09-43](https://user-images.githubusercontent.com/5078434/149086449-a5098e93-bec6-472a-a295-56f0d3b0bdc0.png)

(you may see small '256' text at left bottom).

[2022-01-12 08:08] asashnov commented on #525
So probably addint a proper 96 px size icon may also solve the problem.

But in my fix #762 I added white background to .svg and added it into .deb package to available icons.

Another alternative could be an orange icon, using color #FF9933 from htttp://kiwix.org/

![Screenshot from 2022-01-12 15-01-52](https://user-images.githubusercontent.com/5078434/149088180-b2570719-4685-47d4-af5f-6f5a4a5f70

[2022-01-12 08:17] #525 closed

[2022-01-12 08:52] kelson42 commented on #588
Duplicate of https://github.com/openzim/mwoffliner/issues/1539

[2022-01-12 08:52] #588 closed

[2022-01-12 11:48] kelson42 commented on #754
@juuz0 Wiukd be good to confirm with a clear step by step reproduction case.

[2022-01-12 12:49] juuz0 commented on #754
@kelson42
1. Open `libray.xml`, remove the `language="lang_code_here"` of any book.
2. Start kiwix desktop
3. It won't show up.

[2022-01-12 12:50] kelson42 commented on #754
@juuz0 OK, but do you have a real case where this will happen? I guess with language="" it works?

[2022-01-12 12:55] juuz0 commented on #754
@kelson42 Doesn't work with language="" also
Real case scenario probably the zim reported in https://github.com/kiwix/libkiwix/issues/624
I don't have it so cant check

[2022-01-12 12:56] kelson42 commented on #754
The file is http://download.kiwix.org/zim/wikipedia/wikipedia_en_wp1-0.7_2009-05.zim, we should check.

[2022-01-12 12:58] juuz0 commented on #754
:+1: Downloading

[2022-01-12 13:26] kelson42 commented on #754
@juuz0 I confirm that I can open the ZIM file but it is not added to the local library.

[2022-01-12 13:36] kelson42 commented on #754
@juuz0 You are right, it see it now that I don't have put the filter. So everything works as expected right?

[2022-01-12 13:37] juuz0 commented on #754
@kelson42 Yes looks like it 👍

[2022-01-12 13:41] #754 closed

[2022-01-12 15:03] mgautierfr opened #763 "Build system must search/check for libzim dependency"
Now that we use libzim directly in kiwix-desktop (now for `zim::printVersion` but we will directly use zim structure as libkiwix wrapper will be deprecated) we have a strong dependence between kiwix-desktop and libzim. So the build system must check for this dependency.

[2022-01-16 13:17] juuz0 opened #764 "Settings panel is broken"
![image](https://user-images.githubusercontent.com/26814569/149661461-cb6bf8d6-36a9-4576-a3f1-24b6288d28ed.png)

Looks like recent changes from https://github.com/kiwix/kiwix-desktop/commit/5d0f1bd096acd88fde4f752fa2031eb3e8ec37cf caused this

[2022-01-16 14:46] kelson42 commented on #764
@juuz0 Sorry to see that @asashnov PR has created this regression, but woukd you be able to fix it?

[2022-01-16 16:28] juuz0 commented on #764
@kelson42 Will look into it, haven't checked the changes done in that PR yet :+1:

[2022-01-17 08:46] kelson42 commented on #764
@juuz0 I can not confirm that bug with current `git master`.

[2022-01-17 08:51] juuz0 commented on #764
@kelson42 It's inconsistent but it's there
Will show up when there aren't any books/tabs open.
Open settings from menu.
If bug doesn't show up, close settings. Open with F12

It should come!

[2022-01-17 08:52] #764 closed

[2022-01-17 09:11] asashnov commented on #764
@juuz0  good catch and fix
@kelson42 sorry for missing that case in my tests

[2022-01-19 19:45] #758 closed

[2022-01-20 13:56] kelson42 commented on #763
Fixed by #766

[2022-01-20 13:56] #763 closed

[2022-01-20 13:59] mgautierfr commented on #745
Confirmed on Fedora 35.
But the workaround forcing a mesa driver works :
`MESA_LOADER_DRIVER_OVERRIDE=i965 ./kiwix-desktop_x86_64_2022-01-20.appimage`

[2022-01-22 07:37] xmha97 commented on #314
@kelson42 Don't have a plan to release the installer for Windows?

[2022-01-22 08:41] kelson42 commented on #314
@xmha97 Indeed, still not properly scheduled.

[2022-01-22 14:34] edo0 opened #770 "Zooming function is functionally flawed"
OS: elementary OS, Ubuntu 20.04-based
Kiwix-desktop version: 2.0.5, flatpak edition from flathub

My main issue is that, using the search function, the zoom level gets reset to 100% by Kiwix.
Therefore, even if I have set the default zoom at 130%, that will apply only to the homepage of the Wiki loaded on Kiwix, and the hyperlinks clicked from there. But it will *not* work for any page belonging t

[2022-01-22 15:07] kelson42 commented on #770
Many things around zoomin have been fixed in 2.1.0. Please give a try to http://download.kiwix.org/release/kiwix-desktop/org.kiwix.desktop.2.1.0.flatpak (will be later published to Flathub).

[2022-01-22 15:30] edo0 commented on #770
Thank you for the reply!
Unfortunately the version you have posted, 2.1.0, does not seem to address in any way usability issue I have reported. Please let me know if I have missed anything

[2022-01-22 16:13] kelson42 commented on #770
@edo0 We will try to reproduce the bug and have a look in detail why. Thx for your report.

[2022-01-23 19:51] kelson42 commented on #770
I confirm the bug! @juuz0 Do you have a clue why the zoom is reseted when a page is loaded from the fulltext search result page?

[2022-01-26 14:39] xvitaly commented on #757
Fedora too. All Fedora packages must be built from sources on Fedora infrastructure. We can't redistribute such non-free stuff.

[2022-01-26 14:41] xvitaly commented on #757
I think the current behavior is the best. User can manually download all needed zim packages (aria2 is used) from Kiwix Desktop.

[2022-01-26 15:21] kelson42 commented on #757
Maybe I could no rephrase the need like: propose a solution easily packageable (and usable by distros or custom image creators) allowing to download content and make content available for kiwix-desktop and/or kiwix-serve.

[2022-01-27 11:59] Popolechien opened #775 "[REGRESSION] Searching for "All files" crashes application on Windows"
On Windows 10, running Kiwix-desktop 2.1.0

Clicking on All files in the library causes the application to close unexpectedly.

[2022-01-27 12:02] kelson42 commented on #775
@Popolechien If you start from the command line, what is written on the console?

[2022-01-27 12:06] Popolechien commented on #775
@kelson42 I can open Kiwix-desktop from the command line (and nothing much happens, Kiwix opens), but you'll have to tell me how to reach All files from there.

[2022-01-27 12:07] kelson42 commented on #775
Just start ir, run your crash scenario from the UI and dump the log here.

[2022-01-27 12:20] juuz0 commented on #775
Confirmed with App image. Same count = 0 problem
Was fixed in https://github.com/kiwix/kiwix-desktop/pull/769 but release didnt include that I think

[2022-01-27 12:59] kelson42 commented on #775
I can reproduce the bug

[2022-01-27 13:05] kelson42 commented on #775
I have run a small analysis based on Github and the nightly builds. Here are the findings:
* https://download.kiwix.org/nightly/2022-01-09/kiwix-desktop_windows_x64_2022-01-09.zip works fine
* After the 2022-01-09 and up to the 2022-01-20, there is no nightly Windows build. But the https://download.kiwix.org/nightly/2022-01-20/kiwix-desktop_windows_x64_2022-01-20.zip is there and suffers from the

[2022-01-27 13:17] kelson42 commented on #775
@juuz0 @mgautierfr @mgautierfr @asashnov We will have to identify quickly what has been broken (for Windows) beetween the 9th and the 20th of January and make a new release. It can be in kiwix/kiwix-desktop (probably) but as well in libkiwix, libzim or even kiwix-build.

[2022-01-27 13:19] juuz0 commented on #775
[code]

[2022-01-27 14:54] juuz0 commented on #775
More observation:
If you tap on filter under Content-Type category, app crashes

[2022-01-28 16:24] xvitaly opened #776 "The library is always empty on new launch"
Version 2.1.0 doesn't save the list of previously opened zim files. The library is always empty on new launch.

Version 2.0.5 works fine.

[2022-01-28 16:31] juuz0 commented on #776
Which OS and if GNU/Linux how did you install 2.1.0 (Flathub/AppImage)?

[2022-01-28 16:34] xvitaly commented on #776
OS: Fedora Linux 35.

Our native build: https://bodhi.fedoraproject.org/updates/FEDORA-2022-958c193c6a

![image](https://user-images.githubusercontent.com/966711/151585478-773aa49e-b955-41af-bef1-73c23bfdd1bf.png)

[2022-01-28 16:45] kelson42 commented on #776
@xvitaly So everythin works fine, ie. Files are added to the local library if you download then or load them manually... as long as you don't restart Kiwix. Then the local library is again empty?

[2022-01-28 16:47] xvitaly commented on #776
Press Open file -> select zim -> it will be loaded -> switch back to the Library tab and it is still empty.

[2022-01-28 16:55] xvitaly commented on #776
@kelson42 When I select **Browse by language** -> **any** language and then switch back to the **Local Files**, it finally find them.

[2022-01-28 17:04] kelson42 commented on #776
@xvitaly The problem is that you don't filter properly by language? Can we have otherwise a full step by step procedure with what you expect and what you get?

[2022-01-28 17:08] xvitaly commented on #776
It should list all downloaded zim files on startup.

Actual behavior:

Run Kiwix Desktop and you will see an empty window.

Expected behavior:

Kiwix Desktop should list all downloaded zim files like the previous version 2.0.5 did.

[2022-01-29 09:12] kelson42 commented on #776
@xvitaly Here what I expected in terms of step-by-step procedure:
* Open kiwix-desktop and got to local library, this is empty
* Go to "Browse by language" and select "All", local library is still empty
* Open a local ZIM and once this is open got to local library, your sole ZIM file is listed
* Close kiwix-desktop and restart it
* I see the local library and my sole ZIM file (I have open in first

[2022-01-29 09:42] kelson42 commented on #734
@LAfricain Do you still have this problem with latest version on dev PPA https://launchpad.net/~kiwixteam/+archive/ubuntu/dev ?

[2022-01-29 09:44] kelson42 commented on #571
@juuz0 Would you be interested to take over this ticket?

[2022-01-29 14:40] LAfricain commented on #734
Hello,
I live the place. Maybe in march I can test again.

[2022-01-29 15:20] juuz0 commented on #571
@kelson42 Sure, thanks

[2022-01-29 15:47] kelson42 commented on #734
I will close this issue because probably either it has been fixed already or there is something special in that env.... but we have no way for the moment to investigate further. If the problem is still there with 2.1.0+, then it should be reopen.

[2022-01-29 15:48] kelson42 commented on #571
@juuz0 Thx, looks to all the comments and to the two PR already links to build a global view on the issue please.

[2022-01-29 15:51] xvitaly commented on #776
Empty library after restart.

[2022-01-29 16:38] kelson42 commented on #776
@xvitaly In the settings you see where the profile is stored. The list of local zim files is in "library.xml", in this directory. Coukd you please check that everything is OK with this directory? That library.xml is written properly?

[2022-01-31 08:09] kelson42 commented on #540
@asashnov What is left here to do? I also want to emphasis that I suspsect that this massive regression https://github.com/kiwix/kiwix-desktop/issues/775 might be somehow related to our revamping work around the sidebar. Would you be able please to have a look and leave a comment?

[2022-01-31 14:35] Its-Maniaco commented on #98
@Popolechien @kelson42 Hi, I am pretty new to open source and I would love to work on this issue. I went through the issue description, understood the idea but cannot figure out a way to initiate. Could you please help me with the issue more?

[2022-02-01 07:34] kelson42 commented on #98
@Its-Maniaco We might help if you have a few very precise question. But this is not a programming course. If you don't know roughly how to fix a ticket you should not pick it.

[2022-02-01 10:38] Popolechien opened #780 "Zim files requiring Service Workers should be hidden from the library if SW are not available"
Following up on [Libkiwix#696](../../libkiwix/issues/696)

Currently zimit-generated files can only be read on Kiwix-Android and Kiwix-serve (K-Desktop has a workaround but it's not main stuff). Kiwix-desktop cannot read these files at the moment, yet it is likely that at least some users will invest data transfers (and costs) into downloading files they ultimately cannot access.

Since zimit-gene

[2022-02-02 12:22] kelson42 commented on #775
@Popolechien @asashnov @juuz0 Might that be that #751 has fixed the problem?!?! I just have tried with latest nightly https://download.kiwix.org/nightly/2022-02-01/kiwix-desktop_windows_x64_2022-02-01.zip and it seems to work now !?! Please try on your side.

[2022-02-02 13:20] juuz0 commented on #775
Unfortunately, not working for me. Still crashing

[2022-02-02 14:04] kelson42 commented on #775
Wrong input on my side, I restested and it still fails. I think I have mixed-up 01-02-2022 with 02-01-2022.

[2022-02-02 15:51] mgautierfr opened #781 ""Unique instance" doesn't work when packaged with flatpak"
Of fedora 34, if kiwix-desktop is installed with a rpm, when opening two zim files (by clicking on two zim files in the file browser), only one kiwix-desktop instance is launched (with two tabs).
But if kiwix-desktop is installed with a flatpak, two kiwix-desktop instances are launched.

This is probably a communication problem between the two apps as flatpak runs applications in containers.

[2022-02-02 17:21] kelson42 commented on #781
Same on Ubuntu... to me looks like a regression... as AFAIK this was working.

[2022-02-02 17:55] AniruddhaGawali commented on #748
hi is this issue is still open ,
i will like to contribute in it
i am new in open source can you plz guide me

[2022-02-02 17:56] AniruddhaGawali commented on #749
hi i would like to contribute in this,
can you tell me from where should i start

[2022-02-03 08:55] kelson42 commented on #749
@AniruddhaGawali You should know how to fix the ticket first!

[2022-02-03 08:55] kelson42 commented on #748
@AniruddhaGawali You should know how to fix the ticket first!

[2022-02-03 17:12] skbzk opened #782 "Flatpak freezes the whole desktop when searching"
When attempting to search something in a local zim file (i.e. entering atleast two characters in a search bar of an opened file tab) Kiwix freezes and the desktop environment with it. It is even impossible to switch to a different tty, so I can not copy any logs after the freeze happens. There is the output of Kiwix after the lauch:
`[2:29:0203/191657.230446:ERROR:address_tracker_linux.cc(214)] Co

[2022-02-03 17:14] kelson42 commented on #782
Thank you for your bug report. Can you please give one of this ZIM file (full ZIM filename) not working fine and the pattern you give to make it freezes?

[2022-02-03 17:23] skbzk commented on #782
Those files are `wikipedia_en_all_maxi_2021-12` and `wikipedia_ru_all_maxi_2021-12`. But it is of little importance now, because version 2.0.5 has the same problem. I think it has been caused by a recent update, because everything was fine yesterday.
The same bug occurs when trying to open a zim file from the file manager using Kiwix