[2022-02-03 17:35] skbzk commented on #782
Latest entry in `/var/log/apt/history.log`, these are the packages that were upgraded:
`libnm0:amd64 (1.22.10-1ubuntu2.2, 1.22.10-1ubuntu2.3), network-manager:amd64 (1.22.10-1ubuntu2.2, 1.22.10-1ubuntu2.3), python3-update-manager:amd64 (1:20.04.10.9, 1:20.04.10.10), libmysqlclient21:amd64 (8.0.27-0ubuntu0.20.04.1, 8.0.28-0ubuntu0.20.04.3), libmysqlclient21:i386 (8.0.27-0ubuntu0.20.04.1, 8.0.28-0ub

[2022-02-03 18:23] AniruddhaGawali commented on #749
which type of ticket

[2022-02-03 19:44] kelson42 commented on #782
@skbzk I have tested with flathub kiwix-desktop 2.1.0 (released yesterday) on recent Ubuntu with wikipedia_en_all_maxi_2021-12 and everything works fine: both suggestions and fulltext search.

[2022-02-04 05:05] skbzk commented on #782
@kelson42 I'll mark this as closed then? It seems to be some local issue with my system, if someone besides me will be able to reproduce the bug then it would make sense to continue.

[2022-02-04 05:05] #782 closed

[2022-02-04 06:10] kelson42 commented on #776
@xvitaly Any news?

[2022-02-04 09:34] xvitaly commented on #776
I will test it with a clean profile soon.

[2022-02-05 13:16] slynobody commented on #320
a new version and nothing changed. congrats, the linux-flavor of this app just looks like suse-linux 1992. every kid using this app just instantly thinks 'oh wow, i am really using a third-world-app'. great. you seem not even to take a look where the mac-version of the app stands ui-wise in 2022. maybe one could think of making a console-only-flavor of the app and it would have more charme to the

[2022-02-07 15:55] xvitaly commented on #776
@kelson42 Clean profile has the same problem.

Video of this bug: https://xvitaly.fedorapeople.org/bug-reports/kiwix-bug.mkv

[2022-02-08 05:44] kelson42 opened #784 "Allow aarch64 on Flathub"
See https://github.com/flathub/org.kiwix.desktop/pull/7, which shoykd be merged.

[2022-02-08 07:46] #775 closed

[2022-02-08 09:07] Popolechien opened #785 "Empty online library"
Tested on Kiwix-desktop 2.0.5 as well as on a test zip from PR #783 and the library manager shows zero files.
![image](https://user-images.githubusercontent.com/21675885/152955088-0fb79a54-3173-45e6-a93c-bace78ed1389.png)

Just for the sake of it I downloaded a couple of zims separately and opened them locally, no issue whatsoever.

[2022-02-08 09:10] juuz0 commented on #785
Can confirm, but it only happens when Category "Other" is selected

[2022-02-08 20:25] #713 closed

[2022-02-09 06:14] kelson42 commented on #576
@Popolechien I close the ticket as we don’t have had new complains about this bug. We have in addition released version 2.1.0 which uses an upgraded version of Qt which might have as well fixed the problem. Finally, without reproduction case, there is nothing we can do. In case this happens again, please reopen the ticket.

[2022-02-09 06:14] #576 closed

[2022-02-09 06:15] kelson42 commented on #784
Can you please give me owner (or write permission otherwise) permission on the flathub repo?

[2022-02-09 16:35] mgautierfr commented on #784
I cannot, I'm not the owner of the repository. It seems that @nedrichards (or others) can.
@nedrichards, can you give write permissions to @kelson42 (or whatever the same permissions as I have) please ?

[2022-02-09 17:43] #784 closed

[2022-02-10 04:28] kelson42 commented on #566
@jeexop Donyou still have the problem with latest 2.1.0 version?

[2022-02-10 05:00] kelson42 commented on #785
@juuz0 I think we shoukd open a ticket for the "other" case which is an other bug

[2022-02-10 05:00] kelson42 commented on #785
@Popolechien Have you been able to reproduce this problem an an other windows computer?

[2022-02-10 05:17] Popolechien commented on #785
@kelson yes I tried on a different machine (also Windows 10), different network: same issue.

[2022-02-10 07:49] kelson42 opened #786 "Online library "other" displays zero book"
See screenshot:
![image](https://user-images.githubusercontent.com/1029718/153361226-c419c4ac-29ae-4ad0-a82e-a6e7420cb99c.png)

Although, the OPDS feeds returns hundreds of results!
https://library.kiwix.org/catalog/search?count=-1&notag=_category:gutenberg;_category:mooc;_category:phet;_category:psiram;_category:stack_exchange;_category:ted;_category:vikidia;_category:wikibooks;_category:wikihow;

[2022-02-10 08:17] kelson42 commented on #785
Just tested, works for me :( I suspect that this is a network problem. For example we reach a timeout. It would be great to verify:
* What are the client and server timeouts
* Do we effectively use HTTP compression
* What is the behaviour when a timeout is reached - or even if internet is not available (we should display an error).

[2022-02-10 12:28] jeexop commented on #566
Thanks for reply.
I reinstalled the operating system a few months ago (still using Win8.1). Now I can't reproduce this bug in both v2.0.5 and latest [v2.1.0](https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_windows_x64_2.1.0.zip).

[2022-02-10 12:48] kelson42 commented on #566
Thx for coming back to me. Glad to hear it works now. I Will close then the ticket as non of us has a reproduction case.

[2022-02-10 12:48] #566 closed

[2022-02-12 12:21] kelson42 opened #788 "OPDS requests are not compressed"
They should, this would allow to get a feedabck really quicker with save 70% of the bandwidth.

Wie shoudl add a https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding header in the request and uncompress the response.

I still really wonder why Qt does not provide a solution out-of-the box!

[2022-02-13 08:43] kelson42 commented on #785
This is a typically example if something goes wrong at the HTTP level. We should print a meaningfull error.

[2022-02-13 17:41] EncryptedGiraffe commented on #393
I encountered this trying to run kiwix-desktop_x86_64_2.1.0-1.appimage on Debian 11 in a VM. (maybe this is the wrong issue to post in but I found the solution here)

applying this preload solution worked for me:

[2022-02-14 13:12] mgautierfr commented on #776
@xvitaly can you check that the language filter in the local library is "correctly" set (all or Russian). The added zim file is in Russian, if the library display only English book, it is normal it doesn't appear.

I have the same behavior on my side (with a English zim file and a default French filter)

[2022-02-14 13:14] mgautierfr commented on #786
Which version of kiwix-desktop are you using ?

[2022-02-14 13:30] kelson42 commented on #786
@mgautierfr This has been tested with your ZIP or your latest PR

[2022-02-14 15:24] mgautierfr commented on #785
@Popolechien Can you test with the version here : https://tmp.kiwix.org/ci/publish_tmp_build_on_windows/kiwix-desktop_windows_x64_2022-02-14.zip

It will open a console window with some trace. Especially a `Downloading "https://library.kiwix.org:443/...."`
What is this line on your computer ? Can you access the url from your browser ?

[2022-02-14 15:33] juuz0 opened #792 "Content Type filters are not working"
![image](https://user-images.githubusercontent.com/26814569/153894449-2bc3772d-4ea1-4e6e-aebf-9c126e7a03a2.png)

[2022-02-14 15:38] Popolechien commented on #785
@mgautierfr this failed as well. Here's what I get:
[code]

[2022-02-14 15:39] juuz0 opened #793 "Latest kiwix-desktop crashes on using monitor directory"
Steps to reproduce:

- Choose a monitor directory from Settings
- kiwix-desktop will fail instantly/after some use.

Windows logs show it's a heap corruption

[2022-02-14 15:59] mgautierfr commented on #785
This is definitively a connection error.
The question is why kiwix-desktop fails to initialize the secured connection on your computer when we can on our side (and even your browser on your computer)...

This is strange as you've used two different computers and networks.

[2022-02-14 19:09] #786 closed

[2022-02-14 19:12] kelson42 commented on #780
Actually this is a bit more subtil IMO because these files are perfectly usable with the server feature. I would instread recommend to build a message explaining that they should use the server for the time being the feature is still not fully implemented in the rich application.

[2022-02-14 19:14] kelson42 commented on #793
This is a priority ticket to fix

[2022-02-14 19:20] kelson42 commented on #785
@Popolechien Can you please secure that your MS Windows has the latest updates installed?

[2022-02-14 19:27] Popolechien commented on #780
I strongly disagree. This complexifies the products as most users are unable / unwilling to read notices. This will marginally alleviate the current level of frustration.

[2022-02-14 20:43] Popolechien commented on #785
@kelson42 Yep, everything is/was there.
Just tested https://tmp.kiwix.org/ci/publish_tmp_build_on_windows/2022-02-14/kiwix-desktop_windows_x64_2022-02-14.zip and it works.

[2022-02-14 21:03] Popolechien opened #794 "Remove "fulltext index" from library selector"
This selector is a) hard to understand and b) provides no visible information value to the end user ("what's a fulltext index? Can I get the same content with and without index? What am I losing and how do I know it?") and thus could be removed so as to de-clutter the library interface.
![image](https://user-images.githubusercontent.com/21675885/153945942-ba819c7c-d1fd-46dd-aaa0-031f6519a126.png)

[2022-02-15 15:13] kelson42 commented on #785
@Popolechien So now it works, but it was not before.... and nothing else has changed... so we don't know why it works now?

[2022-02-15 15:15] Popolechien commented on #785
@kelson42 Those are two different builds that I tried (the second one was sent to me later in the day, hence the identical build name). @mgautierfr will know the difference.

[2022-02-15 15:19] kelson42 commented on #794
Agree with this remark.

[2022-02-15 15:25] kelson42 commented on #785
@mgautierfr Do we embed a truststore? Have you changed anything related to TLS?

[2022-02-15 15:49] kelson42 commented on #416
An other problem is that the current applied filters are not displayed visibly (you should alwasy click un uncollapse and maybe even scroll).

[2022-02-15 15:53] kelson42 commented on #776
@xvitaly Glad to see that this a filtering problem like I had first guessed https://github.com/kiwix/kiwix-desktop/issues/776#issuecomment-1024424826. It is obvious that the current filter system is massively user unfriendly and this is a priority to rewrite the UI in Qt and fix the usability of the library. I really hope we can achieve to finally do that before the summer. I'm against having "all

[2022-02-15 15:53] #776 closed

[2022-02-15 15:54] kelson42 commented on #540
@asashnov I rechallenge you on this: what is left to do?

[2022-02-15 15:56] kelson42 commented on #793
@juuz0 @mgautierfr @veloman-yunkan This is problematic as this is a new feature. If I understand properly  @juuz0 has difficulties to get it compiled on Windows.

@juuz0 would you be able make to post the exact log.

@mgautierfr @veloman-yunkan Do you have a clue, just by looking to the code what could go wrong?

[2022-02-15 17:10] juuz0 commented on #416
For the language filters, we could start with a default (All/OS language) and similar to kiwix-serve and save the preference whenever it is changed

[2022-02-15 17:44] #794 closed

[2022-02-15 17:49] veloman-yunkan commented on #793
I looked at the code again with a more critical eye but I have no clue what could be causing this crash.

[2022-02-15 20:53] veloman-yunkan commented on #793
Is the monitor directory the same as the directory containing the library.xml file?

[2022-02-16 06:09] juuz0 commented on #793
For the latest checks, yes. Initially I put under my downloads folder and it was having same problems

[2022-02-16 07:28] veloman-yunkan commented on #793
If the directory containing the library.xml file is being monitored, then a potential problem is that `save()`-ing the library at the end of `Library::loadMonitorDir()` may result in a directory change event which will trigger another `Library::loadMonitorDir()` and so on.

[2022-02-16 08:32] kelson42 commented on #793
I tried and it does not crash for me, but it does not work either: new ZIM files are not detected.

But from the Settings panel it seems to be a confusion between slashes and backslashes! See my screenshot

![image](https://user-images.githubusercontent.com/1029718/154225754-928dc5df-eb68-486d-8c7e-0f1b2f907045.png)

This might explain the problems...

[2022-02-16 09:58] mgautierfr commented on #785
It is a issue with packaging. The openssl library are not embedded with Qt. We have to do it ourselves. We are probably using a dll already installed by another application on computer where it works (python and git do this at least)
The test package was a bit greedy as I've added a lot of library. I have few test to do to know what need to be included exactly (@Popolechien you will be rope in), b

[2022-02-16 14:20] #785 closed

[2022-02-17 07:52] JensKorte opened #796 "HTML tags are shown in the text search field"
![kiwix-with-html-tags](https://user-images.githubusercontent.com/2682123/154429850-b844d25f-29e6-4f45-8465-1a4402c2f75b.png)

kiwix-tools_linux-armhf-3.2.0-1 binary download from kiwix.org. The System is a Pi400 with Gentoo 64bit. Firefox 91.6.0esr (64-Bit)

[2022-02-17 08:43] juuz0 commented on #796
Should be transferred to kiwix-tools.
And what is the name of this ZIM file? Is this limited to only this file?

[2022-02-17 08:50] JensKorte commented on #796
Sorry

It happens with both wikipedia_de_all_maxi_2022-01.zim  wikipedia_en_all_maxi_2021-12.zim

[2022-02-21 05:45] asashnov commented on #540
kelson42@ Part3 would be illiminating ```emit mp_library->bookmarksChanged();```

[2022-02-21 16:59] mgautierfr commented on #793
Same as @kelson42 on my side. Doesn't crash and doesn't work
Tested with today nightly (https://download.kiwix.org/nightly/2022-02-21/kiwix-desktop_windows_x64_2022-02-21.zip)

[2022-02-21 17:02] kelson42 commented on #793
@juuz0 Have you been able to understand this slash & backslash problem?

[2022-02-22 12:37] juuz0 commented on #793
If I change download directory using "Browse button", it shows forward slash and still everything works fine with Downloading, so I doubt that should affect. I will try running a part of this code in a different app and see what causes the problem by today
![image](https://user-images.githubusercontent.com/26814569/155133577-dd6bba58-fd8d-46ed-b4bb-227fee15b760.png)

[2022-02-22 14:54] kelson42 commented on #793
@juuz0 Windows path separator is baslash. You should not have slashes! Why do you have slashes and I don't?

[2022-02-22 16:20] juuz0 commented on #793
@kelson42 Try changing download directory with *Browse* button, what slashes do you see?

[2022-02-22 16:21] kelson42 commented on #793
@juuz0 We shoukd never ever have slashes, and you have them on your and my screenshots.

[2022-02-23 09:45] mgautierfr commented on #788
It seems that it should :

[code]

It may not if QT_NO_COMPRESS flag is set and it is set only if we are compiling the code to compile qmake. We use a pre build release of Qt.
Either the Qt build is buggy (but I doubt about this) or we have something wrong on our side (potentially on the server side).

On which system have you tested this ?

[2022-02-23 09:52] juuz0 commented on #793
I wasn't clear but what I meant is, internally [QFileDialog uses forward slashes(/)](https://www.qtcentre.org/threads/40381-QFiledialog-returns-forward-slashes-instead-of-backslashes). This isn't an issue. We can confirm by changing **Download Directory** by pressing browse button, it will show forward slashes (/) after you change it to something else.

[2022-02-23 10:36] mgautierfr commented on #788
I have tested on my computer (fedora) and wireshark with a kiwix-desktop using http instead of https (to please wireshark).
The OPDS content is compressed.

[2022-02-23 15:58] #788 closed

[2022-02-25 02:38] ImportTaste commented on #708
Isn't this different software? Kiwix Desktop is different from Kiwix Hotspot. As far as I can tell, there is no nightly build for Kiwix Desktop for Windows.

[2022-02-25 11:37] #770 closed

[2022-02-25 12:07] kelson42 commented on #594
@asashnov Sorry for my lack of feedback. I did not meant the tab headers. I meant the context of the search box:
* The text should be aligned right (like the suggestions)
* Any magnify logo should be on the right as well

[2022-02-25 14:19] kelson42 commented on #708
Pretty sure this is a duplicate of #785. Shiukd work with a recent nigjtly http://download.kiwix.org/nightly/2022-02-24/

[2022-02-25 14:19] #708 closed

[2022-02-25 15:14] kelson42 opened #801 "Release 2.2.0"
- [x] Secure all tickets in milestone are closed (except this one)
- [x] Rebuild translation files
- [x] Update version of Kiwix Desktop
- [x] Update the changelog file
- [x] Secure the CI is green on git `master`
- [x] Secure nightly build are OK (`.exe`, `.appimage`, `.flatpak`)
- [x] Check manually most important functionalities on MS Windows with the latest nightly
- [x] Check manually most im

[2022-02-25 15:57] #792 closed

[2022-02-25 21:40] RatorLP opened #802 "Not loading online article list"
tried it on 2.0, 2.1.0 and today's nightly, as well as two different computers, kiwix desktop doesn't seem to load the online library. Running Windows 10 20H2 on one and 21H2 on the other machine, even tried it with a completely disabled firewall over 2 different networks from different ISPs, just for the funzies, but it didn't work either. I'm kinda lost here, don't have any idea where this might

[2022-02-25 21:42] RatorLP commented on #802
maybe i'm just missing something in the process, in that case this is to be treated as an UI intinuitivity issue

[2022-02-26 09:48] RatorLP commented on #802
That's exactly the build I tried

[2022-02-26 09:55] kelson42 commented on #802
@RatorLP Works for me now with my computer (Linux). In the console window you can see the API URL which is loaded. If you load it in the your browser, does it load properly?

[2022-02-26 13:51] RatorLP commented on #802
@kelson42 about the update, yeah the 20H2 machine is a bit behind, but 21H2 ist the most recent version of win10, there is nothing newer.

After a couple of reboots it loads the lib on the 20H2 PC, but does this:

https://user-images.githubusercontent.com/46613254/155845663-6d4363fd-7009-499f-9b70-d458c55d1e72.mp4

[2022-02-26 14:17] juuz0 commented on #802
@RatorLP can you show settings of kiwix desktop?
Top right, 3 dots -> Settings

[2022-02-26 14:54] kelson42 commented on #802
@RatorLP Your latest screenshot is wrong because the URL you have given is wrong (and not the one Kiwix Desktop requested). I should be http://library.kiwix.org/catalog/search?lang=deu&count=-1, not http://library.kiwix.org/catalog/search?lang=deu?count=-1

[2022-02-26 18:03] sorath72 opened #804 "Corrupt download after system disconnected through ether power lost in desktops"
Is it possible to recover and refresh a download link apon sudden disconnect? Cause I did just that by kicking my power supply under my computer by mistake and it seems like it corrupted the links associated to the downloads. Any fixes? I tried searching here but found nothing apparently talking about this :(

[2022-02-26 18:47] kelson42 commented on #804
@sorath72 What happens exactly? What is broken?

[2022-02-26 19:04] sorath72 commented on #804
[image: Screenshot_20220226_141830.png] THIS IS WHAT HAPPENS. Photo in
e-mail cause I can't really post it on github for some reason. It says
Error: This download in not available and shows java garble Thanks

On Sat, Feb 26, 2022 at 2:47 PM Kelson ***@***.***> wrote:

[2022-02-26 19:08] kelson42 commented on #804
Which email? Kiwix desktop is not coded in Java! Please upload screenshot here.

[2022-02-26 19:18] sorath72 commented on #804
![Screenshot_20220226_141830](https://user-images.githubusercontent.com/48688496/155856263-5aabf3d9-c353-4f60-a450-d4ae96a090e3.png)

[2022-02-26 19:45] kelson42 commented on #804
@sorath72 You click on "download" and you get this error? Or you do something else?

[2022-02-26 20:11] sorath72 commented on #804
No just the ones I was downloading then the computer forced shut down. So click on a download and then force shutdown computer and redo it. You'll see same error. Thanks.

[2022-02-27 04:18] juuz0 commented on #802
@RatorLP may you please try http://download.kiwix.org/nightly/2022-02-26/kiwix-desktop_windows_x64_2022-02-26.zip also?
That's the latest build with some changes which might've fixed all problems

[2022-02-27 16:37] kelson42 opened #805 "Stop using deprecated libkiwix methods"
libkiwix `10.x.y` have deprecated many methods and function which are still in used in Kiwix Desktop. This has two consequences:
* Many warning at Kiwix Desktop compilation time
* Stop us to removed these old/deprecated primitives in future libkiwix releases.

Would be beneficial to remove the usage of these deprecated methods and use modern/new API of libkiwix.

The effort has already been made i

[2022-02-27 21:47] laurens94 commented on #802
For me the stable version of Kiwix crashed (app shutdown) when clicking 'All Files'. Same happened with the nightly 2022-02-25 build. The 2022-02-26 build worked however! :)

[2022-02-28 07:17] kelson42 opened #806 "Monitoring directory picker is somehow buggy"
Test with latest dev version:
* Pick `/home/kelson/Downloads` directory for monitoring
* In Settings I see `/home/kelson/Downloads`, which is right
* If I then pick `/home/kelson/Downloads/tmp` for monitoring
* In Settings I see `/home/kelson/Downloads/tmp` for monitoring
* If I then pick `/home/kelson/Downloads` again
* Nothing is changed, which is wrong.
* If I then pick `/home/kelson`
* It is c

[2022-02-28 08:40] juuz0 commented on #806
Can't reproduce

https://user-images.githubusercontent.com/26814569/155951405-805352c5-c557-4fa7-913b-bf1367c734fa.mp4

[2022-02-28 12:34] RatorLP commented on #802
Yes, it works, thanks!

[2022-02-28 14:05] mgautierfr commented on #804
It will be probably difficult to have a proper kiwix recover from a hard shutdown (especially than the downloading is not really made by kiwix but by aria2 software) but we will be able to do a manual recovery.
What is the content of your data directory ? (`C:\Users\<You>\AppData\Roaming\kiwix` by default). Especially the content of `library.xml` and `kiwix.session`

[2022-02-28 14:41] Bernhardino opened #808 "Kiwix 2.1.0: How to change the language?"
In C:\Program Files\Kiwix, there is a subfolder "translations", but I can't find a way to change the names of the menus and buttons  from english to german. Am I blind, or isn't there a possibility to switch the language of the GUI of Kiwix (I expected "..." -> "Settings" -> etc.)?

[2022-02-28 14:50] kelson42 commented on #808
It is not possible to change the UI language. It takes the language of the OS. But this would be a feature to develop. As such this ticket seems to be a ducplicate of #478

[2022-02-28 14:50] #808 closed

[2022-02-28 15:09] kelson42 commented on #802
@RatorLP New official release `2.2.0` should be done this week.

[2022-02-28 15:09] #802 closed

[2022-03-02 13:25] 4f6e746f736861 opened #809 "Stack Overflow downloading error, all files in folder deleted"
I ran into a very annoying error that deleted all my files in download directory.

Steps to reproduce:

1. Download the appimage https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64.appimage
2. Run it.
3. Switch to all files.
4. Change the language to English.
5. Sort by size (descending).
6. On the "Stack Overflow" line, click "Download".
7. In the window with the error, click "O

[2022-03-02 14:04] mgautierfr opened #810 "kiwix-desktop appimage webengine is broken on Fedora (and ubuntu 22.04)"
kiwix-desktop appimage (both released (https://download.kiwix.org/release/kiwix-desktop/kiwix-desktop_x86_64_2.1.0-1.appimage) and nigthly (https://download.kiwix.org/nightly/2022-03-02/kiwix-desktop_x86_64_2022-03-02.appimage)) do not display anything in the web views (library and zim) on Fedora 35

Appimage is run with the workaround explained here https://github.com/kiwix/kiwix-desktop/issues/7

[2022-03-02 14:06] mgautierfr commented on #809
If confirmed, it is a important issue to fix ASAP
But I can't confirm because of #810 (which is also a important issue)

[2022-03-02 14:20] mgautierfr commented on #810
AppImage build on local system works correctly.

[2022-03-02 18:11] kelson42 commented on #809
@mgautierfr Might that be that we keep the metalink file in memory? Remember similar problem reported by @rgaudin for Kiwix Htospot?

[2022-03-03 09:10] rgaudin commented on #809
https://github.com/aria2/aria2/issues/1892

[2022-03-03 09:47] #745 closed

[2022-03-03 09:48] mgautierfr commented on #393
Fixed by kiwix/kiwix-build#520

[2022-03-03 09:48] #393 closed

[2022-03-03 10:09] mgautierfr commented on #809
This may be the root cause for the downloading failing but we must not delete all files in the folder.

[2022-03-03 13:41] Ubuntu-2020 opened #812 "Wikipedia: Categories and Templates in the footer of each article"
When will the **Categories** and **Templates** from the footer of each article appear in Wikipedia ZIM files?
**[Article Sample](https://en.wikipedia.org/wiki/2022_Sumatra_earthquake#External_links)**:
![Categories_Templates](https://user-images.githubusercontent.com/65112331/156575093-f1abdc66-8ac4-428c-9ac7-3abd01232946.GIF)

**Templates** and **Categories** from the footer of the article make W

[2022-03-03 14:07] kelson42 commented on #812
This is a ticket for openzim/mwoffliner

[2022-03-04 07:49] kelson42 commented on #809
@mgautierfr @rgaudin This is the root cause, see:
[code]

IMO, we should really fix the problem upstream, proposing a patch might help to speed-up.

[2022-03-04 07:54] kelson42 commented on #809
The current `chunk_size = 4194304` might be changed to allow smaller `.torrent` and `.meta4` files as well. I would be OK for that.

[2022-03-04 08:19] #812 closed

[2022-03-05 06:32] Phoenixof94 opened #814 "Kiwix destkop doesn't open .zim file"
When I gonna to open the first configuration of my Wikipedia file , I put the select the directory when is the .zim file and the kiwix desktop software show this:

Your file couldn’t be access
edIt may have been moved, edited, or deleted.
ERR_FILE_NOT_FOUND

I hope someone can help me with this problem.

[2022-03-05 07:01] kelson42 commented on #814
What is:
* your OS?
* version of Kiwix?
* the filename of the zim file?
* thw way you have used to download it?

[2022-03-05 16:48] kelson42 commented on #801
@mgautierfr Thank you for the release, but in the future we should not release before the binaries are properly tested, ideally at least from 2 people. Flathub has not been updated either, I still see the version 2.1.0 displayed at https://flathub.org/apps/details/org.kiwix.desktop.

[2022-03-05 17:11] kelson42 commented on #806
![Peek 2022-03-05 18-06](https://user-images.githubusercontent.com/1029718/156893197-93dac57a-7a91-41c2-a549-79b96cd61bea.gif)

[2022-03-07 13:20] mgautierfr commented on #801
Then we must do release candidate.

I'm on it.

[2022-03-07 13:37] kelson42 commented on #801
Can we do like kiwix-js: when eady, put here in a comment the nightly to test?

[2022-03-07 13:51] mgautierfr commented on #801
The nigthly is based on master of all projects. But the release is based on the (last) tags/releases of each project. They are not the same build.
For example, the current nightly of kiwix-desktop is based on master of libkiwix and it crash on Windows when you do a fulltext search. But the release build of kiwix-desktop is based on libkiwix 10.0.1 and works correctly on Windows.

[2022-03-07 14:21] kelson42 commented on #801
@mgautierfr True, then what would be the lightest solution? Should we build two different kind of nightlies? Or pre-release easy system like you said?

[2022-03-07 14:46] mgautierfr commented on #801
RC is probably the thing to do.

How should we define the second kind of nigthly ? master kiwix-desktop and last release of other projects ? But sometime we must build with master of other projects. It would be pretty difficult to define as it is a specific use case.

Doing a release build is not so complex. What's take time is to prepare it (Changelog, be sure we've merged everything we want, tes

[2022-03-07 14:47] kelson42 commented on #801
2 nighlies:
* One build like releases
* What we do today

[2022-03-07 15:10] mgautierfr commented on #801
There is no auto definition of releases. We need tags for that. (Tags on each project to tell what we want to build, then a tag on kiwix-build to trigger a build).
We may remove the need of the last tag and launch a CI every night, but then we would simply rebuild release every night. It would be a lost of time and resources.

And we would need anyway to tag "what would be the release to test" at

[2022-03-08 14:24] mgautierfr commented on #806
This is the standard behavior of gnome file picker (and I personally dislike it).
When you select a directory, the file picker doesn't return the directory you are in, but the directory you have selected.
In your video, when you go "up", by clicking on "Download", the subdirectory "storybox" is still selected and so you pick it.
When you click on "kelson", it is "Download" which is selected and yo

[2022-03-08 16:42] #806 closed

[2022-03-09 19:06] WildLynxDev commented on #809
Happened to me, lost all regular files in the Downloads directory.
Tested in virtual machine.
Strace shows that kiwix indeed reads local directory, then tries to unlink() everything, including .. and .

[2022-03-09 19:29] Phoenixof94 commented on #814
SO: Linux Mint 20.3 Mate x64
Kiwix: Kiwix Desktop vertion 2.1.0
Zim: wikipedia_es_all_2017-01.zim
I download the file by Google. I don't remember where.

[2022-03-09 19:46] kelson42 commented on #809
@juuz0 Would you be able to have a look to this bug and find why all the ZIM are deleted? This is erally difficult to imagine a scenario here?

[2022-03-10 06:43] juuz0 commented on #809
Looking into it, I can confirm the bug with latest nightly :+1:
Steps to reproduce:
* Start any download
* Turn internet off
* Download fails and all files in the same directory as appimage are deleted

[2022-03-10 07:15] #814 closed

[2022-03-10 07:23] kelson42 commented on #809
@juuz0 Thx!

Considering the impact this bug, we will need to fix this problem quickly and make a maintenance release. Would you be able to have a look to a fix please? I believe this is a regression we have introduced recently because we never have heard about such a behaviour earlier. As far as I know there is only one place where we delete (ZIM) files and this in the local library.

[2022-03-10 07:57] WildLynxDev commented on #809
Attempt to delete . and .. looks good. Someone failed to even check for special names and directory entry types. Like quickly destroy everything.

[2022-03-10 08:09] kelson42 commented on #804
@sorath72 Would you be able please to answer this question?

[2022-03-10 14:53] sorath72 commented on #804
I don't have it anymore I switched to windows again but for me linux wise if you did a hard shutdown with the computer it would corrupt the file somehow. So just wanted to let you guys know this. I'm not able to recover files anymore so. Sorry for the inconvenience.

[2022-03-10 15:51] mgautierfr commented on #804
We understand the problem. But the "corruption" can be done different way depending of when you did the hard shutdown. If there is something we can do, it is to investigate how it has been corrupted and check if we can make our system to recover (or at least be able to download again) the file.

Without the information of how the corruption is made, we cannot adapt our system.

No problem, few of

[2022-03-12 19:40] kelson42 opened #818 "Follow-up of #816"
#816 has allow us to detect many weaknesses in the way how we deal with download cancelling and file suppression. We should improve that points,

[2022-03-13 15:20] kelson42 commented on #801
This is almost not worse than the current nightly, except that we build on released dependences (in place of git master HEAD).

I don't want to rush, I want to get this RC files within a click if not automatic.

[2022-03-13 15:32] kelson42 commented on #801
I will close that ticket, will make a bit of advertisement next week.

[2022-03-13 15:32] #801 closed

[2022-03-14 11:17] pityhero233 opened #819 "Math formulars are not rendered"
Hi all,
I was trying to read proofwiki on Kiwix. It looks like this:
![image](https://user-images.githubusercontent.com/24752033/158161498-51f9686b-24db-474f-8a36-2ddb430bde44.png)
I am not sure if this is due to file itself or Kiwix-desktop though. I am on Arch Linux, with kiwix-desktop 2.1.0-2. Thanks!

[2022-03-14 11:19] kelson42 commented on #819
Thx for the bug report, but this is a duplicate ticket of https://github.com/openzim/mwoffliner/issues/1371

[2022-03-14 11:19] #819 closed

[2022-03-16 14:04] mgautierfr commented on #810
Few more information :

- Last nightly version (https://download.kiwix.org/nightly/2022-03-16/kiwix-desktop_x86_64_2022-03-16.appimage) doesn't need the workaround as it as been fixed by https://github.com/kiwix/kiwix-build/pull/520
- Running kiwix-destkop appimage with env var `QTWEBENGINE_REMOTE_DEBUGGING=8080` start a server to debug QtWebengine but connecting to localhost:8080 show no page to

[2022-03-18 06:23] kelson42 commented on #316
I plan to close this issue and replace it with a ticker requesting a:
* flavour filter
* flavour label in result to differenciate them

Tthis would replace the content type select box which is AFAIK not based on the flavour metadata.

[2022-03-19 02:32] Acluff1 opened #822 "Launcher/installer doesn't load?"
I'm running Raspian OS on a PI 3 b+. I double click the kiwiks exe, and nothing happens. I try to sudo execute with terminal and I get a ". /kiwix-hotspot: 1: Syntax Error:" (" unexpected.

Any help?

[2022-03-19 05:55] kelson42 commented on #822
Kiwix-hotspot is a solution to build and image to write on the RPI SD card. It is conceived to run on a PC with x86 architecture.

[2022-03-19 05:56] #822 closed

[2022-03-19 23:27] Acluff1 commented on #822
OK... But following the how-to for rpi says there should be a launcher or some kind of program that runs for hours... But the launcher never launches anything. Are there steps missing in the process? Can you help me get this running instead of being less than helpful?

[2022-03-20 06:20] kelson42 commented on #822
Run kiwix-hostpot on your PC, not on the RPI.

[2022-03-24 02:41] juuz0 commented on #805
@kelson42 Yes, been working on it. I should be able to do this and other PR by Saturday (college exam on Friday)

[2022-03-25 17:47] zohozer opened #823 "Utterly useless app, needs a total rewrite."
The title sayis it all. It is the most useless and frustrating app I've ever used.

This peace of crap needs a total rewrite to be useful for something.

[2022-03-25 17:58] juuz0 commented on #823
Well, even if it was completely rewritten, you may face the same problem which you are doing right now.

The current comment is hardly constructive at all, specific problems would be much better

[2022-03-25 18:27] zohozer commented on #823
Sorry for the harsh words but I am so upset that it is not working at all. Seems that everything in this app it is just broke.

[2022-03-25 19:34] kelson42 commented on #823
@zohozer Completly useless and disrespectful feedback. Closing.

[2022-03-25 19:34] #823 closed

[2022-03-28 11:50] voillyied8122 opened #824 "Some zim files are unavailable"
Application: kiwix-desktop_windows_x64_2.0.5 & kiwix-tool_linux-armhf-3.2.0

Files:
lowtechmagazine.com_en_all_2021-12.zim
fas-military-medicine_2022-03.zim
ready-gov_2022-03.zim
cheatography.com_en_all_2022-03.zim

The zim files seems unavailable when use kiwix reader on Windows. It seems the kiwix server will be available so I tried it later.
![win](https://user-images.githubusercontent.com/5695

[2022-03-28 12:05] kelson42 commented on #824
This is a duplicate of https://github.com/kiwix/kiwix-desktop/issues/487. These files can still not be directly readble in Kiwix-Deskotp. But you can start the kiwix-serve mode and the read them from localhost `http://127.0.0.1` in your browser.

[2022-03-28 12:05] #824 closed

[2022-03-28 12:21] voillyied8122 commented on #824
How about read them from a raspberry pi-based kiwix server (not the server mode of kiwix reader on Windows)? It seems unable to just change the IP to visit these pages

[2022-03-28 12:32] mgautierfr commented on #824
You must set a https service (kiwix-serve + ssl certificate). This is a requirement from ServiceWorker.

[2022-03-28 12:54] mgautierfr commented on #823
I'm really sorry for you that a application we provide free of charge and without any warranty (I let you read the license carefully) doesn't fulfill your need.

But if you are not even motivated enough to create proper bug report (pull request would been even better) be sure that we will not be motivated enough to help you (and I'm not even speaking about you disrespectful tone)

[2022-03-28 17:24] probonopd commented on #810
@mgautierfr

Are you saying you have a working and a non-working AppImage? Then it's probably a matter of tracing/comparing the two...

[2022-03-29 08:58] mgautierfr commented on #810
Yes, I've tried to compare strace/`LD_DEBUG=1`/`QT_DEBUG_PLUGINS=1 QML_IMPORT_TRACE=1` but I've found nothing convincing.
But I can provide you the two appImage if you want to try. Maybe you will have a better idea of what to check/what is important.

[2022-04-03 03:08] xiaoyifang opened #825 "when search using fullindex,application crashed."
I just encounter this crash when work on another project.

use the zim files provided here (download dictionary1.1.0.zim)
https://sourceforge.net/projects/telugu-dictionary-zim-file/files/

trigger a fulltext search
![image](https://user-images.githubusercontent.com/105986/161409483-e242cc52-8439-4158-9a75-983df581af48.png)

the application will just exit without any warning.

kiwix desktop versio

[2022-04-03 03:08] xiaoyifang opened #826 "when search using fullindex,application crashed."
I just encounter this crash when work on another project.

use the zim files provided here (download dictionary1.1.0.zim)
https://sourceforge.net/projects/telugu-dictionary-zim-file/files/

trigger a fulltext search
![image](https://user-images.githubusercontent.com/105986/161409483-e242cc52-8439-4158-9a75-983df581af48.png)

the application will just exit without any warning.

kiwix desktop versio

[2022-04-03 09:14] kelson42 commented on #825
Same problem with Kiwix iOS. Looks like a bug indeed.

[2022-04-03 09:15] kelson42 commented on #825
@juuz0 Maybe you can find out where is the root cause, in libkiwix or libzim. Not clear so far.

[2022-04-05 17:08] kelson42 commented on #824
@voillyied8122 First we need to understand. Please open a ticket on kiwix-tools and explain what you do exactly, what you get and what you expect.

[2022-04-08 21:17] migel-wimtore opened #827 "Kiwix-search: search behaviour changed post version kiwix-tools-3.1.2-6-x86_64.pkg.tar.zst"
Hi. After recently updating kiwix-tools the default search behaviour supported by kiwix-search has changed.

Let me try and describe the issue.

Previously it was such that when i searched my Zim file using a web browser served by kiwix-serve, i would be taken straight to a certain page. For instance, when i searched for 'house' i would be taken to the Wikipedia page for 'house', but now i get tak

[2022-04-09 14:11] LAfricain commented on #734
I did new tests. First I thought the problem may be with Mate desktop, then I used Unity. It crashes again. But now I have an idea, maybe it is related to the graphic card nvidia and the nouveau driver?
Look the error report:
[code]
You can see the "nouveau" reference. And the problem is only with this Nvidia graphic card. Maybe I can try something with this?

[2022-04-09 14:17] kelson42 commented on #734
Which PPA? release or dev?

[2022-04-09 14:33] LAfricain commented on #734
PPA ubuntu 20.04 but I think I have to change the title. Because the problem is probably not with the ppa, but as I said with the nouveau nvidia driver.

[2022-04-09 14:51] kelson42 commented on #734
@LAfricain What is the URL of the PPA you use, we have many, see https://wiki.kiwix.org/wiki/Ubuntu_PPA

[2022-04-09 14:55] #734 closed

[2022-04-09 15:08] LAfricain opened #828 "Crash scenario with Ubuntu 20.04 + nouveau Nvidia driver"
Kiwix ppa used: https://launchpad.net/~kiwixteam/+archive/ubuntu/release
On Ubuntu 20.04
Zim used: wikipedia_fr_all_maxi_2021-09.zim
Kiwix Version : 2.0.5

Error when it crashes:
[code]

The crash occurs when we are browsing in the wiki.

[2022-04-09 15:48] kelson42 commented on #828
I don't have this older ZIM file anymore, but works for me.

![image](https://user-images.githubusercontent.com/1029718/162581373-38883b7e-5d5c-44d6-a16e-bfde1587cb02.png)

Please use latest version of Kiwix.

[2022-04-09 16:30] LAfricain commented on #828
Are you using a nvidia card with the nouveau driver?
Please don't close so quick the issue!
My version is not 2.0.5 but 2.2.1~focal. The 2.0.5 is what I can read in the About in kiwix, some error?

[2022-04-09 19:41] kelson42 commented on #828
You are probably mixing things between two versions of kiwix-desktop installed on your computer

![image](https://user-images.githubusercontent.com/1029718/162589262-de435505-a13b-43b9-bdb1-9b74b4c04446.png)

No, I have an Intel based graphic card.

[2022-04-09 23:11] juuz0 commented on #826
Thanks @mgautierfr
Fix is easy then (`archive->hasFulltextIndex()`/`reader->hasFulltextIndex()`), probably better to do it with https://github.com/kiwix/kiwix-desktop/issues/805

[2022-04-10 05:04] kelson42 commented on #826
@juuz0 Please make a dedicated PR.

[2022-04-10 13:39] LAfricain commented on #828
You are right, the update was not applied

Then why did you close this issue?

[2022-04-10 13:56] kelson42 commented on #828
I have closed the issue because we only treat bug reports corresponding to latest version of Kiwix. Here you report is made with a pretty old version.

[2022-04-11 13:55] mgautierfr commented on #826
I already start working on this. The PR is #830

[2022-04-11 16:56] kelson42 commented on #827
@migel-wimtore Do you still have this problem with the latest nightly? http://download.kiwix.org/nightly/2022-04-11/

We have fixed a few days ago a major regression and are just about to make a release.

[2022-04-11 19:04] #826 closed

[2022-04-12 15:05] mgautierfr commented on #827
(Moved to libkiwix)

This is a change made with the version 10.0.0 of libkiwix. Issue kiwix/libkiwix#481 (PR /kiwix/libkiwix#497). It seems I missed this change when creating the Changelog.
It is wanted as it would prevent user to do a search for `house` if a `house` article exist. (You would have to do a `house ` search)

What you could do is to directly try to go to the `house` article (`http://

[2022-04-13 22:03] h-b opened #832 "Bookmark icon not always available"
I am using version 2.2.1 on Linux. When I click on a link in a book, an icon appears to the left of the title that allows me to bookmark it:

![image](https://user-images.githubusercontent.com/24413995/163276704-2f2adff8-0546-40be-a3a4-049a17d1645e.png)

Alternatively, it is possible to search pages and then select one of the search results. Then the article is loaded, but no bookmark icon appears

[2022-04-14 01:33] kelson42 commented on #832
@h-b Interesting... looks really like a bug.

[2022-04-14 06:57] VorpalBlade opened #833 "Flatpak warns about kiwix using an outdated runtime"
[code]

Presumably kiwix needs to be rebuilt against a newer runtime to fix this warning.

System info:
* Arch Linux (rolling release)
* Kiwix 2.2.1 (according to flatpak list)
* Flatpak 1.12.7

[2022-04-14 07:41] kelson42 commented on #833
Yes, this is basically a duplicate of https://github.com/kiwix/kiwix-build/issues/526

[2022-04-14 07:42] #833 closed

[2022-04-14 15:02] LAfricain commented on #828
Hi kelson42,

Ok I wrote I was wrong, I did the update. The issue is the same.

It's just an idea because I have this issue only with one computer, and you can see in the error log a reference to the "nouveau" driver. The nouveau driver is the free driver for nvidia cards.

[2022-04-14 15:55] kelson42 commented on #828
@mgautierfr maybe you have an idea?

[2022-04-15 23:49] FellowTraveler opened #834 "App immediately and consistently crashes when typing anything in the Search box."
App immediately and consistently crashes when typing anything in the Search box.
2.1.2 Kiwix on MacOS (with WikiHow zimfile open).
Crash log:
[kiwix_crash.txt](https://github.com/kiwix/kiwix-desktop/files/8498918/kiwix_crash.txt)

[2022-04-16 00:14] FellowTraveler commented on #834
Another note: I tried testing previous versions 2.1.1 and 2.1.0 but they were not even able to open the WikiHow zimfile, and so I was not able to test the search functionality in those versions.

[2022-04-16 05:00] kelson42 commented on #834
Shoukd be move to kiwix/apple probably.

[2022-04-23 07:30] DerK777 opened #836 "Problems with search"
Hello. I Have some problems with kiwix. Software version 2.2.1 Windows Desktop Russian. File Wikipedia russian 04.2022. But all older versions had the same problems. Please help to get a solution.
1. When I write in the search line, for example, "Тайфун" (Typhoon), it didn't find it. It offers "полнотекстовый поиск" (full-text search) and then I get link to "Тайфун (значения)" (Typhoon (meanings))

[2022-04-23 07:39] kelson42 commented on #836
@DerK777 Thank you for your bug report. In the future, please open one ticket per bug. The part (2) of your bug report is a know bug/limitation, see https://github.com/kiwix/kiwix-desktop/issues/499.

[2022-04-23 07:46] kelson42 commented on #836
@DerK777 I confirm your first bug. It seems to be a problem with suggestions an diacritics. Hopefully as soon as we will have moved mwoffliner to the latest libzim7, this bug will simply vanish. See https://github.com/openzim/mwoffliner/issues/1606

[2022-04-23 08:09] DerK777 commented on #836
Thanks, I got the point. I must write "таифун" instead of "тайфун".

[2022-04-23 09:26] kelson42 commented on #836
@mgautierfr Suggestions seems not diacritics insensitive anymore indeed. I search for example `été` on the Wikipedia in French and get no suggestion as result, but if I type `ete` then I get them. This is a major regression AND I wonder how this can go through the unit test without been noticed!

[2022-04-23 20:08] TheQuickFox opened #837 "Window size and position should be remembered"
Is it possible for Kiwix to remember my last used Window size and position?
If yes, how do I achieve this?
I'm using a portable installation.

[2022-05-01 13:35] kelson42 commented on #837
@TheQuickFox What is your version of Windows?

[2022-05-01 13:37] kelson42 commented on #837
It seems to be quite forward to do https://doc.qt.io/qt-5/restoring-geometry.html

[2022-05-01 19:22] TheQuickFox commented on #837
Windows 11 x64 [Version 10.0.22000.613]

[2022-05-02 05:41] kelson42 commented on #837
@TheQuickFox It seems Windows11 has a feature to do that, see https://gearupwindows.com/how-to-enable-or-disable-remember-window-locations-on-multiple-displays-in-windows-11/. For the right we might implement something.

@mgautierfr Do you have an opinion on this. To me it looks good, but I wonder to which extend we step on the foots of the window manager?

[2022-05-05 23:00] TheQuickFox commented on #837
What about a .ini file in the Kiwix program folder that saves the window size and positions (for portable installations) or in the users appdata folder for permanent installs?

[2022-05-08 06:08] kelson42 commented on #828
This is a problem beetween Qt and nouveau driver. Look at https://github.com/rstudio/rstudio/pull/6571. Maybe using a more recent Qt version will just fix the problem. Would be interesting to test with Ubuntu 22.04.

[2022-06-02 17:17] kelson42 opened #843 "[REGRESSION] Fulltext result pagination is broken"
With cutting edge libkiiwx, first page is displayed properly but if i click on the right arrow or on page "2", then I get an "empty" page with no result at all.

[2022-06-03 07:51] #843 closed

[2022-06-03 08:43] kelson42 opened #846 "Release 2.2.2"
- [x] Merge/apply latest translations from Translatewiki
- [x] CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on http://download.kiwix.org/release/kiwix-desktop
- [x] Test Windows binaries work fine
- [x] Test Linux binaries work fine
- [x] Update the Github release with t

[2022-06-07 07:10] hhy06 opened #847 "Error: "This page must be loaded via an HTTPS URL to support service workers." for internet-encyclopedia-philosophy_en_all_2022-02.zim"
I use kiwix-serve to load "internet-encyclopedia-philosophy_en_all_2022-02.zim" and access the kiwix site in a browser. It shows, below the tool bar of search/ random article, two lines reading

"This page must be loaded via an HTTPS URL to support service workers.

[Try Loading HTTPS URL?](https://192.168.1.99:8999/internet-encyclopedia-philosophy_en_all_2022-02/A/index.html)
"

Other zims files

[2022-06-15 23:43] ikreymer commented on #487
FWIW, Electron finally fixed support for service workers with custom protocols, so perhaps this may be more feasible as well.

[2022-06-17 03:30] markknit opened #849 "Kiwix-serve does not work with new ZIM files"
I run a set of offline education servers in Africa that host a wide range of ZIM files using Kiwix-Server (along with Kolibri, etc.). The servers run Ubuntu 18.04 with Nginx, PHP, SQL, etc. The servers are accessed strictly through web interfaces on notebooks, phones, etc. I've never had a problem with ZIM files that until I added a couple of new ZIM files - Boundless and GCFLearnFree. Both seem t

[2022-06-23 08:30] kelson42 opened #851 "Deprecation messages"
Is this deprecationmessage from Qt or from Libkiwix? We should probably get rid of them!

[code]

[2022-06-23 08:35] juuz0 commented on #851
All of them are because of Qt and were added in PR https://github.com/kiwix/kiwix-desktop/pull/743
I used the newer methods earlier but some checks failed in CI for an old Ubuntu version so resorted to using deprecated ones.

[2022-06-25 14:24] #846 closed

[2022-06-26 09:47] xvitaly commented on #851
You can use preprocessor directives to resolve this:

[code]

[2022-06-26 10:33] kelson42 commented on #851
@xvitaly Good point!
@mgautierfr @juuz0 If we support Qt 15.5, which part of the CI? Which older (Debian, Ubuntu, Fedora) Linux distribs won't be able to compile out of the box? Would that be reasonnable?

[2022-06-26 12:05] juuz0 commented on #851
@kelson42 Ubuntu bionic and Debian buster, I believe

[2022-06-26 12:44] kelson42 commented on #851
Buster EOL is 08-2022 but Bionic EOL is 2028! We probably should support both for the next years. What do you think?

[2022-06-26 16:13] kelson42 commented on #828
No feedback. This is probably fixed with recent versions od dependences.

[2022-06-26 16:13] #828 closed

[2022-06-26 16:15] kelson42 commented on #849
Answer to be found in this other ticket https://github.com/openzim/zimit/issues/106#issuecomment-1068907042

[2022-06-26 16:15] #849 closed

[2022-06-27 03:47] juuz0 commented on #851
I agree, the suggestion by xvitaly should be used currently

[2022-06-27 08:06] mgautierfr commented on #851
Bionic EOL is 2023 (2028 is ESM, Extended Security Maintainance).
But we also have Focal which use Qt 5.12.8 with a EOL of 2025.

The @xvitaly's proposition is the solution

[2022-06-27 14:04] #851 closed

[2022-06-27 14:46] kelson42 commented on #198
@mgautierfr Now that we have a release checklist inviting to do it, see #846. I wonder if having a script would not be a bit over-engineered. What do you think?

[2022-07-01 09:55] VorpalBlade opened #854 "Kiwix incorrectly claims "not enough storage available""
I had wikipedia with pictures downloaded since before. I now noticed there was a newer version available and decided to download it.
I removed the old version of wikipedia and went to download the new version. However the following popup shows up:
![image](https://user-images.githubusercontent.com/3315306/176871227-87e4af16-fa95-4487-afaa-e4a7ff567f9f.png)

This is incorrect. According to the list

[2022-07-02 03:39] juuz0 commented on #854
I can confirm the bug, anything above 4GB shows this problem for me.

Ubuntu 22.04
Kiwix 2.2.2
Available Space: 67GB
Filesystem: ext4

[2022-07-02 04:36] kelson42 commented on #854
I don't understand why the bug only appears now! This is a regression? A bug specific to btrfs?

[2022-07-02 07:01] VorpalBlade commented on #854
Not sure, flatpak auto updates. But it was the latest flatpak from late last year / early this year when I downloaded wikipedia data.

It complained that it needed to be run with sudo, so I did that.
[code]

Definitely a regression. It worked before for me on btrfs late last year or early this year. I don't have any non-btrfs system to test with.

[2022-07-02 07:05] VorpalBlade commented on #854
That sounds to me like someone used an unsigned 32-bit integer by mistake somewhere.

[2022-07-02 07:18] mgautierfr commented on #854
I suspect this commit https://github.com/kiwix/kiwix-desktop/commit/b49ea7cbce83777d1c68d2ec4a8fae1e4df59fb1 and especially the appearing 'unsigned'

[2022-07-02 08:07] juuz0 commented on #854
Yeah right. That must be it since a build from 9e0575a225775e173fcbeb0cc9b82a56c64cef9c works fine

[2022-07-02 08:08] juuz0 commented on #810
Same problem on Ubuntu 22.04

[2022-07-02 08:23] kelson42 commented on #854
@juuz0 Woukd you be able to make a PR to fix it? We will have to make a new release irgently.

[2022-07-02 09:58] #854 closed

[2022-07-02 14:29] kelson42 commented on #810
@mgautierfr I confirm, this is now urgent to fix this problem and make a new release.

[2022-07-02 14:30] kelson42 opened #856 "Release 2.2.3"
- [x] Merge/apply latest translations from Translatewiki
- [x] CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Check if Flathub metadata are updated (version, date) at [org.kiwix.desktop.appdata.xml](https://github.com/kiwix/kiwix-desktop/blob/master/resources/org.kiwix.desktop.appdata.xml)
- [x] Update the Changelog
- [x] Update version
- [x] Create a tag on git
- [x] Secure new source/

[2022-07-03 00:34] Bleda412 opened #857 "Storage error"
I downloaded Kiwix and ran into an error about not having enough storage, despite having 6TB of space available on one drive alone. This occurred when I tried to download the text version of Wikipedia. If I tried to download a much smaller file, like Arch Wiki, the download starts right up. I sent a message via the contact form and was told to ask here. I am on Windows, and I have tried setting th

[2022-07-03 06:50] veloman-yunkan commented on #857
Duplicate of #854

[2022-07-03 06:50] #857 closed

[2022-07-03 07:11] kelson42 commented on #854
A nightly, with the fix, will be available in a few hours at http://download.kiwix.org/nightly/2022-07-03/

[2022-07-04 04:44] Bleda412 commented on #854
I am a bit of a boomer. How exactly do I install this fix?

[2022-07-04 05:01] kelson42 commented on #854
@Bleda412 download http://download.kiwix.org/nightly/2022-07-03/kiwix-desktop_windows_x64_2022-07-03.zip

[2022-07-04 07:05] Bleda412 commented on #854
@kelson42 I just did that. Not sure if this is intended but when I run the program, a command prompt comes up and stays up. When I tried to download Wikipedia, it stopped responding after 39MB, which happened almost instantly.
I don't mean to pester you with this reply, just letting you know it doesn't work for me just yet. Thanks for working on a fix.

[2022-07-13 13:57] Popolechien opened #861 "Kiwix-desktop (v.2.2.2; Windows) defaults downloads on a non-existent drive"
It took me a bit to figure it out:
When trying to download a file from the interface I get the following error message
![image](https://user-images.githubusercontent.com/21675885/178750590-d3302a5e-cb6d-4fd7-8d4d-41d093103704.png)
I have about 200Gb of Free space. I then looked at settings and saw that the default directory for downloads is D:/Zim files, which obviously does not exist. I changed t

[2022-07-13 14:11] Popolechien opened #862 "Reading list does not work (Kiwix-desktop 2.2.2 on Windows 10)"
Adding any sort of page to the reading list does not add it anywhere.

![image](https://user-images.githubusercontent.com/21675885/178754374-52e09904-f091-46d1-ade7-2da68fc4e854.png)

[2022-07-13 14:40] kelson42 commented on #861
@Popolechien Pretty sure this is something you have changed yourself manually. Right @juuz0 ?

[2022-07-13 14:43] juuz0 commented on #861
Yeah, this must have been changed manually (in an older version maybe?). The actual initial location can be found by pressing "Reset" in Download directory option.

[2022-07-13 14:46] Popolechien commented on #861
Ah okay, interesting because that was a new install. Does Kiwix-desktop store these settings somewhere else that its own folder?

[2022-07-13 14:46] #861 closed

[2022-07-13 14:57] juuz0 commented on #861
Yep, it's in Windows registry. So different versions use the same settings.

OpenRegistry Editor
Under HKEY_CURRENT_USER > SOFTWARE > Kiwix

[2022-07-14 18:29] knowledge-is-power opened #863 "Implement feature to use "desktop-style" in kiwix-desktop application"
This is related to Wikipedia zims. the article's ToC (table of contents) and template (i.e. navigation box at bottom of article) in these zims are hidden in kiwix-desktop application probably cuz the desktop app shows mobile-style by default. this hidden content can be revealed in 'kiwix PWA' or 'kiwix JS' by toggling from mobile-style to desktop-style as mentioned by @Jaifroid over [here](https:/

[2022-07-16 06:12] Jaifroid commented on #863
There are probably two issues here:

* Introduce Desktop CSS (as an option) for Kiwix Desktop -- clearly this makes a lot of sense for an app that targets desktop users;
* Display hidden navboxes -- an option to force-unhide these would be a "quick fix" and could be made available without swapping CSS for the article. It could be done as part of the JS API project.

[2022-07-24 10:16] #571 closed

[2022-08-06 02:32] figueroa628 opened #866 "Feature Request: Cycle through tabs with <ctrl>+<tab> and <ctrl>+<shift>+<tab>"
It'd be nice to be able to cycle through tabs with `<ctrl>+<tab>` and `<ctrl>+<shift>+<tab>`. Those two keyboard shortcuts are pretty fundamental to my workflow in typical browsers, and it's been pretty jarring to not have that available when eg browsing Wikipedia offline.

(Sorry if this isn't the right place for feature requests.)

[2022-08-06 05:37] kelson42 commented on #866
Sounds legit, @juuz0 woukd you be able please to quickly implement this?

[2022-08-06 05:58] juuz0 commented on #866
On it :+1:

[2022-08-08 04:15] fenix3435 opened #868 "I can't install any file over 1 gb"
So i install kiwix with the goal of installing wikipedia on a usb key, but i didn't work and a error appear not enough storage available so i try to solve the problem. I check the file type of my 2tb flash usb and it was exFAT like everyone was telling to have so i try to change for the only other option NTFS file but it didn't work too. So I try to install any of kiwix file to see if the problem

[2022-08-08 06:24] kelson42 commented on #868
This is a known regression we have fixed, but not released yet. You can download a nightly build to get rid of it http://download.kiwix.org/nightly/

[2022-08-08 06:25] #868 closed

[2022-08-10 02:13] knowledge-is-power commented on #863
@Jaifroid Hi. this issue had been open for almost a month and i dont see any progress or interest in this. i see that you are a member of kiwix organization so can you give me any update on this issue? is this issue being taken into consideration? thanks.

[2022-08-10 06:36] kelson42 commented on #863
Duplicate of #42

[2022-08-10 06:36] #863 closed

[2022-08-10 06:38] kelson42 commented on #42
The strategy here is:
* Implement ZIM API to retrieve TOC (here is the ticket for MWoffliner for example https://github.com/openzim/mwoffliner/issues/596)
* Implement client feature in Kiwix Desktop

[2022-08-10 15:13] Jaifroid commented on #863
@knowledge-is-power Although I'm part of Kiwix (as a volunteer), I don't develp the Kiwix Desktop app (I don't have C++ experience), so my main focus is Kiwix JS and Kiwix JS Windows/Linux. If any Kiwix dev would like to take up the idea of force-unhiding the hidden navboxes, I'll very happily provide my experience of how it can be done.

Nevertheless, it's probably best if these kinds of Wikipedi

[2022-08-10 15:19] Jaifroid commented on #42
@knowledge-is-power Just to be clear, the ToC is not in the Wikipedia archives (not even hidden) so it needs to be constructed dynamically from the headers in the article. This isn't too hard, and some work was done on it in [this PR](https://github.com/openzim/mwoffliner/pull/1237), but then stalled. Reader software can implement a generic ToC if an article has H1, H2, H3 etc., but it's probably

[2022-08-10 15:30] Jaifroid commented on #780
I would suggest you have an option in the UI: "Allow download of Zimit-based archives (for expert users)". If a user turns this on, they get a message explaining that they will need to serve the file to a browser. This will put off naive users, but not frustrate expert users.

JFYI, there is reasonable click-and-play support for Zimit ZIMs now in Kiwix JS Windows/Linux, including the [PWA](https:/

[2022-08-10 17:23] knowledge-is-power commented on #863
#

@kelson42 can you collaborate with @Jaifroid on this?

[2022-08-10 17:42] Jaifroid commented on #42
@knowledge-is-power Just so you're aware, Kiwix JS isn't just a PWA, we also have installable packages for various platforms, and packages for Linux as well as Windows. See http://kiwix.github.io/kiwix-js-windows/kiwix-js-electron.html. Although it's not the full-featured Desktop app, it works very well with Wikimedia archives (and many others too). It's good to have options!

[2022-08-11 06:20] #866 closed

[2022-08-11 08:11] kelson42 commented on #42
Reminder: please one topic per ticket, here you mixed two topics which have nothing in common:
* box collapsing
* TOC

For the rest, the way forward is pretty known, we just need to have the development resources. It's an old problem, but this is on the roadmap and this will be fixed/implemented at some point.

[2022-08-11 08:12] kelson42 commented on #863
We collaborate all the time on Kiwix ;)

[2022-08-11 08:13] kelson42 commented on #780
Indeed, the implementation of Zimit ZIM files keeps being postponed... we should really implement this quickly, this is a super easy fix. Doe someone knows how to filter out the ZIM with `_sw` tag with an OPDS API request?

[2022-08-11 09:41] kelson42 commented on #862
@juuz0 Have you been able to confirm that bug?

[2022-08-11 11:38] knowledge-is-power commented on #42
@kelson42  yeah I thought both issues were part of the same problem that's why I made a single ticket, sorry about that. now that its clear to me that they are unrelated, is it okay if i open a dedicated ticket for wiki navboxes/templates? (cuz this ticket is dedicated to ToC issue)

[2022-08-11 14:37] juuz0 commented on #862
No, cannot confirm.
![image](https://user-images.githubusercontent.com/26814569/184159134-3400a2e1-7c7a-4a95-aa44-05d576b5094f.png)

[2022-08-11 14:42] juuz0 opened #869 "Uncollapse navboxes"
From https://github.com/kiwix/kiwix-desktop/issues/42#issuecomment-1211873258 and the discussion around it

The navboxes at end of page should be shown.

[2022-08-11 14:46] juuz0 commented on #869
@kelson42 If you're in favour of getting them in kiwix desktop too, should it be an always forced option or a toggleable setting in Settings Panel.

@Jaifroid Ping! Can you please link me the PR (or related code) in kiwix JS which unhids the navboxes? (Or a brief explanation..anything works :)

[2022-08-11 14:46] juuz0 commented on #42
I created a ticket here #869

[2022-08-11 14:47] kelson42 commented on #869
Kiwix-desktop is not the place to fix this. The problem we have currently is a bug in MWoffliner which has been discussed many times and has to be fixed there.

[2022-08-11 14:47] #869 closed

[2022-08-11 14:49] kelson42 commented on #862
@Popolechien We need a detailed/step-by-step bug report I guess.

[2022-08-11 15:39] juuz0 commented on #780
@kelson42 Though I don't know about any such OPDS API request, it is easy to hide based on if the book has a `_sw` tag or not.
And should there be a Settings option as Jailfroid suggests?

[2022-08-11 16:12] kelson42 commented on #780
@juuz0 Great, then If I understand you right you coukd do easily a PR? Considering that the prio is to implement support of SW base ZIM, i don't think we need a setting.

[2022-08-11 16:20] Jaifroid commented on #780
It's up to you @kelson42 , but I'm sure you'll have to deal with enquiries from users who will say "why can't I find my Zimit files in the app any more?".... Of course they can get them from library.kiwix.org, so it's no great loss I guess.

[2022-08-11 16:22] kelson42 commented on #780
@Jaifroid I prefer this than complains that it does not work. Hopefully within a few months the support will be introduced anyway.

[2022-08-15 14:24] Jonta commented on #320
- "night" gives 0 results in GitHub's search for code
- "dark" only gives 1, which doesn't seem relevant enough
- Therefore: I think this should remain open

[2022-08-15 22:57] scottmayo commented on #854
Fails on ubuntu with 600G free, as described by others. Also, I can't find any version other than 2.2.2, so while a fix has been merged I have no idea how to get the fixed version.

[2022-08-16 03:45] kelson42 commented on #854
@scottmayo Have you tried with a nightly?

[2022-08-16 03:46] kelson42 commented on #854
Yes, we are working on the release

[2022-08-16 13:19] mulle-nat opened #871 "AppImage on Ubuntu 22.04.1 LTS: cannot call unresolved function SSL_get_peer_certificate"
I suppose the app tries to populate the UI with catalog info from kiwix.org, but fails to do so:

[code]

This is on

[code]

[2022-08-16 20:33] knowledge-is-power opened #872 "Introduce Desktop CSS for Kiwix-Desktop App (to reveal hidden wikipedia navboxes at bottom of articles)"
the wikipedia zims, when opened thru kiwix-desktop app, doesnt show navigation-boxes/templates at the bottom of articles. this is because kiwix-desktop only uses mobile css (which hides navboxes). by implementing an option to use desktop css instead of default mobile css, the hidden navboxes can revealed. further, the desktop app _should_ have desktop css to serve its purpose.

A 'quick-fix' here

[2022-08-17 16:42] macbeto opened #873 "Kiwix-desktop dark-mode"
Hi,
This is not an issue, just a question.
I have it installed in Linux Mint 20 and my qt5 setup is for dark mode interfeces, but I can't figure out how to put kiwix-desktop in dark mode.
Is there a way?

[2022-08-17 16:56] kelson42 commented on #873
We don’t have a dark mode so far, see #320. This ticket is more or less a duplicate of it.

[2022-08-20 21:43] caralu74 opened #874 "Appimage on LinuxMint, does not scan ZIM files."
When I was on LM 20, the appimage works fine, but with LM 21 Kiwix open but could not open the ZIM files. I paste some of the output:

$ ./kiwix-desktop_x86_64_2.2.2.appimage
add widget
Downloading "https://library.kiwix.org:443/catalog/search?lang=spa&count=-1"
qt.qpa.xcb: QXcbConnection: XCB error: 3 (BadWindow), sequence: 1642, resource id: 27263365, major code: 40 (TranslateCoords), minor code

[2022-08-23 19:20] caralu74 commented on #874
So, Should I report it on Kiwix-hotspot or keep an eye here?

[2022-08-24 04:31] kelson42 commented on #874
@caralu74 Sorry, no your ticket is ok, i have moved it.

[2022-08-24 14:50] mgautierfr commented on #874
Can you describe a bit more what do you mean by don't open ?
You can "see" the zim file but can't open it or you cannot see it (kiwix-desktop doesn't scann zim files) ?

[2022-08-24 14:52] mgautierfr commented on #871
Can you describe the behavior of the application ?

[2022-08-24 19:45] mulle-nat commented on #871
The app runs, but there is nothing to see or to choose from (because "I suppose the app tries to populate the UI with catalog info from kiwix.org, but fails to do so").

[2022-08-26 22:13] caralu74 commented on #874
Sorry for the poor description!
I mean, the GUI open, then I go to: Open a file, explore my PC and find Wikipedia-xxx.zim, then I click open and nothing happen, I could not search anything, the GUI keeps white, it opens a new tab, but I can not search or find any information. I hope I could explain a little better.

[2022-08-27 16:33] Fubar1 commented on #170
I am getting an error "not enough storage space" for an 89GB file even though the download directory has 2TB of space, C Drive has over 500GB, program drive has 1TB.

[2022-08-27 16:45] kelson42 commented on #170
@Fubar1 Your comment has nothing to do with this ticket. But you report a real bug which has been meanwhile fixed, see #868.

[2022-08-27 16:59] Fubar1 commented on #868
There are 27 files on the Index...which one am I supposed to download to fix this issue?

[2022-08-27 17:08] kelson42 commented on #868
@Fubar1 what is your operating system?

[2022-08-27 17:23] Fubar1 commented on #868
Window 10 Pro x64

[2022-08-27 17:57] kelson42 commented on #868
http://download.kiwix.org/nightly/2022-08-17/kiwix-desktop_windows_x64_2022-08-17.zip

[2022-08-27 19:09] Fubar1 commented on #868
Thank you very much!

[2022-08-30 06:42] Jaifroid commented on #320
PS The reason I posted this now is because on the [Reddit feature request](https://www.reddit.com/r/Kiwix/comments/x0r42h/monday_feature_wishlist_what_would_you_want_to/) there is mention of Dark Mode, though I think that user wants it for Kiwix Serve. The same principle would apply: need to inject the CSS. This could/should be part of the JS API in the ZIM.

[2022-08-31 13:42] mgautierfr commented on #874
Looks like a duplicated of https://github.com/kiwix/kiwix-desktop/issues/810

[2022-08-31 19:25] #874 closed

[2022-09-04 07:17] kelson42 commented on #862
@Popolechien Any feedback?

[2022-09-04 09:32] kelson42 opened #875 "Code a solution to localize access keys"
https://translatewiki.net/wiki/Translating_talk:Kiwix#Kiwix_access_key_translations_19276

[2022-09-04 09:35] kelson42 opened #876 "Add a system to make "notes""
A tool for elementary textediting like highlighting and commenting which could also be stored would be pleasant.

https://sourceforge.net/p/kiwix/feature-requests/259/

[2022-09-04 10:01] Popolechien commented on #862
@kelson42 No real additional feedback. Opening a wiki (wikipedia_fr_test_2022-06), open an article, click on the little glasses for reading list. They turn from transparent to black but the reading list pane remains empty. Closing and bringing Kiwix back on does not change anything.

Running on Windows 10.

![image](https://user-images.githubusercontent.com/21675885/188307979-b1195285-24c5-4b20-bd

[2022-09-04 10:04] kelson42 opened #877 "Allow to customize catalog source URL"
For the moment this is hardcoded, but we should allow to add/remove new feeds.

See also https://sourceforge.net/p/kiwix/feature-requests/375/

[2022-09-04 10:08] kelson42 opened #878 "Not proper with Win + Arrows"
If I want to view in a half of the screen.
WinKey + <- / ->

From https://sourceforge.net/p/kiwix/bugs/787/

[2022-09-04 16:04] Popolechien commented on #862
Tried on another Windows PC - same thing.

[2022-09-04 17:28] Drakior opened #879 "Kiwix windows application will not start"
I extract the program onto desktop, I click on application. Nothing happens.

Antivirus is not stopping it.

I don't know what is going in with it.

[2022-09-04 17:40] kelson42 commented on #879
What have you downloaded exactly? Which URL?

[2022-09-04 22:00] Drakior commented on #879
I downloaded https://www.kiwix.org/en/downloads/windows/ the 64bit version

[2022-09-05 00:59] Drakior commented on #879
I downloaded https://www.kiwix.org/en/downloads/windows/ the 64bit version

[2022-09-07 15:04] mgautierfr opened #881 "CI is failling to upload debian packages"
See https://github.com/kiwix/kiwix-desktop/runs/8230879546?check_suite_focus=true

It seems that gpg cannot be used. Maybe a secret not up to date anymore.

[2022-09-07 21:34] Drakior commented on #879
No one have an idea s to the cause to this issue?

[2022-09-08 05:41] #856 closed

[2022-09-08 05:56] kelson42 commented on #879
@Drakior This is the usual behaviour when people don't extract and launch kiwix directly from the ZIP file. Maybe you can make a screencast of what you do? You can also try to start the kiwix-desktop.exe from the commandline to see the error printed there.

[2022-09-08 07:20] xvitaly opened #882 "2.3.0 build failure"
Build failed against packaged libzim 7.2.2 and libkiwix 11.0.0:

[code]

A new version of libkiwix should be tagged, I guess.

[2022-09-08 12:11] xvitaly commented on #882
I will try updating libzim to 8.0.0 and then rebuilding libkiwix and kiwix-desktop.

[2022-09-08 12:52] xvitaly commented on #882
Yes, updating libzim to 8.0.0 fixed this issue. Sorry for the noice.

[2022-09-08 14:55] kelson42 commented on #882
We should have a proper warning if libzim is too old.

[2022-09-10 19:10] caralu74 commented on #810
With the new version I use: kiwix-desktop_x86_64_2.3.0.appimage the trouble looks the same. The GUI open but I can open ZIM files. (I am using Linuxmint Vanessa)The output is:
$ ./kiwix-desktop_x86_64_2.3.0.appimage
add widget
qt.qpa.xcb: QXcbConnection: XCB error: 3 (BadWindow), sequence: 1184, resource id: 27263409, major code: 40 (TranslateCoords), minor code: 0
qt.qpa.xcb: QXcbConnection: XCB

[2022-09-10 20:38] kelson42 commented on #810
We struggle to fix the problem. In the mean time, better use flathub/flatpak

[2022-09-11 09:37] kelson42 commented on #810
@probonopd If we setup a Bounty, would you be interested to have a look and fix this ticket?

[2022-09-12 03:48] zevisvei opened #884 "Problem opening a new tab"
The only option to open a new tab is either by clicking on a link in the content of the article or by going back to the library and opening from there, why not have an option to open directly?

[2022-09-12 04:40] kelson42 commented on #884
There is a "+" tab!

[2022-09-12 08:16] kelson42 commented on #884
See the + tab beside the first tab
![image](https://user-images.githubusercontent.com/1029718/189605499-f1f0e111-4dfb-4745-a515-845b8225bf04.png)

[2022-09-12 08:16] #884 closed

[2022-09-12 11:32] zevisvei commented on #884
At least in Hebrew this is not the case, even when I open a new tab the tab remains empty
![צילום מסך 2022-09-12 050201](https://user-images.githubusercontent.com/101482799/189643098-06930892-e34e-43aa-8e2b-399ff8618b9c.png)

[2022-09-12 11:41] kelson42 commented on #884
Yes, you get a new tab.... what do you expect exactly?

[2022-09-12 12:00] zevisvei commented on #884
Yes, but without the option to open anything, I want it to look like this:
![צילום מסך 2022-09-12 145956](https://user-images.githubusercontent.com/101482799/189647964-5dea3f0e-6f19-4fa2-8c01-8c0db1c14112.png)

[I did it through the library button, but I want to avoid the need for it]

[2022-09-12 13:59] caralu74 commented on #810
I think so!, I would love to help on it.

Sent from [ProtonMail](https://protonmail.ch), encrypted email based in Switzerland.

Enviado con [Proton Mail](https://proton.me/) correo seguro.

------- Original Message -------
El domingo, 11 de septiembre de 2022 a las 04:38, Kelson ***@***.***> escribió:

[2022-09-13 13:20] mgautierfr commented on #810
I have opened a issue upstream (https://github.com/probonopd/linuxdeployqt/issues/554) with a small repro case without all the kiwix stack.

[2022-09-15 08:34] agentp2-2 opened #885 "Failing Kiwix if started from Windows Network Drive (was: Kiwix does not start on Windows: "QT5Core.dll was not found")"
I noticed that Kiwix (version: kiwix-desktop_windows_x64_2.3.0) can't start properly from mapped network shares.
I got "The code execution cannot proceed because QT5Core.dll was not found. Reinstalling the program may fix this problem."
On regular drive everything works fine.

[2022-09-15 12:14] kelson42 commented on #885
So whete is the missing dll in your case? Please give the full path if possible.

[2022-09-15 18:28] agentp2-2 commented on #885
.Dll is inside the Kiwix folder but when I'm trying to start Kiwix from network share I got the mentioned error.

For example:
Regular drive (works fine):
E:\kiwix-desktop_windows_x64_2.3.0\Qt5Core.dll

Mapped network share (got the error):
Q:\kiwix-desktop_windows_x64_2.3.0\
Q:\kiwix-desktop_windows_x64_2.3.0\Qt5Core.dll

C:\Windows\system32>net use
Nowe połączenia zostaną zapamiętane.
Stan

[2022-09-16 04:52] kelson42 commented on #885
@mgautierfr Any idea, sounds similar to #429 to me.

[2022-09-18 16:02] kelson42 opened #888 "Flatpak 2.3.0 crashes on my computer"
[code]

[2022-09-18 16:05] kelson42 opened #889 "Kiwix-desktop/libkiwix cutting-edge have fulltext results broken links"
I see the fulltext result, but each time I click on a link it seems the ZIM file is not readable!

![image](https://user-images.githubusercontent.com/1029718/190916646-6b1f8a1c-53e7-4bb0-a498-111662f34146.png)
![image](https://user-images.githubusercontent.com/1029718/190916669-6194638e-e478-45c0-be71-a34fecb02585.png)

[2022-09-18 16:06] kelson42 commented on #889
I'm not even sure the bug is not in `2.3.0` release as I can not test it, see #888

[2022-09-19 21:31] alrepin commented on #862
Same on linux appimage build.

[2022-09-20 03:34] kelson42 commented on #862
Work for me as well... you click on which "little glass" icon exactly? The one from left (to add current article to reading list) in the search bar or the one of right (to display the reading list)?

[2022-09-20 12:50] #198 closed

[2022-09-21 12:30] mgautierfr commented on #888
What is the output of:
- `flatpak repair`
- `flatpak run -v org.kiwix.desktop`

[2022-09-22 08:21] kelson42 commented on #888
[code]

and

[code]

[2022-09-25 09:46] kelson42 commented on #888
@mgautierfr Can you reproduce the problem?

[2022-09-25 12:23] Kiwixiel opened #890 "Kiwix Reading List Doesn't Work on Windows 11"
Just as the title. Kiwix x64 2.3.0, reading list is there but I can't add anything in it. Older kiwix versions I tried don't work on my laptop they don't load the zims so I hope it gets fixed soon.

[2022-09-25 13:06] kelson42 commented on #890
@Kiwixiel We have a similar bug report at #862... but we can not reproduce the bug. Woykd you be able to make a screencast?

[2022-09-25 13:07] kelson42 commented on #862
@Popolechien Would yoy be able please tobmake a screencast?

[2022-09-25 18:41] veloman-yunkan commented on #889
I will take care of this issue.

[2022-09-25 18:57] #780 closed

[2022-09-26 07:36] Popolechien commented on #862
Tried with the latest release (2.3.0) -> no problem.

[2022-09-26 07:36] #862 closed

[2022-09-26 07:49] Popolechien commented on #890
@Kiwixiel Silly remark but did you notice that there are two "reading list" buttons on screen - one to tag a page (left, next to address bar), one to open the reading list (on the right)? I remember getting caught on this one once.
![Untitled presentation](https://user-images.githubusercontent.com/21675885/192221879-5522cfd0-7c75-4b81-91d0-0d10915384ea.png)

[2022-09-28 06:08] Kiwixiel commented on #890
Apologies for that, I saw another ticket for "reading list" but I thought
it was for a different platform and it was weeks or months old iirc, and
anyway it didn't occur to me that it would have been better or necessary to
post there. Also another issue when I open an internal link in another tab
sometimes the search field doesn't work in the new tab? Thanks.

On Mon, Sep 26, 2022, 09:49 Popo le C

[2022-09-28 06:15] kelson42 commented on #890
There is aticket already open for this last point as well.

[2022-09-28 06:15] #890 closed

[2022-09-28 07:03] Popolechien commented on #890
That would be #499, right?

[2022-09-28 13:40] #889 closed

[2022-09-28 14:33] mgautierfr commented on #888
No. I can launch the flatpak version without problem

[2022-10-01 00:33] alrepin opened #891 "Unable to download zim files on Kiwix 2.3.0 appimage"
https://i.imgur.com/RQkd8Aw.png

[2022-10-05 19:53] Seyifulfilled opened #892 "Download Failure"
Just keeps downloading and then saying "Download failed" wasting my data like crazy. It's done that thrice now. I'm just uninstalling it. It's crazy.

[2022-10-06 04:44] #892 closed

[2022-10-07 15:45] mgautierfr opened #893 "Kiwix-desktop is not resilient to manual change in the library.xml"
The root cause is that `kiwix::Library::getArchiveById` (https://github.com/kiwix/libkiwix/blob/07ff4eab4397bc4fb208191374c1e7a6e9b1def4/src/library.cpp#L238-L252) return a nullptr if the requested book is existing in the library.xml but the archive path is invalid. (It throws a `std::out_of_range` if the bookId is not present at all in the library.xml).

But kiwix-desktop catch the `std::out_of_r

[2022-10-12 03:05] tokyojb commented on #871
I'm able to reproduce on Wayland and XOrg:

Downloading "https://library.kiwix.org:443/catalog/search?lang=eng&count=-1"
qt.network.ssl: QSslSocket: cannot resolve EVP_PKEY_base_id
qt.network.ssl: QSslSocket: cannot resolve SSL_get_peer_certificate
qt.network.ssl: QSslSocket: cannot call unresolved function SSL_get_peer_certificate

Appimage filename:
kiwix-desktop_x86_64_2.3.0.appimage

System:
U

[2022-10-14 14:30] tokyojb commented on #871
Upon closer inspection, the AppImage does not contain ssl libraries. As I understand, of the primary purposes of AppImage is to encapsulate (at least) the first order dependencies of an application in order to make it functional in a broader range of environments.

This seem like a critical bug.

[2022-10-18 19:42] kelson42 commented on #882
@mgautierfr @veloman-yunkan Can we test this in build script?

[2022-10-19 09:48] mgautierfr commented on #882
We don't use meson but qmake project file for kiwix-desktop

We already test this in kiwix-destkop.pro https://github.com/kiwix/kiwix-desktop/blob/master/kiwix-desktop.pro#L157
This have been changed about a mouth ago https://github.com/kiwix/kiwix-desktop/commit/0629251ad2b34c6c6540b02c3768c2be0ff645d8 and it is in release 2.3.0

[2022-10-19 09:48] #882 closed

[2022-10-19 10:13] kelson42 opened #895 "Release 2.3.1"
- [x] Merge/apply latest translations from Translatewiki
- [x] Check if library dependences version check has been updated
- [x] CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Check if Flathub metadata are updated (version, date) at [org.kiwix.desktop.appdata.xml](https://github.com/kiwix/kiwix-desktop/blob/master/resources/org.kiwix.desktop.appdata.xml)
- [x] Update the Changelog
- [x]

[2022-10-23 09:23] kelson42 opened #896 "Implement random button"
For now we have only the menu item and a shortcut. I believe we would also benefit of a button.

See From https://sourceforge.net/p/kiwix/feature-requests/989/

[2022-10-24 19:40] kelson42 commented on #61
See https://github.com/kiwix/kiwix-desktop/issues/61

[2022-10-31 15:41] gebumc opened #898 "Can't open kiwix after moving the location of zim file"
kiwix version: kiwix-desktop_windows_x64_2.3.0
system version: Windows 11 22H2

Kiwix works very well before. But when I closed kiwix and moved the location of the zim files, I can no longer open kiwix. I restarted the computer many times, but it doesn't work.

[2022-10-31 16:05] gebumc commented on #898
I've redownloaded ver 2.3.0 from the official website. But I can't open it still.

And I tried to download ver 2.0.1 and I sucessfully opened kiwix, but when I opened zim file by it, it became no response and crashed seconds later. And this can be reproduced.

[2022-11-01 12:07] juuz0 commented on #896
Position? To the right of forward button maybe?
Though, I hope it doesnt look too clunky so maybe reducing the size of search bar is also required
![image](https://user-images.githubusercontent.com/26814569/199228931-5585eb9b-6033-4833-b1e0-d6aa75e8cdd9.png)

[2022-11-01 18:21] #898 closed

[2022-11-02 08:01] kelson42 commented on #413
For the "endless" suggestion, @juuz0 has given this link as POC https://doc.qt.io/qt-5/qtwidgets-itemviews-fetchmore-example.html

[2022-11-02 18:22] Painless68 commented on #879
kiwix-desktop.exe doesn't do anything for me, I'm on Windows 11. I was using 2.2.2 and just updated to 2.3.0 and it is the same problem, nightly version opens "kiwi" in terminal but just closes after a couple seconds. I tried the old version I have downloaded, 2.0.4-1, and it works fine.

[2022-11-03 11:53] kelson42 commented on #896
@juuz0 Yes, looks good to me

[2022-11-05 14:00] uxelar opened #899 "Missing coordinates"
In the latest version of Kiwix with English Wikipedia, all coordinates in the top right corner in many articles online are missing i Kiwix. This is pretty important information to be removed I think.

This may be the case for other zim files as well, I have only downloaded this one.

If kiwix-desktop is not the right place for this issue, please feel free to move it.

Kiwix: kiwix-desktop_windows_

[2022-11-05 14:11] uxelar opened #900 "Top text moved into the lead"
Why are the short texts at the top of many articles online moved into the lead section in Kiwix? It doesn't feel so smooth where it is located now, inside the text. Why not keep it at the top?

Kiwix: kiwix-desktop_windows_x64_2.3.0
Zim: wikipedia_en_all_maxi_2022-05.zim

![Kiwix](https://user-images.githubusercontent.com/117523906/200123946-4f56e6ac-a9e8-400a-9904-bed431a04b7d.png)

[2022-11-05 14:29] uxelar opened #901 "Sections collapsed in new tabs"
When opening a new article in the same tab you are in, all sections are expanded. But if you open an article by right clicking a link and "Open in new tab" (or by clicking with the scroll wheel), all sections are collapsed. Shouldn't the behavior be the same, regardless of how the article is opened?

Also, an easy option to collapse/expand all sections by one single click should be added I think.

[2022-11-05 18:39] kelson42 commented on #901
I confirm the bug, @juuz0 any clue what is going on here, looks really strange to me. I that a problem with the ZIM itself (I think there is a kind of logic inside the ZIM which uncollapse the section only if there is a certain width in the rendering zone.

[2022-11-05 18:40] kelson42 commented on #901
Actually seems to be a duplicate of #690

[2022-11-05 18:43] kelson42 commented on #900
There has been a ticket open about that at scraper level a long time ago https://github.com/openzim/mwoffliner/issues. I can not find it anynore. But, in a Nutshell, this is how the Wikipedia backend delivers the content in the API we use and this is not a bug (we have checked with them). Unfortunate I can not find the ticket...

[2022-11-05 18:43] #900 closed

[2022-11-05 18:48] kelson42 commented on #900
Here it is https://github.com/openzim/mwoffliner/issues/182

[2022-11-05 18:50] kelson42 commented on #899
Yes, but duplicate of https://github.com/kiwix/kiwix-desktop/issues/546

[2022-11-05 18:50] #899 closed

[2022-11-06 10:25] uxelar commented on #899
The other ticket was about the marker on the map in the infobox. This was about the coordinates in the top right corner, which you mention in one of the comments there.

[2022-11-06 10:32] uxelar commented on #901
I should be better at searching for old tickets before creating new ones =)

However, I still think an easy way to collapse/expand all sections should be added.
When you open a large articles with all sections expanded, it can be hard to find the information you are looking for. If the Contents-box at the top were included, this wouldn't be a problem. But without it, a collapse/expand option would

[2022-11-06 11:02] #901 closed

[2022-11-06 11:04] kelson42 commented on #899
Like the comment says, there is nothing I can do about that because it is not there in Wikipedia for mobile.

[2022-11-07 17:02] uxelar commented on #899
I have no knowledge of how the text for the zim file is extracted.
And does "Wikipedia for mobile" simply refer to the mobile version of the site, e.g. en.m.wikipedia.org?

I searched for a random article with the coordinates at the top right corner but nowhere in the article itself and found "Fourth Battle of Brega":  [mobile](https://en.m.wikipedia.org/wiki/Fourth_Battle_of_Brega), [desktop](htt

[2022-11-07 17:10] kelson42 commented on #899
@kelson42 We won't modify the HTML, but in general we would like to allow to search via geompositions. Part of the work is already done... like data is in the ZIM, but nowhere we exploit it.

[2022-11-10 05:54] emehri opened #902 "Rethink library language saving"
GoldenDict and Kiwix 2.3.0 don't support some ZIMs like wikipedia_es_all_nopic_2022-05.zim
But the Kiwix plugin in Firefox can.
How can I view them in those applications?

[2022-11-10 07:02] kelson42 commented on #902
@emehri We are not in charge of Goldendict here and Kiwix Desktop shoukd be fine. What is exactly the problem, please the exact reproduction steps.

[2022-11-10 08:44] kelson42 commented on #902
@emehri Sorry I don't understand your comment, I don't understand what is wrong.

[2022-11-14 17:44] tinkersaur opened #903 "Please create a build for 32bit Linux."
If anybody has an old 32bit computer, it would make much more sense to install Linux on it, rather than old windows such as Windows XP, or Vista. I have used Raspberry Pi for i386 and it works great on a tiny laptop with 1GHz CPU/1GB RAM. I downloaded that distro from this webpage: https://www.raspberrypi.com/software/raspberry-pi-desktop/  -- see the last link on that page.

Therefore I would lik

[2022-11-14 17:57] kelson42 commented on #903
There is Debian package for i386 https://ci.debian.net/packages/k/kiwix/. But in general we don't invest resources on this very old architecture... but if someone wants to do the additional work, no problem.

[2022-11-14 17:57] #903 closed

[2022-11-18 08:01] ghost opened #904 "Feature request: option to block all external elements"
Currently if in the page source an href, src, or link tag points to an external resource, kiwix-desktop will try to load it. I would like an option for kiwix to not load it.

I think also Kiwix should think about more protections in the case of a malicious zim file (to my knowledge, so far unseen). Perhaps also an option to disable javascript?

[2022-11-18 08:09] tim78245 commented on #902
Kiwix has this bizarre practice of only showing the default language in 'local files'. I don't think there's an option to change that behavior. Try clicking 'Browse by Language > All' or 'Browse by Language > Spanish' in the sidebar.

[2022-11-18 08:20] tim78245 commented on #320
+1 for request to use my system theme.

[2022-11-21 06:31] Jaifroid commented on #904
Just to say this can be done quite easily by injecting a Content Security Policy into the article before it is rendered by the browser. We already do this in Kiwix JS for Windows and Linux [here](https://github.com/kiwix/kiwix-js-windows/blob/188e1e52f087edc168e3c0b8128fcd9457d03925/www/js/app.js#L4507). This guarantees that no external content will be loaded by the browser / web view, which is es

[2022-11-21 06:55] Jaifroid commented on #872
@knowledge-is-power This was a feature I originally developed for [Kiwix JS for Windows and Linux](https://kiwix.github.io/kiwix-js-windows/kiwix-js-electron.html). To do a full Desktop view, it's necessary to remove the mobile CSS and inject the Desktop versions that Wikipedia provides, and as this is very specific to certain ZIM types, I don't think it would be acceptable, or considered good pra

[2022-11-21 07:44] Jaifroid commented on #320
He, he, why not use both?! (Full disclosure, I developed the dark theme for the browser extension versions...)

<img src="https://user-images.githubusercontent.com/4304337/202991847-9d94d527-3b97-491f-a70c-6405b99a684e.gif" width="150" />

[2022-11-23 16:04] #810 closed, assigned to mgautierfr

[2022-11-30 00:04] markknit opened #906 "Search capability not working with zim file"
I'm running Kiwix-serve on an offline Ubuntu (18) education server that has about 10 modules loaded. All of them support a search capability, but one does not - Boundless. When I try a search I always get an empty result. I used the kiwix-search module against the zim file, and it works fine. However, when I look at the source code it appears to be using a php search tool, while all of the other m

[2022-11-30 13:40] kelson42 commented on #871
@tokyojb This seems legitimate
@mgautierfr Actually it seems quite a good idea to embeds both the libopenssl AND the truststore.

[2022-11-30 13:44] kelson42 commented on #902
@tim78245 So the problem is about the UI/UX of the library. It shows per default, the language used in the OS and you would like to be able to change to another one (and keep the setting)?

[2022-11-30 19:36] kelson42 commented on #895
@mgautierfr appimage has not been published properly

[2022-11-30 21:13] tim78245 commented on #902
I would say it would be less confusing to simply show all by default, considering the UI doesn't even tell that you're only viewing the system language by default. When I open Kiwix I'm seeing "Local Files" bolded in the sidebar, not "Browse by Language".